@import "../../../proud-smile-style.scss";

:host {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .afford-text-1 {
    width: 30vw;
    margin-right: 6vw;
  }
  .afford-text-2 {
    width: 30vw;
  }
  .input-1 {
    border: 1px solid #cccccc;
    width: 200px;
    height: 53px;
    border-radius: 4px;
    background: #ebebeb80;
    display: flex;
    input {
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding-left: 24px;
      font-size: 24px;
    }
    input:focus {
      outline: none;
    }
    .amount {
      width: 140px;
    }
    .sign {
      height: 53px;
      width: 60px;
      background: #cccccc;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .slider {
    .steps {
      flex: 1;
      margin: 0 16px;
      justify-content: space-between;
      .pointer {
        img {
          max-width: unset;
        }
      }
    }
  }
  @media only screen and (min-width: 1900px) {
    .lady-container {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 1201px) {
    .dialog-with-tooltip {
      display: none;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .afford-text-1 {
      width: unset;
      margin-right: 0;
    }
    .afford-text-2 {
      width: unset;
    }
    .dialog-content {
      justify-content: center;
      align-items: center;
    }
    .dialog-without-tooltip {
      display: none;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .afford-text-1 {
      width: unset;
      margin-right: 0;
    }
    .afford-text-2 {
      width: unset;
    }
    .dialog-content {
      justify-content: center;
      align-items: center;
    }
    .dialog-without-tooltip {
      display: none;
    }
  }
}
