<mat-menu class="deposit-menu" #deposit="matMenu">
  <button (click)="onDepositClick(0)" mat-menu-item>0$</button>
  <button (click)="onDepositClick(20)" mat-menu-item>20%</button>
  <button (click)="onDepositClick(25)" mat-menu-item>25%</button>
  <button (click)="onDepositClick(30)" mat-menu-item>30%</button>
</mat-menu>

<div style="background-color: #e2ddcb" class="payment-root color-brown relative-container" fxLayout="column"
  fxLayoutAlign="center center">
  <div class="lady-container">
    <img class="max-width-unset-on-big" style="min-width: 800px" src="../../../assets/SmileasyPaymentPlan/Lady.png" />
  </div>
  <!-- <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="
      font-large
      libre-regular
      center-text
      padding-top-bottom-1
      absolute-container
    "
    style="top: 0"
  >
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <p>
      Smileasy <br />
      <span class="libre-italic">Payment Plans</span>
    </p>
  </div> -->
</div>
<div class="padding-chef font-dog padding-top-bottom-1" style="
    background: linear-gradient(0deg, #ffffff91 0%, #e2ddcb91 100%);
    color: black;
  ">
  <div class="margin-bottom-1">
    <p class="libre-italic">You can Afford it</p>
  </div>
  <div fxLayout="row wrap" class="roboto-regular font-medium" fxLayourAlign="center center">
    <div>
      <div class="afford-text-1 margin-bottom-on-sm" style="min-width: 300px">
        <p>
          Affordability is very important for us at
          <span class="roboto-bold">Proud Smile</span>. We understand that
          paying for treatments in full and upfront is not always possible for a
          lot of people so we designed an extensive range of payment plan
          solutions to make sure everyone can access our premium and bespoke
          dentistry.
        </p>
        <br />
        <p>
          When it comes to payment plans no other practice on the
          <span class="roboto-bold">Gold Coast</span> is more flexible than us.
          Our Treatment Plan coordinators will always work with you to tailor a
          plan that works for you and your budget, whatever that may be.
        </p>
      </div>
    </div>
    <div>
      <div class="afford-text-2" style="min-width: 300px">
        <p>
          Smileasy features a collection of various different payment solutions
          where we’ll match the best possible payment solution to your specific
          needs, whether it is a no deposit or low deposit plan, short or long
          term, minimal or no paperwork, you’re guaranteed to find a solution
          that best fits your situation, we do all the work for you.
          <br /><br />
          Once the payment plan is in place treatment starts immediately and
          there’s no more financial transactions to make, we can just
          concentrate on getting your oral health or aesthetics to its best
          shape.
        </p>
      </div>
    </div>
  </div>
  <div class="flexy-row" style="padding-top: 4vw">
    <div style="padding: 0 4vw">
      <img src="../../../assets/SmileasyPaymentPlan/humm.png" />
    </div>
    <div style="padding: 0 4vw">
      <img src="../../../assets/SmileasyPaymentPlan/denticare.png" />
    </div>
    <div style="padding: 0 4vw">
      <img src="../../../assets/SmileasyPaymentPlan/zipBlack.png" />
    </div>
    <div style="padding: 0 4vw">
      <img src="../../../assets/SmileasyPaymentPlan/afterPayBlack.png" />
    </div>
  </div>
</div>

<div class="color-brown so-easy" style="background: linear-gradient(0deg, #ffffff1a 0%, #0299d81a 100%)">
  <div class="spp sscc no-margin-on-sm margin-bottom-on-sm padding-top-bottom-1"
    style="margin-left: 13vw; margin-right: 4vw" fxLayout="column">
    <div class="font-dog libre-regular margin-bottom-1">
      <p class="center-text-on-sm" style="color: black">
        Smileasy<br /><span class="libre-italic">Payment Plan</span>
      </p>
    </div>
    <div class="roboto-regular font-regular color-gray-dark font-lion" style="margin-bottom: 3vw">
      <p class="center-text-on-sm" style="color: #03afaa">Why is it so easy?</p>
    </div>
    <div class="
        align-self-start
        roboto-medium
        color-gray-dark
        font-small-3
        flexy-row
      ">
      <div class="width-4">
        <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
      </div>
      <div class="flex-1 margin-left-1">
        <p class="left-text">Options from no deposit or small deposit</p>
      </div>
    </div>
    <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
    <div class="
        align-self-start
        roboto-medium
        color-gray-dark
        font-small-3
        flexy-row
      ">
      <div class="width-4">
        <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
      </div>
      <div class="flex-1 margin-left-1">
        <p class="left-text">No minimum amount</p>
      </div>
    </div>
    <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
    <div class="
        align-self-start
        roboto-medium
        color-gray-dark
        font-small-3
        flexy-row
      ">
      <div class="width-4">
        <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
      </div>
      <div class="flex-1 margin-left-1">
        <p class="left-text">Terms up to 24 months</p>
      </div>
    </div>
    <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
    <div class="
        align-self-start
        roboto-medium
        color-gray-dark
        font-small-3
        flexy-row
      ">
      <div class="width-4">
        <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
      </div>
      <div class="flex-1 margin-left-1">
        <p class="left-text">Minimal or no paperwork</p>
      </div>
    </div>
    <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
    <div class="
        align-self-start
        roboto-medium
        color-gray-dark
        font-small-3
        flexy-row
      ">
      <div class="width-4">
        <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
      </div>
      <div class="flex-1 margin-left-1">
        <p class="left-text">Simplified or No assessment</p>
      </div>
    </div>
    <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
    <div class="
        align-self-start
        roboto-medium
        color-gray-dark
        font-small-3
        flexy-row
      ">
      <div class="width-4">
        <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
      </div>
      <div class="flex-1 margin-left-1">
        <p class="left-text">
          Amend the plan at any time and add more treatment
        </p>
      </div>
    </div>
  </div>
  <div class="lady-container">
    <img class="max-width-unset-on-big" src="../../../assets/SmileasyPaymentPlan/office_erwin.png" />
  </div>
</div>

<div class="flexy-column padding-chef padding-top-bottom-1"
  style="background: linear-gradient(0deg, #ffffff1a 0%, #03afaa1a 100%)">
  <div fxLayout="column" fxLayoutAlign="center center"
    class="font-large libre-regular center-text color-brown margin-bottom-10" style="top: 0">
    <p style="color: black">
      How does <br />
      <span class="libre-italic">Smileasy Work?</span>
    </p>
  </div>
  <div class="
      margin-bottom-6
      relative-container
      flexy-row
      cccc
      dialog-without-tooltip
    " style="align-self: flex-start">
    <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Shape1.svg" />
    <div class="dialog-content flexy-row absolute-container" style="margin: auto">
      <div class="margin-right-2" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/1.svg" />
      </div>
      <div class="font-small-3 color-white margin-right-2">
        <p class="roboto-bold">Examination</p>
        <p class="roboto-regular left-text hide-on-sm">
          Book a comprehensive new patient examination:
          <span class="roboto-bold">$99 or $0</span> (Health<br />
          Insurance Holders) or a
          <span class="roboto-bold">Free Mini Consultation</span> for a specific
          problem.
        </p>
      </div>

      <div style="align-self: center" style="max-width: 15vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/teeth.svg" />
      </div>
    </div>
    <button class="
        book1
        color-white
        roboto-medium
        font-extra-small-2
        cursor-pointer
        absolute-container
      " style="bottom: -33px; left: 19%" (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
      )
      ">
      INSTANT ONLINE BOOKING
    </button>
  </div>
  <div class="
      margin-bottom-6
      relative-container
      flexy-row
      cccc
      dialog-with-tooltip
    " style="align-self: flex-start" matTooltip="Book a comprehensive new patient examination: $99 or $0 (Health Insurance Holders) or a Free Mini Consultation for a specific
  problem." matTooltipPosition="above">
    <img src="../../../assets/SmileasyPaymentPlan/Shape1.svg" />
    <div class="dialog-content flexy-row absolute-container" style="margin: auto">
      <div class="margin-right-2" style="max-width: 10vw">
        <img loading="lazy" loading="lazy" src="../../../assets/SmileasyPaymentPlan/1.svg" />
      </div>
      <div class="font-small-3 color-white margin-right-2">
        <p class="roboto-bold">Examination</p>
        <p class="roboto-regular left-text hide-on-sm">
          Book a comprehensive new patient examination:
          <span class="roboto-bold">$99 or $0</span> (Health<br />
          Insurance Holders) or a
          <span class="roboto-bold">Free Mini Consultation</span> for a specific
          problem.
        </p>
      </div>

      <div style="align-self: center" style="max-width: 15vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/teeth.svg" />
      </div>
    </div>
  </div>

  <div class="hide-on-big flexy-column cccc">
    <div>
      <p class="roboto-regular margin-bottom-10">
        Book a comprehensive new patient examination:
        <span class="roboto-bold">$99 or $0</span> (Health<br />
        Insurance Holders) or a
        <span class="roboto-bold">Free Mini Consultation</span> for a specific
        problem.
      </p>
    </div>

    <button class="book4 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-10" (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
      )
      ">
      INSTANT ONLINE BOOKING
    </button>
  </div>

  <div class="
      margin-bottom-6
      relative-container
      flexy-row
      cccc
      dialog-without-tooltip
    " style="align-self: center">
    <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Shape2.svg" />
    <div class="dialog-content flexy-row absolute-container" style="margin: auto">
      <div class="margin-right-2" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/2.svg" />
      </div>
      <div class="font-small-3 color-white margin-right-2">
        <p class="roboto-bold">Calculation</p>
        <p class="roboto-regular left-text hide-on-sm">
          Treatment plan is provided, we find the best payment
          <br />
          plan structure for you.
        </p>
      </div>

      <div style="align-self: center" style="max-width: 15vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/calculator.svg" />
      </div>
    </div>
  </div>
  <div class="
      margin-bottom-6
      relative-container
      flexy-row
      cccc
      dialog-with-tooltip
    " style="align-self: center"
    matTooltip="Treatment plan is provided, we find the best payment plan structure for you."
    matTooltipPosition="above">
    <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Shape2.svg" />
    <div class="dialog-content flexy-row absolute-container" style="margin: auto">
      <div class="margin-right-2" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/2.svg" />
      </div>
      <div class="font-small-3 color-white margin-right-2">
        <p class="roboto-bold">Calculation</p>
        <p class="roboto-regular left-text hide-on-sm">
          Treatment plan is provided, we find the best payment
          <br />
          plan structure for you.
        </p>
      </div>

      <div style="align-self: center" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/calculator.svg" />
      </div>
    </div>
  </div>

  <div class="hide-on-big flexy-column cccc  margin-bottom-10">
    <div>
      <p class="roboto-regular">
        Treatment plan is provided, we find the best payment
        plan structure for you.
      </p>
    </div>
  </div>

  <div class="relative-container flexy-row cccc dialog-without-tooltip" style="align-self: flex-end">
    <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Shape3.svg" />
    <div class="dialog-content flexy-row absolute-container" style="margin: auto">
      <div class="margin-right-2" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/3.svg" />
      </div>
      <div class="font-small-3 color-white margin-right-2">
        <p class="roboto-bold">Done</p>
        <p class="roboto-regular left-text hide-on-sm">
          You are ready to
          <span class="roboto-bold">start treatment.</span>
        </p>
      </div>

      <div style="align-self: center" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/chair.svg" />
      </div>
    </div>
  </div>
  <div class="relative-container flexy-row cccc dialog-with-tooltip margin-bottom-10" style="align-self: flex-end"
    matTooltip="You are ready to start treatment." matTooltipPosition="above">
    <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Shape3.svg" />
    <div class="dialog-content flexy-row absolute-container" style="margin: auto">
      <div class="margin-right-2" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/3.svg" />
      </div>
      <div class="font-small-3 color-white margin-right-2">
        <p class="roboto-bold">Done</p>
        <p class="roboto-regular left-text hide-on-sm">
          You are ready to
          <span class="roboto-bold">start treatment.</span>
        </p>
      </div>

      <div style="align-self: center" style="max-width: 10vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/chair.svg" />
      </div>
    </div>
  </div>

  <div class="hide-on-big flexy-column cccc  margin-bottom-10">
    <div>
      <p class="roboto-regular">
        You are ready to
        <span class="roboto-bold">start treatment.</span>
      </p>
    </div>
  </div>
</div>

<div class="padding-chef color-brown padding-top-bottom-1 flexy-column cccc" style="
    background: linear-gradient(0deg, #ffffff33 0%, #0299d833 100%);
    color: black;
  ">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div class="margin-bottom-on-sm no-margin-right-on-sm relative-container" style="margin-right: 6vw">
        <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/3_photos.png" />
        <div class="absolute-container" style="top: -8%; left: 20%">
          <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/bubble_blue.svg" />
          <div class="
              absolute-container
              flexy-row
              roboto-regular
              color-white
              font-small-3
            " style="margin: auto; top: 0; left: 0; bottom: 0; right: 0">
            <p class="center-text">
              <span class="roboto-bold">Veneers + Invisalign</span><br />($5500)
            </p>
          </div>
        </div>
        <div class="absolute-container" style="top: 54%; left: 12%">
          <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/bubble_green.svg" />
          <div class="
              absolute-container
              flexy-row
              roboto-regular
              color-white
              font-small-3
            " style="margin: auto; top: 0; left: 0; bottom: 0; right: 0">
            <p class="center-text">
              <span class="roboto-bold">Root Canal</span><br />($1200)
            </p>
          </div>
        </div>
      </div>
      <div id="OnlineCalculator" class="flex-1 sscc" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>
            Online <br />
            Calculator
          </p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-6">
          <p class="center-text-on-sm">
            Dentistry is not an exact science but numbers are. Please use our
            calculator below to find out how easy you can afford your treatment.
          </p>
        </div>
        <div class="
            roboto-bold
            color-gray-dark
            font-extra-small
            margin-bottom-7
            flexy-row
          ">
          <div>
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Calculator1.svg" />
          </div>
          <p style="margin-left: 10px">TREATMENT AMOUNT</p>
        </div>
        <div class="input-1 margin-bottom-7">
          <div class="amount">
            <input #input1 (input)="oninput1()" (focusout)="onInput1FocusOut()" class="color-brown roboto-medium"
              type="number" />
          </div>
          <div class="sign">
            <p class="roboto-medium color-white">$</p>
          </div>
        </div>
        <div class="
            roboto-regular
            color-gray-pale
            font-extra-small
            margin-bottom-1
            flexy-row
          ">
          <p class="center-text-on-sm">
            Type you amount in the field or use the slider bellow to put your
            treatment amount that you think you will need. This amount will be
            used to generate a quotte.
          </p>
        </div>
        <div class="
            slider
            flexy-row
            full-width
            color-gray-pale
            roboto-medium
            font-extra-small
          " style="margin-bottom: calc(84px + 2vw)">
          <div class="left-value">
            <p>$750</p>
          </div>
          <div class="steps flexy-row relative-container">
            <div #pointer class="pointer absolute-container" (mousedown)="onDragStart($event)"
              (touchstart)="onDragStart($event)">
              <img loading="lazy" draggable="false" (dragstart)="onImageDragStart($event)"
                src="../../../assets/SmileasyPaymentPlan/Pointer.svg" />
            </div>
            <div class="big-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BigStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="big-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BigStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="big-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BigStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="big-step">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BigStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="big-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BigStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="small-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/SmallStep.svg" />
            </div>
            <div class="big-step hide-on-phone">
              <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BigStep.svg" />
            </div>
          </div>
          <div class="right-value">
            <p>$12000</p>
          </div>
        </div>
        <div class="flexy-row-w sscc margin-bottom-1">
          <div class="
              flexy-column
              sscc
              margin-right-2 margin-bottom-on-sm
              no-margin-right-on-sm
            ">
            <div class="
                roboto-bold
                color-gray-dark
                font-extra-small
                margin-bottom-7
                flexy-row
              " style="min-height: 24px">
              <div>
                <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/Calculator2.svg" />
              </div>
              <p style="margin-left: 10px">DEPOSIT OF</p>
            </div>
            <div class="input-1 cursor-pointer amount" [matMenuTriggerFor]="deposit" style="width: 160px">
              <input #input2 disabled class="color-brown roboto-medium cursor-pointer" type="text"
                style="width: 100px" />
              <div class="sign">
                <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/DownArrow.svg" />
              </div>
            </div>
          </div>
          <div class="flexy-column sscc">
            <div class="
                roboto-bold
                color-gray-dark
                font-extra-small
                margin-bottom-7
                flexy-row
              " style="min-height: 24px">
              <p style="margin-left: 10px">DEPOSIT AMOUNT</p>
            </div>
            <div class="input-1" style="background: #ebebeb80">
              <div class="amount">
                <input #input3 disabled class="color-brown roboto-medium" type="number" />
              </div>
              <div class="sign">
                <p class="roboto-medium color-white">$</p>
              </div>
            </div>
          </div>
        </div>
        <button class="
            calculate
            color-white
            roboto-medium
            font-extra-small-2
            cursor-pointer
          " (click)="calculatorClick()">
          CALCULATE
        </button>

        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>

        <div class="flexy-row-w sscc">
          <div class="
              flexy-column
              margin-right-2
              no-margin-right-on-sm
              margin-bottom-on-sm
              sscc
            ">
            <div class="flexy-row">
              <div style="margin-bottom: 8px; margin-right: 8px">
                <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/monthly.svg" />
              </div>
              <div class="
                  roboto-bold
                  font-extra-small
                  color-gray-dark
                  opacity-5
                  margin-bottom-7
                ">
                <p>MONTHLY PAYMENTS</p>
              </div>
            </div>

            <div class="margin-bottom-8 roboto-regular color-orange font-small">
              <p class="center-text-on-sm" style="color: #03afaa">
                <span class="roboto-bold">20</span> monthly payments<br />
                of
                <span class="roboto-bold">${{ monthly }}</span>
              </p>
            </div>
            <button class="
                book-green
                color-white
                roboto-medium
                font-extra-small-2
                cursor-pointer
              " (click)="
              goToLink(
                'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
              )
              ">
              INSTANT ONLINE BOOKING
            </button>
          </div>
          <div class="flexy-column margin-right-2 cccc hide-on-sm">
            <div class="vertical-line-1" style="margin-bottom: 8px"></div>
            <div class="
                roboto-bold
                font-extra-small
                color-gray-dark
                opacity-5
                margin-bottom-7
              ">
              <p>OR</p>
            </div>
            <div class="vertical-line-2"></div>
          </div>
          <div class="flexy-column sscc">
            <div class="flexy-row">
              <div style="margin-bottom: 8px; margin-right: 8px">
                <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/weekly.svg" />
              </div>
              <div class="
                  roboto-bold
                  font-extra-small
                  color-gray-dark
                  opacity-5
                  margin-bottom-7
                ">
                <p>WEEKLY PAYMENTS</p>
              </div>
            </div>

            <div class="margin-bottom-8 roboto-regular color-green-pale font-small">
              <p class="center-text-on-sm" style="color: #0299d8">
                <span class="roboto-bold">80</span> weekly payments<br />
                of
                <span class="roboto-bold">${{ weekly }}</span>
              </p>
            </div>
            <button class="
                book-blue
                color-white
                roboto-medium
                font-extra-small-2
                cursor-pointer
              " (click)="
              goToLink(
                'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
              )
              ">
              INSTANT ONLINE BOOKING
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flexy-column padding-chef padding-top-bottom-1" style="
    background: linear-gradient(0deg, #ffffff1a 0%, #03afaa1a 100%);
    color: black;
    padding-bottom: 0;
  ">
  <div fxLayout="column" fxLayoutAlign="center center"
    class="font-large libre-regular center-text color-black margin-bottom-2" style="top: 0">
    <p>
      Our <span class="libre-italic">Payment</span> <br />
      <span class="libre-italic">Solutions</span>
    </p>
  </div>
  <div class="flexy-row-w" style="justify-content: space-around">
    <div class="flexy-column margin-right-2 margin-bottom-on-sm payment-solution">
      <div class="flexy-row" style="
          align-self: center;
          height: 89px;
          align-items: center;
          margin-bottom: 3vw;
        ">
        <div>
          <img loading="lazy" src="../../../assets/healthPage/DentalEmergency/zip.png" />
        </div>
      </div>
      <div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/PurpleCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p>
              <span class="roboto-medium" style="color: #aa8fff">4 Easy Payments.</span>
              Pay for your treatment in four interest-free installments (due
              every two weeks).
            </p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/PurpleCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p>
              <span class="roboto-medium" style="color: #aa8fff">Nothing Extra to Pay.</span>
              Always zero interest, never additional fees when you pay on time.
            </p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row" style="margin-bottom: 1.25vw">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/PurpleCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 6vw">
            <p>
              <span class="roboto-medium" style="color: #aa8fff">Instant Approval Decision.</span>
              No long forms. You’ll know if you are approved instantly and your
              treatment will start straight away.
            </p>
          </div>
        </div>
      </div>
      <button (click)="goToLink('https://www.afterpay.com/how-it-works')" class="
          book3
          color-white
          roboto-medium
          font-extra-small-2
          cursor-pointer
        ">
        APPLY NOW
      </button>
    </div>
    <div class="flexy-column margin-right-2 margin-bottom-on-sm payment-solution">
      <div class="flexy-row" style="
          align-self: center;
          height: 89px;
          align-items: center;
          margin-bottom: 3vw;
        ">
        <div>
          <img loading="lazy" style="max-width: 188px" src="../../../assets/healthPage/DentalEmergency/afterpay.png" />
        </div>
      </div>
      <div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/LightGreenCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p>
              <span class="roboto-medium" style="color: #21a5a8">Account limit.</span>
              Under or over $1000
            </p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/LightGreenCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p>
              <span class="roboto-medium" style="color: #21a5a8">Interest free period.
              </span>
              From 0% interest for 3 months Promotional offers 6-48 months.
            </p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/LightGreenCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p>
              <span class="roboto-medium" style="color: #21a5a8">Establishment fee.</span>
              $0 - $99
            </p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row" style="margin-bottom: 6vw">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/LightGreenCheck.svg" />
          </div>
          <div class="roboto-regular font-small-3 color-gray-dark" style="line-height: 3.75vh; margin-bottom: 6vw">
            <p>
              <span class="roboto-medium" style="color: #21a5a8">Account fee.</span>
              $6/month waived if you have no balance.
            </p>
          </div>
        </div>
      </div>
      <button (click)="
          goToLink(
            'https://account.zipmoney.com.au/?_ga=2.172903715.1824648551.1512797100-451365438.1512797100#/'
          )
        " class="
          book3
          color-white
          roboto-medium
          font-extra-small-2
          cursor-pointer
        ">
        APPLY NOW
      </button>
    </div>
    <div class="flexy-column margin-right-2 margin-bottom-on-sm payment-solution">
      <div class="flexy-row" style="align-self: center; height: 89px; margin-bottom: 3vw">
        <div>
          <img loading="lazy" style="max-width: 108px" src="../../../assets/healthPage/DentalEmergency/humm.png" />
        </div>
      </div>
      <div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/DirtyOrangeCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p style="color: #e05741">Options from $0 deposit</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/DirtyOrangeCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="line-height: 3.75vh; margin-bottom: 1.25vw">
            <p style="color: #e05741">No interest ever</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row" style="margin-bottom: 1.25vw">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/DirtyOrangeCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="color: #e05741" style="line-height: 3.75vh">
            <p style="color: #e05741">For ‘Little things’ and ‘Big Things’</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row" style="margin-bottom: 1.25vw">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/DirtyOrangeCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="color: #e05741" style="line-height: 3.75vh">
            <p style="color: #e05741">Fast and Easy approvals</p>
          </div>
        </div>
      </div>
      <button class="
          book3
          color-white
          roboto-medium
          font-extra-small-2
          cursor-pointer
        " (click)="
        goToLink(
          'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
        )
        ">
        APPLY NOW
      </button>
    </div>
  </div>

  <div class="line-16" style="margin-bottom: 6vw; margin-top: 6vw"></div>

  <div class="flexy-row hide-on-sm">
    <div style="margin-right: 4vw">
      <img style="width: 104vw" src="../../../assets/SmileasyPaymentPlan/CBHS.png" />
    </div>
    <div class="flexy-column relative-container">
      <div class="roboto-regular font-small" style="color: #0299d8; margin-bottom: 2vw">
        <p>
          <span class="roboto-medium">We accept all major Health Insurances.</span><br />
          Claims are maid on the spot using our
          <span class="roboto-bold">HICAPS</span> machine which means you’ll
          only need to pay us the gap, all the claiming process will be done for
          you. We’re preferred providers(*) for
          <span class="roboto-bold">HCF, Bupa, Medibank Private</span>
          <span class="roboto-bold">CBHS</span> and <span class="roboto-bold">NIB</span>, which means you’ll receive:
        </p>
      </div>
      <div style="color: #0299d8">
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BlueCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="margin-bottom: 1.25vw">
            <p>Twice a year Free Dental Check ups</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BlueCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="margin-bottom: 1.25vw">
            <p>X-rays and Scale and Cleans</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row" style="margin-bottom: 1.25vw">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BlueCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3">
            <p>An fluoride treatment</p>
          </div>
        </div>
      </div>
      <div style="position: relative; top: -10vw">
        <div>
          <img src="../../../assets/SmileasyPaymentPlan/blueLady.png" />
        </div>
        <div class="flexy-column color-white" style="position: absolute; bottom:3vw;left:2vw">
          <div class="roboto-bold font-medium">
            <p>New Patient?</p>
          </div>
          <div class="roboto-medium font-small-3" style="margin-bottom:1vw;">
            <p>No Gap for all health insurances</p>
          </div>
          <div>
            <button class="onlineBooking fix-text-0" fxLayout fxLayoutAlign="center center" fxLayoutGap="0.5vw" (click)="
              goToLink(
                'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
              )
              ">
              <img src="../../../assets/SmileasyPaymentPlan/calendar.svg" />
              <p class="roboto-medium" style="color:#0299D8">Instant Online Booking</p>
            </button>
          </div>
        </div>
      </div>
      <div class="roboto-regular font-small-4"
        style="color: #0299d8; margin-bottom: 2vw; position: relative; top:-8vw;">
        <p>
          (*)Medibank Private only available at Pacific Fair
          and CBHS and NIB only available at Bundall.
        </p>
      </div>

    </div>
  </div>

  <div class="flexy-column hide-on-big">
    <div style="margin-right: 4vw">
      <img style="width: 104vw" src="../../../assets/SmileasyPaymentPlan/CBHS.png" />
    </div>
    <div class="flexy-column relative-container">
      <div class="roboto-regular font-small" style="color: #0299d8; margin-bottom: 2vw">
        <p>
          <span class="roboto-medium">We accept all major Health Insurances.</span><br />
          Claims are maid on the spot using our
          <span class="roboto-bold">HICAPS</span> machine which means you’ll
          only need to pay us the gap, all the claiming process will be done for
          you. We’re preferred providers(*) for
          <span class="roboto-bold">HCF, Bupa, Medibank Private</span>
          <span class="roboto-bold">CBHS</span> and <span class="roboto-bold">NIB</span>, which means you’ll receive:
        </p>
      </div>
      <div style="color: #0299d8">
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BlueCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="margin-bottom: 1.25vw">
            <p>Twice a year Free Dental Check ups</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BlueCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3" style="margin-bottom: 1.25vw">
            <p>X-rays and Scale and Cleans</p>
          </div>
        </div>
        <div class="line-16" style="margin-bottom: 1.25vw"></div>
        <div class="flexy-row" style="margin-bottom: 1.25vw">
          <div class="margin-right-3" style="flex: 0 0 32px">
            <img loading="lazy" src="../../../assets/SmileasyPaymentPlan/BlueCheck.svg" />
          </div>
          <div class="roboto-medium font-small-3">
            <p>An fluoride treatment</p>
          </div>
        </div>
      </div>
      <div class="roboto-regular font-small" style="color: #0299d8; margin-bottom: 5vw">
        <div class="roboto-bold font-medium">
          <p>New Patient?</p>
        </div>
        <div class="roboto-medium font-small-3" style="margin-bottom:1vw;">
          <p>No Gap for all health insurances</p>
        </div>
      </div>
      <div style="position: relative; top: -5vw">
        <div>
          <img src="../../../assets/SmileasyPaymentPlan/blueLady.png" />
        </div>
        <div class="flexy-column color-white" style="position: absolute; bottom:8vw;left:2vw">
          
          <div>
            <button class="onlineBooking fix-text-0" fxLayout fxLayoutAlign="center center" fxLayoutGap="0.5vw" (click)="
              goToLink(
                'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
              )
              ">
              <img src="../../../assets/SmileasyPaymentPlan/calendar.svg" />
              <p class="roboto-medium" style="color:#0299D8">Instant Online Booking</p>
            </button>
          </div>
        </div>
      </div>
      <div class="roboto-regular font-small-4"
        style="color: #0299d8; margin-bottom: 2vw; position: relative; top:-2vw;">
        <p>
          (*)Medibank Private Members Choice only available at Pacific Fair
          and CBHS Choice Network and NIB First Choice only available at Bundall.
        </p>
      </div>

    </div>
  </div>
</div>

<div class="flexy-column padding-chef padding-top-bottom-1" style="
    background: linear-gradient(0deg, #ffffff1a 0%, #03afaa1a 100%);
    color: black;
  ">
  <div class="flexy-row cccc" style="margin-bottom: 1.6vw">
    <div style="margin-right: 1.25vw">
      <img style="width: 32px" src="../../../assets/SmileasyPaymentPlan/FAQ.svg" />
    </div>
    <div class="roboto-regular font-wolf" style="color: #337c72; flex: 1">
      <p>Frequently Asked Questions</p>
    </div>
    <div style="border-top: 1px solid #337c724d; flex: 1.2"></div>
  </div>
  <div class="flexy-col full-width">
    <app-dropwodn-green question="What treatments can I use the payment plan?" index="01">
      <p class="left-text">
        Our payment plans are available for all treatments within our practices,
        and there’s no minimum amount. Our front office coordinators will help
        you find the best product depending on your needs.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="Can I use my Health Insurance and still get a payment plan?" index="02">
      <p class="left-text">
        You sure can. You can use your health insurance rebate to reduce the
        balance of your plan. You only finance the gap which means lower
        payments and possibly no need for deposits.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="What if I’m an Australian Resident but not a Citizen?" index="03">
      <p class="left-text">
        With our Smileasy we’ll look into your personal situation and find you
        the best product. So, whether you’re an Australian citizen or resident
        we’ll have a product for you. As a general rule if you’re an Australian
        citizen you’ll be able to apply and get approved even without a credit
        check.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="I am a student or a temporary resident, am I eligible for the payment plan?"
      index="04">
      <p class="left-text">
        You may be eligible, particularly with Zip or Afterpay. Our front office
        coordinators will be happy to assist.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="My credit rating is not great, can I still apply?" index="05">
      <p class="left-text">
        Absolutely. Our Smileasy Payment Plan means our office will match the
        best product to your personal situation, whatever that may be. We do
        have a specific lender who’s happy to finance with very low credit
        criteria provided you’re an Australian Citizen.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="I have an emergency, what options are available for me?" index="06">
      <p class="left-text">
        If you’re caught up with an emergency at the worst time financially we
        have some options for credit with immediate approval which you can use
        straight away for your emergency appointment. With Zip, Afterpay or Humm
        you can apply online on our website and get instant approval, even
        before your dental appointment with us. We can also assist with the
        application in our office and we have other options we can offer which
        are not available for online application.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="Are there options with no deposits and longer than 24 months for
      payment?" index="07">
      <p class="left-text">
        We definitely have no deposit options but our term is 24 months maximum.
        What some of our patients do is stage their treatment over a period of
        time and that way you can get a payment plan for the first stage and
        then later on you can amend it or get a second payment plan.
        Alternatively you can source your own finance with your preferred bank
        for a longer term and then pay us in full, in which case you can take
        advantage of discounts for full payment.
      </p>
    </app-dropwodn-green>

    <app-dropwodn-green question="I’m thinking about using my Super to pay for dental treatment, what are my options?"
      index="08">
      <p class="left-text">
        The ATO allows patients to use their Super to fund dental treatments
        which are essential. Provided you fit a specific criteria you can apply
        to have your Super Fund released early and use those funds to pay for
        your dental treatment. We can assist with your application with the ATO
        or alternatively you can seek assistance from SuperCare and they’ll help
        you with your application so you can get the best outcome. Their website
        is
        <span style="cursor: pointer" (click)="goToLink('https://mysupercare.com.au')">mysupercare.com.au</span>.
      </p>
    </app-dropwodn-green>
  </div>
</div>

<div class="
    instaSection
    background-17
    color-white
    padding-top-bottom-2
    relative-container
  " fxLayout="column" fxLayoutAlign="center center">
  <div>
    <img loading="lazy" src="../../../assets/homePage/Social.svg" />
  </div>
  <div class="instaFeed" style="margin-top: 4vw">
    <div class="text margin-bottom-1 padding-chef">
      <div class="leftText roboto-medium font-extra-small">
        <p></p>
      </div>
      <div class="rightText roboto-medium font-extra-small" fxLayout fxLayoutAlign="center center" fxLayoutGap="1vw"
        (click)="goToLink('https://www.instagram.com/proudsmile_dental/')">
        <div>
          <img loading="lazy" src="../../../assets/homePage/instagram.svg" />
        </div>
        <p>Follow ProudSmile on Instagram</p>
      </div>
    </div>

    <ng-image-slider [infinite]="true" [autoSlide]="3" [showArrow]="false" [images]="imageObject" #nav>
    </ng-image-slider>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div style="margin-top: 2vw; margin-bottom: 2vw">
      <img loading="lazy" src="../../../assets/homePage/Becomepartofourfamily.svg" />
    </div>
    <app-button (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
      )
      " text="BOOK NOW"></app-button>
  </div>
</div>