@import "../../../proud-smile-style.scss";

::ng-deep .ng-image-slider {
  height: 300px !important;
  .main {
    height: 300px !important;
    .img-div {
      box-shadow: unset !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
      width: 171px !important;
      img {
        bottom: unset !important;
        height: unset !important;
      }
    }
  }
}

::ng-deep .deposit-menu.mat-menu-panel {
  width: 100px;
  .mat-menu-content {
    margin: 0;
    button {
      text-align: center;
      color: #55311b;
      font-size: 24px;
      font-family: "robotoMedium";
    }
  }
}

:host {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .afford-text-1 {
    width: 30vw;
    margin-right: 6vw;
  }
  .afford-text-2 {
    width: 30vw;
  }
  .input-1 {
    border: 1px solid #cccccc;
    width: 200px;
    height: 53px;
    border-radius: 4px;
    background: white;
    display: flex;
    input {
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding-left: 24px;
      font-size: 24px;
    }
    input:focus {
      outline: none;
    }
    .amount {
      width: 140px;
    }
    .sign {
      height: 53px;
      width: 60px;
      background: #cccccc;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .slider {
    .steps {
      flex: 1;
      margin: 0 16px;
      justify-content: space-between;
      .pointer {
        img {
          max-width: unset;
        }
      }
    }
  }
  .calculate {
    border-radius: 37px;
    background: #CCCCCC;
    border: 0;
    outline: none;
  }
  .book1 {
    border-radius: 37px;
    background:#E6437B;
    padding: 24px 48px;
    border: 0;
    outline: none;
  }
  button.onlineBooking {
    background: white;
    border-radius: 38px;
    padding: 12px 32px;
  }
  
  .book-green {
    border-radius: 37px;
    background:#03AFAA;
    padding: 24px 48px;
    border: 0;
    outline: none;
  }
  .book-blue {
    border-radius: 37px;
    background:#0299D8;
    padding: 24px 48px;
    border: 0;
    outline: none;
  }
  .book2 {
    border-radius: 37px;
    background: #015c50;
    padding: 24px 24px;
    border: 0;
    outline: none;
  }
  .book3 {
    border-radius: 37px;
    background: $color-orange;
    padding: 24px 36px;
    border: 0;
    outline: none;
    align-self: center;
    margin-top: auto;
  }

  .book4 {
    border-radius: 37px;
    background: #E6437B;
    padding: 24px 36px;
    border: 0;
    outline: none;
    align-self: center;
    margin-top: auto;
  }

  .vertical-line-1 {
    opacity: 0.5;
    height: 24px;
    width: 2px;
    background-color: #d8d8d8;
  }
  .vertical-line-2 {
    opacity: 0.5;
    width: 2px;
    height: 48px;
    background-color: #d8d8d8;
  }

  .payment-solution p {
    text-align: left;
  }
  .instaSection {
    .instaFeed {
      width: 100%;
      .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .rightText {
          cursor: pointer;
        }
      }
    }
    .title {
      position: relative;
      margin-top: 10vh;
      .year {
        position: absolute;
        top: -16vh;
      }
      .text {
        z-index: 1;
        text-align: center;
      }
    }
  }

  .payment-root {
    margin-top: 129px;
  }

  @media only screen and (min-width: 1900px) {
    .lady-container {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1201px) {

    .so-easy {
      display: flex;
      flex-direction: row;
    }
    .dialog-with-tooltip {
      display: none;
    }
    button {
      padding: 24px 48px;
    }
    .payment-solution {
      max-width: 300px;
    }
    .spp {
      flex: 0 0 560px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    
    .so-easy {
      display: flex;
      flex-direction: column;
    }
    .mobile-size {
      max-width: 70%;
      margin: auto;
    }
    .afford-text-1 {
      width: unset;
      margin-right: 0;
    }
    .afford-text-2 {
      width: unset;
    }
    .dialog-content {
      justify-content: center;
      align-items: center;
    }
    .dialog-without-tooltip {
      display: none;
    }
    button {
      padding: 18px 36px;
    }
    .spp {
      flex: 0 0 320px;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    
    .so-easy {
      display: flex;
      flex-direction: column;
    }
    .mobile-size {
      max-width: 70%;
      margin: auto;
    }
    .afford-text-1 {
      width: unset;
      margin-right: 0;
    }
    .afford-text-2 {
      width: unset;
    }
    .dialog-content {
      justify-content: center;
      align-items: center;
    }
    .dialog-without-tooltip {
      display: none;
    }
    button {
      padding: 12px 24px;
    }
    .instaSection {
      .instaFeed {
        .text {
          flex-direction: column;
        }
      }
    }
    .spp {
      flex: 0 0 250px;
    }
    .payment-root {
      margin-top: 80px;
    }
  }
}
