<div class="section firstSection" fxLayout="column" fxLayoutAlign="center center">

    <div class="title" fxLayout="column" fxLayoutAlign="center start">
        <div class="lineAndText primary-text-3 color-brown-light roboto-medium" fxLayout fxLayoutAlign=" center">
          <div class="line opacity-5"></div>
          <p>OUR PAYMENT SOLUTIONS"</p>
        </div>
        <div class="titleText primary-text-1 color-brown center-text libre-regular">
          <p>
            Smileasy <br />
            <span class="libre-italic">Paymeny Plans</span>
          </p>
        </div>
      </div>

</div>