<div class="padding-chef color-brown background-6 padding-top-3 margin-top-6">
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>Clear <br />Braces</p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Clearly straight</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        At Proud Smile we offer a range of orthodontic treatments to correct
        crowded teeth and give you a straight and healthy smile.<br /><br />
        We offer Braces at our clinic, but it doesn’t need to be the “train
        track” you probably got accustomed to see. Since we are a cosmetic
        practice we are very conscious of making this process as discreet as
        possible for our patients. With the use of Saphire brackets and white
        coated wires you will enjoy straight teeth with minimal visibility.
        <span class="roboto-bold"
          >The benefits of braces are increased predictability, 24 hour action
          with minimal compliance and advanced mechanics for those hard to treat
          cases.</span
        >
      </p>
    </div>
  </div>
</div>

<div
  class="full-width relative-container"
  fxLayout
  fxLayoutAlign="center center"
>
  <div class="full-width">
    <img
      loading="lazy"
      class="full-width"
      src="../../../../assets/healthPage/ClearBraces/SaphireBracket.jpg"
    />
  </div>
  <div
    class="absolute-container hide-on-sm"
    style="top: 55%; left: 50%; width: 12vw"
  >
    <img
      loading="lazy"
      src="../../../../assets/healthPage/ClearBraces/LineBrown.svg"
    />
  </div>
  <div
    class="absolute-container braces"
    fxLayout="column"
    fxLayoutAlign="center flex-end"
  >
    <div class="roboto-medium color-brown font-extra-small-4 center-text-on-sm">
      <p style="text-align: right">
        <span class="roboto-bold">ABOUT BRACES</span><br />
        With the use of Saphire brackets and white coated wires you will enjoy
        straight teeth with minimal visibility. The benefits of braces are
        increased predictability, 24 hour action with minimal compliance and
        advanced mechanics for those hard to treat cases.
      </p>
    </div>
  </div>
</div>

<div
  class="secondSection roboto-regular padding-chef color-brown background-13 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="libre-regular font-dog margin-bottom-1">
      <p>Aesthetic Driven Results</p>
    </div>
    <div class="font-medium padding-chef">
      <p>
        Braces are generally known to treat function and aesthetics. By function
        we mean improper position of the teeth which could lead to dental
        problems. And then there’s the aesthetics which will give you a nice
        straight smile.<br /><br />
        At Proud Smile we have a strong focus on aesthetics which means we will go
        an extra step when it comes to braces. We will use the same principles of
        aesthetics we use for other cosmetic treatments and we will apply them to
        your braces, that leads to superior aesthetic results and extreme
        attention to details. But make no mistake, we will also treat the function
        with extreme care by following strict orthodontic principles.
      </p>
    </div>
  </div>
</div>

<div
  class="color-brown relative-container"
  fxLayout="column"
  fxLayoutAlign="center end"
>
  <div class="full-width background-image-2">
    <img
      loading="lazy"
      style="max-width: unset"
      src="../../../assets/healthPage/ClearBraces/LaserBackground.jpeg"
    />
  </div>
  <div
    class="absolute-container padding-chef"
    style="left: 0"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            Gum Recontouring<br />
            Laser
          </p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            Gum Lasering is a great adjunction to several of our cosmetic
            procedures, and it’s no different with braces. At the end of your
            treatment once your teeth are straight we can correct minor or more
            advanced gum levelling discrepancies with the use of laser. This is
            usually a very comfortable procedure and causes minimal bleeding.
            <span class="roboto-bold">The results can be quite dramatic.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown background-14 padding-top-3"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="padding-chef-right padding-chef-left-on-sm"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img
          loading="lazy"
          src="../../../assets/healthPage/ClearBraces/Brace.png"
        />
      </div>
      <div class="flex-1 sscc" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>A New <br />Traditional</p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-1">
          <p class="center-text-on-sm">
            Traditional braces have been around for a while and it’s still a
            very good option for straightening teeth. Just because it’s
            traditional doesn’t mean it’s stuck with old techniques. Your
            experience with braces has now been remodelled. Instead of rubber
            moulds we now use digital scans. Stone models are replaced with 3D
            printed models. And state of the art software and digital imaging
            now takes braces to new incredible precision levels, never seen
            before. Your appointments with will be faster, smoother and
            “cleaner”.<br /><br />
            Plus let us create different experiences for you while you receive
            treatment. Our rooms are equiped with LED lighting which will create
            the right mood for your visit, whether it’s freshness, relaxation or
            warmth. Lear more about our LED ambiance here.<br /><br />
            <span class="roboto-bold"
              >So, it’s traditional but only on reputation.</span
            >
          </p>
        </div>
        <div class="no-margin-on-sm">
          <img
            loading="lazy"
            src="../../../assets/healthPage/ClearBraces/Diagram.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-15 padding-bottom-1 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc margin-bottom-2">
      <div
        class="flex-1 sscc margin-right-1 margin-bottom-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            PAYG Braces No<br />
            Deposit - No contract<br />
            - No Finance
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            We all know that good things take time and that is certainly the case
            with braces. That is why we created the PAYG braces where you will be
            able to pay for your braces each month, on every maintenance visit
            and directly with us. There is no finance contracts or third party
            companies involved. Receive treatment and pay for it as you go, it’s
            as simple as that.<br /><br />
            We are proudly the only practice that currently offers this great
            convenience and advantaged for our patients and that is in line with
            our philosophy of making good quality dentistry affordable to all.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-bold font-medium center-text-on-sm">
          <p>
            Prefer to pay in full? No problems, take advantage of great
            discounts for full payments too, if that is your preference.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div
          class="cursor-pointer roboto-regular font-small-3"
          fxLayout
          fxLayoutAlign="center center"
          (click)="seeAllFinancial()"
        >
          <div>
            <img
              loading="lazy"
              src="../../../../assets/healthPage/ClearBraces/CardBrown.svg"
            />
          </div>
          <div class="margin-left-1">
            <p>See all our Financial Plans</p>
          </div>
          <div class="margin-left-1 opacity-5">
            <img
              loading="lazy"
              src="../../../../assets/healthPage/ClearBraces/BrownArrow.svg"
            />
          </div>
        </div>
      </div>
      <div class="flex-1 margin-bottom-on-sm" style="align-self: center">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/ClearBraces/Payng.svg"
        />
      </div>
    </div>

    <div class="flexy-col full-width">
      <app-dropdown
        question="My son is only 8 years old, should I take him to you to check if he needs
      braces?"
        index="01"
      >
        <p class="left-text">
          Yes, even though we won’t be placing braces on an 8 year old child we
          can certainly identify early problems at this age, including bad
          habits. In fact, 8 is the perfect time to start because a few adult
          teeth are present and we can check for growth problems too such as
          excessive growth of the lower jaw, not enough development of the upper
          jaw, crowding, cross bites amongst other problems. If we do identify a
          problem we can often treat these with removable or fixed appliances
          and by doing that we will be minimising or even avoiding all together
          the need for braces in the near future.<br /><br />
        </p>
        <ul>
          <li>
            <p class="margin-bottom-1">
              Twin block - This is an appliance to correct the relationship
              between the top and bottom jaws. If your child has a large
              overbite and the lower jaw is not developed enough we can improve
              and treat that with these types of appliances. The results can be
              pretty incredible dependable on compliance and your child will
              benefit from increased confidence at school and better speech
              capabilities.
            </p>
            <div class="flexy-row">
              <div class="flex-1 margin-right-1">
                <img
                  loading="lazy"
                  src="../../../../assets/healthPage/ClearBraces/TB.jpg"
                />
              </div>
              <div class="flex-1">
                <img
                  loading="lazy"
                  src="../../../../assets/healthPage/ClearBraces/TwinBlock.jpg"
                />
              </div>
            </div>
          </li>
          <br /><br />
          <li>
            <p class="margin-bottom-1">
              Cross bite: This is the condition where the bottom teeth are in
              front of the top teeth in a cross situation. This can lead to
              problems with the mouth joints and should be treated and
              intervened as early as possible. We can use an appliance called
              “palatal expander”. This appliance causes the top jaw to expand
              and grow thus correcting the crossbite and improving airway as
              well and it will also reduce the chances of crowding by allowing
              extra space in the mouth.
            </p>
            <div style="max-width: 30vw; margin: auto">
              <img
                loading="lazy"
                src="../../../../assets/healthPage/ClearBraces/PalatalExpander.jpg"
              />
            </div>
          </li>
          <br /><br />
          <li>
            <p class="margin-bottom-1">
              Thumb sucking: We know it’s cute and comforting for your child to
              suck the thumb, however this habit can cause severe problems with
              the top teeth and jaw if not stopped early. The main consequence
              is an open bite where the front teeth don’t touch. We can produce
              appliances that could help to discourage your child to continue
              with the habit.
            </p>

            <div class="flexy-row">
              <div class="flex-1 margin-right-1">
                <img
                  loading="lazy"
                  src="../../../../assets/healthPage/ClearBraces/OpenBite.jpg"
                />
              </div>
              <div class="flex-1">
                <img
                  loading="lazy"
                  src="../../../../assets/healthPage/ClearBraces/SuckingDevice.jpg"
                />
              </div>
            </div>
          </li>
        </ul>
      </app-dropdown>

      <app-dropdown question="Can adults have braces?" index="02">
        <p class="left-text">
          Contrary to popular belief braces is for everyone, there’s no age
          limit. The advantages of straight teeth are worth pursuing on every
          age bracket. Provided your teeth and gums are healthy you can get
          braces.
        </p>
      </app-dropdown>

      <app-dropdown question="Do you also do metal braces?" index="03">
        <p class="left-text">
          Yes we do. Even though our speciality is clear braces we do have the
          metal type for those who prefer a stronger option or for the kids who
          love coloured elastics for a funky look.
        </p>
      </app-dropdown>

      <app-dropdown
        question="What are the differences between braces and Invisalign?"
        index="04"
      >
        <p class="left-text margin-bottom-1">
          Good question. Some conditions are better treated with braces and
          others with Invisalign but perhaps the biggest difference is how
          discreet you want to be about your treatment and your lifestyle. It
          may even be that we can use both systems to treat your case for
          maximum efficiency. Below is a table with the main points of
          difference between the two treatments. We do offer Invisalign too, you
          can find more information by clicking on the Invisalign logo.
        </p>
        <div class="flexy-column margin-bottom-10">
          <div
            class="flexy-row full-width margin-bottom-9 cccc"
            style="justify-content: space-evenly"
          >
            <div fxFlex style="text-align: end; margin-right: 8vw">
              <p></p>
            </div>
            <div fxFlex class="color-orange roboto-medium font-tiger">
              <p>Braces</p>
            </div>
            <div fxFlex class="color-orange roboto-medium font-tiger">
              <p>Plastic Aligners</p>
            </div>
          </div>
          <div
            class="flexy-row full-width cccc margin-bottom-1"
            style="justify-content: space-evenly"
          >
            <div
              fxFlex
              class="color-orange opacity-7 roboto-medium font-small-3"
              style="text-align: end; margin-right: 8vw"
            >
              <p>Aesthetics</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>Visible</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>Translucent with buttons or anchors on the front of teeth</p>
            </div>
          </div>
          <div class="line-3 margin-bottom-1"></div>
          <div
            class="flexy-row full-width cccc margin-bottom-1"
            style="justify-content: space-evenly"
          >
            <div
              fxFlex
              class="color-orange opacity-7 roboto-medium font-small-3"
              style="text-align: end; margin-right: 8vw"
            >
              <p>Ideally For</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>Young people and the most advanced cases</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>The conscientious and disciplined</p>
            </div>
          </div>
          <div class="line-3 margin-bottom-1"></div>
          <div
            class="flexy-row full-width cccc margin-bottom-1"
            style="justify-content: space-evenly"
          >
            <div
              fxFlex
              class="color-orange opacity-7 roboto-medium font-small-3"
              style="text-align: end; margin-right: 8vw"
            >
              <p>Oral Hygiene</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>
                Brush and floss after every meal, a floss threader is
                recommended
              </p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>
                Brush and floss teeth normally, aligners also need to be cleaned
                to prevent discoloration and odors after every meal or snack
              </p>
            </div>
          </div>
          <div class="line-3 margin-bottom-1"></div>
          <div
            class="flexy-row full-width cccc margin-bottom-1"
            style="justify-content: space-evenly"
          >
            <div
              fxFlex
              class="color-orange opacity-7 roboto-medium font-small-3"
              style="text-align: end; margin-right: 8vw"
            >
              <p>Comfort</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>
                Temporary discomfort at beginning of treatment, and after
                appointments
              </p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>
                Temporary discomfort at beginning of treatment, and at the
                beginning of each new aligner throughout treatment
              </p>
            </div>
          </div>
          <div class="line-3 margin-bottom-1"></div>
          <div
            class="flexy-row full-width cccc margin-bottom-1"
            style="justify-content: space-evenly"
          >
            <div
              fxFlex
              class="color-orange opacity-7 roboto-medium font-small-3"
              style="text-align: end; margin-right: 8vw"
            >
              <p>Speech Difficulty</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>None</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>May temporarily affect speech during treatment</p>
            </div>
          </div>
          <div class="line-3 margin-bottom-1"></div>
          <div
            class="flexy-row full-width cccc margin-bottom-1"
            style="justify-content: space-evenly"
          >
            <div
              fxFlex
              class="color-orange opacity-7 roboto-medium font-small-3"
              style="text-align: end; margin-right: 8vw"
            >
              <p>Diet</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>Avoid hard, sticky, and chewy foods</p>
            </div>
            <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
              <p>
                Aligners must be worn 22 hours a day, snacking and coffee habits
                not recommended
              </p>
            </div>
          </div>
          <div class="line-3 margin-bottom-1"></div>
        </div>
      </app-dropdown>

      <app-dropdown question="Are you Orthodontists?" index="05">
        <p class="left-text">
          No, we’re a general dental practice but we offer orthodontics. Our
          dentists have acquired further knowledge through a few more years of
          specific training, but they’re not specialist orthodontics. We treat a
          broad range of conditions but usually not involving surgical needs or
          extreme skeletal problems. These are referred to specialist
          orthodontics. If we identify your case cannot be treated by us we will
          gladly recommend an orthodontist for your consideration.
        </p>
      </app-dropdown>
    </div>
  </div>
</div>
