<div
  class="padding-chef color-brown background-6 padding-top-bottom-1 margin-top-2"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div
      class="roboto-medium font-extra-small margin-bottom-3"
      fxLayout
      fxLayoutAlign=" center"
    >
      <div class="width-3 line-1"></div>
      <p class="margin-left-1">03</p>
    </div>
    <div class="libre-regular font-large">
      <p>Clear <br />Braces</p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Clearly straight</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        At Proud Smile we offer a range of orthodontic treatments to correct
        crowded teeth and give you a straight and healthy smile.<br /><br />
        We offer Braces at our clinic, but it doesn’t need to be the “train
        track” you probably got accustomed to see. Since we are a cosmetic
        practice we’re very conscious of making this process as discreet as
        possible for our patients. With the use of Saphire brackets and white
        coated wires you’ll enjoy straight teeth with minimal visibility.
        <span class="roboto-bold"
          >The benefits of braces are increased predictability, 24 hour action
          with minimal compliance and advanced mechanics for those hard to treat
          cases.</span
        >
      </p>
    </div>
  </div>
</div>
