

<div id="PVFirstSection" class="margin-top-porcelain flexy-column cccc" style="background: black; color:white; text-align: center;">

  <div id="PVParent" class="background-43" fxLayout fxLayoutAlign="center center">
    <div id="PVAnimationContainer">
      <div id="PVCanvasContainer">
        <canvas id="hero-lightpass-PV"></canvas>
      </div>
    </div>
  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        Science mimiks <br /> Nature
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:5vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>
    <div class="font-small-2 roboto-regular" style="margin-bottom: 10vw;">
      <p style="color: #acacac">
        * this treatment is not suitable for all patients and we as health professionals have an ethic to let you know
        whether you are a candidate. A comprehensive examination must be performed to check eligibility and to assess the
        health of your teeth prior to receiving this treatment
      </p>
    </div>
    <div>
      <img src="../../../../assets/aesthetics/PV/LastFrame.jpg"/>
    </div>
  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        Delicate yet <br /> Strong
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>
    
    <div>
      <img src="../../../../assets/aesthetics/PV/LastFrame.jpg"/>
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        <span class="roboto-medium">Digital Veneers:</span> <br /> Art meets maths
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>
    
    <div>
      <img src="../../../../assets/aesthetics/PV/LastFrame.jpg"/>
    </div>
  </div>

  <div class="padding-chef padding-bottom-1 padding-top-bottom-1 flexy-column cccc">
    <div class="padding-chef flexy-column cccc" style="margin-bottom:10vw;">
      <div class="font-lion roboto-regular margin-bottom-2">
        <p>
          End of a goopy <br /> moulds
        </p>
      </div>
      <div class="font-small-3 roboto-regular" style="margin-bottom:5vw;">
        <p class="margin-bottom:5vw;">
          A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
          have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
          can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
          smile you have always dreamed of and one that you deserve.
        </p>
      </div>
    </div>

    <div class="full-width" fxLayout fxLayoutAlign="center center">
      <video class="full-width" preload="auto" muted #goopyVideo loop playsinline style="background: white;">
        <source
          src="../../../../assets/aesthetics/PV/Mobile/End of goopy mounts.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        Smile Design
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>

    <div class="full-width" fxLayout fxLayoutAlign="center center">
      <video class="full-width" preload="auto" muted #smileVideo loop playsinline style="background: white;">
        <source
          src="../../../../assets/aesthetics/PV/Mobile/Smile design video_Small.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        The make of <br /> veneer
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>
    
    <div class="full-width" fxLayout fxLayoutAlign="center center">
      <video class="full-width" preload="auto" muted #makeVideo loop playsinline style="background: white;">
        <source
          src="../../../../assets/aesthetics/PV/Mobile/The make of a veneer_Smaller_Smaller.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        We do take it <br /> <span class="libre-bold" style="font-size: 40px;">personal</span>
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>
    
    <div>
      <img src="../../../../assets/aesthetics/PV/LastFrame.jpg"/>
    </div>
  </div>

  <div class="flexy-column cccc" style="margin-top:10vw; margin-bottom:10vw;">
    <div style="width: 40px; margin-bottom:4vw;">
      <img src="../../../assets/WhiteShape.svg" />
    </div>
    <div class="font-lion libre-bold margin-bottom-2 padding-chef" style="font-size: 40px;">
      <p>
        It`s time to <br /> be Proud of <br/> yourself.
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed individuals. With porcelian veneers anyone(*) can now
        have a smile to be proud of. Veneers are thin porcelain 'shells' that are 'bonded' to the front of your teeth and
        can permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the
        smile you have always dreamed of and one that you deserve.
      </p>
    </div>
    
    <div>
      <img src="../../../../assets/aesthetics/PV/LastFrame.jpg"/>
    </div>
  </div>

  <div class="padding-chef flexy-row cccc" style="
    background: black;
    justify-content: space-around;
    position: relative;
    top: -5px;
    z-index: 4;
    padding-bottom: 4vw;
    flex-wrap: wrap;
  ">
  <button style="margin-top: 5vw"
    class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4" (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
      )
    ">
    BOOK YOUR FREE SMILE ASSESSMENT
  </button>
  <button style="margin-top: 5vw; margin-bottom: 5vw;"
    class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4" (click)="seeGallery()">
    SEE BEFORE AND AFTER GALLERY
  </button>
</div>

</div>