<div
  id="LoadingTextPV"
  #LoadingText
  class="margin-top-porcelain hide-on-sm"
  style="background: black"
>
  <div
    class=""
    style="
      height: 100vh;
      width: 100vw;
      z-index: 1;
      margin-bottom: 10vw;
      display: block;
    "
  >
    <div
      class="flexy-column color-white cccc font-dog libre-regular center-text padding-top-3 margin-bottom-10 relative-container"
    >
      <div class="width-1 margin-bottom-10">
        <img src="../../../../assets/WhiteShape.svg" />
      </div>
      <p class="margin-bottom-10">Loading Porcelain Veneers presentation...</p>
    </div>
  </div>
</div>

<div id="PVAnimationContainer" class="animation-container hide-on-sm">
  <div
    #SuggestionButton
    style="
      position: fixed;
      bottom: 10px;
      right: 3%;
      z-index: 10;
      cursor: pointer;
    "
  >
    <div
      (click)="onNextClick()"
      style="display: flex; align-items: center"
      class="roboto-medium font-extra-small-2"
    >
      <p #HelperText style="color: #adaeb1; margin-right: 8px">
        Skip to next chapter<br />
        or keep scrolling.
      </p>
      <div>
        <img
          #DownArrow
          style="transform: rotate(0deg); transition: transform 0.5s"
          src="../../../../assets/down.svg"
        />
      </div>
    </div>
  </div>
  <div
    #SuggestionButtonUp
    style="
      position: fixed;
      bottom: 50px;
      right: 3%;
      z-index: 10;
      cursor: pointer;
    "
  >
    <div
      (click)="onRevertClick()"
      style="display: flex; align-items: center"
      class="roboto-medium font-extra-small-2"
    >
      <p style="color: #adaeb1; margin-right: 8px">Revert to first chapter.</p>
      <div>
        <img
          style="transform: rotate(180deg)"
          src="../../../../assets/down.svg"
        />
      </div>
    </div>
  </div>

  <div class="canvas-container">
    <canvas id="hero-lightpass-PV"></canvas>
    <div class="canvas-framer">
      <div
        style="
          position: absolute;
          top: 0px;
          left: 0;
          height: 2vw;
          background: linear-gradient(black, transparent);
          z-index: 6;
          width: 100vw;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: linear-gradient(90deg, black, transparent);
          z-index: 6;
          width: 2vw;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          background: linear-gradient(270deg, black, transparent);
          z-index: 6;
          width: 2vw;
        "
      ></div>
      <div
        style="
          position: absolute;
          left: 0;
          bottom: 0px;
          height: 2vw;
          background: linear-gradient(0deg, black, transparent);
          z-index: 6;
          width: 100vw;
        "
      ></div>
    </div>
  </div>
</div>





<div id="PVFirstSection" class="margin-top-porcelain flexy-column cccc hide-on-big"
  style="background: black; color:white; text-align: center;">

  <div id="PVParent" class="background-43" fxLayout fxLayoutAlign="center center">
    <div id="PVAnimationContainer">
      <div id="PVCanvasContainer" style="position: relative;">
        <canvas id="hero-lightpass-PV"></canvas>
        <div class="canvas-framer">
          <div style="
                position: absolute;
                top: 0px;
                left: 0;
                height: 4vw;
                background: linear-gradient(black, transparent);
                z-index: 6;
                width: 100vw;
              "></div>
          <div style="
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: linear-gradient(90deg, black, transparent);
                z-index: 6;
                width: 4vw;
              "></div>

          <div style="
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background: linear-gradient(270deg, black, transparent);
                z-index: 6;
                width: 4vw;
              "></div>

          <div style="
                position: absolute;
                left: 0;
                bottom: 0px;
                height: 4vw;
                background: linear-gradient(0deg, black, transparent);
                z-index: 6;
                width: 100vw;
              "></div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        Science mimiks <br /> Nature
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:5vw;">
      <p class="margin-bottom:5vw;">
        A stunning smile is no longer only for genetically blessed
        individuals, With porcelain veneers anyone(*) can now have a
        smile to be proud of. Veneers are thin porcelain "shells" that are "bonded" to the front of your teeth and can
        permanently change the shape and colour of your teeth to your exact requirements. Veneers can achieve the smile
        you have always dreamed of and one that you deserve.
      </p>
    </div>
    <div class="font-small-2 roboto-regular padding-chef" style="margin-bottom: 10vw;">
      <p style="color: #acacac">
        * this treatment is not suitab ents and we as health professionals have an ethic to let you know whether you are
        a candidate. A comprehensive examination must be performed to check eligibility and to assess the health of your
        teeth prior to receiving this treatment.
      </p>
    </div>
    <div style="position: relative;">
      <div id="ImageToFade">
        <img src="../../../../assets/aesthetics/PV/Mobile/dinte2.png" />
      </div>
      <div style="position: absolute; top:0; left:0; opacity: 0; z-index: 1;" id="ImageToFade2">
        <img src="../../../../assets/aesthetics/PV/Mobile/dinte zoom.png" />
      </div>
    </div>

    <div class="flexy-row cccc">
      <div class="flexy-row cccc" style="flex: 1">
        <p style="text-align: left;"><span class="roboto-bold">Veneer</span> - Light<br/>source reflecting</p>
      </div>
      <div class="flexy-row cccc" style="flex: 1">
        <p style="text-align: left;"><span class="roboto-bold">Natural Tooth</span> - Light<br/>source reflecting</p>
      </div>
    </div>

  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        Delicate yet <br /> Strong
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        Even though veneers can be as thin as 0.3mm (Ultra Thin
        Veneers) once bonded to teeth enamel they become extremely
        strong. We only use premium ceramics with strengths ranging
        from 250mpa up to 850Mpa, depending on indication and budget. In other words, you'd need at least a 250 pound
        force inflicted on them before they'd break. Veneers are made to survive the harsh mouth environment which has
        large variances of temperature, cidity, bacterial attachment and the tough forces of the bite. It's important
        that your bite is properly assessed, as well as your diet, habits and lifestyle so we can increase the longevity
        of these types of restorations.
      </p>
    </div>

    <div>
      <img src="../../../../assets/aesthetics/PV/Mobile/dinte.png" />
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        <span class="roboto-medium">Digital Veneers:</span> <br /> Art meets maths
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        3D Digital Technology has revolutionized Dentistry forever. Goopy moulds, stone models and manual porcelain
        layering are replaced with digital impressions, 3D printed models and milled ceramics using robotic technology.
        Porcelain veneers can now be produced in-house with near 100% precision
        and in just hours instead of weeks.
      </p>
    </div>

    <div>
      <img src="../../../../assets/aesthetics/PV/Mobile/scanner.png" />
    </div>
  </div>

  <div class="padding-chef padding-bottom-1 padding-top-bottom-1 flexy-column cccc">
    <div class="flexy-column cccc" style="margin-bottom:10vw;">
      <div class="font-lion roboto-regular margin-bottom-2">
        <p>
          End of a goopy <br /> moulds
        </p>
      </div>
      <div class="font-small-3 roboto-regular" style="margin-bottom:5vw;">
        <p class="margin-bottom:5vw;">
          Hate the gagging feel of taking rubber impressions? Fear no more! Your teeth can now be scanned using a camera
          that creates a 3D image of your teeth. No mess, no gagging, no repeats. Images can then be 3D printed or used
          to create a myriad of restorations and appliances.
        </p>
      </div>
    </div>

    <div class="full-width" fxLayout fxLayoutAlign="center center">
      <video class="full-width" preload="auto" muted #goopyVideo loop playsinline style="background: white;">
        <source src="../../../../assets/aesthetics/PV/Mobile/End of goopy mounts.mp4" type="video/mp4" />
      </video>
    </div>
  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        Smile Design
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        Once your teeth are scanned, it's time to design your veneers. Wax and manual brushes are replaced with
        state-of-the-art
        design software. But don't worry, the principles of teeth design are still very human. At Proud Smile all our
        designs are
        done in house by our dentists so you get a personalised smile made exclusively for you and to the minimal
        details and
        specifications.
      </p>
    </div>

    <div class="full-width" fxLayout fxLayoutAlign="center center">
      <video class="full-width" preload="auto" muted #smileVideo loop playsinline style="background: white;">
        <source src="../../../../assets/aesthetics/PV/Mobile/Smile design video_Small.mp4" type="video/mp4" />
      </video>
    </div>
  </div>

  <div class="padding-chef" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2">
      <p>
        The make of <br /> veneer
      </p>
    </div>
    <div class="font-small-3 roboto-regular" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        It's milling time! Based on the 3D design the Veneers are cut out of a porcelain block using robotic technology
        which clones
        the design. They're then polished and coated with a glaze material before being fired at a temperature of 700c.
        Veneers then come out strong and glossy ready to be cemented.
      </p>
    </div>

    <div class="full-width" fxLayout fxLayoutAlign="center center">
      <video class="full-width" preload="auto" muted #makeVideo loop playsinline style="background: white;">
        <source src="../../../../assets/aesthetics/PV/Mobile/The make of a veneer_Smaller_Smaller.mp4"
          type="video/mp4" />
      </video>
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        We do take it <br /> <span class="libre-bold" style="font-size: 40px;">personal</span>
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        At Proud Smile we pride on individuality. We understand that
        there's no one smile like another and we all have different
        perceptions of what beauty should look like. That is why ALL of our cosmetic work is done in house and
        artistically designed by our own dentists, based on your requirements and our recommendations. The result is a
        beautiful bespoke smile and one that suits your face and personality.
      </p>
    </div>

    <div>
      <img src="../../../../assets/aesthetics/PV/Mobile/lady2 pv.png" />
    </div>
  </div>

  <div class="flexy-column cccc" style="margin-top:10vw; margin-bottom:10vw;">
    <div style="width: 40px; margin-bottom:4vw;">
      <img src="../../../assets/WhiteShape.svg" />
    </div>
    <div class="font-lion libre-bold margin-bottom-2 padding-chef" style="font-size: 40px;">
      <p>
        It`s time to <br /> be Proud of <br /> yourself.
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p class="margin-bottom:5vw;">
        You too can have YOUR smile back, whether you have a gap
        between your teeth, discolored fillings, teeth are that too short or too long, chipped or broken or very yellow
        teeth, chances are we have a solution for you.<span style="color: #FF4F1B"> Please take a look at our gallery below to see some of our Proud
          patients.</span> 
      </p>
    </div>

    <div>
      <img src="../../../../assets/aesthetics/PV/Mobile/lady pv.png" />
    </div>
  </div>

  <div class="padding-chef flexy-row cccc" style="
    background: black;
    justify-content: space-around;
    position: relative;
    top: -5px;
    z-index: 4;
    padding-bottom: 4vw;
    flex-wrap: wrap;
  ">
    <button style="margin-top: 5vw"
      class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4" (click)="
      goToLink(
  'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
)
    ">
      BOOK YOUR FREE SMILE ASSESSMENT
    </button>
    <button style="margin-top: 5vw; margin-bottom: 5vw;"
      class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4" (click)="seeGallery()">
      SEE BEFORE AND AFTER GALLERY
    </button>
  </div>

</div>