::ng-deep .mat-menu-content {
  background: #f5f5f5;
}


#Schedule {
  p {
    font-size: 0.66rem;
    margin: 2vh 1vw;
  }
}

:host {
  
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  .whiteStyle button.onlineBooking p,
  .blackStyle button.onlineBooking p {
    color: white;
    transition: color 1000ms linear;
    margin: 0;
  }
  .whiteStyle mat-icon {
    color: white;
    transition: color 1000ms linear;
    opacity: 0.8;
  }
  .blackStyle mat-icon {
    color: black;
    transition: color 1000ms linear;
    opacity: 0.8;
  }
  .header.whiteStyle {
    background-color: transparent;
    transition: background-color 1000ms linear;
  }
  .header.blackStyle {
    background-color: #f5f5f5;
    transition: background-color 1000ms linear;
  }
  .whiteStyle button p {
    color: white;
    transition: color 1000ms linear;
  }
  .whiteStyle svg .svgFill {
    fill: white;
    transition: fill 1000ms linear;
  }
  .blackStyle svg .svgFill {
    fill: black;
    transition: fill 1000ms linear;
  }
  .blackStyle p {
    color: #565960;
    transition: color 1000ms linear;
  }
  button {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 0.66rem;
    font-family: "robotoRegular";
    cursor: pointer;
    mat-icon {
      cursor: pointer;
    }
    p {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  button.onlineBooking {
    background: #015c50;
    border-radius: 38px;
    padding: 0 1.8vw;
  }

  .header {
    padding: 1vh 4vw;

    .logo svg{
      cursor: pointer;
    }

    .smallMenu {
      align-self: flex-end;
      margin-right:1vw;
      p {
        font-size: 0.58rem;
      }
      .noPointer {
        cursor: default;
        mat-icon {
          cursor: default;
        }
        p {
          cursor: default;
        }
      }
    }

    .menu {
      width: 100%;

      .payment-plan:focus {
        font-family: "libreItalic";
        p {
          color: #85920D;
        }
      }
    }

    .logo svg .black {
      fill: black;
      transition: fill 1000ms linear;
    }
  }

  .subHeader {
    z-index: 1;
    background: #fff9f6;
    height: 10.7vmin;

    app-image-text {
      padding-right: 3.33vw;
      cursor: pointer;
      background: rgba(167, 149, 138, 0.2);

      &.active {
        background: #fff9f6;

        p {
          opacity: 0.5;
        }
        img {
          opacity: 0.5;
        }
      }
    }
  }
}
