@import "../../proud-smile-style.scss";

::ng-deep .mat-menu-content {
  background: white;
}

::ng-deep #mat-menu-panel-0 {
  min-width: unset;
  max-width: unset;
}
::ng-deep #mat-menu-panel-1 {
  min-width: unset;
  max-width: unset;
}

::ng-deep snack-bar-container span {
  margin: auto;
  text-align: center;
}

::ng-deep .deposit-menu.mat-menu-panel {
  width: 100px;
  .mat-menu-content {
    margin: 0;
    button {
      text-align: center;
      color: #55311b;
      font-size: 24px;
      font-family: "robotoMedium";
    }
  }
}

#MobileMenu {
  > * {
    padding: 1vh 2vw;
  }
}

#BundallSch {

  .scheduler-container {
    top: -200px;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      align-items: start;
      justify-content: center;
    }
  }
  .scheduler {
    padding-left: 40px;
  }

  .scheduler-icon {
    top: 0px;
    left: -40px;
  }
}
#Schedule2 {
  p {
    margin: 2vh 4vw;
  }
}

:host {


  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-top {
    top: 0px !important;
    position: unset !important;
  }

  .input-1 {
    border: 1px solid #cccccc;
    width: 100px;
    height: 29px;
    border-radius: 4px;
    background: white;
    display: flex;
    input {
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding-left: 12px;
      font-size: 12px;
    }
    input:focus {
      outline: none;
    }
    .amount {
      width: 140px;
    }
    .sign {
      height: 30px;
      width: 60px;
      background: #cccccc;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .book1 {
    border-radius: 37px;
    background: $color-orange;
    padding: 12px 12px;
    border: 0;
    outline: none;
  }
  .book2 {
    border-radius: 37px;
    background: #015c50;
    padding: 12px 12px;
    border: 0;
    outline: none;
  }
  .book3 {
    border-radius: 37px;
    background: $color-orange;
    padding: 12px 12px;
    border: 0;
    outline: none;
    align-self: center;
    margin-top: auto;
  }

  .calculate {
    border-radius: 37px;
    background: $color-orange;
    border: 0;
    outline: none;
  }

  .slider {
    .steps {
      flex: 1;
      margin: 0 16px;
      justify-content: space-between;
      .pointer {
        img {
          max-width: unset;
        }
      }
    }
  }

  width: 100%;
  z-index: 10;
  position: absolute;
  .whiteStyle button.onlineBooking p,
  .blackStyle button.onlineBooking p {
    color: white;
    transition: color 1000ms linear;
    margin: 0;
  }
  .whiteStyle .icons {
    fill: white;
    transition: fill 1000ms linear;
    opacity: 1;
  }
  .blackStyle .icons {
    fill: black;
    transition: fill 1000ms linear;
    opacity: 0.8;
  }
  .whiteStyle .inclined {
    stroke: white;
    transition: stroke 1000ms linear;
    opacity: 0.4;
  }
  .blackStyle .inclined {
    stroke: black;
    transition: stroke 1000ms linear;
    opacity: 0.4;
  }
  .header.whiteStyle {
    background-color: transparent;
    transition: background-color 1000ms linear;
  }
  .header.blackStyle {
    background-color: white;
    transition: background-color 1000ms linear;
  }
  .whiteStyle button p {
    color: white;
    transition: color 1000ms linear;
  }
  .whiteStyle svg .svgFill {
    fill: white;
    transition: fill 1000ms linear;
  }
  .blackStyle svg .svgFill {
    fill: black;
    transition: fill 1000ms linear;
  }
  .blackStyle p {
    color: #565960;
    transition: color 1000ms linear;
  }
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    p {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  button.onlineBooking {
    background: #015c50;
    border-radius: 38px;
    padding: 12px 30px;
  }

  p {
    margin: 0;
  }

  .header {
    padding: 24px 4vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 129px;

    .logo svg {
      cursor: pointer;
    }

    .smallMenu {
      align-self: flex-end;
      margin-right: 1vw;
      margin-bottom: 14px;
      .noPointer {
        cursor: default;
        p {
          cursor: default;
        }
      }
    }

    .menu {
      width: 100%;

      .payment-plan-active {
        font-family: "libreItalic";
        color: #85920d;
        font-size: 18px;
      }
      .active-text {
        color: $color-brown;
        font-family: "robotoBold";
      }
    }

    .menu2 {
      width: 100%;
      padding: 0 20px;
    }

    .logo svg .black {
      fill: black;
      transition: fill 1000ms linear;
    }
  }

  .subHeader {
    z-index: 1;
    //background: rgba(167, 149, 138, 0.2);
    background-color: #e9dcd7;
    height: 88px;
    position: relative;
    top: 129px;
    &.fixed-position {
      position: fixed;
      width: 100%;
      background-color: #e9dcd7;
    }
    &.fixed-health-position {
      position: fixed;
      width: 100%;
      background-color: rgb(237, 234, 232);
    }
    &.health2-fixed-position {
      top: 217px;
    }

    .active {
      background: $color-dirty-white;
      .imageTextCard {
        opacity: 0.2;
      }
    }

    .text-container {
      padding-right: 2vw;
    }

    > * {
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 1201px) {
    .menu2 {
      display: none !important;
    }
    #Schedule2 {
      display: none !important;
    }
    .subHeader {
      .imageTextCard {
        padding-right: 2vw;
      }
    }

    #MiniCalculate {
      padding: 12px 12px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .menu {
      display: none !important;
    }
    #Schedule2 {
      display: none !important;
    }

    .header {
      justify-content: space-between !important;
    }

    .subHeader {
      justify-content: space-around;
      .imageTextCard {
        display: none;
      }
      text-align: center;
      > * {
        flex: 1 1 auto !important;
        place-content: center center !important;
      }
    }
    #MiniCalculate {
      padding: 18px 36px;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    #MiniCalculate {
      padding: 12px 24px;
    }
    .menu {
      display: none !important;
    }
    .header {
      justify-content: space-between !important;
      padding: 12px 4vw;
      height: 80px;
    }

    .loc {
      display: none !important;
    }

    #Schedule {
      display: none !important;
    }

    .logo svg {
      width: 80px;
    }

    .subHeader {
      justify-content: space-around;
      position: relative;
      height: 80px;
      top: 80px;
      .imageTextCard {
        display: none;
      }
      > * {
        flex: 1 1 auto !important;
        place-content: center center !important;
      }

      &.health2-fixed-position {
        top: 160px;
      }
    }
  }

  .dialog-popout {
    padding: 24px;
    border-radius: 4px;
    background: white;
    width: 220px;
    opacity: 0;
    top: 0;
    right: 0;
    transition: all 1s;
  }

  #LiveChat:hover ~ #DialogPopout1 {
    opacity: 1;
    transform: translate(0, -110px);
    transition: all 1s;
  }
  #CalculatorLink:hover ~ #DialogPopout2 {
    opacity: 1;
    transform: translate(0, -110px);
    transition: all 1s;
  }
}

@media only screen and (min-width: 1201px) {
  #Schedule2 {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  #Schedule2 {
    display: none !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  #Schedule {
    display: none !important;
  }
}
