<div fxLayout="column" fxLayout="center center">
  <div fxLayout fxLayoutAlign="center center" style="width: 100%">
    <app-smile-card
      imageUrl="../../assets/homePage/group.png"
      layoutDirection="row-reverse"
      title="Have a question<br> for ProudSmile?<br> <span class='it'>Just text us.</span>"
      index="EASY TO TALK TO"
      text="Any questions? Our team will respon to any questions you may have about the practice or your dento - facial needs."
    >
    </app-smile-card>
  </div>

  <div class="horizontalLine"></div>

  <div class="subscribeSection" fxLayout fxLayoutAlign="center center" fxLayoutGap="8vw">
    <div class="subscribeSectionImage">
        <img src="../../assets/homePage/couch.png">
    </div>
    <div class="subscribeCard" fxLayout="column" fxLayoutAlign="center start">
        <div class="subscribeCardIcon">
            <img src="../../assets/homePage/arrow.png" />
        </div>
        <div class="subscribeCardTitle">
            <p>We'll make the first move, what`s your email?</p>
        </div>
        <div class="subscribeCardSubtitle">
            <p>No commitments, unsubscribe anytime.</p>
        </div>
        <div class="subscribeCardInput">
sddsf
        </div>
        <div class="subscribeCardText">
<p>I give my consent that mt personal information can be collected and used according to the Privacy Policy</p>
        </div>
        <div class="subscribeCardButtons">
<button>SUBSCRIBE</button>
        </div>
    </div>
  </div>

  <div class="horizontalLine"></div>

  <div fxLayout fxLayoutAlign="center" fxLayoutGap="12vw" class="footerMenu">
    <div fxLayout="column" fxLayoutAlign=" start">
      <p class="menuTitle">Category One</p>
      <p>Menu One</p>
      <p>Menu Two</p>
      <p>Menu Three</p>
      <p>Menu Four</p>
    </div>
    <div fxLayout="column">
      <p class="menuTitle">Category Two</p>
      <p>Menu One</p>
      <p>Menu Two</p>
      <p>Menu Three</p>
      <p>Menu Four</p>
    </div>
    <div fxLayout="column">
      <p class="menuTitle">Adress</p>
      <p>hello@proudsmile.com</p>
      <p>122 Bundall Road, Bundall QLD 4217</p>
      <p>+07 5570 3311</p>
    </div>
  </div>
  <div class="horizontalLine"></div>

  <div class="footerCopyright" fxLayout fxLayoutAlign="center">
    <div class="copyrightIcon">
      <img src="../../assets/homePage/arrow.png" />
    </div>

    <div class="footerCopyrightFirst" fxLayout="column" fxLayoutAlign="center">
      <div class="copyrightMainText">
        <p>
          © Proud Smile Dental - iPhone XR pricing is after trade‑in of iPhone 7
          Plus in good condition. Monthly pricing requires a 24‑month
          installment loan with a 0% APR, and iPhone activation. Applicable
          sales tax and fees due at time of purchase. Last payment may be less
          depending on remaining balance.
        </p>
      </div>
      <div class="copyrightMenu" fxLayout fxLayoutGap="2vw">
        <div><p>PRIVACY</p></div>
        <div><p>TERMS AND CONDITIONS</p></div>
        <div><p>HELP</p></div>
      </div>
    </div>

    <div class="footerCopyrightSecond" fxLayout="column" fxLayoutAlign="center end">
      <div class="copyrightSecondaryText">
        <p>
          MADE WITH PRIDE BY PROUD SMILE CLINIC. ALL RIGHTS AND COPYRIGHTS
          RESERVED 2019
        </p>
      </div>
      <div class="copyrightMenuIcons" fxLayout fxLayoutGap="2vw">
        <div><img src="../../assets/homePage/arrow.png" /></div>
        <div><img src="../../assets/homePage/arrow.png" /></div>
        <div><img src="../../assets/homePage/arrow.png" /></div>
      </div>
    </div>
  </div>
</div>
