<div class="color-brown background-46 margin-top-7">
  <div
    class="padding-chef padding-top-3 center-text margin-bottom-2 absolute-container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-bold font-large">
      <p>
        Implant<br />
        Dentures
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Your dentures, anchored</p>
    </div>
    <div class="font-lion padding-loc roboto-medium">
      <p>
        Dentures have long been the choice of rehabilitation for patients with
        no teeth, however they are believed toreduce the eating ability by 80%
        compared to having natural teeth. That is because they rely solely on
        the gums for mechanical retention and stability, making them prone to
        slipping and getting out of place.<br /><br />
        What if we could substantially increase stability on your dentures with
        as little as 2 implants? With Dental Implants we can increase stability
        of your denture by creating “attachments" on the inner part of the
        denture and these will then create friction to the head of the implants
        placed in the jaw bone. For the lower jaw we only require 2 implants and
        on the upper jaw we require 4 at least.
      </p>
    </div>
  </div>

  <div class="" style="min-width: 1000px; padding-top: 11vw">
    <img src="../../../../assets/implants/ImplantDentures/Carrot.png" />
  </div>
</div>

<div class="">
  <video class="full-width" preload="auto" muted #overdentureVideo loop>
    <source
      src="../../../../assets/implants/ImplantDentures/overdenture.mp4"
      type="video/mp4"
    />
  </video>
</div>

<div
  class="padding-chef color-brown background-47 padding-top-3"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="font-tiger padding-captain roboto-medium margin-bottom-10">
      <p>
        One of the great advantages of this approach is the cost since we’re
        only placing implants and keeping your original denture with a simple
        modification.
      </p>
    </div>
  </div>
  <div class="box margin-bottom-2 flexy-column cccc relative-container">
    <div class="flexy-row margin-bottom-1 cccc margin-top-3">
      <div class="flexy-column margin-right-2 margin-bottom-on-sm cccc">
        <div class="flexy-row">
          <div
            class="roboto-medium font-medium color-brown opacity-4 margin-bottom-7"
          >
            <p>TREATMENT START AT</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$3500</p>
        </div>

        <div class="flexy-row">
          <div
            class="roboto-medium font-medium color-brown opacity-4 margin-bottom-7"
          >
            <p>FOR THE LOWER JAW</p>
          </div>
        </div>
      </div>
      <div class="flexy-column margin-right-2 cccc hide-on-sm">
        <div class="vertical-line-1" style="margin-bottom: 8px"></div>
      </div>
      <div class="flexy-column cccc margin-bottom-on-sm">
        <div class="flexy-row">
          <div
            class="roboto-medium font-medium color-brown opacity-4 margin-bottom-7"
          >
            <p>AND</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$5500</p>
        </div>

        <div class="flexy-row">
          <div
            class="roboto-medium font-medium color-brown opacity-4 margin-bottom-7"
          >
            <p>FOR THE UPPER JAW</p>
          </div>
        </div>
      </div>
    </div>
    <div class="font-small-3 padding-captain roboto-medium margin-bottom-4">
      <p class="center-text">
        This also suits people who have had a denture for a while and are
        accustomed to them but just want to them stable and not moving all the
        time.
      </p>
    </div>
    <div class="absolute-container" style="bottom: -10px">
      <img src="../../../../assets/healthPage/Invisalign/wave_1.svg" />
    </div>
  </div>
</div>
