<div class="contact-section">
  <div class="font-large color-brown libre-regular center-text title">
    <p>
      Let’s talk about <span class="libre-italic">everything</span> at one of
      our
      <span class="libre-italic">different locations</span>
    </p>
  </div>

  <div class="relative-container fix-text-0 color-white map-image-container">
    <img
      class="absolute-container map-image"
      src="../../../assets/contactPage/map2.png"
    />
    <img
      class="absolute-container australia"
      src="../../../assets/contactPage/australia.svg"
    />
    <img
      class="absolute-container box1"
      src="../../../assets/contactPage/box1.png"
    />
    <img
      class="absolute-container box-index-1"
      src="../../../assets/contactPage/boxIndex1.svg"
    />
    <div
      class="absolute-container location bundall-clinic"
      fxLayout="column"
      fxLayoutAlign="center start"
      (click)="
        goToLink(
          'https://www.google.com/maps/place/122+Bundall+Rd,+Bundall+QLD+4217,+Australia/@-28.0028123,153.4112304,17z/data=!3m1!4b1!4m5!3m4!1s0x6b91053e4cd19727:0xb387e4414c1befe!8m2!3d-28.0028123!4d153.4134191'
        )
      "
    >
      <p class="robotoBold">Bundall Clinic</p>
      <div fxLayout fxLayoutGap="8px">
        <p class="roboto-regular">Get Google Direction</p>
        <img src="../../../assets/contactPage/arrow.svg" />
      </div>
    </div>
    <img
      class="absolute-container box2"
      src="../../../assets/contactPage/box2.png"
    />
    <img
      class="absolute-container box-index-2"
      src="../../../assets/contactPage/boxIndex2.svg"
    />
    <div
      class="absolute-container location pacific-clinic"
      fxLayout="column"
      fxLayoutAlign="center start"
      (click)="
        goToLink(
          'https://www.google.com/maps/place/Shop+82%2F2+Hooker+Blvd,+Broadbeach+Waters+QLD+4218,+Australia/@-28.0361695,153.4248096,17z/data=!3m1!4b1!4m5!3m4!1s0x6b9104f01a388917:0xc25aec7b86498089!8m2!3d-28.0361743!4d153.4269983'
        )
      "
    >
      <p class="robotoBold">Pacific Fair Shopping</p>
      <div fxLayout fxLayoutGap="8px">
        <p class="robotoRegular">Get Google Direction</p>
        <img src="../../../assets/contactPage/arrow.svg" />
      </div>
    </div>
  </div>

  <div
    class="roboto-regular color-brown relative-container scheduler-container"
  >
    <div fxLayout="column" fxLayoutGap="4vh">
      <div>
        <img loading="lazy" src="../../../assets/contactPage/bundall.png" />
      </div>
      <div
        class="font-small"
        fxLayout
        fxLayoutAlign="start center"
        fxLayoutGap="1vw"
      >
        <div>
          <img loading="lazy" src="../../../assets/contactPage/1.png" />
        </div>
        <p>Proud Smile - <span class="roboto-bold">Bundall</span></p>
      </div>
      <div
        class="fix-text-1 scheduler"
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap="2vh"
      >
        <div class="relative-container">
          <div>
            <p>122 Bundall Road (opposite to HOTA)<br />Bundall, QLD 4217</p>
          </div>
          <div
            class="color-orange roboto-bold link-1 cursor-pointer"
            fxLayout
            (click)="
              goToLink(
                'https://www.google.com/maps/place/122+Bundall+Rd,+Bundall+QLD+4217,+Australia/@-28.0028123,153.4112304,17z/data=!3m1!4b1!4m5!3m4!1s0x6b91053e4cd19727:0xb387e4414c1befe!8m2!3d-28.0028123!4d153.4134191'
              )
            "
          >
            <p>Get Google Directions</p>
            <img loading="lazy" src="../../../assets/contactPage/arrow-2.svg" />
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/marker.svg" />
          </div>
        </div>
        <div>
          <p>
            <span class="roboto-bold">07 5570 3311</span
            ><br /><br />info@proudSmile.com.au
          </p>
        </div>
        <div class="relative-container" fxLayout fxLayoutGap="4vw">
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p class="opacity-5">Saturday</p>
            <p class="opacity-5">Sunday</p>
          </div>
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 7:00 PM</p>
            <p>8:30 AM - 6:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p class="opacity-5">Closed</p>
            <p class="opacity-5">Closed</p>
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/clock.svg" />
          </div>
        </div>
      </div>
      <button
        class="button-1 color-orange"
        fxFlexAlign="center"
        (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490'
          )
        "
      >
        <img src="../../../assets/contactPage/calendar.svg" />
        <p>Instant Online Booking</p>
      </button>
    </div>

    <div class="vertical-line" fxFlexAlign="end"></div>

    <div fxLayout="column" fxLayoutGap="4vh">
      <div>
        <img loading="lazy" src="../../../assets/contactPage/pacific.png" />
      </div>
      <div
        class="font-small"
        fxLayout
        fxLayoutAlign="start center"
        fxLayoutGap="1vw"
      >
        <div>
          <img loading="lazy" src="../../../assets/contactPage/2.png" />
        </div>
        <p>Proud Smile - <span class="roboto-bold">Pacific Fair Mall</span></p>
      </div>
      <div
        class="fix-text-1 scheduler"
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap="2vh"
      >
        <div class="relative-container">
          <div>
            <p>Shop 82, 2 Hooker Boulevard<br />Broadbeach Waters, QLD 4218</p>
          </div>
          <div
            class="color-orange roboto-bold link-1 cursor-pointer"
            fxLayout
            (click)="
              goToLink(
                'https://www.google.com/maps/place/Shop+82%2F2+Hooker+Blvd,+Broadbeach+Waters+QLD+4218,+Australia/@-28.0361695,153.4248096,17z/data=!3m1!4b1!4m5!3m4!1s0x6b9104f01a388917:0xc25aec7b86498089!8m2!3d-28.0361743!4d153.4269983'
              )
            "
          >
            <p>Get Google Directions</p>
            <img loading="lazy" src="../../../assets/contactPage/arrow-2.svg" />
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/marker.svg" />
          </div>
        </div>
        <div>
          <p>
            <span class="roboto-bold">07 5538 6277</span
            ><br /><br />info@proudSmile.com.au
          </p>
        </div>
        <div class="relative-container" fxLayout fxLayoutGap="4vw">
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p class="opacity-5">Saturday</p>
            <p class="opacity-5">Sunday</p>
          </div>
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 7:00 PM</p>
            <p>8:30 AM - 6:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p class="opacity-5">Closed</p>
            <p class="opacity-5">Closed</p>
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/clock.svg" />
          </div>
        </div>
      </div>
      <button
        class="button-1 color-orange"
        fxFlexAlign="center"
        (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490'
          )
        "
      >
        <img loading="lazy" src="../../../assets/contactPage/calendar.svg" />
        <p>Instant Online Booking</p>
      </button>
    </div>
  </div>
</div>

<div
  class="padding-chef padding-top-bottom-1 firstSection background-37 flexy-row-w"
>
  <div class="color-gray-dark flexy-column text-container">
    <div
      class="lineAndText flexy-row cscc font-extra-small opacity-5 roboto-medium"
    >
      <div class="line width-1"></div>
      <p>EASY TO TALK TO</p>
    </div>
    <div class="font-dog libre-regular">
      <p>
        Have a question<br />
        for ProudSmile?<br />
        <span class="libre-italic"
          >Just chat to us, in<br />
          your own time.</span
        >
      </p>
    </div>
    <div class="mainText max-width-1 font-small roboto-regular">
      <p>Chat to us in real time and in your own time.</p>
    </div>
    <app-button (click)="onContactPage()" text="GET IN TOUCH"></app-button>
  </div>
  <div>
    <img loading="lazy" src="../../assets/footer/chat.png" />
  </div>
</div>

<div
  class="instaSection background-17 color-white padding-top-bottom-1 relative-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="instaFeed">
    <div class="text margin-bottom-1 padding-chef">
      <div class="leftText roboto-medium font-extra-small">
        <p>OUR INSTAGRAM FEED</p>
      </div>
      <div
        class="rightText roboto-medium font-extra-small"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="1vw"
        (click)="goToLink('https://www.instagram.com/proud.smile.dental/')"
      >
        <div>
          <img loading="lazy" src="../../../assets/homePage/instagram.svg" />
        </div>
        <p>Follow ProudSmile on Instagram</p>
      </div>
    </div>

    <ng-image-slider
      [infinite]="true"
      [autoSlide]="3"
      [showArrow]="false"
      [images]="imageObject"
      #nav
    ></ng-image-slider>
  </div>
  <div class="instaTitle" fxLayout="column" fxLayoutAlign="start center">
    <div class="year">
      <img loading="lazy" src="../../../assets/homePage/2019.svg" />
    </div>
    <div class="text roboto-regular font-wolf margin-bottom-1">
      <p>
        We take pride in our work. Until now<br />
        we have
        <span class="roboto-bold"
          >578 Completed Cases, 26<br />
          Dedicated Partners and 789 Clients</span
        >
        all<br />
        Over The Worldwide
      </p>
    </div>
    <app-button text="Let’s tell your story next"></app-button>
  </div>
</div>
