@import "../../../proud-smile-style.scss";

::ng-deep .ng-image-slider {
  height: 300px !important;
  .main {
    height: 300px !important;
    .img-div {
      box-shadow: unset !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
      width: 171px !important;
      img {
        bottom: unset !important;
        height: unset !important;
      }
    }
  }
}

::placeholder {
  opacity: 0.3;
  font-family: "robotoRegular";
  font-size: 28px;
}

:host {
  .contact-section {
    background: linear-gradient(
      to bottom,
      $color-gray-light 0%,
      $color-gray-light 20%,
      white 50%,
      white 100%
    );
  }
  .no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .instaSection {
    .instaFeed {
      width: 100%;
      .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .rightText {
          cursor: pointer;
        }
      }
    }
    .instaTitle {
      position: relative;
      margin-top: 20vh;
      .year {
        position: absolute;
        top: -16vh;
      }
      .text {
        z-index: 1;
        text-align: center;
      }
    }
  }

  .title {
    padding-left: calc(7.09em - 157.38px);
    padding-right: calc(7.09em - 157.38px);
    position: relative;
    bottom: -240px;
    z-index: 1;
  }

  .map-image-container {
    background-image: url("../../../assets/contactPage/background_pattern.png");
    height: 1429px;
    .map-image {
      left: 50%;
      margin-left: calc(-1656.8px + 4vw);
      max-width: unset;
    }
    .location {
      cursor: pointer;
    }
    .australia {
      right: 0;
      margin-right: 3vw;
      top: 50%;
      margin-top: -333px;
    }
    .box1 {
      left: 50%;
      margin-left: calc(-262px + 4vw);
      top: 50%;
      margin-top: -344px;
    }
    .box-index-1 {
      left: 50%;
      margin-left: calc(-250px + 4vw);
      top: 50%;
      margin-top: -331px;
    }
    .bundall-clinic {
      left: 50%;
      margin-left: calc(-208px + 4vw);
      top: 50%;
      margin-top: -341px;
    }
    .box2 {
      left: 50%;
      margin-left: calc(-18.8px + 4vw);
      top: 50%;
      margin-top: 254px;
    }
    .box-index-2 {
      left: 50%;
      margin-left: calc(-7.8px + 4vw);
      top: 50%;
      margin-top: 266px;
    }
    .pacific-clinic {
      left: 50%;
      margin-left: calc(37.8px + 4vw);
      top: 50%;
      margin-top: 258px;
    }
  }

  .scheduler-container {
    top: -200px;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    > :nth-child(1) {
      margin-right: 5.3vw;
    }
    > :nth-child(2) {
      margin-right: 5.3vw;
    }
    > * {
      margin-bottom: 4vh;
      align-items: start;
      justify-content: center;
    }
  }

  .vertical-line {
    border-left: 2px solid;
    height: 100%;
    background: $color-brown;
    opacity: 0.1;
    height: 430px;
    margin-bottom: 8vh;
  }

  .scheduler {
    padding-left: 6vw;
  }

  .scheduler-icon {
    top: 0px;
    left: -40px;
  }
  .firstSection {
    align-items: center;
    justify-content: center;
    app-button,
    .mainText {
      margin-top: 4.1vh;
    }
    .lineAndText {
      margin-bottom: 2vh;
      .line {
        border-top: 1px solid #565960;
      }
      p {
        margin-left: 1vw;
      }
    }
  }

  .contact-form {
    width: 100%;
    border-collapse: collapse;
    td,
    th {
      border: 2px solid #d4d4d4;
      padding: 24px;
    }
    input {
      border: none;
      outline: transparent;
      background: transparent;
      font-size: 28px;
    }
    textarea {
      border: none;
      width: 100%;
      outline: transparent;
      background: transparent;
      font-size: 28px;
      font-family: "robotoRegular";
      resize: none;
    }
  }

  @media only screen and (min-width: 1201px) {
    .scheduler-container {
      flex-direction: row;
    }
    .firstSection {
      .text-container {
        align-items: flex-start;
        justify-content: flex-start;
      }
      .text-container {
        padding-right: calc(17.22vw - 176.66px);
      }
      .mainText {
        max-width: 460px;
      }
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .vertical-line {
      display: none;
    }
    .scheduler-container {
      top: -100px;
      flex-direction: column;
      > :nth-child(1) {
        margin-right: 0px;
      }
      > * {
        margin-right: 0px;
        align-items: center;
        justify-content: center;
      }
    }
    .test {
      width: 560px;
    }
    .firstSection {
      .text-container {
        align-items: center;
        justify-content: center;
      }
      p {
        text-align: center;
      }
      .text-container {
        padding-bottom: 8vh;
      }
      .mainText {
        max-width: 410px;
      }
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .firstSection {
      .text-container {
        align-items: center;
        justify-content: center;
      }
      p {
        text-align: center;
      }
      .text-container {
        padding-bottom: 4vh;
      }
      .mainText {
        max-width: 288px;
      }
    }

    .instaSection {
      .instaFeed {
        .text {
          flex-direction: column;
        }
      }
    }
    .vertical-line {
      display: none;
    }
    .scheduler {
      padding-left: 10vw;
    }
    .scheduler-container {
      top: -100px;
      flex-direction: column;
      > :nth-child(1) {
        margin-right: 0px;
      }
      > * {
        margin-right: 0px;
        align-items: center;
        justify-content: center;
      }
    }
    .scheduler-icon {
      left: -30px;
    }
    .test {
      width: 290px;
    }
    .map-image-container {
      .map-image {
        margin-left: calc(-1753.8px + 4vw);
      }
      .australia {
        margin-top: -170px;
        right: 50%;
        margin-right: -134px;
      }
      .box1 {
        transform: scaleX(-1);
        margin-left: calc(-130.8px + 4vw);
      }
      .box-index-1 {
        margin-left: calc(78.8px + 4vw);
      }
      .bundall-clinic {
        margin-left: calc(-98.8px + 4vw);
      }
      .box2 {
        margin-left: calc(-115.8px + 4vw);
      }
      .box-index-2 {
        margin-left: calc(-104.8px + 4vw);
      }
      .pacific-clinic {
        margin-left: calc(-60.8px + 4vw);
      }
    }
  }
}
