<div class="contact-section">
  <div class="font-large color-brown libre-regular center-text title">
    <p>
      Let’s talk about <span class="libre-italic">everything</span> at one of
      our
      <span class="libre-italic">different locations</span>
    </p>
  </div>

  <div class="relative-container fix-text-0 color-white map-image-container">
    <img
      class="absolute-container map-image"
      src="../../../assets/contactPage/map2.png"
    />
    <img
      class="absolute-container australia"
      src="../../../assets/contactPage/australia.svg"
    />
    <img
      class="absolute-container box1"
      src="../../../assets/contactPage/box1.png"
    />
    <img
      class="absolute-container box-index-1"
      src="../../../assets/contactPage/boxIndex1.svg"
    />
    <div
      class="absolute-container location bundall-clinic"
      fxLayout="column"
      fxLayoutAlign="center start"
      (click)="goToLink('https://goo.gl/maps/QVq3uhoXnVFc3K7f7')"
    >
      <p class="robotoBold">Bundall Clinic</p>
      <div fxLayout fxLayoutGap="8px">
        <p class="roboto-regular">Get Google Direction</p>
        <img src="../../../assets/contactPage/arrow.svg" />
      </div>
    </div>
    <img
      class="absolute-container box2"
      src="../../../assets/contactPage/box2.png"
    />
    <img
      class="absolute-container box-index-2"
      src="../../../assets/contactPage/boxIndex2.svg"
    />
    <div
      class="absolute-container location pacific-clinic"
      fxLayout="column"
      fxLayoutAlign="center start"
      (click)="goToLink('https://goo.gl/maps/AidkYdrsa85eDDtH9')"
    >
      <p class="robotoBold">Pacific Fair Shopping</p>
      <div fxLayout fxLayoutGap="8px">
        <p class="robotoRegular">Get Google Direction</p>
        <img src="../../../assets/contactPage/arrow.svg" />
      </div>
    </div>
  </div>

  <div
    class="roboto-regular color-brown relative-container scheduler-container"
  >
    <div fxLayout="column" fxLayoutGap="4vh">
      <div>
        <img class="bundallImage" loading="lazy" src="../../../assets/contactPage/Bundall_1.png" />
      </div>
      <div
        class="font-small"
        fxLayout
        fxLayoutAlign="start center"
        fxLayoutGap="1vw"
      >
        <div>
          <img loading="lazy" src="../../../assets/contactPage/1.png" />
        </div>
        <p>Proud Smile - <span class="roboto-bold">Bundall</span></p>
      </div>
      <div
        class="fix-text-1 scheduler"
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap="2vh"
      >
        <div>
          <ul style="padding: 0">
            <li>Free Private Parking available</li>
            <li>All health funds accepted</li>
            <li>Gap Free New Patient Exam for all funds</li>
            <li>Preferred Providers for HCF, CBHS</li>
            <li>FaceSpa Dermal Aesthetics Services</li>
            <li>Platinum Invisalign Clinic Award</li>
            <li>Platinum Invisalign Provider Award (Dr. Erwin Vasconcelos)</li>
          </ul>
        </div>

        <div class="relative-container">
          <div>
            <p>122 Bundall Road (opposite to HOTA)<br />Bundall, QLD 4217</p>
          </div>
          <div
            class="color-orange roboto-bold link-1 cursor-pointer"
            fxLayout
            (click)="goToLink('https://goo.gl/maps/QVq3uhoXnVFc3K7f7')"
          >
            <p>Get Google Directions</p>
            <img loading="lazy" src="../../../assets/contactPage/arrow-2.svg" />
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/marker.svg" />
          </div>
        </div>
        <div>
          <p>
            <span class="roboto-bold" style="cursor: pointer;" (click)="goToLinkWithotNewTab('tel:0755703311')">07 5570 3311</span
            ><br /><br /><span style="cursor: pointer;" (click)="goToMail('bundall@proudsmile.com.au')">bundall@proudsmile.com.au</span>
          </p>
        </div>
        <div class="relative-container" fxLayout fxLayoutGap="4vw">
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p class="opacity-5">Saturday</p>
            <p class="opacity-5">Sunday</p>
          </div>
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 7:00 PM</p>
            <p>8:30 AM - 6:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p class="opacity-5">Closed</p>
            <p class="opacity-5">Closed</p>
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/clock.svg" />
          </div>
        </div>
      </div>
      
      <button
        class="button-1 color-fuscia roboto-medium font-extra-small-2"
        fxFlexAlign="center"
        (click)="onBundallLanding()"
      >
        <p>Visit our Bundall Page</p>
      </button>

      <button
        class="button-1 color-fuscia roboto-medium font-extra-small-2"
        fxFlexAlign="center"
        (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
          )
        "
      >
        <img src="../../../assets/contactPage/calendar.svg" />
        <p>Instant Online Booking</p>
      </button>
    </div>

    <div class="vertical-line" fxFlexAlign="end"></div>

    <div fxLayout="column" fxLayoutGap="4vh">
      <div style="align-self:center;">
        <img class="PacImage" loading="lazy" src="../../../assets/contactPage/pac_fair_2.png" />
      </div>
      <div
        class="font-small"
        fxLayout
        fxLayoutAlign="start center"
        fxLayoutGap="1vw"
      >
        <div>
          <img loading="lazy" src="../../../assets/contactPage/2.png" />
        </div>
        <p>Proud Smile - <span class="roboto-bold">Pacific Fair Mall</span></p>
      </div>
      <div
        class="fix-text-1 scheduler"
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap="2vh"
      >
        <div>
          <ul style="padding: 0">
            <li>5 hours Free Mall Parking</li>
            <li>All health funds accepted</li>
            <li>Gap Free New Patient Exam for all funds</li>
            <li>Preferred Providers for Medibank Private, Bupa and HCF</li>
            <li>FaceSpa Express Services - Injectables only</li>
            <li>Platinum Invisalign Clinic Award</li>
            <li style="visibility: hidden"></li>
          </ul>
        </div>
        <div class="relative-container">
          <div>
            <p>Shop 82, 2 Hooker Boulevard<br />Broadbeach Waters, QLD 4218</p>
          </div>
          <div
            class="color-orange roboto-bold link-1 cursor-pointer"
            fxLayout
            (click)="goToLink('https://goo.gl/maps/AidkYdrsa85eDDtH9')"
          >
            <p>Get Google Directions</p>
            <img loading="lazy" src="../../../assets/contactPage/arrow-2.svg" />
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/marker.svg" />
          </div>
        </div>
        <div>
          <p>
            <span class="roboto-bold" style="cursor: pointer;" (click)="goToLinkWithotNewTab('tel:0755386277')">07 5538 6277</span
            ><br /><br /><span style="cursor: pointer;" (click)="goToMail('pacfair@proudsmile.com.au')">pacfair@proudsmile.com.au</span>
          </p>
        </div>
        <div class="relative-container" fxLayout fxLayoutGap="4vw">
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p>Saturday</p>
            <p class="opacity-5">Sunday</p>
          </div>
          <div fxLayout="column" fxLayoutGap="1vh">
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>8:30 AM - 5:30 PM</p>
            <p>By appointment only</p>
            <p class="opacity-5">Closed</p>
          </div>
          <div class="absolute-container scheduler-icon">
            <img loading="lazy" src="../../../assets/contactPage/clock.svg" />
          </div>
        </div>
      </div>
      
      <button
        class="button-1 color-fuscia roboto-medium font-extra-small-2"
        fxFlexAlign="center"
        (click)="onPacificLanding()"
      >
        <p>Visit our Pacific Fair Page</p>
      </button>
      <button
        class="button-1 color-fuscia roboto-medium font-extra-small-2"
        fxFlexAlign="center"
        (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=3485830&bLocationSelectionDisabled=true'
          )
        "
      >
        <img loading="lazy" src="../../../assets/contactPage/calendar.svg" />
        <p>Instant Online Booking</p>
      </button>
    </div>
  </div>
</div>

<!-- <div
  class="padding-chef padding-top-bottom-1 firstSection background-37 flexy-row-w"
>
  <div class="color-gray-dark flexy-column text-container">
    <div
      class="lineAndText flexy-row cscc font-extra-small opacity-5 roboto-medium"
    >
      <div class="line width-1"></div>
      <p>EASY TO TALK TO</p>
    </div>
    <div class="font-dog libre-regular">
      <p>
        Have a question<br />
        for ProudSmile?<br />
        <span class="libre-italic">Talk to us.</span>
      </p>
    </div>
    <div class="mainText max-width-1 font-small roboto-regular">
      <p>
        Any questions? Our team will respond to any questions you may have about
        the practice or your dento - facial needs.
      </p>
    </div>
    <app-button (click)="onContactPage()" text="GET IN TOUCH"></app-button>
  </div>
  <div>
    <img loading="lazy" src="../../assets/footer/chat.png" />
  </div>
</div> -->

<div id="contact-form" class="flexy-column padding-chef padding-top-bottom-1">
  <div class="center-text color-brown margin-bottom-10">
    <div class="libre-regular font-dog margin-bottom-1">
      <p>Ready <span class="libre-italic">when you are</span></p>
    </div>
    <div
      class="padding-chef font-medium margin-bottom-7"
      style="max-width: 600px"
    >
      <p>
        Don't be shy, you can ask us anything, you can attach pictures of your teeth too. Fill in the form below and we
        will get back to you within 1 business day.
      </p>
    </div>
    <div class="roboto-bold font-medium">
      <p>*These fields are required.</p>
    </div>
  </div>
  <div>
    <table id="ClientForm" class="hide-on-sm contact-form">
      <tr>
        <td>
          <div class="flexy-column">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p>NAME AND SURNAME*</p>
            </div>
            <div>
              <input
                #name
                class="color-brown"
                type="text"
                placeholder="Write your Name"
              />
            </div>
          </div>
        </td>
        <td>
          <div class="flexy-column">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p>YOUR EMAIL*</p>
            </div>
            <div>
              <input
                #email
                class="color-brown"
                type="text"
                placeholder="Write your email"
              />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flexy-column">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p>COMPANY</p>
            </div>
            <div>
              <input
                #company
                class="color-brown"
                type="text"
                placeholder="Your company name"
              />
            </div>
          </div>
        </td>
        <td>
          <div class="flexy-column">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p>PHONE*</p>
            </div>
            <div>
              <input
                #phone
                class="color-brown"
                type="text"
                placeholder="Write your phone number"
              />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="flexy-column">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p>MESAGE</p>
            </div>
            <div>
              <textarea
                #message
                class="color-brown"
                rows="10"
                placeholder="Write your message"
              ></textarea>
            </div>

            <div style="margin-top: 24px; display:flex; align-items: center;">
              <label style="cursor:pointer; border-radius: 37px; background: #E6437B; padding:24px 36px; border:0; outline:none; margin-top:auto; color:white" for="files" class=" roboto-bold font-extra-small-2">Attach pictures</label>
              <p style="margin-left:16px;">{{pictures}}</p>
              <input
                style="flex:1; visibility: hidden;"
                class="form-control"
                type="file"
                id="files"
                multiple
                (change)="onChange($event)"
              />
              <app-button
                style="align-self: flex-end;"
                text="SEND MESSAGE"
                (click)="onSendMessage()"
              ></app-button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <table id="ClientFormSmall" class="hide-on-big contact-form">
      <tr>
        <td>
          <div class="flexy-column" style="max-width: 75vw">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p class="left-text">NAME AND SURNAME*</p>
            </div>
            <div>
              <input
                #nameSmall
                class="color-brown"
                type="text"
                placeholder="Write your Name"
              />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flexy-column" style="max-width: 75vw">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p class="left-text">YOUR EMAIL*</p>
            </div>
            <div>
              <input
                #emailSmall
                class="color-brown"
                type="text"
                placeholder="Write your email"
              />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flexy-column" style="max-width: 75vw">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p class="left-text">COMPANY</p>
            </div>
            <div>
              <input
                #companySmall
                class="color-brown"
                type="text"
                placeholder="Your company name"
              />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="flexy-column" style="max-width: 75vw">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p class="left-text">PHONE*</p>
            </div>
            <div>
              <input
                #phoneSmall
                class="color-brown"
                type="text"
                placeholder="Write your phone number"
              />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="flexy-column" style="max-width: 75vw">
            <div
              class="color-brown roboto-bold font-extra-small-2"
              style="padding-top: 8px; padding-bottom: 8px"
            >
              <p class="left-text">MESAGE</p>
            </div>
            <div>
              <textarea
                #messageSmall
                class="color-brown"
                rows="10"
                placeholder="Write your message"
              ></textarea>
            </div>

            <!-- <input type="submit" name="send" value="Submit" class="color-white roboto-medium font-extra-small-2 cursor-pointer" style="align-self: center; margin-top: 24px"/> -->

            <div style="margin-top: 24px; display:flex; flex-direction: column; align-items: center;">
              <label style="cursor:pointer; border-radius: 37px; background: #E6437B; padding:12px 24px; border:0; outline:none; margin-top:auto; color:white" for="files" class=" roboto-bold font-extra-small-2">Attach pictures</label>
              <p style="margin-left:16px;">{{pictures}}</p>
              <input
                style="flex:1; visibility: hidden;"
                class="form-control"
                type="file"
                id="files"
                multiple
                (change)="onChange($event)"
              />
              <app-button
              style="align-self: center; margin-top: 6vw;"
              text="SEND MESSAGE"
              (click)="onSendMessageSmall()"
            ></app-button>
            </div>

            
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div
  class="instaSection background-17 color-white padding-top-bottom-2 relative-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div>
    <img loading="lazy" src="../../../assets/homePage/Social.svg" />
  </div>
  <div class="instaFeed" style="margin-top: 4vw">
    <div class="text margin-bottom-1 padding-chef">
      <div class="leftText roboto-medium font-extra-small">
        <p></p>
      </div>
      <div
        class="rightText roboto-medium font-extra-small"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="1vw"
        (click)="goToLink('https://www.instagram.com/proudsmile_dental/')"
      >
        <div>
          <img loading="lazy" src="../../../assets/homePage/instagram.svg" />
        </div>
        <p>Follow ProudSmile on Instagram</p>
      </div>
    </div>

    <ng-image-slider
      [infinite]="true"
      [autoSlide]="3"
      [showArrow]="false"
      [images]="imageObject"
      #nav
    >
    </ng-image-slider>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div style="margin-top: 2vw; margin-bottom: 2vw">
      <img
        loading="lazy"
        src="../../../assets/homePage/Becomepartofourfamily.svg"
      />
    </div>
    <app-button
      (click)="
        goToLink(
          'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
        )
      "
      text="BOOK NOW"
    ></app-button>
  </div>
</div>
