<div class="firstSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="title" fxLayout="column" fxLayoutAlign="center start">
    <div class="lineAndText" fxLayout fxLayoutAlign=" center">
      <div class="line"></div>
      <p>THE PROUD SMILE EXPERIENCE</p>
    </div>
    <div class="titleText">
      <p>
        The Clinic you’ll actually<br />
        <span class="it">Want to Visit</span>
      </p>
    </div>
  </div>

  <div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/surf.png" />
      </div>
      <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
        <div class="lineAndText" fxLayout fxLayoutAlign=" center">
          <div class="line"></div>
          <p>CUSTOM PLANS</p>
        </div>
        <div class="titleText">
          <p>A dental practice but not how you know it</p>
        </div>
        <div class="mainText">
          <p>
            The moment you walk through our doors you’ll notice something is
            different and you may even wonder if you’ve come to the right place.
            Yes, we don’t look like a dental practice and that’s totally on
            purpose, we just don’t want to. Our practice was tastefully designed
            by an architect and every aspect was carefully thought of. We’re a
            place for warm happy smiles so why should we look sterile and cold?
            Definitely not here.
          </p>
        </div>
      </div>
    </div>

    <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
        <div class="lineAndText" fxLayout fxLayoutAlign=" center">
          <div class="line"></div>
          <p>WE ARE HERE FOR YOU</p>
        </div>
        <div class="titleText">
          <p>Welcome, you’re our guest</p>
        </div>
        <div class="mainText">
          <p>
            Our lounge is intimate and comfortable so you’ll feel right at home.
            Our front office team is not hiding behind a high desk and you won’t
            see piles of paper or archives, we’re a clean and paperless
            practice, no visual solution here. Check ins are fully digital and
            synchronised and if you’ve filled out our medical form from home you
            won’t have to do a thing, just relax.
          </p>
        </div>
        <div class="horizontalLine"></div>
        <div class="mainText noMargin">
          <p>
            Most likely you won’t have to wait too much but if you do take
            advantage of a chilled glass of water or make yourself at home and
            grab a chilled lemonade from our minibar. Or better yet, just warm
            up to a freshly ground Zaraffas coffee from our machine. You’ll
            almost wish we are running behind.
          </p>
        </div>
      </div>
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/NoJudgment.png" />
      </div>
    </div>
  </div>
</div>

<div class="thirdSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>THE OFFICE</p>
      </div>
      <div class="titleText">
        <p>
          Relax, you’re at a <br />
          <span class="it">Proud Smile Dental</span>
        </p>
      </div>
      <div class="mainText">
        <p>
          At Proud Smile relaxation is taken very seriously as we understand a
          lot of our patients are usually in fear or nervous. The famous dentist
          smell was replaced by beautiful scents throughout the whole clinic,
          usually found on department stores.<br /><br />
          Sophisticated lounge music will put you at ease and natural light from
          all our rooms will feel refreshing.<br /><br />
          Large TV’s in our ceiling just above our treatment chairs means you
          can watch Netflix and your favourite shows laying back while we work
          on your teeth. We provide noise cancelling headphones which will quiet
          the sounds around you. Only thing we can’t do is popcorn.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin">
        <p>
          Exclusively to our clinic we’ve installed coloured LED lighting in our
          treatment rooms. You’ll probably have seen these in airplanes and
          research shows that our mood is greatly influenced by certain
          lighting. As a general rule we are more relaxed when there’s less
          light so our whole practice has dimmed lighting throughout. Shades of
          purple or pink will set the mood for relaxation for when we’re
          treating you and blue or green feels refreshing at the end of your
          treatment. A warm towel to refresh your face just adds the final
          touch.
        </p>
      </div>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/book.png" />
    </div>
  </div>

  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/PainFree.png" />
    </div>
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>MORE TECHNIQUES</p>
      </div>
      <div class="titleText">
        <p>Technology that comforts</p>
      </div>
      <div class="mainText">
        <p>
          Technology is often associated with things non human but for us here
          we believe in using it to our advantage to increase focus on patient
          care.<br /><br />
          Our recent investment in digital technology could easily be considered
          a water divider between old and new dentistry and it has changed the
          way we do dentistry forever.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin">
        <p>
          Instead of the old style rubber moulds we can now scan your teeth
          using state of the art 3D scanners and then from there we can produce
          a myriad of different types of restorations and appliances with nearly
          100% precision and completely outside the mouth. Less work inside the
          mouth means new heights of comfort, never seen before.<br /><br /> You’ll be truly
          amazed at what we can do but most importantly at how little we need to
          do in your mouth.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sixthSection" fxLayout="row wrap" fxLayoutAlign="end center">
  <!-- <div class="imageContainer" >
      <img src="../../../assets/whyProudSmilePage/Spa.png" />
    </div> -->
  <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
    <div class="lineAndText" fxLayout fxLayoutAlign=" center">
      <div class="line"></div>
      <p>THE OFFICE</p>
    </div>
    <div class="titleText">
      <p>FaceSpa Facial Aesthetics</p>
    </div>
    <div class="mainText">
      <p>
        Now you can trust your facial aesthetic needs with the makers of great
        smiles. That’s because we offer Anti-Wrinkle and Dermal Filler
        Injectables right here in our office. We can treat forehead lines,
        frown, crows feet, deep smile lines, lip augmentation and more. And
        we’re extremely competitive with our prices.
      </p>
    </div>
    <div class="horizontalLine"></div>
    <div
      class="faceSpa"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
      fxLayoutGap="1vw"
    >
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/SpaSmall.png" />
      </div>
      <div class="faceSpaText">
        <p>
          At FaceSpa we’re more focused on the targeted area rather than the
          number of units or mls. Our clinicians have a special eye for
          aesthetics and we understand facial proportions.
        </p>
      </div>
    </div>
  </div>
</div>
