<div
  class="color-white relative-container padding-top-5"
  fxLayout="column"
  fxLayoutAlign="center end"
>
  <div class="full-width background-image-1">
    <video class="full-width dpb" preload="auto" muted #practiceButVideo loop>
      <source
        src="../../../../assets/dentalClinic/DentalPracticeBut.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div
    class="absolute-container padding-chef top-1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
      <div class="width-1">
        <img src="../../../assets/WhiteShape.svg" />
      </div>
      <div class="libre-regular font-large">
        <p>
          You will wonder if you<br />
          came to the right place
        </p>
      </div>
      <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
      <div class="font-dog libre-regular margin-bottom-4">
        <p>
          A dental practice but <br />
          no how you know it
        </p>
      </div>
      <div class="font-lion roboto-medium padding-captain">
        <p>
          The moment you walk through our doors you’ll notice something is
          different and you may even wonder if you’ve come to the right place.
          Yes, we don’t look like a dental practice and that’s totally on
          purpose, we just don’t want to. Our practice was tastefully designed
          by an architect and every aspect was carefully thought of. We’re a
          place for warm happy smiles so why should we look sterile and cold?
          Definitely not here.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-2 padding-bottom-1 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div class="flex-1 sscc margin-right-1 no-margin-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            Welcome, you are<br />
            our guest
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Our lounge is intimate and comfortable so you’ll feel right at home.
            Our front office team is not hiding behind a high desk and you won’t
            see piles of paper or archives, we’re a clean and paperless
            practice, no visual solution here. Check ins are fully digital and
            synchronised and if you’ve filled out our medical form from home you
            won’t have to do a thing, just relax.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Most likely you won’t have to wait too much but if you do take
            advantage of a chilled glass of water or make yourself at home and
            grab a chilled lemonade from our minibar. Or better yet, just warm
            up to a freshly ground Zaraffas coffee from our machine. You’ll
            almost wish we are running behind.
          </p>
        </div>
      </div>
      <div class="flex-1 margin-bottom-on-sm">
        <img loading="lazy" src="../../../../assets/dentalClinic/guest.jpg" />
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown padding-chef padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="flexy-row-w-r sscc margin-bottom-2">
    <div class="margin-right-1 flex-1 no-margin-on-sm">
      <video
        loading="lazy"
        preload="auto"
        muted
        #roomVideo
        loop
        style="display: none"
      >
        <source
          src="../../../../assets/dentalClinic/Lights_Room.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
      <div class="font-dog libre-regular margin-bottom-1">
        <p>
          Relax, you are at<br />
          a <span class="libre-regular">Proud Smile Dental</span>
        </p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          At Proud Smile relaxation is taken very seriously as we understand a
          lot of our patients are usually in fear or nervous. The famous dentist
          smell was replaced by beautiful scents throughout the whole clinic,
          usually found on department stores.<br /><br />
          Sophisticated lounge music will put you at ease and natural light from
          all our rooms will feel refreshing.<br /><br />
          Large TV’s in our ceiling just above our treatment chairs means you
          can watch Netflix and your favourite shows laying back while we work
          on your teeth. We provide noise cancelling headphones which will quiet
          the sounds around you. Only thing we can’t do is popcorn.
        </p>
      </div>
      <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          Exclusively to our clinic we’ve installed coloured LED lighting in our
          treatment rooms. You’ll probably have seen these in airplanes and
          research shows that our mood is greatly influenced by certain
          lighting. As a general rule we are more relaxed when there’s less
          light so our whole practice has dimmed lighting throughout. Shades of
          purple or pink will set the mood for relaxation for when we’re
          treating you and blue or green feels refreshing at the end of your
          treatment. A warm towel to refresh your face just adds the final
          touch.
        </p>
      </div>
    </div>
  </div>

  <div class="flexy-row-w sscc">
    <div
      class="flex-1 sscc margin-right-1 margin-bottom-on-sm"
      fxLayout="column"
    >
      <div class="font-dog libre-regular margin-bottom-1">
        <p>Technology that comforts</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          Technology is often associated with things non human but for us here
          we believe in using it to our advantage to increase focus on patient
          care.<br /><br />
          Our recent investment in digital technology could easily be considered
          a water divider between old and new dentistry and it has changed the
          way we do dentistry forever.
        </p>
      </div>
      <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          Instead of the old style rubber moulds we can now scan your teeth
          using state of the art 3D scanners and then from there we can produce
          a myriad of different types of restorations and appliances with nearly
          100% precision and completely outside the mouth. Less work inside the
          mouth means new heights of comfort, never seen before. You’ll be truly
          amazed at what we can do but most importantly at how little we need to
          do in your mouth.
        </p>
      </div>
    </div>
    <div class="flex-1 margin-bottom-on-sm">
      <img
        loading="lazy"
        src="../../../../assets/healthPage/ClearBraces/Diagram.png"
      />
    </div>
  </div>
</div>
