@import "../../../proud-smile-style.scss";

::ng-deep .ng-image-slider {
  height: 300px !important;
  .main {
    height: 300px !important;
    .img-div {
      box-shadow: unset !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
      width: 171px !important;
      img {
        bottom: unset !important;
        height: unset !important;
      }
    }
  }
}
:host {
  .noMargin {
    margin-left: 0;
  }

  .firstSection {
    background: #f99573;
    position: relative;
    .homePageImageContainer {
      .heroImage {
        width: 100%;
        img {
          max-height: 1070px;
          position: relative;
          right: calc(41.66vw - 800px);
          float: right;
        }
      }
      .homePageText {
        position: absolute;
        left: 5vw;
        top: calc(10.49vw + 48.51px);
        max-width: 50vw;
      }
    }
  }
  .firstSectionBottom {
    position: absolute;
    bottom: 0;
    width: 100%;

    .lineText {
      height: 4vh;
      padding-bottom: 0.7vh;
      .line {
        text-align: center;
        border-top: 1px solid white;
      }
    }

    .smallCardsContainer {
      width: 100%;
      padding-bottom: 2vh;
      justify-content: space-evenly;
      > * {
        max-width: 25vw;
      }
    }
  }

  .aestheticsAndHealthSection {
    align-items: stretch;
    justify-content: center;
    p {
      text-align: left !important;
    }
    .aesthetics {
      background-color: #f15023;
      width: 50vw;
      padding-left: 3vw;
      padding-right: 3vw;
    }
    .health {
      background-color: #015c50;
      width: 50vw;
      padding-left: 3vw;
      padding-right: 3vw;
    }
    .title p {
      span {
        &.middleSlash {
          padding: 0 0.83vw;
        }
      }
    }
    .horizontalLine {
      height: 1px;
      background-color: white;
      opacity: 0.5;
      width: 70%;
      margin: 1vh 0;
    }
    .element {
      margin-top: 6vw;
    }
  }

  .instaSection {
    .instaFeed {
      width: 100%;
      .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .rightText {
          cursor: pointer;
        }
      }
    }
    .title {
      position: relative;
      margin-top: 20vh;
      .year {
        position: absolute;
        top: -16vh;
      }
      .text {
        z-index: 1;
        text-align: center;
      }
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .firstSection {
      .homePageImageContainer {
        .heroImage {
          img {
            right: unset;
            left: 40%;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .firstSection {
      .homePageImageContainer {
        .homePageText {
          max-width: 35vw;
        }
        .heroImage {
          img {
            right: unset;
            left: 50%;
          }
        }
      }
    }
    .instaSection {
      .instaFeed {
        .text {
          flex-direction: column;
        }
      }
    }

    .aestheticsAndHealthSection {
      .aesthetics {
        padding: 10vh 4vw 0 4vw;
      }
      .health {
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 10vh;
      }
    }
  }
}
