@import "../../../proud-smile-style.scss";

::ng-deep .ng-image-slider {
  height: 300px !important;
  .main {
    height: 300px !important;
    .img-div {
      box-shadow: unset !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
      width: 171px !important;
      img {
        bottom: unset !important;
        height: unset !important;
      }
    }
  }
}
:host {
  .book3 {
    border-radius: 37px;
    background: $color-orange;
    padding: 12px 12px;
    border: 0;
    outline: none;
    align-self: center;
    margin-top: auto;
  }
  
  .noMargin {
    margin-left: 0;
  }

  .firstSection {
    background: #f99573;
    position: relative;
    .homePageImageContainer {
      .heroImage {
        width: 100%;
        img {
          max-height: 1070px;
          position: relative;
          right: calc(41.66vw - 800px);
          float: right;
        }
      }
      .homePageText {
        position: absolute;
        left: 5vw;
        top: calc(10.49vw + 48.51px);
        max-width: 50vw;
      }
    }
  }
  .firstSectionBottom {
    position: absolute;
    bottom: 0;
    width: 100%;

    .lineText {
      height: 4vh;
      padding-bottom: 0.7vh;
      .line {
        text-align: center;
        border-top: 1px solid white;
      }
    }

    .smallCardsContainer {
      width: 100%;
      max-width: 1392px;
      padding-bottom: 2vh;
      justify-content: space-between;
      > * {
        max-width: 25vw;
      }
    }
  }

  .aestheticsAndHealthSection {
    align-items: stretch;
    justify-content: center;
    p {
      text-align: left !important;
    }
    .aesthetics {
      background-color: #f15023;
      width: 50vw;
      padding-left: 3vw;
      padding-right: 3vw;
    }
    .health {
      background-color: #015c50;
      width: 50vw;
      padding-left: 3vw;
      padding-right: 3vw;
    }
    .title p {
      span {
        &.middleSlash {
          padding: 0 0.83vw;
        }
      }
    }
    .horizontalLine {
      height: 1px;
      background-color: white;
      opacity: 0.5;
      width: 70%;
      margin: 1vh 0;
    }
    .element {
      margin-top: 6vw;
    }
  }

  .instaSection {
    .instaFeed {
      width: 100%;
      .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .rightText {
          cursor: pointer;
        }
      }
    }
  }

  .technology-section {
    background-image: url(/assets/homePage/TechnologyComforts.png);
    background-repeat: no-repeat;
    background-color: #030303;
  }
  
  .afford-section {
    background-image: url(/assets/homePage/afford-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    .women {
      left:50%;
    }
  }

  @media only screen and (min-width: 1201px) {

    #ProudSmileParent {
      height: calc(100vh - 129px);
    }

    .venText {
      padding-top:9vw;
      
      .venText2 {
        max-width: 25vw;
      }
    }
    .venTextDesktop {
      
      max-width: 36vw;
      
    }
    .technology-section-responsive {
      padding-top:250px;
      padding-bottom:250px;
      background-position-x: 12vw;
      p {
        text-align: left;
      }
      .technology-text {
        align-items: start;
        justify-content: start;
        width: 500px;
      }
    }
    
  .you-first-section {
    background-image: url(/assets/homePage/YouFirst.png);
    background-repeat: no-repeat;
    background-color: #030303;
  }
    .you-first-section-responsive {
      padding-top:250px;
      padding-bottom:250px;
      background-position-x: -650px;
      p {
        text-align: left;
      }
      .you-first-text {
        align-items: start;
        justify-content: start;
        width: 500px;
        float:right;
      }
    }

    .people-section-responsive {

      padding-top:150px;
      .mPeople {
        right: 850px;
      }
      p {
        text-align: left;
      }
      .people-section-text {
        align-items: start;
        justify-content: start;
        width: 550px;
      }
      img {
        max-width: 100vw;
      }
    }

    .afford-section-responsive {
      padding-top:250px;
      padding-bottom:250px;
      p {
        text-align: left;
      }
      .afford-section-text {
        align-items: start;
        justify-content: start;
        width: 550px;
      }
      img {
        max-width: unset;
      }
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {

    
    #ProudSmileParent {
      height: calc(100vh - 80px);
    }

    .mobile-size {
      max-width: 70%;
      margin: auto;
    }
    .venText {
      padding-top:20vw;
      .venText2 {
        max-width: 65vw;
      }
    }
    .firstSection {
      .homePageImageContainer {
        .heroImage {
          img {
            right: unset;
            left: 40%;
          }
        }
      }
    }
    .technology-section-responsive {
      padding-top:150px;
      padding-bottom:150px;
      background-size: 1200px;
      background-position-x: 12vw;
      p {
        text-align: left;
      }
      .technology-text {
        align-items: start;
        justify-content: start;
        width: 300px;
      }
    }
    .you-first-section {
      background-image: url(/assets/homePage/YouFirst.png);
      background-repeat: no-repeat;
      background-color: #030303;
    }
    .you-first-section-responsive {
      padding-top:150px;
      padding-bottom:150px;
      background-size: 1200px;
      background-position-x: -550px;
      p {
        text-align: left;
      }
      .you-first-text {
        align-items: start;
        justify-content: start;
        width: 400px;
        float:right;
      }
    }
    .people-section-responsive {
      padding-top:100px;
      padding-bottom:150px;
      .mPeople {
        right: 580px;
      }
      p {
        text-align: left;
      }
      .people-section-text {
        align-items: start;
        justify-content: start;
        width: 400px;
      }
      img {
        max-width: 140vw;
      }
    }
    .afford-section-responsive {
      padding-top:150px;
      padding-bottom:150px;
      p {
        text-align: left;
      }
      .afford-section-text {
        align-items: start;
        justify-content: start;
        width: 400px;
      }
      img {
        max-width: 75vw;
      }
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {

    
    #ProudSmileParent {
      height: calc(100vh - 80px);
    }


    .mobile-size {
      max-width: 70%;
      margin: auto;
    }
    .technology-section-responsive {
      padding-top:20vw;
      padding-bottom:70vw;
      background-size: 100%;
      background-position-y: bottom;
      p {
        text-align: center;
      }
      .technology-text {
        align-items: center;
        justify-content: center;
      }
    }
    .you-first-section {
      background-image: url(/assets/homePage/YouFirstMobile.png);
      background-repeat: no-repeat;
      background-color: #030303;
    }
    .you-first-section-responsive {
      padding-top:20vw;
      padding-bottom:70vw;
      background-size: 100%;
      background-position-y: bottom;
      p {
        text-align: center;
      }
      .you-first-text {
        align-items: center;
        justify-content: center;
      }
    }
    
    .afford-section-responsive {
      padding-top:150px;
      padding-bottom:200px;
      p {
        text-align: center;
      }
      .afford-section-text {
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 75vw;
      }
    }
    .people-section-responsive {
      padding-top:100px;
      padding-bottom:150px;
      p {
        text-align: center;
      }
      .people-section-text {
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 75vw;
      }
    }

    .firstSection {
      .homePageImageContainer {
        .homePageText {
          max-width: 35vw;
        }
        .heroImage {
          img {
            right: unset;
            left: 50%;
          }
        }
      }
    }
    .instaSection {
      .instaFeed {
        .text {
          flex-direction: column;
        }
      }
    }

    .aestheticsAndHealthSection {
      .aesthetics {
        padding: 10vh 4vw 0 4vw;
      }
      .health {
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 10vh;
      }
    }
  }
}
