<div class="subHeader" fxFlexLayout fxLayoutAlign="center center" >
    <app-image-text (click)="onClick($event)" fxFlex="3 3 auto" layoutAlign="end center" imageUrl="../../assets/homePage/group.png" text="The Proud Smile Experience" textMaxWdith="7.5vw"></app-image-text>
    <app-image-text (click)="onClick($event)" fxFlex="1 1 auto" layoutAlign="center center" imageUrl="../../assets/homePage/group.png" text="Who We Are" textMaxWdith="4vw"></app-image-text>
    <app-image-text (click)="onClick($event)" fxFlex="3 3 auto" layoutAlign="start center" imageUrl="../../assets/homePage/group.png" text="Our Dental Clinic" textMaxWdith="6vw"></app-image-text>
</div>
