<div class="hide-on-sm" style="background: #FFF9F6; height: 100vh; position: relative;">
    <div style="position: absolute; top:28px; right: 28px; cursor: pointer;" (click)="onHomePage()">
        <img src="../../../assets/thankyou/Close.svg"/>
    </div>
    <div class="flexy-row" style="padding-left:5vw; height: 100%;">
        <div class="flexy-column" style="align-items: center; justify-content: flex-start; width: 50%;">
            <div style="position: relative;">
                <img src="../../../assets/thankyou/Tiket.png"
                    style="max-width: 90%; margin-left: auto; margin-right: auto;" />

                    <div class="flexy-column cccc" style="color: #17866B; position: absolute; width: 100%; margin-left: auto; margin-right: auto; bottom: -2vw;">
                        <p class="roboto-bold font-lion" style="text-align: center; max-width: 22vw;margin-bottom: 16px;">Thank
                            you for the completion
                            of your online booking</p>
                        <p class="robot-regular font-extra-small-2" style="text-align: center; max-width: 15vw;">
                            Please be advised that a confirmation email is on
                            its way. Keep a close eye on your inbox for
                            further instructions.
                        </p>
                    </div>
            </div>

        </div>
        <div style="border-left:1px solid #D9D9D9; margin-top: 5vw; margin-bottom:2.5vw;"></div>
        <div class="flexy-column"
            style="align-items: flex-start; justify-content: flex-start; margin-top: 5vw; color:#55311B; max-width: 26vw;">
            <div style="padding-left: 4.5vw; padding-bottom:16px;">
                <p class="roboto-bold font-small-2">What's Next</p>
            </div>

            <div style="padding-left: 4.5vw; position: relative;">
                <div style="position: absolute; left:24px;">
                    <img src="../../../assets/thankyou/SMS.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2">You will receive an SMS reminder 2 days prior to your
                    appointment, please confirm with YES once you receive it. Unconfirmed appointments cannot be
                    guaranteed and may be subject to cancelation.</p>
            </div>
            <div
                style="border-bottom:1px solid #D9D9D9; margin-top: 40px; margin-bottom:40px; margin-left: 24px; width: 95%;">
            </div>

            <div style="padding-left: 4.5vw; position: relative;">
                <div style="position: absolute; left:24px;">
                    <img src="../../../assets/thankyou/DOCUMENT.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2">You may receive an invitation to fill out our medical
                    history form from home so you can save time at the practice. <span class="roboto-bold">This is usually an e-mail and a code
                        via SMS which you’ll use on the e-mail form.</span> Please check your mail box or junk mail for
                    instructions on how to do this.</p>
            </div>
            <div
                style="border-bottom:1px solid #D9D9D9; margin-top: 40px; margin-bottom:40px; margin-left: 24px; width: 95%;">
            </div>

            <div style="padding-left: 4.5vw; position: relative;">
                <div style="position: absolute; left:24px;">
                    <img src="../../../assets/thankyou/PAYMENT.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2">We accept all major credit cards, debit cards and most
                    health funds. Please remember to bring your health insurance card for on the spot claiming, that way
                    you’ll only have to pay the gap. We also do bulk billing for <span class="roboto-bold">Medicare Child Benefit Scheme and
                        Department of Veteran Affairs (DVA).</span></p>
            </div>
            <div
                style="border-bottom:1px solid #D9D9D9; margin-top: 40px; margin-bottom:40px; margin-left: 24px; width: 95%;">
            </div>

            <div style="padding-left: 4.5vw; padding-bottom:16px;">
                <p class="roboto-bold font-small-2">Get in touch</p>
            </div>

            <div style="padding-left: 4.5vw; position: relative;">
                <div style="position: absolute; left:24px;">
                    <img src="../../../assets/thankyou/Marker.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2" style="margin-bottom: 24px;">
                    Proud Smile - Pacific Fair Mall</p>
                <p class="roboto-medium font-extra-small-2">Shop 82, 2 Hooker Boulevard</p>
                <p class="roboto-medium font-extra-small-2">Broadbeach Waters, QLD 4218</p>
                <div class="flexy-row" style="margin-bottom:24px; color:#F05024; cursor: pointer;" (click)="goToLink('https://goo.gl/maps/AidkYdrsa85eDDtH9')">
                    <p class="roboto-medium">Get Google Direction</p>
                    <img src="../../../assets/thankyou/Fill-1.svg" style="margin-left:8px;"/>
                </div>
                <p class="roboto-medium font-extra-small-2">07 5538 6277</p>
                <p class="roboto-medium font-extra-small-2">pacfair@proudsmile.com.au</p>
            </div>

        </div>
    </div>
</div>

<div class="hide-on-big" style="background: #FFF9F6; position: relative;">
    <div style="position: absolute; top:28px; right: 28px; cursor: pointer; z-index:1;" (click)="onHomePage()">
        <img src="../../../assets/thankyou/Close.svg"/>
    </div>
    <div class="flexy-column" style="padding-left:5vw;">
        <div class="flexy-column" style="align-items: center; justify-content: flex-start;">
            <div style="position: relative;">
                <img src="../../../assets/thankyou/Tiket.png"
                    style="max-width: 90%; margin-left: auto; margin-right: auto;" />

                    <div class="flexy-column cccc" style="color: #17866B; width: 100%; margin-left: auto; margin-right: auto; bottom: -2vw;">
                        <p class="roboto-bold font-lion" style="text-align: center; max-width: 70vw;margin-bottom: 16px;">Thank
                            you for the completion
                            of your online booking</p>
                        <p class="robot-regular font-extra-small-2" style="text-align: center; max-width: 70vw;">
                            Please be advised that a confirmation email is on
                            its way. Keep a close eye on your inbox for
                            further instructions.
                        </p>
                    </div>
            </div>

        </div>
        <div class="flexy-column"
            style="align-items: flex-start; justify-content: flex-start; margin-top: 10vw; color:#55311B; max-width: 88vw; margin-bottom:10vw;">
            <div style="padding-left: 10vw; padding-bottom:16px;">
                <p class="roboto-bold font-small-2">What's Next</p>
            </div>

            <div style="padding-left: 10vw; position: relative;">
                <div style="position: absolute; left:0px;">
                    <img style="max-width:70%;" src="../../../assets/thankyou/SMS.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">You will receive an SMS reminder 2 days prior to your
                    appointment, please confirm with YES once you receive it. Unconfirmed appointments cannot be
                    guaranteed and may be subject to cancelation.</p>
            </div>
            <div
                style="border-bottom:1px solid #D9D9D9; margin-top: 40px; margin-bottom:40px; margin-left: 24px; width: 95%;">
            </div>

            <div style="padding-left: 10vw; position: relative;">
                <div style="position: absolute; left:0px;">
                    <img style="max-width:70%;" src="../../../assets/thankyou/DOCUMENT.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">You may receive an invitation to fill out our medical
                    history form from home so you can save time at the practice. <span class="roboto-bold">This is usually an e-mail and a code
                        via SMS which you’ll use on the e-mail form.</span> Please check your mail box or junk mail for
                    instructions on how to do this.</p>
            </div>
            <div
                style="border-bottom:1px solid #D9D9D9; margin-top: 40px; margin-bottom:40px; margin-left: 24px; width: 95%;">
            </div>

            <div style="padding-left: 10vw; position: relative;">
                <div style="position: absolute; left:0px;">
                    <img style="max-width:70%;" src="../../../assets/thankyou/PAYMENT.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">We accept all major credit cards, debit cards and most
                    health funds. Please remember to bring your health insurance card for on the spot claiming, that way
                    you’ll only have to pay the gap. We also do bulk billing for <span class="roboto-bold">Medicare Child Benefit Scheme and
                        Department of Veteran Affairs (DVA).</span></p>
            </div>
            <div
                style="border-bottom:1px solid #D9D9D9; margin-top: 40px; margin-bottom:40px; margin-left: 24px; width: 95%;">
            </div>

            <div style="padding-left: 10vw; padding-bottom:16px;">
                <p class="roboto-bold font-small-2">Get in touch</p>
            </div>

            <div style="padding-left: 10vw; position: relative;">
                <div style="position: absolute; left:0px;">
                    <img style="max-width:70%;" src="../../../assets/thankyou/Marker.svg" />
                </div>
                <p class="roboto-medium font-extra-small-2" style="margin-bottom: 24px; text-align: left;">
                    Proud Smile - Pacific Fair Mall</p>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">Shop 82, 2 Hooker Boulevard</p>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">Broadbeach Waters, QLD 4218</p>
                <div class="flexy-row" style="margin-bottom:24px; color:#F05024; cursor: pointer;" (click)="goToLink('https://goo.gl/maps/AidkYdrsa85eDDtH9')">
                    <p class="roboto-medium" style="text-align: left;">Get Google Direction</p>
                    <img src="../../../assets/thankyou/Fill-1.svg" style="margin-left:8px;"/>
                </div>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">07 5538 6277</p>
                <p class="roboto-medium font-extra-small-2" style="text-align: left;">pacfair@proudsmile.com.au</p>
            </div>

        </div>
    </div>
</div>