<div class="firstSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="title" fxLayout="column" fxLayoutAlign="center start">
    <div class="lineAndText" fxLayout fxLayoutAlign=" center">
      <div class="line"></div>
      <p>THE PROUD SMILE EXPERIENCE</p>
    </div>
    <div class="titleText">
      <p>
        The dentist you'll actually <br />
        <span class="it">Want to Visit</span>
      </p>
    </div>
  </div>

  <div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/surf.png" />
      </div>
      <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
        <div class="lineAndText" fxLayout fxLayoutAlign=" center">
          <div class="line"></div>
          <p>CUSTOM PLANS</p>
        </div>
        <div class="titleText">
          <p>Unique, like you</p>
        </div>
        <div class="mainText">
          <p>
            Proud Smile is a purposely built dental practice with one idea in
            mind: to change the face of dentistry. For decades Dentistry has
            been associated with pain, anxiety, bad smells, cold, too expensive
            and judgmental. We decided it was time to change. Using proven
            elements from other types of businesses we transformed our practice
            in a place where you’ll actually want to visit.
          </p>
        </div>
      </div>
    </div>

    <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
        <div class="lineAndText" fxLayout fxLayoutAlign=" center">
          <div class="line"></div>
          <p>WE ARE HERE FOR YOU</p>
        </div>
        <div class="titleText">
          <p>No Judgment</p>
        </div>
        <div class="mainText">
          <p>
            We all live busy lives and so it’s easy to put our health in second
            place. Whether you may be feeling embarrassed, afraid or
            overwhelmed, we’re here to listen. Our staff is super friendly and
            our dentists are great listeners and they just care more. If you
            take the first step to come and see us we’ll help you with the next
            ones and you’ll just feel so Proud of Yourself.
          </p>
        </div>
        <app-button text="MORE ABOUT OUR TOP TEAM"></app-button>
      </div>
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/NoJudgment.png" />
      </div>
    </div>
  </div>
</div>

<div class="secondSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="title" fxLayout="column" fxLayoutAlign="center center">
    <div class="lineAndText" fxLayout fxLayoutAlign=" center">
      <div class="line"></div>
      <p>TECH THAT HELPS</p>
    </div>
    <div class="titleText">
      <p>
        Shhh! Quieter <br />
        Instruments in use
      </p>
    </div>
    <div class="mainText">
      <p>
        A lot of patients complain of the sound and feel of our rotary
        instruments. That is why we’ve recently invested in quieter and smoother
        hand pieces. These are electric rather than air driven so you don’t get
        that high pitch sound and there’s less vibration too.
      </p>
    </div>
  </div>

  <div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div class="videoContent" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-video-player
        class="firstSound"
        videoSource="../../../assets/homePage/PorcelainVeneers.mp4"
      ></app-video-player>
      <div class="verticalLine"></div>
      <div class="horizontalLine"></div>
      <app-video-player
        class="secondSound"
        videoSource="../../../assets/homePage/PorcelainVeneers.mp4"
      ></app-video-player>
    </div>

    <div class="horizontalLine"></div>

    <div class="headphones" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/headphones.png" />
      </div>
      <div class="mainText">
        <p>
          We also have noise canceling headphones so you can focus on your
          favourite TV show while we work. Just the little things that make a
          whole heap of difference.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="thirdSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>THE OFFICE</p>
      </div>
      <div class="titleText">
        <p>
          Here you’re <br />
          our guest
        </p>
      </div>
      <div class="mainText">
        <p>
          Our practice was designed for you to feel welcomed as our guest and
          less like a patient. With amenities like comfy lounge, freshly
          grounded Zarrafas coffee, chilled drinks, soothing ambience music,
          beautiful scents you’ll wonder if you’ve come to the right place.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin">
        <p>
          When it comes to our clinical rooms, you’ll also be pleasantly
          surprised they don’t look so sterile and hospital-like. Warmer
          colours, high tech smooth chair, TV in ceiling with Netflix and
          coloured LED lighting to create relaxation and inspire moods.
        </p>
      </div>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/book.png" />
    </div>
  </div>

  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/PainFree.png" />
    </div>
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>MORE TECHNIQUES</p>
      </div>
      <div class="titleText">
        <p>Virtually pain free</p>
      </div>
      <div class="mainText">
        <p>
          There’s no doubt that pain is one of our biggest fears and
          unfortunately a lot of our patients carry traumas from past old
          experiences. However, with modern techniques and advancements in local
          anaesthetics we can comfortably say treatments are now virtually pain
          free. Depending on the procedure and the location in the mouth chances
          are you won’t even feel the application of local anaesthetics, you
          really will be surprised.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin">
        <p>
          Plus, with the introduction of digital dentistry we can now perform
          some procedures with no need for anaesthetics, such as our Ultra Thin
          Veneers.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="fourthSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>WELCOME</p>
      </div>
      <div class="titleText">
        <p>
          New patient? <br />
          Welcome to our family
        </p>
      </div>
      <div class="mainText">
        <p>
          Our comprehensive new patient examination is, well, comprehensive. You
          will get:
        </p>
      </div>
      <div
        class="mainText"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>
          Bite checks for any dysfunction and possible causes of wear
          (Orthodontic recommendation provided).
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div
        class="mainText noMargin"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>TMJ joint checks and lymph nodes to check for signs of infection.</p>
      </div>
      <div class="horizontalLine"></div>
      <div
        class="mainText noMargin"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>Periodontal (gums) check.</p>
      </div>
      <div class="horizontalLine"></div>
      <div
        class="mainText noMargin"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>3D scan of your mouth so we can monitor changes overtime.</p>
      </div>
      <div class="horizontalLine"></div>
      <div
        class="mainText noMargin"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>Cancer screen.</p>
      </div>
      <div class="horizontalLine"></div>
      <div
        class="mainText noMargin"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>Full mouth examination, teeth, gums, cheeks, tong and lips.</p>
      </div>
      <div class="horizontalLine"></div>
      <div
        class="mainText noMargin"
        fxLayout
        fxLayoutAlign="center start"
        fxLayoutGap="1vw"
      >
        <div class="imageContainer">
          <img src="../../../assets/whyProudSmilePage/GreenCheck.svg" />
        </div>
        <p>No maximum number of x-rays and no charge for more than 2.</p>
      </div>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/99.png" />
    </div>
  </div>
</div>

<div class="fifthSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>EASY PLANS</p>
      </div>
      <div class="titleText">
        <p>You Can Afford It</p>
      </div>
      <div class="mainText">
        <p>
          We believe that good quality dentistry, whether for health of
          aesthetics, should be accessible to all. Our prices are quite
          transparent and standard and you’ll always know the cost before any
          procedure so there’s no nasty surprises. <br /><br />
          We offer a comprehensive range of payment plans, including our own
          <span class="robBold">Smileasy Payment plan</span>(*) which has no
          credit checks and no need to prove your earnings. We also accept all
          health funds and we’re preferred providers for
          <span class="robBold">HCF and CBHS</span>. <br /><br />
          Our treatment plans are very personalised and we can tailor it to your
          budget so chances are we will have a solution for you and we’ll work
          with your budget.
        </p>
      </div>
      <app-button text="PAYMENT PLAN SOLUTIONS"></app-button>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/AffordIt.png" />
    </div>
  </div>

  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/Covered.png" />
    </div>
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>WE ARE IN YOUR CORNER</p>
      </div>
      <div class="titleText">
        <p>We got you covered</p>
      </div>
      <div class="mainText">
        <p>
          We know Dentistry is not an exact science and as much as we follow
          strict protocols sometimes things can go wrong. Fortunately these are
          rare and we understand the impact it can have on our patients, which
          is why we, as a practice, offer assistance on a number of procedures
          to make those unlikely events less stressful to our clients. For
          example, if we place an implant and it gets rejected you’ll get a new
          one at no extra cost.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin">
        <p>
          You can be at ease knowing we’ll be with you in the good and bad
          times. All we ask is that you see us regularly for your check ups so
          we can identify problems early.
        </p>
      </div>
    </div>
  </div>

  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>COSMETICS</p>
      </div>
      <div class="titleText">
        <p>We’d love to give you a Proud Smile</p>
      </div>
      <div class="mainText">
        <p>
          Our Cosmetic department is second to none and it’s the jewel of our
          practice. We offer a comprehensive range of treatments to fit any
          desire and any budget. <br /><br />
          Our aesthetic treatments are always personalised and completely done
          in house by our dentists so you’re guaranteed to get a predictable
          result and one that fits your face and personality.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin customText robBold">
        <p>Don’t want to wait weeks for that perfect smile?</p>
      </div>
      <div class="mainText noMargin">
        <p>
          <br />No problem, exclusively to Proud Smile we now offer same day
          cosmetic treatments such as porcelain veneers with no compromise in
          quality whatsoever.
        </p>
      </div>

      <app-button text="SEE COSMETIC PAGE"></app-button>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/whyProudSmilePage/PSmile.png" />
    </div>
  </div>
</div>

<div class="sixthSection" fxLayout="row wrap" fxLayoutAlign="end center">
  <!-- <div class="imageContainer" >
    <img src="../../../assets/whyProudSmilePage/Spa.png" />
  </div> -->
  <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
    <div class="lineAndText" fxLayout fxLayoutAlign=" center">
      <div class="line"></div>
      <p>THE OFFICE</p>
    </div>
    <div class="titleText">
      <p>FaceSpa Facial Aesthetics</p>
    </div>
    <div class="mainText">
      <p>
        Now you can trust your facial aesthetic needs with the makers of great
        smiles. That’s because we offer Anti-Wrinkle and Dermal Filler
        Injectables right here in our office. We can treat forehead lines,
        frown, crows feet, deep smile lines, lip augmentation and more. And
        we’re extremely competitive with our prices.
      </p>
    </div>
    <div class="horizontalLine"></div>
    <div
      class="faceSpa"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
      fxLayoutGap="1vw"
    >
      <div class="imageContainer">
        <img src="../../../assets/whyProudSmilePage/SpaSmall.png" />
      </div>
      <div class="faceSpaText">
        <p>
          At FaceSpa we’re more focused on the targeted area rather than the
          number of units or mls. Our clinicians have a special eye for
          aesthetics and we understand facial proportions.
        </p>
      </div>
    </div>
  </div>
</div>
