@import "../../../../proud-smile-style.scss";

:host {
  .imageText {
    .horizontalLine {
      width: 100%;
      margin: 3.33vh 0;
    }
  }
  .noMargin {
    margin-top: 0px;
  }

  app-button {
    margin-top: 4.1vh;
  }

  .secondSection {
    .content {
      margin-top: 11vh;
      .videoContent {
        height: 264px;
        app-video-player {
          width: 470px;
        }
        .verticalLine {
          height: 80%;
          margin: 0 5.4vw;
          background: #d8d8d8;
          width: 1px;
        }
        .horizontalLine {
          width: 60%;
          margin: 2.4vh 0;
          background: #d8d8d8;
          height: 1px;
        }
      }
      .headphones {
        > :nth-child(1) {
          margin: 0 1.92vw 2vh 1.92vw;
        }
        > :nth-child(2) {
          margin: 0 1.92vw 2vh 1.92vw;
        }
        .mainText {
          max-width: 29vw;
          p {
            color: #565960;
          }
        }
      }
    }
  }

  .sixthSection {
    background-color: #f99573;
    background-image: url("../../../../assets/whyProudSmilePage/Spa.png");
    background-repeat: no-repeat;
    background-size: contain;
    .horizontalLine {
      width: 100%;
      margin: 3.33vh 0;
    }
    .textContainer {
      padding: 24vh 0;
      align-self: flex-end;
      margin-right: 19vw;
      .faceSpa {
        width: 100%;
        .faceSpaText {
          max-width: 20vw;
        }
      }
      p {
        color: white;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .it {
    font-family: "libreItalic";
  }
  .mainText.robBold p {
    font-family: "robotoBold";
  }

  @media only screen and (min-width: 1201px) {
    .secondSection .title .mainText {
      max-width: 31vw;
    }
    .secondSection .videoContent .horizontalLine {
      display: none;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .textContainer {
      max-width: 70vw;
    }
    app-button {
      align-self: center;
    }

    .secondSection .content .videoContent {
      height: 152px;
    }
    .secondSection .content .videoContent app-video-player {
      width: 270px;
    }
    .secondSection .content .videoContent .verticalLine {
      margin: 0 2.4vw;
    }
    .secondSection .videoContent .horizontalLine {
      display: none;
    }
    .sixthSection {
      .textContainer {
        margin-right: 1vw;
        max-width: 50vw;
        .faceSpa {
          .faceSpaText {
            max-width: 40vw;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .textContainer.margin-bottom {
      margin-bottom: 3vh;
    }

    .textContainer .title p {
      padding-left: calc(1.13vw + 2px);
      padding-right: calc(1.13vw + 2px);
      max-width: unset;
    }

    app-button,
    .lineAndText,
    .mainText {
      align-self: center;
    }
    app-button button {
      padding: 2vh 4vw;
    }
    .secondSection .content .videoContent {
      height: unset;
    }
    .secondSection .content .videoContent app-video-player {
      width: 80vw;
    }
    .secondSection .content .videoContent .verticalLine {
      display: none;
    }
    .secondSection .content .headphones .mainText {
      margin: 0 3.2vw 2vh 3.2vw;
      max-width: unset;
    }
    .sixthSection {
      .textContainer {
        margin-right: 1vw;
        align-self: center;
        .faceSpa {
          .faceSpaText {
            max-width: 80vw;
          }
        }
      }
    }
  }
}
