<div
  class="padding-chef color-brown background-1 padding-bottom-1 padding-top-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="font-large libre-regular center-text padding-top-bottom-1"
  >
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <p>
      The dentist you will<br />
      actually
      <span class="libre-italic">Want to Visit</span>
    </p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w-r sscc margin-bottom-2">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img src="../../../assets/whyProudSmilePage/surf.png" />
      </div>
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Dentistry Reinvented</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Proud Smile is a purposely built dental practice with one idea in
            mind: to change the face of dentistry. For decades Dentistry has
            been associated with pain, anxiety, bad smells, cold, too expensive
            and judgmental. We decided it was time to change. Using proven
            elements from other types of businesses we transformed our practice
            in a place where you’ll actually want to visit.
          </p>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="NoJudgmentFullDesktop" style="position: relative;">

  <div class="">
    <img
    class="no-judgment-image"
      loading="lazy"
      src="../../../assets/whyProudSmilePage/NoJudgmentFull.jpg"
    />
  </div>

  <div class="flexy-row-w sscc color-brown no-judgment-text" style="position: absolute; top:0; left:0; padding-left: calc(17.65vw - 42.96px); padding-right: calc(17.65vw - 42.96px); padding-top: 6vw;">
    <div
      class="flex-1 sscc margin-bottom-on-sm no-margin-right-on-sm"
      fxLayout="column"
    >
      <div class="font-dog libre-regular margin-bottom-1">
        <p>No Judgment</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          We all live busy lives and so it’s easy to put our health in second
          place. Whether you may be feeling embarrassed, afraid or
          overwhelmed, we’re here to listen. Our staff is super friendly and
          our dentists are great listeners and they just care more. If you
          take the first step to come and see us we’ll help you with the next
          ones and you’ll just feel so Proud of Yourself.
        </p>
      </div>
      <app-button
        text="MORE ABOUT OUR TOP TEAM"
        (click)="onWhoWeAre()"
      ></app-button>
    </div>

  </div>

</div>

<div class="NoJudgmentFullMobile" >

  <div class="flexy-row-w sscc color-brown no-judgment-text" style="padding-left: calc(17.65vw - 42.96px); padding-right: calc(17.65vw - 42.96px); padding-top: 6vw;">
    <div
      class="flex-1 sscc margin-bottom-on-sm no-margin-right-on-sm"
      fxLayout="column"
    >
      <div class="font-dog libre-regular margin-bottom-1">
        <p>No Judgment</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          We all live busy lives and so it’s easy to put our health in second
          place. Whether you may be feeling embarrassed, afraid or
          overwhelmed, we’re here to listen. Our staff is super friendly and
          our dentists are great listeners and they just care more. If you
          take the first step to come and see us we’ll help you with the next
          ones and you’ll just feel so Proud of Yourself.
        </p>
      </div>
      <app-button
        text="MORE ABOUT OUR TOP TEAM"
        (click)="onWhoWeAre()"
      ></app-button>
    </div>

  </div>

  <div class="">
    <img
    class="no-judgment-image"
      loading="lazy"
      src="../../../assets/whyProudSmilePage/NoJudgmentFull.jpg"
    />
  </div>

</div>

<div
  class="secondSection roboto-regular padding-chef color-brown background-2 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="center-text margin-bottom-1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="libre-regular font-dog margin-bottom-1">
      <p>
        Shhh! Quieter <br />
        Instruments in use
      </p>
    </div>
    <div class="font-medium padding-chef no-padding-on-sm">
      <p>
        A lot of patients complain of the sound and feel of our rotary
        instruments. That is why we’ve recently invested in quieter and smoother
        hand pieces. These are electric rather than air driven so you don’t get
        that high pitch sound and there’s less vibration too.
      </p>
    </div>
  </div>

  <div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div class="videoContent flexy-row-w cccc">
      <div
        class="flexy-column sound-section color-gray-pale relative-container max-width-1 max-width-unset-on-sm"
        style="align-self: stretch; justify-content: center; padding: 20px 0"
      >
        <audio #sound1>
          <source
            src="../../../../assets/whyProudSmilePage/sound1Audio.mp3"
            type="audio/mp3"
          />
        </audio>
        <div class="margin-bottom-1">
          <img
            loading="lazy"
            class="full-width"
            src="../../assets/whyProudSmilePage/Sound1.png"
          />
        </div>
        <div
          class="absolute-container"
          style="bottom: 0; right: 0"
          fxLayout
          fxLayoutAlign="end center"
          [ngClass]="'playButton'"
          (click)="playSound1()"
        >
          <div class="roboto-regular font-extra-small-3 padding-right-1">
            <p class="right-text">
              <span class="roboto-bold">Hear the New Sound</span><br />Click to
              Play
            </p>
          </div>
          <div>
            <img
              loading="lazy"
              #soundButton1
              class="pulse-button"
              src="../../assets/whyProudSmilePage/SoundPlay.svg"
            />
          </div>
        </div>
      </div>

      <div class="verticalLine"></div>

      <div
        class="line-2 opacity-2 full-width margin-top-bottom-2 hide-on-big"
      ></div>
      <div
        class="flexy-column sound-section color-gray-pale relative-container max-width max-width-unset-on-sm"
        style="align-self: stretch; justify-content: center; padding: 20px 0"
      >
        <audio #sound2>
          <source
            src="../../../../assets/whyProudSmilePage/sound2Audio.mp3"
            type="audio/mp3"
          />
        </audio>
        <div class="margin-bottom-1">
          <img
            loading="lazy"
            class="full-width"
            src="../../assets/whyProudSmilePage/Sound2.png"
          />
        </div>
        <div
          class="absolute-container"
          style="bottom: 0; right: 0"
          fxLayout
          fxLayoutAlign="end center"
          [ngClass]="'playButton'"
          (click)="playSound2()"
        >
          <div class="roboto-regular font-extra-small-3 padding-right-1">
            <p class="right-text">
              <span class="roboto-bold">Hear the New Sound</span><br />Click to
              Play
            </p>
          </div>
          <div>
            <img
              loading="lazy"
              #soundButton2
              class="pulse-button"
              src="../../assets/whyProudSmilePage/SoundPlay.svg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>

    <div
      class="headphones margin-top-3"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
    >
      <div class="imageContainer">
        <img
          loading="lazy"
          src="../../../assets/whyProudSmilePage/headphones.png"
        />
      </div>
      <div
        class="mainText opacity-5 roboto-regular font-medium color-gray-dark"
      >
        <p>
          We also have noise canceling headphones so you can focus on your
          favourite TV show while we work. Just the little things that make a
          whole heap of difference.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown background-1 padding-top-3 padding-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="padding-chef-right-on-big"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc">
      <div class="margin-right-1 no-margin-on-sm" style="flex: 0 0 55%">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/AnxiousPatients/hand.png"
        />
      </div>
      <div
        class="flex-1 sscc margin-bottom-on-sm padding-chef-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Virtually pain free</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            There’s no doubt that pain is one of our biggest fears and
            unfortunately a lot of our patients carry traumas from past old
            experiences. However, with modern techniques and advancements in
            local anaesthetics we can comfortably say treatments are now
            virtually pain free. Depending on the procedure and the location in
            the mouth chances are you won’t even feel the application of local
            anaesthetics, you really will be surprised.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Plus, with the introduction of digital dentistry we can now perform
            some procedures with no need for anaesthetics, such as our Ultra
            Thin Veneers.
          </p>
        </div>
        <app-button text="ULTRA THIN VENEERS"></app-button>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-3 padding-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div
        class="flex-1 sscc margin-right-1 no-margin-on-sm margin-bottom-on-sm padding-top-bottom-1"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            New Patient?<br />Welcome to our<br />family.
          </p>
        </div>
        <div
          class="roboto-regular font-regular color-gray-dark font-lion margin-bottom-1"
        >
          <p class="center-text-on-sm">
            Our comprehensive new patient examination is, well, comprehensive.
            You will get:
          </p>
        </div>

        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              Bite checks for any dysfunction and possible causes of wear
              (Orthodontic recommendation provided).
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              TMJ joint checks and lymph nodes to check for signs of infection.
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">Periodontal (gums) check.</p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              3D scan of your mouth so we can monitor changes overtime.
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">Cancer screen.</p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              Full mouth examination, teeth, gums, cheeks, tong and lips.
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="align-self-start roboto-medium color-gray-dark font-small-3 flexy-row"
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              No maximum number of x-rays and no charge for more than 2.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1 relative-container">
        <img loading="lazy" src="../../../assets/whyProudSmilePage/99.png" />
        <div
          class="cursor-pointer roboto-regular color-white font-small-3 absolute-container"
          style="bottom: 4%; left: 14%"
          fxLayout
          fxLayoutAlign="center center"
          (click)="seeAllFinancial()"
        >
          <div>
            <img
              loading="lazy"
              src="../../../../assets/healthPage/RootCanal/credit_card.svg"
            />
          </div>
          <div class="margin-left-1">
            <p>See all our Financial Plans</p>
          </div>
          <div class="margin-left-1 opacity-5">
            <img
              loading="lazy"
              src="../../../../assets/homePage/WhiteArrow.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-1 padding-bottom-1 padding-top-bottom-1"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc margin-bottom-2">
      <div
        class="flex-1 sscc margin-right-1 margin-bottom-on-sm no-margin-right-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p>You Can Afford It</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            We believe that good quality dentistry, whether for health of
            aesthetics, should be accessible to all. Our prices are quite
            transparent and standard and you’ll always know the cost before any
            procedure so there’s no nasty surprises.<br /><br />
            We offer a comprehensive range of payment plans, including our own
            <span class="roboto-bold">Smileasy Payment plan</span>(*) which has
            no credit checks and no need to prove your earnings. We also accept
            all health funds and we’re preferred providers for
            <span class="roboto-bold">HCF, Bupa, Medibank Privateand CBHS</span
            >.<br /><br />
            Our treatment plans are very personalised and we can tailor it to
            your budget so chances are we will have a solution for you and we’ll
            work with your budget.
          </p>
        </div>
        <app-button
          (click)="seeAllFinancial()"
          text="PAYMENT PLAN SOLUTIONS"
        ></app-button>
      </div>
      <div class="flex-1 margin-bottom-on-sm">
        <img
          loading="lazy"
          src="../../../assets/whyProudSmilePage/afford_it.png"
        />
      </div>
    </div>

    <div class="flexy-row-w-r sscc">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img
          loading="lazy"
          class="auto-margins-x"
          src="../../../assets/whyProudSmilePage/certificate.svg"
        />
      </div>
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            We got you <br />
            covered
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            We know Dentistry is not an exact science and as much as we follow
            strict protocols sometimes things can go wrong. Fortunately these
            are rare and we understand the impact it can have on our patients,
            which is why we, as a practice, offer assistance on a number of
            procedures to make those unlikely events less stressful to our
            clients. For example, if we place an implant and it gets rejected
            you’ll get a new one at no extra cost.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            You can be at ease knowing we’ll be with you in the good and bad
            times. All we ask is that you see us regularly for your check ups so
            we can identify problems early.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-white background-39 relative-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="full-width" fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc full-width">
      <div
        class="flex-1 sscc cosmetic padding-chef-on-sm padding-top-bottom-1 gmargin-right-1 no-margin-on-sm margin-bottom-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="title-on-big center-text-on-sm">
            We’d love to give <br />
            you a Proud Smile
          </p>
        </div>
        <div class="text-on-big roboto-regular font-medium center-text-on-sm">
          <p>
            Our Cosmetic department is second to none and it’s the jewel of our
            practice. We offer a comprehensive range of treatments to fit any
            desire and any budget.<br /><br />
            Our aesthetic treatments are always personalised and completely done
            in house by our dentists so you’re guaranteed to get a predictable
            result and one that fits your face and personality.
          </p>
        </div>
        <div
          class="line-6 line-6-on-big opacity-2 full-width margin-top-bottom-2"
        ></div>
        <div class="subtitle-on-big roboto-bold font-tiger center-text-on-sm">
          <p>
            Don’t want to wait weeks for<br />
            that perfect smile?<br />
          </p>
        </div>
        <div
          class="text-on-big text-roboto-regular font-medium center-text-on-sm"
        >
          <br />
          <p>
            Plus, with the introduction of digital dentistry we can now perform
            some procedures with no need for anaesthetics, such as our Ultra
            Thin Veneers.
          </p>
        </div>
        <app-button text="SEE AESTHETICS PAGE"></app-button>
      </div>
      <div
        class="flex-1 cosmetic-hero margin-bottom-on-sm absolute-container hide-on-sm"
      >
        <img
          class="max-width-unset-on-big max-width-unset-on-sm"
          src="../../../../assets/homePage/Hero2.png"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="face-spa-section color-white relative-container background-18 height-2 face-spa-section"
  fxLayout="column"
  fxLayoutAlign="center end"
>
  <div class="height-2 absolute-container hide-on-phone" style="right: 40%">
    <img
      loading="lazy"
      class="height-2"
      style="max-width: unset"
      src="../../../assets/whyProudSmilePage/facespa_woman.jpg"
    />
  </div>
  <div
    class="absolute-container height-2 padding-chef"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <img
            loading="laxy"
            src="../../../../assets/whyProudSmilePage/facespa.svg"
          />
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            Now you can trust your facial aesthetic needs with the makers of
            great smiles through our sister company FaceSpa Dermal Aesthetics, a
            special section of our clinic dedicated to the care and rejuvenation
            of the face. Dentistry is rapidly evolving to include aesthetic
            treatments for the face such as muscle relaxants and dermal fillers
            but at Proud Smile we went a step further and we transformed one of
            our rooms into a full scope Dermal Spa Clinic offering treatments
            such as facials, peels, skin needling, PRP (Platelet Rich Plasma),
            Light Therapy, Microdermabrasion and more so we really are now a one
            stop shop for all things relating to your face and mouth.
          </p>
        </div>

        <app-button text="SEE FACESPA PAGE"></app-button>
      </div>
    </div>
  </div>
</div>
