<div class="dentistry-section" style="position: relative; margin-top:144px; background: black;">
  <div style="position: absolute; bottom:-53px; z-index:1">
    <img src="../../../../assets/whyProudSmilePage/mainImage.png" />
  </div>

  <div
    class="
      flexy-column
      cccc
      padding-chef
      color-white
      padding-bottom-1 padding-top-1
    "
    style="position: absolute; top:0; z-index:5; margin:auto; left:0;right:0;padding:0;"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="font-large libre-regular center-text padding-top-bottom-1"
    >
      <div class="width-1">
        <img src="../../../assets/WhiteShape.svg" />
      </div>
      <p>
        The dentist you will<br />
        actually
        <span class="libre-italic">Want to Visit</span>
      </p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="flexy-row-w-r sscc margin-bottom-2" style="margin-top:16vw;">
        <div
          class="flex-1 dentistry-text flexy-column cccc margin-bottom-on-sm"
        >
          <div class="font-dog libre-regular margin-bottom-1">
            <p>Dentistry Reinvented</p>
          </div>
          <div class="roboto-regular font-medium">
            <p style="text-align: center">
              Proud Smile is a purposely built dental practice with one idea in
              mind: to change the face of dentistry. For decades dentistry has
              been associated with pain, anxiety, bad smells, cold, too
              expensive and judgmental. We decided it was time to change. Using
              proven elements from other types of businesses we transformed our
              practice into
              <span style="font-weight: bold"
                >a place where you’ll actually want to visit.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="NoJudgmentFullDesktop" style="position: relative">
  <div class="">
    <img
      class="no-judgment-image"
      loading="lazy"
      src="../../../assets/whyProudSmilePage/NoJudgmentFull.png"
    />
  </div>

  <div
    class="flexy-row-w sscc color-brown no-judgment-text"
    style="
      position: absolute;
      top: 0;
      left: 0;
      padding-left: calc(17.65vw - 42.96px);
      padding-right: calc(17.65vw - 42.96px);
      padding-top: 6vw;
    "
  >
    <div
      class="flex-1 sscc margin-bottom-on-sm no-margin-right-on-sm"
      fxLayout="column"
    >
      <div class="font-dog libre-regular margin-bottom-1">
        <p>No Judgment</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm margin-bottom-1">
        <p>
          We all live busy lives so it’s easy to put our health in second place.
          Whether you may be feeling embarrassed, afraid or overwhelmed, we’re
          here to listen. Our staff are super friendly and our dentists are
          great listeners and they just care more. If you take the first step to
          come and see us we will help you with the next ones and you’ll just
          feel so Proud of Yourself.
        </p>
      </div>
      <app-button
        text="MORE ABOUT OUR TOP TEAM"
        (click)="onWhoWeAre()"
      ></app-button>
    </div>
  </div>
</div>

<div class="NoJudgmentFullMobile">
  <div
    class="flexy-row-w sscc color-brown no-judgment-text"
    style="
      padding-left: calc(17.65vw - 42.96px);
      padding-right: calc(17.65vw - 42.96px);
      padding-top: 6vw;
    "
  >
    <div
      class="flex-1 no-jud-text sscc margin-bottom-on-sm no-margin-right-on-sm"
      fxLayout="column"
    >
      <div class="font-dog libre-regular margin-bottom-1">
        <p>No Judgment</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          We all live busy lives and so it’s easy to put our health in second
          place. Whether you may be feeling embarrassed, afraid or overwhelmed,
          we are here to listen. Our staff is super friendly and our dentists
          are great listeners and they just care more. If you take the first
          step to come and see us we will help you with the next ones and you
          will feel so Proud of Yourself.
        </p>
      </div>
      <app-button
        text="MORE ABOUT OUR TOP TEAM"
        (click)="onWhoWeAre()"
      ></app-button>
    </div>
  </div>

  <div class="">
    <img
      class="no-judgment-image"
      loading="lazy"
      src="../../../assets/whyProudSmilePage/NoJudgmentFull.png"
    />
  </div>
</div>

<div
  class="
    secondSection
    roboto-regular
    padding-chef
    color-brown
    background-2
    padding-top-bottom-1
  "
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="center-text margin-bottom-1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="libre-regular font-dog margin-bottom-1">
      <p>
        Shhh! Quieter <br />
        Instruments in use
      </p>
    </div>
    <div class="font-medium padding-chef no-padding-on-sm">
      <p>
        A lot of patients complain about of the sound and feel of our rotary
        instruments. That is why we’ve recently invested in quieter and smoother
        hand pieces. These are electric rather than air driven so you don’t get
        that high pitch sound and there’s less vibration too.
      </p>
    </div>
  </div>

  <div class="content" fxLayout="column" fxLayoutAlign="center center">
    <div class="videoContent flexy-row-w cccc">
      <div
        class="
          flexy-column
          sound-section
          color-gray-pale
          relative-container
          max-width-1 max-width-unset-on-sm
        "
        style="align-self: stretch; justify-content: center; padding: 20px 0"
      >
        <audio #sound1>
          <source
            src="../../../../assets/whyProudSmilePage/sound1Audio.mp3"
            type="audio/mp3"
          />
        </audio>
        <div class="margin-bottom-1">
          <img
            loading="lazy"
            class="full-width"
            src="../../assets/whyProudSmilePage/Sound1.png"
          />
        </div>
        <div
          class="absolute-container"
          style="bottom: 0; right: 0"
          fxLayout
          fxLayoutAlign="end center"
          [ngClass]="'playButton'"
          (click)="playSound1()"
        >
          <div class="roboto-regular font-extra-small-3 padding-right-1">
            <p class="right-text">
              <span class="roboto-bold">Hear the New Sound</span><br />Click to
              Play
            </p>
          </div>
          <div>
            <img
              loading="lazy"
              #soundButton1
              class="pulse-button"
              src="../../assets/whyProudSmilePage/SoundPlay.svg"
            />
          </div>
        </div>
      </div>

      <div class="verticalLine"></div>

      <div
        class="line-2 opacity-2 full-width margin-top-bottom-2 hide-on-big"
      ></div>
      <div
        class="
          flexy-column
          sound-section
          color-gray-pale
          relative-container
          max-width max-width-unset-on-sm
        "
        style="align-self: stretch; justify-content: center; padding: 20px 0"
      >
        <audio #sound2>
          <source
            src="../../../../assets/whyProudSmilePage/sound2Audio.mp3"
            type="audio/mp3"
          />
        </audio>
        <div class="margin-bottom-1">
          <img
            loading="lazy"
            class="full-width"
            src="../../assets/whyProudSmilePage/Sound2.png"
          />
        </div>
        <div
          class="absolute-container"
          style="bottom: 0; right: 0"
          fxLayout
          fxLayoutAlign="end center"
          [ngClass]="'playButton'"
          (click)="playSound2()"
        >
          <div class="roboto-regular font-extra-small-3 padding-right-1">
            <p class="right-text">
              <span class="roboto-bold">Hear the New Sound</span><br />Click to
              Play
            </p>
          </div>
          <div>
            <img
              loading="lazy"
              #soundButton2
              class="pulse-button"
              src="../../assets/whyProudSmilePage/SoundPlay.svg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>

    <div
      class="headphones margin-top-3"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
    >
      <div class="imageContainer">
        <img
          loading="lazy"
          src="../../../assets/whyProudSmilePage/headphones.png"
        />
      </div>
      <div
        class="mainText opacity-5 roboto-regular font-medium color-gray-dark"
      >
        <p>
          We also have noise canceling headphones so you can focus on your
          favourite TV show while we work. Just the little things that make a
          whole lot of difference.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown background-1 padding-top-3 padding-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="padding-chef-right-on-big"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc">
      <div class="margin-right-1 no-margin-on-sm" style="flex: 0 0 55%">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/AnxiousPatients/hand.png"
        />
      </div>
      <div
        class="flex-1 sscc margin-bottom-on-sm padding-chef-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Virtually pain free</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            There’s no doubt that pain is one of our biggest fears and
            unfortunately a lot of our patients carry trauma from past
            experiences. However, with modern techniques and advancements in
            local anaesthetics we can comfortably say treatments are now
            virtually pain free. Depending on the procedure and the location in
            the mouth chances are you won’t even feel the application of local
            anaesthetics, you really will be surprised.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1"
        >
          <p>
            Plus, with the introduction of digital dentistry we can now perform
            some procedures with no anaesthetics, such as our Ultra Thin
            Veneers.
          </p>
        </div>
        <app-button
          text="ULTRA THIN VENEERS"
          (click)="seeUltraThin()"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-3 padding-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div
        class="
          flex-1
          sscc
          margin-right-1
          no-margin-on-sm
          margin-bottom-on-sm
          padding-top-bottom-1
        "
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            New Patient?<br />Welcome to our<br />family.
          </p>
        </div>
        <div
          class="
            roboto-regular
            font-regular
            color-gray-dark
            font-lion
            margin-bottom-1
          "
        >
          <p class="center-text-on-sm">
            Our comprehensive new patient examination is, well, comprehensive.
            You will get:
          </p>
        </div>

        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              Bite checks for any dysfunction and possible causes of wear
              (Orthodontic recommendation provided).
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              TMJ joint checks and lymph nodes to check for signs of infection.
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">Periodontal (gums) check.</p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              3D scan of your mouth so we can monitor changes overtime.
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">Cancer screen.</p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              Full mouth examination, teeth, gums, cheeks, tong and lips.
            </p>
          </div>
        </div>
        <div class="line-3 full-width margin-top-bottom-2"></div>
        <div
          class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          "
        >
          <div class="width-4">
            <img
              loading="lazy"
              src="../../../assets/whyProudSmilePage/GreenCheck.png"
            />
          </div>
          <div class="flex-1 margin-left-1">
            <p class="left-text">
              No maximum number of x-rays and no charge for more than 2.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1 relative-container">
        <img loading="lazy" src="../../../assets/whyProudSmilePage/99.png" />
        <button
          class="button-3 color-fuscia absolute-container"
          style="bottom: 4%; left: 14%"
          fxFlexAlign="center"
          (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
          )
          "
        >
          <img src="../../../assets/contactPage/calendarOrange.svg" />
          <p>Instant Online Booking</p>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="
    padding-chef
    color-brown
    background-1
    padding-bottom-1 padding-top-bottom-1
  "
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc margin-bottom-2">
      <div
        class="
          flex-1
          sscc
          margin-right-1 margin-bottom-on-sm
          no-margin-right-on-sm
        "
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p>You Can Afford It</p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1"
        >
          <p>
            We believe that good quality dentistry, whether for health or
            aesthetics, should be accessible to all. Our prices are quite
            transparent and you will always know the cost before any procedure
            so there’s no nasty surprises.<br /><br />
            We offer a comprehensive range of payment plans, including our own
            <span class="roboto-bold">Smileasy Payment plan</span>. No deposit,
            no credit assessment and no interest. We also accept all health
            funds and we are preferred providers for
            <span class="roboto-bold"
              >HCF, Bupa, Medibank Private, CBHS and NIB First Choice (*).</span
            ><br /><br />
            Our treatment plans are personalised and we can tailor them to your
            budget so chances are we will have a solution for you. <br/><br/>
            <span class="font-small-4">(*)Medibank Private members choice available at Pacific Fair only
              and NIB First Choice and CBHS available at Bundall only.</span>
          </p>
        </div>
        <app-button
          (click)="seeAllFinancial()"
          text="PAYMENT PLAN SOLUTIONS"
        ></app-button>
      </div>
      <div class="flex-1 margin-bottom-on-sm">
        <img
          loading="lazy"
          src="../../../assets/whyProudSmilePage/afford_it_2.png"
        />
      </div>
    </div>

    <div class="flexy-row-w-r sscc">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img
          loading="lazy"
          class="auto-margins-x"
          src="../../../assets/whyProudSmilePage/certificate.svg"
        />
      </div>
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            We got you <br />
            covered
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            We know dentistry is not an exact science and as much as we follow
            strict protocols sometimes things can go wrong. Fortunately these
            are rare and we understand the impact it can have on our patients,
            which is why we offer a warranty on a number of procedures to make
            those unlikely events less stressful to our clients.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            You can be at ease knowing we will be with you in the good and bad
            times. All we ask is that you see us regularly for your check ups so
            we can identify problems early.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hide-on-sm" id="ProudSmileParent2" style=" background: black; display: flex; align-items: center;">

  <div id="ProudSmileCanvasContainer2" style="position: relative; ">
    <canvas id="hero-proudsmile2"></canvas>
    <div class="canvas-framer">
      <div style="
            position: absolute;
            top: 0px;
            left: 0;
            height: 4vw;
            background: linear-gradient(black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
      <div style="
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: linear-gradient(90deg, black, transparent);
            z-index: 6;
            width: 4vw;
          "></div>
  
      <div style="
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background: linear-gradient(270deg, black, transparent);
            z-index: 6;
            width: 4vw;
          "></div>
  
      <div style="
            position: absolute;
            left: 0;
            bottom: 0px;
            height: 4vw;
            background: linear-gradient(0deg, black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
    </div>

    <div class="venTextDesktop hide-on-sm" style="position: absolute; top: 0; color: white; z-index: 10; right: -15vw">
    <div class="
        flex-1
        sscc
        padding-chef-on-sm
        gmargin-right-1
        no-margin-on-sm
        margin-bottom-on-sm
      " fxLayout="column" style="padding-bottom: 2vw">
      <div class="font-wolf libre-regular margin-bottom-1">
        <p class="title-on-big center-text-on-sm">
          We’d love to give <br />
          you a Proud Smile
        </p>
      </div>
      <div class="roboto-thin font-small-3 center-text-on-sm">
        <p>
          Our Cosmetic department is second to none and it’s the jewel of our
          practice. We offer a comprehensive range of treatments to fit any
          desire and any budget.<br /><br />
          Our aesthetic treatments are always personalised and completely done
          in house by our dentists so you are guaranteed to get a predictable
          result and one that fits your face and personality.
        </p>
      </div>
      <div class="line-6 line-6-on-big opacity-2 full-width margin-top-bottom-2"></div>
      <div class="subtitle-on-big roboto-small-3 font-medium center-text-on-sm">
        <p>
          Don’t want to wait weeks for<br />
          that perfect smile?<br />
        </p>
      </div>
      <div class="roboto-thin font-small-3 center-text-on-sm" style="margin-bottom: 2vw">
        <br />
        <p>
          Plus, with the introduction of digital dentistry we can now perform
          some procedures with no need for anaesthetics, such as our Ultra Thin
          Veneers.
        </p>
      </div>
      <app-button text="SEE AESTHETICS PAGE" (click)="seeAllAesthetic()"></app-button>
    </div>
  </div>


  </div>

</div>


<div class="hide-on-big" style="background: black; color:white; padding-top:10vw;">
  <div class="font-cat libre-regular margin-bottom-1">
    <p class="title-on-big center-text-on-sm">
      Aesthetics
    </p>
  </div>
  <div class="
  flex-1
  sscc
  padding-chef-on-sm
  gmargin-right-1
  no-margin-on-sm
  margin-bottom-on-sm
" fxLayout="column" style="padding-bottom: 2vw">
<div class="font-wolf libre-regular margin-bottom-1">
  <p class="title-on-big center-text-on-sm">
    We’d love to give <br />
    you a Proud Smile
  </p>
</div>
<div class="roboto-thin font-small-3 center-text-on-sm">
  <p>
    Our Cosmetic department is second to none and it’s the jewel of our
    practice. We offer a comprehensive range of treatments to fit any
    desire and any budget.<br /><br />
    Our aesthetic treatments are always personalised and completely done
    in house by our dentists so you are guaranteed to get a predictable
    result and one that fits your face and personality.
  </p>
</div>
<div class="line-6 line-6-on-big opacity-2 full-width margin-top-bottom-2"></div>
<div class="subtitle-on-big roboto-small-3 font-medium center-text-on-sm">
  <p>
    Don’t want to wait weeks for<br />
    that perfect smile?<br />
  </p>
</div>
<div class="roboto-thin font-small-3 center-text-on-sm" style="margin-bottom: 8vw">
  <br />
  <p>
    Plus, with the introduction of digital dentistry we can now perform
    some procedures with no need for anaesthetics, such as our Ultra Thin
    Veneers.
  </p>
</div>
<app-button text="SEE AESTHETICS PAGE" (click)="seeAllAesthetic()"></app-button>
</div>
  <div style="position: relative;">
    <div>
      <img src="../../../assets/homePage/ladysmall.jpg"/>
    </div>
    <div style="
            position: absolute;
            top: 0px;
            left: 0;
            height: 8vw;
            background: linear-gradient(black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
               
  </div>

</div>




<div
  class="
    flexy-column
    cccc
    face-spa-section
    color-white
    relative-container
    background-18
    height-7
  "
>
  <div class="height-7 absolute-container hide-on-phone" style="right: 40%">
    <img
      loading="lazy"
      class="height-7"
      style="max-width: unset"
      src="../../../assets/whyProudSmilePage/facespa_woman.jpg"
    />
  </div>
  <div
    class="absolute-container height-7"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <img
            loading="laxy"
            src="../../../../assets/whyProudSmilePage/facespa.svg"
          />
        </div>
        <div
          class="
            roboto-thin
            font-medium
            center-text-on-sm
            margin-bottom-1 margin-bottom-on-sm
          "
        >
          <p>
            Now you can trust your facial aesthetic needs with the makers of
            great smiles through our sister company FaceSpa Dermal Aesthetics, a
            special section of our clinic dedicated to the care and rejuvenation
            of the face.<br /><br />
            Dentistry is rapidly evolving to include aesthetic treatments for
            the face such as muscle relaxants and dermal fillers but at Proud
            Smile we went a step further and we transformed one of our rooms
            into a full scope Dermal Spa Clinic offering treatments such as
            facials, peels, skin needling, PRP (Platelet Rich Plasma), Light
            Therapy, Microdermabrasion and more so we really are now a one stop
            shop for all things relating to your face and mouth.
          </p>
        </div>

        <div
          class="flex-1 margin-bottom-on-sm"
          style="margin-top: 2vw; display: flex; align-items: flex-start"
        >
          <div>
            <img
              loading="lazy"
              src="../../../../assets/aesthetics/FaceSpa/pc.png"
            />
          </div>
          <div
            style="margin-top: 20px"
            class="link color-orange roboto-bold font-small-4 cursor-pointer"
            (click)="seeFacespaPage()"
          >
            <p fxLayout fxLayoutAlign="center center">
              For more information about<br />
              FaceSpa please visit our dedicated<br />
            </p>
            <p>
              website on this link.
              <img
                style="display: inline; vertical-align: middle; width: 20px"
                src="../../assets/orangeArrow.svg"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
