<div
  class="padding-chef color-brown background-6 padding-top-bottom-1 margin-top-2"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>Invisalign</p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>
        Change your Smile, <br />
        not your lifestyle
      </p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        Invisalign is the number 1 clear aligner therapy in the world. More than
        5 million patients have been treated with this technology. You can enjoy
        straighter teeth in as little as 3 months.
        <span class="roboto-bold">What is so great about Invisalign?</span>
      </p>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-15 padding-bottom-1 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center" class="full-width">
    <div class="flexy-col full-width">
      <app-dropdown
        question="What do Invisalign aligners look like?"
        index="01"
      >
        <p class="left-text">
          Invisalign aligners look similar to clear retainers, teeth-whitening
          trays, or gum shields. A series of Invisalign aligners are custom-made
          for you and each aligner will contain the patient identification
          number (PID number) and the Invisalign logo.
        </p>
      </app-dropdown>

      <app-dropdown question="How long will treatment take?" index="02">
        <p class="left-text">
          The length of your treatment will depend on your specific needs and
          will be determined by your doctor. The average treatment for
          Invisalign Full or Invisalign Teen is about 12 to 18 months and for
          Invisalign Go it’s between 2 to 5 months, treatment length may vary
          depending on each individual case and will need to be determined by
          the doctor.
        </p>
      </app-dropdown>

      <app-dropdown question="Do I need to wear my aligner all day?" index="03">
        <p class="left-text">
          You should wear each aligner for 20 to 22 hours a day during your
          treatment for best results and a timely outcome.
        </p>
      </app-dropdown>

      <app-dropdown
        question="How often do I need to see my doctor during my Invisalign Treatment?"
        index="04"
      >
        <p class="left-text">
          You will visit your doctor for a check approximately every 6-8 weeks
          to see how your treatment is progressing. During your check-ups, your
          Invisalign-trained doctor will check that the aligners are fitting
          well and make any adjustments if necessary, more aligners are then
          provided.
        </p>
      </app-dropdown>

      <app-dropdown
        question="How often should I change my aligners?"
        index="05"
      >
        <p class="left-text">
          You will usually change your aligners every week. However, please
          follow your Invisalign-trained doctor’s specific instructions
          regarding when you need to change your aligners as this may vary
          between patients.
        </p>
      </app-dropdown>
      <app-dropdown
        question="How long before I start seeing results?"
        index="06"
      >
        <p class="left-text">
          Results with Invisalign Full usually start showing a few months after
          starting treatment and for Invisalign Go usually after 4 weeks. You
          can now download the Invisalign App from the Apple store or Google
          Play and you can monitor results on your phone.
        </p>
      </app-dropdown>
      <app-dropdown
        question="Does my health insurance cover INvisalign?"
        index="07"
      >
        <p class="left-text">
          Yes, most insurances will cover Aligner Therapy if you have
          orthodontics on your package. Claims are usually made over 2 years.
          Depending on your rebate we can use that towards a payment plan if you
          choose to use that to pay for your treatment.
        </p>
      </app-dropdown>
      <app-dropdown
        question="Will wearing aligners affect my speech?"
        index="08"
      >
        <p class="left-text">
          Similar to other orthodontic treatments, the Invisalign aligners may
          temporarily affect the speech of some people for a day or two.
          However, as your tongue gets used to having aligners in your mouth,
          any misarticulation or minor speech impediment caused by the aligners
          should disappear.
        </p>
      </app-dropdown>
      <app-dropdown question="Is Invisalign Treatment painful?" index="09">
        <p class="left-text">
          While Invisalign treatment may move your teeth without the pain and
          anxiety of other straightening methods, some people might experience
          temporary, minor discomfort for a few days at the beginning of each
          new stage of treatment. This is normal and is typically described as a
          feeling of pressure. It's a sign that the Invisalign aligners are
          sequentially moving your teeth to their final positions. This
          discomfort usually goes away a couple of days after you insert the new
          aligner in the series.
        </p>
      </app-dropdown>
      <app-dropdown question="Can I wear aligners if I’m pregnant?" index="10">
        <p class="left-text">
          The aligners are made of non-toxic, medical-grade plastic and can be
          worn during pregnancy. If you’re concerned, please consult your
          healthcare professional.
        </p>
      </app-dropdown>
      <app-dropdown
        question="Are there any restrictions on what I can eat during treatment?"
        index="11"
      >
        <p class="left-text">
          No, you can usually eat what you want while in treatment because the
          Invisalign aligners are removed when eating or drinking. Thus, there’s
          no need to refrain from your favourite foods and drinks unless
          instructed by your doctor. However, it’s recommended that you floss
          and brush your teeth after each meal and prior to re-inserting your
          aligners to maintain proper oral hygiene.
        </p>
      </app-dropdown>
    </div>
  </div>
</div>
