<div
  class="
    padding-chef
    color-brown
    background-6
    padding-top-bottom-1
    margin-top-6
  "
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>Invisalign</p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>
        Change your Smile, <br />
        not your lifestyle
      </p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-2">
      <p>
        Invisalign is the number 1 clear aligner therapy in the world. More than
        5 million patients have been treated with this technology. You can enjoy
        straighter teeth in as little as 3 months.
        <span class="roboto-bold">What is so great about Invisalign?</span>
      </p>
    </div>
    <div>
      <img src="../../../../assets/healthPage/Invisalign/smile.png" />
    </div>
    <div
      class="flexy-row-w full-width margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div class="flexy-column steps sscc margin-bottom-on-sm">
        <div class="margin-bottom-1">
          <img
            class="opacity-5"
            src="../../../../assets/healthPage/Invisalign/1.svg"
          />
        </div>
        <div class="roboto-bold color-brown font-small margin-bottom-3">
          <p>Nearly Invisible</p>
        </div>
        <div class="roboto-medium color-brown opacity-8 font-extra-small">
          <p>
            Invisalign is virtually invisible. This means you can always smile
            with confidence, as compared to traditional braces where the wires
            and metal brackets can be seen.
          </p>
        </div>
      </div>
      <div class="flexy-column steps sscc margin-bottom-on-sm">
        <div class="margin-bottom-1">
          <img
            class="opacity-5"
            src="../../../../assets/healthPage/Invisalign/2.svg"
          />
        </div>
        <div class="roboto-bold color-brown font-small margin-bottom-3">
          <p>Removable</p>
        </div>
        <div class="roboto-medium color-brown opacity-8 font-extra-small">
          <p>
            Invisalign aligners are made with SmartTrack flexible material,
            making it super easy to remove and put on, unlike braces wich are
            fixed. Now you can enjoy your favourite food any time you want.
          </p>
        </div>
      </div>
      <div class="flexy-column steps sscc margin-bottom-on-sm">
        <div class="margin-bottom-1">
          <img
            class="opacity-5"
            src="../../../../assets/healthPage/Invisalign/3.svg"
          />
        </div>
        <div class="roboto-bold color-brown font-small margin-bottom-3">
          <p>Lesser Pain</p>
        </div>
        <div class="roboto-medium color-brown opacity-8 font-extra-small">
          <p>
            SmartStage and Smart Force technologies ensure there will only be
            gradual and gentle yet effective teeth movement troughout your
            treatment, as compared to braces wich may irritate and cause pain.
          </p>
        </div>
      </div>
    </div>
    <div class="flexy-row-w full-width" style="justify-content: space-evenly">
      <div class="flexy-column steps sscc margin-bottom-on-sm">
        <div class="margin-bottom-1">
          <img
            class="opacity-5"
            src="../../../../assets/healthPage/Invisalign/4.svg"
          />
        </div>
        <div class="roboto-bold color-brown font-small margin-bottom-3">
          <p>Lesser Doctor Visits</p>
        </div>
        <div class="roboto-medium color-brown opacity-8 font-extra-small">
          <p>
            Unlike braces where you have to visit your doctor every 3-4 weeks,
            Invisalign frees up your schedule with visits to the clinic only
            once every 6-8 weeks.
          </p>
        </div>
      </div>
      <div class="flexy-column steps sscc margin-bottom-on-sm">
        <div class="margin-bottom-1">
          <img src="../../../../assets/healthPage/Invisalign/5.png" />
        </div>
        <div class="roboto-bold color-brown font-small margin-bottom-3">
          <p>Clearer Timelines</p>
        </div>
        <div class="roboto-medium color-brown opacity-8 font-extra-small">
          <p>
            Invisalign treatment allows you to visualize every stage of the
            treatment, giving you a clearer picture of the treatment duration.
            Braces can only give you an approximate duration at the beginning of
            the treatment.
          </p>
        </div>
      </div>
      <div class="flexy-column steps sscc margin-bottom-on-sm">
        <div class="margin-bottom-1">
          <img src="../../../../assets/healthPage/Invisalign/6.png" />
        </div>
        <div class="roboto-bold color-brown font-small margin-bottom-3">
          <p>Better Oral Health</p>
        </div>
        <div class="roboto-medium color-brown opacity-8 font-extra-small">
          <p>
            Since Invisalign aligners are removable, you can still floss and
            brush your teeth as per normal whereas bracers may make it difficult
            for you to clean in between the metal brackets which can result in
            plaque accumulation and poor oral hygiene.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-white relative-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <video
    loading="lazy"
    class="full-width"
    preload="auto"
    muted
    #openingVideo
    loop
    style="display: none"
  >
    <source
      src="../../../../assets/healthPage/Invisalign/OpeningVideo.mp4"
      type="video/mp4"
    />
  </video>
</div>

<div class="padding-chef color-brown background-38 padding-top-bottom-1">
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="font-dog libre-regular margin-bottom-4">
      <p>The Invisalign Experience</p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-2">
      <p>
        Be prepared to be impressed by your Invisalign journey. From your free
        assessment all the way to your straight smile there’s loads of
        technology at every stage. The whole process if fully digital and clean.
        And it’s very fast too. You’ll quickly understand why Invisalign is the
        number 1 in clear aligner therapy in the world.
      </p>
    </div>
  </div>

  <div class="flexy-row hide-on-big scsc margin-bottom-7">
    <div class="flexy-column cccc">
      <div class="margin-bottom-1">
        <p
          class="
            center-text
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          WELCOME
        </p>
        <p
          class="
            center-text
            margin-bottom-3
            roboto-bold
            color-brown
            font-medium
          "
        >
          Free Assessment
        </p>
        <p
          class="
            center-text
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          This will take only 15 minutes, we will take a digital scan, there are
          no moulds. Together with some photographs we then submit this
          information with our prescription to Invisalign in the USA. Right at
          this appointment we may be able to give you a rough idea of the
          results you can expect using our iTero scanner.
        </p>
      </div>

      <div class="margin-bottom-1">
        <img src="../../../../assets/healthPage/Invisalign/FreeAssesment.jpg" />
      </div>

      <div class="margin-bottom-1">
        <p
          class="
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          FIRST STEP
        </p>
        <p class="margin-bottom-3 roboto-bold color-brown font-medium">
          Virtual Smile
        </p>
        <p
          class="
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          See your new smile right at the computer screen even before we start.
          Invisalign is the only brand where you can see your virtual straight
          teeth right on your smile photo so you’ll be able to assess how it
          looks like on your face.
        </p>
      </div>

      <div class="margin-bottom-1">
        <img src="../../../../assets/healthPage/Invisalign/VirtualSmile.jpg" />
      </div>

      <div class="margin-bottom-1">
        <p
          class="
            center-text
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          LET’S GO
        </p>
        <p
          class="
            center-text
            margin-bottom-3
            roboto-bold
            color-brown
            font-medium
          "
        >
          Aligner production
        </p>
        <p
          class="
            center-text
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          After we approve the treatment aligners start getting manufactured
          immediately, the whole process is completely automated and extremely
          precise.
        </p>
      </div>

      <div class="margin-bottom-1">
        <img
          src="../../../../assets/healthPage/Invisalign/AlignerProduction.jpg"
        />
      </div>

      <div class="margin-bottom-1">
        <p
          class="
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          READY
        </p>
        <p class="margin-bottom-3 roboto-bold color-brown font-medium">
          Treatment starts
        </p>
        <p
          class="
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          You start wearing the trays and we will assess the progress once a
          month.
        </p>
      </div>

      <div class="margin-bottom-1">
        <img
          src="../../../../assets/healthPage/Invisalign/TreatmentStarts.jpg"
        />
      </div>
    </div>
  </div>

  <div class="flexy-row hide-on-sm scsc margin-bottom-7">
    <div
      class="flexy-column relative-container"
      style="flex: 1; max-width: 400px"
    >
      <div class="absolute-container" style="top: 230px">
        <p
          class="
            right-text
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          WELCOME
        </p>
        <p
          class="right-text margin-bottom-3 roboto-bold color-brown font-medium"
        >
          Free Assessment
        </p>
        <p
          class="
            right-text
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          This will take only 15 minutes, we will take a digital scan, there are
          no moulds. Together with some photographs we then submit this
          information with our prescription to Invisalign in the USA. Right at
          this appointment we may be able to give you a rough idea of the
          results you can expect using our iTero scanner.
        </p>
      </div>

      <div class="absolute-container" style="top: 740px">
        <img src="../../../../assets/healthPage/Invisalign/VirtualSmile.jpg" />
      </div>

      <div class="absolute-container" style="top: 1260px">
        <p
          class="
            right-text
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          LET’S GO
        </p>
        <p
          class="right-text margin-bottom-3 roboto-bold color-brown font-medium"
        >
          Aligner production
        </p>
        <p
          class="
            right-text
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          After we approve the treatment aligners start getting manufactured
          immediately, the whole process is completely automated and extremely
          precise.
        </p>
      </div>

      <div class="absolute-container" style="top: 1770px">
        <img
          src="../../../../assets/healthPage/Invisalign/TreatmentStarts.jpg"
        />
      </div>
    </div>
    <div class="flexy-column cccc" style="flex: 0 0 200px">
      <img
        style="width: 55px"
        src="../../../../assets/healthPage/Invisalign/linie.svg"
      />
    </div>
    <div
      class="flexy-column relative-container"
      style="flex: 1; max-width: 400px"
    >
      <div class="absolute-container" style="top: 230px">
        <img src="../../../../assets/healthPage/Invisalign/FreeAssesment.jpg" />
      </div>

      <div class="absolute-container" style="top: 740px">
        <p
          class="
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          FIRST STEP
        </p>
        <p class="margin-bottom-3 roboto-bold color-brown font-medium">
          Virtual Smile
        </p>
        <p
          class="
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          See your new smile right at the computer screen even before we start.
          Invisalign is the only brand where you can see your virtual straight
          teeth right on your smile photo so you’ll be able to assess how it
          looks like on your face.
        </p>
      </div>

      <div class="absolute-container" style="top: 1260px">
        <img
          src="../../../../assets/healthPage/Invisalign/AlignerProduction.jpg"
        />
      </div>

      <div class="absolute-container" style="top: 1770px">
        <p
          class="
            margin-bottom-5
            roboto-medium
            color-brown
            opacity-5
            font-extra-small-2
          "
        >
          READY
        </p>
        <p class="margin-bottom-3 roboto-bold color-brown font-medium">
          Treatment starts
        </p>
        <p
          class="
            margin-bottom-1
            roboto-medium
            color-brown
            opacity-8
            font-extra-small
          "
        >
          You start wearing the trays and we will assess the progress once a
          month.
        </p>
      </div>
    </div>
  </div>

  <div class="flexy-row-w cccc full-width margin-bottom-1">
    <div class="font-wolf color-brown roboto-regular">
      <p class="center-text">
        Book your <span class="roboto-bold">Free Invisalign</span><br />
        <span class="roboto-bold">Assessment</span> Today
      </p>
    </div>
  </div>
  <div class="flexy-row-w cccc full-width">
    <button
      class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="
        goToLink(
          'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
        )
      "
    >
      INSTANT ONLINE BOOKING
    </button>
  </div>
</div>

<div class="padding-chef color-brown background-24 padding-top-bottom-1">
  <div
    class="center-text margin-bottom-2"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Why Invisalign?</p>
    </div>
  </div>
  <div class="flexy-column">
    <div
      class="flexy-row full-width margin-bottom-9 cccc"
      style="justify-content: space-evenly"
    >
      <div fxFlex style="text-align: end; margin-right: 8vw">
        <p></p>
      </div>
      <div fxFlex>
        <img
          src="../../../../assets/healthPage/Invisalign/InvisalignLogo.png"
        />
      </div>
      <div fxFlex class="roboto-medium font-tiger color-gray-dark">
        <p>Others</p>
      </div>
    </div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Trays Delivery</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>1,5 weeks</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>4-6 weeks</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Material</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>
          SmartTrack 3D<br />
          printed
        </p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>Thermoplastic</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>
          Dentist prescribed and<br />
          monitored
        </p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>Yes</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>No</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>
          Advanced Techniques (only<br />
          available to dentists)
        </p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>Yes</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>No</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>
          Timeframe for revisions<br />
          (if required)
        </p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>1,5 weeks</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>4-6 weeks</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Gum comfort</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>Trimmed around gums</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>Goes over the gums</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>
          Retainers (to prevent relapse at<br />
          the end of treatment)
        </p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>
          Vivera 3D printed retainers or<br />
          fixed wires
        </p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>Thermoplastic retainers</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Health of teeth and gums</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>Checked by dentists</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>
          Not checked (direct to<br />
          consumer brand)
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="
    padding-chef
    color-brown
    background-15
    padding-bottom-1 padding-top-bottom-1
  "
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Levels and Cost</p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-2">
      <p>
        We offer 4 levels of Invisalign treatment depending on your requirements
        and budget.
      </p>
    </div>
  </div>
  <div class="box margin-bottom-2 flexy-column cccc relative-container">
    <div class="roboto-medium font-medium margin-bottom-1 margin-top-5">
      <p><span class="roboto-bold">Invisalign</span> - starting from:</p>
    </div>
    <div class="flexy-row margin-bottom-1 cccc">
      <div class="flexy-column margin-right-2 margin-bottom-on-sm cccc">
        <div class="flexy-row">
          <div
            class="
              roboto-medium
              font-medium
              color-brown
              opacity-4
              margin-bottom-7
            "
          >
            <p>ONE TIME PAYMENT</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$2900</p>
        </div>
      </div>
      <div class="flexy-column margin-right-2 cccc hide-on-sm">
        <div class="vertical-line-1" style="margin-bottom: 8px"></div>
        <div
          class="
            roboto-bold
            font-extra-small
            color-gray-dark
            opacity-5
            margin-bottom-7
          "
        >
          <p>OR</p>
        </div>
        <div class="vertical-line-2"></div>
      </div>
      <div class="flexy-column cccc margin-bottom-on-sm">
        <div class="flexy-row">
          <div
            class="
              roboto-medium
              font-medium
              color-brown
              opacity-4
              margin-bottom-7
            "
          >
            <p>WEEKLY PAYMENT</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">45$</p>
        </div>
      </div>
    </div>
    <div
      class="
        cursor-pointer
        roboto-bold
        font-small-3
        margin-bottom-1
        relative-container
      "
      style="z-index: 1"
      fxLayout
      fxLayoutAlign="center center"
      (click)="seeAllFinancial()"
    >
      <div class="opacity-8">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/ClearBraces/CardBrown.svg"
        />
      </div>
      <div class="margin-left-1 opacity-8">
        <p>On the Smileasy Plan</p>
      </div>
      <div class="margin-left-1 opacity-5">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/ClearBraces/BrownArrow.svg"
        />
      </div>
    </div>
    <div class="absolute-container" style="bottom: -10px">
      <img src="../../../../assets/healthPage/Invisalign/wave_1.svg" />
    </div>
  </div>
  <div class="flexy-column sscc margin-bottom-1">
    <div class="flexy-row-w margin-bottom-1 sscc">
      <div
        class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
      >
        <img
          class="max-width-unset-on-big max-width-unset-on-sm"
          src="../../../../assets/healthPage/Invisalign/InvisalignGoLogo.png"
        />
      </div>
      <div class="font-small-3 color-brown roboto-regular">
        <p>
          Invisalign Express is our expedited option for treatment of minor
          crowding. Results can be achieved in as little as 7 weeks. This is a
          great option for minor relapse from your braces or for that one tooth
          that just bothers you.
        </p>
      </div>
    </div>
    <div class="line-3 full-width margin-bottom-1"></div>
    <div class="flexy-row-w margin-bottom-1 sscc">
      <div
        class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
      >
        <img
          class="max-width-unset-on-big max-width-unset-on-sm"
          src="../../../../assets/healthPage/Invisalign/InvisalignFullLogo.png"
        />
      </div>
      <div class="font-small-3 color-brown roboto-regular">
        <p>
          This is our most popular Invisalign as most cases will fall within
          this level of treatment. This can treat minor to moderate crowding and
          some minor functional problems in as little as 14 weeks. It's a great
          option for those who want straighter teeth and don't have any
          functional problems or just really want to focus the results on their
          front teeth only. Lite is also great for patients considering
          porcelain Veneers and who want their aesthetic results to be of a very
          high level of perfection or for those who'd like the Ultra Thin
          Veneers, that is because when your teeth are straight we don't have to
          do much preparation for them to receive veneers. This level allows for
          1 extra set of aligners, if required, to refine the case.
        </p>
      </div>
    </div>
    <div class="line-3 full-width margin-bottom-1"></div>
    <div class="flexy-row-w margin-bottom-4 sscc">
      <div
        class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
      >
        <img
          class="max-width-unset-on-big max-width-unset-on-sm"
          src="../../../../assets/healthPage/Invisalign/InvisalignTeenLogo.png"
        />
      </div>
      <div class="font-small-3 color-brown roboto-regular">
        <p>
          Invisalign Moderate treats a wide range of crowding, bite problems,
          spacing other functional problems. This is also suitable for teenagers
          wanting an alternative option to braces. It is still quite fast,
          approximately 26 weeks and it comes with unlimited refinements for a
          period of 2 years for that perfect result.
        </p>
      </div>
    </div>
    <div class="line-3 full-width margin-bottom-1"></div>
    <div class="flexy-row-w margin-bottom-4 sscc">
      <div
        class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
      >
        <img
          class="max-width-unset-on-big max-width-unset-on-sm"
          src="../../../../assets/healthPage/Invisalign/InvisalignTeenLogo.png"
        />
      </div>
      <div class="font-small-3 color-brown roboto-regular">
        <p>
          This is our top level Invisalign treatment suitable for mild to severe
          alignment and problems including large spaces or severe lack of it.
          Complex aesthetic issues including profile problems, lack of lip
          support and complex bite problems. Invisalign Comprehensive allows for
          unlimited refinement aligners for a period of 5 years meaning that
          even if you get relapse for any reason you can get treatment again at
          no extra cost. Comprehensive treatments are also faster than most
          traditional braces.
        </p>
      </div>
    </div>
    <div class="flexy-row-w margin-bottom-1 sscc full-width">
      <div
        class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
      ></div>
      <div class="font-wolf color-brown roboto-regular">
        <p>
          Book your <span class="roboto-bold">Free Invisalign</span><br />
          <span class="roboto-bold">Assessment</span> Today
        </p>
      </div>
    </div>
    <div class="flexy-row-w margin-bottom-2 sscc full-width">
      <div
        class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
      ></div>
      <button
        class="
          book3
          color-white
          roboto-medium
          font-extra-small-2
          cursor-pointer
        "
        (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
          )
        "
      >
        INSTANT ONLINE BOOKING
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="full-width">
    <div class="flexy-col full-width">
      <app-dropdown
        question="What do Invisalign aligners look like?"
        index="01"
      >
        <p class="left-text">
          Invisalign aligners look similar to clear retainers, teeth-whitening
          trays, or gum shields. A series of Invisalign aligners are custom-made
          for you and each aligner will contain the patient identification
          number (PID number) and the Invisalign logo.
        </p>
      </app-dropdown>

      <app-dropdown question="How long will treatment take?" index="02">
        <p class="left-text">
          The length of your treatment will depend on your specific needs and
          will be determined by your doctor. The average treatment for
          Invisalign Full or Invisalign Teen is about 12 to 18 months and for
          Invisalign Go it’s between 2 to 5 months, treatment length may vary
          depending on each individual case and will need to be determined by
          the doctor.
        </p>
      </app-dropdown>

      <app-dropdown question="Do I need to wear my aligner all day?" index="03">
        <p class="left-text">
          You should wear each aligner for 20 to 22 hours a day during your
          treatment for best results and a timely outcome.
        </p>
      </app-dropdown>

      <app-dropdown
        question="How often do I need to see my doctor during my Invisalign Treatment?"
        index="04"
      >
        <p class="left-text">
          You will visit your doctor for a check approximately every 6-8 weeks
          to see how your treatment is progressing. During your check-ups, your
          Invisalign-trained doctor will check that the aligners are fitting
          well and make any adjustments if necessary, more aligners are then
          provided.
        </p>
      </app-dropdown>

      <app-dropdown
        question="How often should I change my aligners?"
        index="05"
      >
        <p class="left-text">
          You will usually change your aligners every week. However, please
          follow your Invisalign-trained doctor’s specific instructions
          regarding when you need to change your aligners as this may vary
          between patients.
        </p>
      </app-dropdown>
      <app-dropdown
        question="How long before I start seeing results?"
        index="06"
      >
        <p class="left-text">
          Results with Invisalign Full usually start showing a few months after
          starting treatment and for Invisalign Go usually after 4 weeks. You
          can now download the Invisalign App from the Apple store or Google
          Play and you can monitor results on your phone.
        </p>
      </app-dropdown>
      <app-dropdown
        question="Does my health insurance cover INvisalign?"
        index="07"
      >
        <p class="left-text">
          Yes, most insurances will cover Aligner Therapy if you have
          orthodontics on your package. Claims are usually made over 2 years.
          Depending on your rebate we can use that towards a payment plan if you
          choose to use that to pay for your treatment.
        </p>
      </app-dropdown>
      <app-dropdown
        question="Will wearing aligners affect my speech?"
        index="08"
      >
        <p class="left-text">
          Similar to other orthodontic treatments, the Invisalign aligners may
          temporarily affect the speech of some people for a day or two.
          However, as your tongue gets used to having aligners in your mouth,
          any misarticulation or minor speech impediment caused by the aligners
          should disappear.
        </p>
      </app-dropdown>
      <app-dropdown question="Is Invisalign Treatment painful?" index="09">
        <p class="left-text">
          While Invisalign treatment may move your teeth without the pain and
          anxiety of other straightening methods, some people might experience
          temporary, minor discomfort for a few days at the beginning of each
          new stage of treatment. This is normal and is typically described as a
          feeling of pressure. It's a sign that the Invisalign aligners are
          sequentially moving your teeth to their final positions. This
          discomfort usually goes away a couple of days after you insert the new
          aligner in the series.
        </p>
      </app-dropdown>
      <app-dropdown question="Can I wear aligners if I’m pregnant?" index="10">
        <p class="left-text">
          The aligners are made of non-toxic, medical-grade plastic and can be
          worn during pregnancy. If you are concerned, please consult your
          healthcare professional.
        </p>
      </app-dropdown>
      <app-dropdown
        question="Are there any restrictions on what I can eat during treatment?"
        index="11"
      >
        <p class="left-text">
          No, you can usually eat what you want while in treatment because the
          Invisalign aligners are removed when eating or drinking. Thus, there’s
          no need to refrain from your favourite foods and drinks unless
          instructed by your doctor. However, it’s recommended that you floss
          and brush your teeth after each meal and prior to re-inserting your
          aligners to maintain proper oral hygiene.
        </p>
      </app-dropdown>
    </div>
  </div>
</div>
