<div
  class="padding-chef color-white background-5 padding-top-bottom-1 margin-top-6"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/WhiteShape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Mouthguards <br />
        and Splints
      </p>
    </div>
    <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>
        Teeth are precious,<br />
        why risk them?
      </p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        A mouthguard is a coloured rubber device that fits over your teeth to
        protect them from any type of impact. If you or your child plays sport,
        a mouthguard may be a compulsory requirement before stepping up to play.
        If a mouthguard is not compulsory, you should still consider whether the
        use of one would be in the best interests of you and your family’s
        health and safety. We see too many broken and missing teeth from sports
        that are not considered to involve contact, such as tennis or soccer and
        we would rather help you protect your teeth than go through the pain and
        expense associated with a tooth that has been knocked out.<br /><br />
        A boil-and-bite type mouthguard is just not enough, it doesn’t have
        enough retention and it has uneven thicknesses. We produce custom made
        mouthguard that will fit your teeth snugly. Why save on a mouthguard and
        spend more later on when you get an accident? It’s just not worth it.
        Plus we use digital scans, no moulds are necessary anymore.
      </p>
    </div>
  </div>
</div>
