<div class="
pac-section pac-section-responsive
    relative-container
    flexy-column
    hide-on-sm
  ">
    <div #PurpleCover style="position: absolute; bottom:0;">
        <img style="height: 100%; width:100vw;" src="../../../assets/landing/pac/Rectangle.png" />
    </div>
    <div style="padding-top:17vw;" class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-white
      relative-container
    ">
        <div class="pac-title">
            <img src="../../../assets/landing/pac/pacTitle.svg" />
        </div>
        <div class="pac-title-2">
            <img src="../../../assets/landing/pac/title2.svg" />
        </div>

        <div class="roboto-regular font-medium pac-text">
            <p style="text-align: center;">
                <span class="roboto-bold">Proud Smile Pacific Fair</span> is a purpose built practice with one idea in
                mind,
                to change the face of dentistry,
                a place where you’ll actually want to visit. This is our first clinic, created 10 years ago by Dr. Erwin
                Vasconcelos. Proud Smile was a practice of firsts. Modern and non-dental design, no “dentist smell”,
                first to launch comprehensive range of payment plans and now the first and only practice to offer same
                day complex treatments such as our <span class="roboto-bold">Same Day Smile Transformation</span>.
            </p>
        </div>

        <button class="button-1 color-fuscia roboto-medium font-extra-small-2" fxFlexAlign="center" (click)="
        goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=3485830&bLocationSelectionDisabled=true'
          )
        ">
            <img src="../../../assets/contactPage/calendar.svg" />
            <p>Instant Online Booking</p>
        </button>
    </div>
</div>

<div class="
    relative-container
    flexy-column
    hide-on-big
    background-56
  " style=" padding-top:80px">

    <div style="padding-top:10vw;" class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-white
      relative-container
    ">
        <div class="pac-title">
            <img src="../../../assets/landing/pac/pacTitle.svg" />
        </div>
        <div class="pac-title-2">
            <img src="../../../assets/landing/pac/title2.svg" />
        </div>

        <div style="margin-bottom:8vw;" class="roboto-regular font-medium pac-text">
            <p style="text-align: center;">
                <span class="roboto-bold">Proud Smile Pacific Fair</span> is a purpose built practice with one idea in
                mind,
                to change the face of dentistry,
                a place where you’ll actually want to visit. This is our first clinic, created 10 years ago by Dr. Erwin
                Vasconcelos. Proud Smile was a practice of firsts. Modern and non-dental design, no “dentist smell”,
                first to launch comprehensive range of payment plans and now the first and only practice to offer same
                day complex treatments such as our <span class="roboto-bold">Same Day Smile Transformation</span>.
            </p>
        </div>

        <button class="button-1 color-fuscia roboto-medium font-extra-small-2" style="margin-bottom:8vw;"
            fxFlexAlign="center" (click)="
            goToLink(
                'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=3485830&bLocationSelectionDisabled=true'
              )
        ">
            <img src="../../../assets/contactPage/calendar.svg" />
            <p>Instant Online Booking</p>
        </button>
    </div>
</div>

<div class="hide-on-big">
    <div>
        <img src="../../../assets/landing/pac/pac.png" />
    </div>
</div>

<div class="color-brown flexy-column sscc padding-chef hide-on-sm" style="background: #FFF9F6">
    <div class="flex-1" style="padding-top:10vw;">
        <div class="font-large libre-regular margin-bottom-1">
            <p class="center-text-on-sm">
                Why Proud Smile<br /><span class="libre-bold"> Pacific Fair</span>
            </p>
        </div>
    </div>
    <div class="flexy-row" style="margin-bottom:10vw">
        <div class="spp sscc no-margin-on-sm margin-bottom-on-sm flexy-column">

            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">No Judgment</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Whether you may be feeling embarrassed, afraid or
                            overwhelmed, we’re all ears.</p>
                    </div>
                </div>

            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Technology</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">3D scanners, in house digital lab, state-of-the-art
                            chairs so we focus on the human.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Comfort</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Netflix, blanket, freshly ground coffee, mood LED
                            lighting, all to make you forget where you are.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Smileasy Payment Plan</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Deposit? No Deposit, 24 months to pay? We work with
                            you and your budget so you can afford all our treatments.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Health Insurance</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">We accept all funds and we’re preferred providers for
                            HCF More for Teeth, CBHS Choice Network, HBF Members Plus and NIB First Choice Network</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">New Patient exam and x-rays: $99 or GAP Free with all health
                            insurances</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">FaceSpa Dermal Aesthetics</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Designated rooms for full range treatments for the
                            face, including injectables and Dermal Fillers.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 1.25vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div class="width-4">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Parking</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Free Private Parking adjacent to our buildings</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lady-container">
            <img class="max-width-unset-on-big" src="../../../assets/landing/pac/car.png" />
        </div>
    </div>

</div>


<div class="color-brown flexy-column sscc padding-chef hide-on-big" style="background: #FFF9F6">
    <div class="flex-1" style="padding-top:10vw;">
        <div class="font-large libre-regular margin-bottom-1">
            <p class="center-text-on-sm">
                Why Proud Smile<br /><span class="libre-bold">Pacific Fair</span>
            </p>
        </div>
    </div>
    <div class="flexy-row" style="margin-bottom:10vw">
        <div class="sscc no-margin-on-sm margin-bottom-on-sm flexy-column">

            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1 margin-left-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">No Judgment</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Whether you may be feeling embarrassed, afraid or
                            overwhelmed, we’re all ears.</p>
                    </div>
                </div>

            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Technology</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">3D scanners, in house digital lab, state-of-the-art
                            chairs so we focus on the human.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Comfort</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Netflix, blanket, freshly ground coffee, mood LED
                            lighting, all to make you forget where you are.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Smileasy Payment Plan</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Deposit? No Deposit, 24 months to pay? We work with
                            you and your budget so you can afford all our treatments.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Health Insurance</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">We accept all funds and we’re preferred providers for
                            HCF More for Teeth, CBHS Choice Network, HBF Members Plus and NIB First Choice Network</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">New Patient exam and x-rays: $99 or GAP Free with all health
                            insurances</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">FaceSpa Dermal Aesthetics</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Designated rooms for full range treatments for the
                            face, including injectables and Dermal Fillers.</p>
                    </div>
                </div>
            </div>
            <div class="line-3 full-width" style="margin: 6vw 0px"></div>
            <div class="
            align-self-start
            roboto-medium
            color-gray-dark
            font-small-3
            flexy-row
          ">
                <div style="width:20px">
                    <img src="../../../assets/SmileasyPaymentPlan/mark.svg" />
                </div>
                <div class="flex-1" style="margin-left: 4vw;">
                    <div class="roboto-bold" style="margin-bottom:16px;">
                        <p class="left-text color-brown">Parking</p>
                    </div>
                    <div class="roboto-regular">
                        <p class="left-text" style="color:#565960">Free Private Parking adjacent to our buildings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lady-container" style="margin-bottom:8vw;">
        <img class="max-width-unset-on-big" src="../../../assets/landing/pac/car.png" />
    </div>

</div>



<div class="padding-chef padding-top-bottom-1 hide-on-sm" style="background-color: #FBF8F7;">
    <div class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-brown
      relative-container
    ">
        <div style="margin-bottom: 2vw;">
            <img src="../../../assets/landing/pac/pac_2.svg" />
        </div>

        <div class="libre-regular font-large" style="max-width: 40vw; margin-bottom: 3vw;">
            <p style="text-align: center;">
                Our Services
            </p>
        </div>

        <div class="roboto-regular font-medium" style="max-width: 40vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Proud Smile Bundall is a purpose built practice with one idea in mind, to change the face of dentistry,
                a place where you’ll actually want to visit. This is our first clinic, created 10 years ago by Dr. Erwin
                Vasconcelos. Proud Smile was a practice of firsts. Modern and non-dental design, no “dentist smell”,
                first to launch comprehensive range of payment plans and now the first and only practice to offer same
                day complex treatments such as our Same Day Smile Transformation.
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="box a">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/medcicare.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Medicare child benefit <br /> Scheme ($1000)</p>
                </div>
            </div>
        </div>
        <div class="box b">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/invisa.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Invisalign</p>
                </div>
            </div>
        </div>
        <div class="box c">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/implant.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Implant <br /> Dentures</p>
                </div>
            </div>
        </div>
        <div class="box d">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/extraction.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Extractions</p>
                </div>
            </div>
        </div>
        <div class="box e">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/dva.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">DVA (Department of<br /> Veteran Affairs)</p>
                </div>
            </div>
        </div>
        <div class="box f">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/single.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Single Implants </p>
                </div>
            </div>
        </div>
        <div class="box g">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/fullmouth.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Full Mouth <br /> Rehabilitation</p>
                </div>
            </div>
        </div>
        <div class="box h">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/mought.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Mouthguards <br /> and Splints</p>
                </div>
            </div>
        </div>
        <div class="box i">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/general.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">General and <br /> Preventive Dentistry</p>
                </div>
            </div>
        </div>
        <div class="box j">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/root.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Root canal <br /> therapy</p>
                </div>
            </div>
        </div>
        <div class="box k">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/nervous.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Nervous <br /> Patients</p>
                </div>
            </div>
        </div>
        <div class="box l">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/zoom.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Zoom <br /> Whitening</p>
                </div>
            </div>
        </div>
        <div class="box m">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/sameday.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Same Day Veneer <br /> Makeovers</p>
                </div>
            </div>
        </div>
        <div class="box n">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/allfour.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">All-on-four <br /> Implants</p>
                </div>
            </div>
        </div>
        <div class="box o">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/fullarch.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Full Arch <br /> Implants</p>
                </div>
            </div>
        </div>
        <div class="box p">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/ultra.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Ultra Thin <br /> Veneers</p>
                </div>
            </div>
        </div>
        <div class="box q">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/samecrow.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Same Day <br /> Crowns</p>
                </div>
            </div>
        </div>
        <div class="box r">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/braces.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Clear <br /> Braces</p>
                </div>
            </div>
        </div>
        <div class="box s">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/emergen.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Emergencies</p>
                </div>
            </div>
        </div>
        <div class="box t">
            <div class="flexy-column cccc" style="padding-top:2vw; padding-bottom:2vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/landing/shared/therapist.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Therapist/ <br /> Hygienist</p>
                </div>
            </div>
        </div>
        <div class="box u">
            <div class="flexy-column ssss" style="padding-top:2vw; padding-bottom:2vw; padding-left:3vw;">
                <div style="margin-bottom:1vw;">
                    <img src="../../../assets/ShapeFade.svg" />
                </div>
                <div class="roboto-bold" style="margin-bottom:1vw;">
                    <p style="text-align: left;">Don`t see the service you need?</p>
                </div>
                <div class="roboto-medium" style="cursor: pointer;">
                    <p style="text-align: left;">
                        We are always tring our best to offer all
                        the things you need, but maybe we haven't
                        added this service to the list yet. Get in touch
                        to see if this is your case.
                        <img style="display: inline; vertical-align: middle" loading="lazy"
                            src="../../../assets/brownArrow.svg" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding-top-bottom-1 hide-on-big" style="background-color: #FBF8F7;">
    <div class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-brown
      relative-container
    ">
        <div style="margin-bottom: 8vw;">
            <img style="max-width: 80vw;" src="../../../assets/landing/pac/pac_2.svg" />
        </div>

        <div class="libre-regular font-large" style="max-width: 80vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Our Services
            </p>
        </div>

        <div class="roboto-regular font-medium" style="max-width: 80vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Proud Smile Bundall is a purpose built practice with one idea in mind, to change the face of dentistry,
                a place where you’ll actually want to visit. This is our first clinic, created 10 years ago by Dr. Erwin
                Vasconcelos. Proud Smile was a practice of firsts. Modern and non-dental design, no “dentist smell”,
                first to launch comprehensive range of payment plans and now the first and only practice to offer same
                day complex treatments such as our Same Day Smile Transformation.
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="box a">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/medcicare.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Medicare child benefit <br /> Scheme ($1000)</p>
                </div>
            </div>
        </div>
        <div class="box b">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/invisa.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Invisalign</p>
                </div>
            </div>
        </div>
        <div class="box c">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/implant.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Implant <br /> Dentures</p>
                </div>
            </div>
        </div>
        <div class="box d">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/extraction.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Extractions</p>
                </div>
            </div>
        </div>
        <div class="box e">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/dva.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">DVA (Department of<br /> Veteran Affairs)</p>
                </div>
            </div>
        </div>
        <div class="box f">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/single.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Single Implants </p>
                </div>
            </div>
        </div>
        <div class="box g">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/fullmouth.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Full Mouth <br /> Rehabilitation</p>
                </div>
            </div>
        </div>
        <div class="box h">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/mought.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Mouthguards <br /> and Splints</p>
                </div>
            </div>
        </div>
        <div class="box i">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/general.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">General and <br /> Preventive Dentistry</p>
                </div>
            </div>
        </div>
        <div class="box j">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/root.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Root canal <br /> therapy</p>
                </div>
            </div>
        </div>
        <div class="box k">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/nervous.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Nervous <br /> Patients</p>
                </div>
            </div>
        </div>
        <div class="box l">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/zoom.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Zoom <br /> Whitening</p>
                </div>
            </div>
        </div>
        <div class="box m">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/sameday.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Same Day Veneer <br /> Makeovers</p>
                </div>
            </div>
        </div>
        <div class="box n">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/allfour.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">All-on-four <br /> Implants</p>
                </div>
            </div>
        </div>
        <div class="box o">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/fullarch.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Full Arch <br /> Implants</p>
                </div>
            </div>
        </div>
        <div class="box p">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/ultra.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Ultra Thin <br /> Veneers</p>
                </div>
            </div>
        </div>
        <div class="box q">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/samecrow.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Same Day <br /> Crowns</p>
                </div>
            </div>
        </div>
        <div class="box r">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/braces.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Clear <br /> Braces</p>
                </div>
            </div>
        </div>
        <div class="box s">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/emergen.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Emergencies</p>
                </div>
            </div>
        </div>
        <div class="box t">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/landing/shared/therapist.png" />
                </div>
                <div class="roboto-bold">
                    <p style="text-align: center;">Therapist/ <br /> Hygienist</p>
                </div>
            </div>
        </div>
        <div class="box u">
            <div class="flexy-column cccc" style="padding-top:4vw; padding-bottom:4vw; padding-left:3vw;">
                <div style="margin-bottom:4vw;">
                    <img style="max-width: 25vw;" src="../../../assets/ShapeFade.svg" />
                </div>
                <div class="roboto-bold" style="margin-bottom:1vw;">
                    <p style="text-align: center;">Don`t see the service you need?</p>
                </div>

            </div>
        </div>

    </div>


    <div class="roboto-medium padding-chef" style="cursor: pointer;">
        <p style="text-align: center;">
            We are always tring our best to offer all
            the things you need, but maybe we haven't
            added this service to the list yet. Get in touch
            to see if this is your case.
            <img style="display: inline; vertical-align: middle" loading="lazy" src="../../../assets/brownArrow.svg" />
        </p>
    </div>
</div>



<div class="background-54 padding-chef padding-top-bottom-1 hide-on-sm">
    <div class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-brown
      relative-container
    ">
        <div style="margin-bottom: 2vw;">
            <img src="../../../assets/landing/pac/pac_2.svg" />
        </div>

        <div class="libre-regular font-large" style="max-width: 40vw; margin-bottom: 3vw;">
            <p style="text-align: center;">
                Our Practice
            </p>
        </div>

        <div class="roboto-regular font-medium" style="max-width: 40vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Our Pacific Fair clinic is a refreshing and inspiring place designed to change the face of dentistry and
                offer unparallel levels of comfort. Come and visit us and be amazed.
            </p>
        </div>
    </div>

    <div>
        <img src="../../../assets/landing/pac/practice.png" />
    </div>
</div>

<div class="background-54 padding-chef padding-top-bottom-1 hide-on-big">
    <div class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-brown
      relative-container
    ">
        <div style="margin-bottom: 8vw;">
            <img src="../../../assets/landing/pac/pac_2.svg" />
        </div>

        <div class="libre-regular font-large" style="max-width: 80vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Our Practice
            </p>
        </div>

        <div class="roboto-regular font-medium" style="max-width: 80vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Our Pacific Fair clinic is a refreshing and inspiring place designed to change the face of dentistry and
                offer unparallel levels of comfort. Come and visit us and be amazed.
            </p>
        </div>
    </div>

    <div>
        <img src="../../../assets/landing/pac/practice.png" />
    </div>
</div>



<div class="background-54 padding-chef padding-top-bottom-1 hide-on-sm">
    <div style="margin-bottom: 4vw;" class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-brown
      relative-container
    ">
        <div style="margin-bottom: 2vw;">
            <img src="../../../assets/landing/pac/pac_2.svg" />
        </div>

        <div class="libre-regular font-large" style="max-width: 40vw; margin-bottom: 3vw;">
            <p style="text-align: center;">
                Dentists
            </p>
        </div>
    </div>

    <div class="flexy-row" style="margin-bottom:8vw">
        <div class="flex-1">
            <img src="../../../assets/landing/shared/Cristine.png" />
        </div>
        <div class="flex-1">
            <img src="../../../assets/landing/shared/David.png" />
        </div>
        <div class="flex-1">
            <img src="../../../assets/landing/shared/Rebecca.png" />
        </div>
    </div>


    <div class="flexy-row" style="margin-bottom:8vw">
        <div class="flex-1">
            <img src="../../../assets/landing/shared/Erwin.png" />
        </div>
        <div class="flex-1">
            <img src="../../../assets/landing/shared/Natasha.png" />
        </div>
    </div>

    <div style="margin-bottom:4vw;" class="color-brown margin-top-7">
        <div class=" center-text flexy-column cccc">
            <div>
                <img style="width: 4vw;" src="../../../assets/ShapeFade.svg" />
            </div>
            <div class="libre-bold font-large">
                <p>
                    It's time to be
                    <br />
                    Proud of yoursel.
                </p>
            </div>

        </div>


    </div>

    <div class="flexy-column cccc">
        <button style="margin-bottom:4vw;" class="
        book3
        roboto-medium
        font-small-4
        color-white
        margin-bottom-5
      " fxLayout fxLayoutAlign="center center" fxLayoutGap="0.5vw" (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=3485830&bLocationSelectionDisabled=true'
      )
        ">
            <p>BOOK APPOINTMENT</p>
        </button>
    </div>



</div>

<div class="background-54 padding-chef padding-top-bottom-1 hide-on-big">
    <div style="margin-bottom: 4vw;" class="
    flexy-column
      flex-1
      cccc
      pac-section-text
      color-brown
      relative-container
    ">
        <div style="margin-bottom: 8vw;">
            <img src="../../../assets/landing/pac/pac_2.svg" />
        </div>

        <div class="libre-regular font-large" style="max-width: 80vw; margin-bottom: 8vw;">
            <p style="text-align: center;">
                Dentists
            </p>
        </div>
    </div>

    <div class="flexy-column">
        <div class="flex-1" style="margin-bottom:14vw;">
            <img src="../../../assets/landing/shared/Cristine.png" />
        </div>
        <div class="flex-1" style="margin-bottom:14vw;">
            <img src="../../../assets/landing/shared/David.png" />
        </div>
        <div class="flex-1" style="margin-bottom:14vw;">
            <img src="../../../assets/landing/shared/Rebecca.png" />
        </div>
        <div class="flex-1" style="margin-bottom:14vw;">
            <img src="../../../assets/landing/shared/Erwin.png" />
        </div>
        <div class="flex-1" style="margin-bottom:14vw;">
            <img src="../../../assets/landing/shared/Natasha.png" />
        </div>
    </div>

    <div style="margin-bottom:8vw;" class="color-brown">
        <div class=" center-text flexy-column cccc">
            <div>
                <img style="width: 8vw;" src="../../../assets/ShapeFade.svg" />
            </div>
            <div class="libre-bold font-large">
                <p>
                    It's time to be
                    <br />
                    Proud of yoursel.
                </p>
            </div>

        </div>


    </div>

    <div class="flexy-column cccc">
        <button style="margin-bottom:4vw;" class="
        book3
        roboto-medium
        font-small-4
        color-white
        margin-bottom-5
      " fxLayout fxLayoutAlign="center center" fxLayoutGap="0.5vw" (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=3485830&bLocationSelectionDisabled=true'
      )
        ">
            <p>BOOK APPOINTMENT</p>
        </button>
    </div>



</div>