:host {
  .book3 {
    border-radius: 37px;
    background: #f05024;
    padding: 24px 36px;
    border: 0;
    outline: none;
    margin-top: auto;
  }
  @media only screen and (min-width: 1201px) {
    .gel {
      bottom: -12%;
      left: 0;
    }
    .tooth-text {
      margin-left: 20%;
      margin-top: 60%;
    }
    .tooth-line {
      margin-left: 5%;
      margin-top: 50%;
    }
    .tooth-text-container {
      flex: 0 0 587px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .gel {
      bottom: -10%;
      left: -5%;
    }
    .tooth-text {
      margin-left: 10%;
      margin-top: 30%;
    }
    .tooth-line {
      margin-left: 2%;
      margin-top: 20%;
    }
    .tooth-text-container {
      flex: 0 0 300px;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .gel {
      bottom: -10%;
      left: -5%;
    }
  }
}
