<div id="scrollingVideo" appScrollToPlay class="scrollingVideo">
  <div id="viewport" class="videoContainer">
    <video
      id="bgVideoFwd"
      preload="auto"
      muted=""
      plays-inline=""
    >
      <source
        src="https://res.cloudinary.com/dd6pyhigu/video/upload/v1587924019/big_buck_bunny_jrvu13.mp4"
        type="video/mp4"
      />
    </video>
    <video
      id="bgVideoBwd"
      preload="auto"
      muted=""
      plays-inline=""
    >
      <source
        src="https://res.cloudinary.com/dd6pyhigu/video/upload/v1587924019/big_buck_bunny_jrvu13.mp4"
        type="video/mp4"
      />
    </video>
    <div id="scroll-container"></div>
  </div>
</div>
