$color-brown: #55311b;
$color-white: white;
$color-orange: #f05024;
$color-orange-light: #f5701d;
$color-orange-red: #e05741;
$color-green: #85920d;
$color-gray: #eef0f3;
$color-gray-light: #f5f5f5;
$color-brown-light: #a7958a;
$color-gray-dark: #565960;
$color-pink-light: #faece9;
$color-dirty-white: #fff9f6;
$color-gray-pale: #adafb2;
$color-yellow: #cb9f05;
$color-green-pale: #015c50;
$color-blue: #16a0d5;
$color-violet: #353695;
$color-blue-dark: #0067ac;
$color-gallery: #333333;
$color-gallery-2: #808080;


.color-gallery {
  color: $color-gallery;
}
.color-gallery-2 {
  color: $color-gallery-2;
}
.color-blue-dark {
  color: $color-blue-dark;
}

.color-violet {
  color: $color-violet;
}
.color-orange-red {
  color: $color-orange-red;
}
.color-blue {
  color: $color-blue;
}

.color-green-pale {
  color: $color-green-pale;
}

.color-yellow {
  color: $color-yellow;
}

.color-white {
  color: $color-white;
}
.color-brown-light {
  color: $color-brown-light;
}
.color-gray {
  color: $color-gray;
}
.color-gray-light {
  color: $color-gray-light;
}
.color-gray-dark {
  color: $color-gray-dark;
}
.color-orange {
  color: $color-orange;
}
.color-orange-light {
  color: $color-orange-light;
}
.color-brown {
  color: $color-brown;
}
.color-green {
  color: $color-green;
}
.color-pink-light {
  color: $color-pink-light;
}
.color-dirty-white {
  color: $color-dirty-white;
}
.color-gray-pale {
  color: $color-gray-pale;
}

.background-1 {
  background: linear-gradient(0deg, #ffffff 0%, #faece9 100%);
}

.background-2 {
  background: #fff9f6;
}

.background-3 {
  background: linear-gradient(0deg, #ffffff 0%, #fff9f6 100%);
}

.background-4 {
  background: radial-gradient(circle, #b81a47 0%, #790d3a 100%);
}

.background-5 {
  background: #000000;
}

.background-6 {
  background: linear-gradient(180deg, #fdf7f6 0%, rgba(250, 236, 233, 0) 100%);
}

.background-7 {
  background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #008258 100%);
}

.background-8 {
  background: $color-gray;
}

.background-9 {
  background: #133976;
}

.background-10 {
  background: #f5f5f5;
}

.background-11 {
  background: $color-pink-light;
}

.background-12 {
  background: rgb(17, 16, 17);
}

.background-13 {
  background: #faece9;
}

.background-14 {
  background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #f1f1f1 100%);
}

.background-15 {
  background: linear-gradient(0deg, #ffffff 0%, #f3f9f7 100%);
}

.background-16 {
  background: #f2f6f6;
}

.background-17 {
  background: #adafb2;
}

.background-18 {
  background: #333939;
}

.background-19 {
  background: rgba(115, 7, 15, 0.3);
}

.background-20 {
  background: linear-gradient(0deg, #ffffff 0%, #f1f67433 100%);
}

.background-21 {
  background: linear-gradient(0deg, #ffffff 0%, #e7ecee 100%);
}
.background-22 {
  background: linear-gradient(0deg, #ffffff 0%, #f9957333 100%);
}
.background-23 {
  background: linear-gradient(0deg, #faece9 0%, #ffffff 100%);
}

.background-24 {
  background: #f7f7f7;
}
.background-25 {
  background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #f1f1f1 100%);
}
.background-26 {
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 0) 0%,
    #0082581a 100%
  );
}
.background-27 {
  background: #faece9;
}

.background-28 {
  background: #1339764d;
}

.background-29 {
  background: #f5fcff;
}

.background-30 {
  background: #4e7a99;
}

.background-31 {
  background: #015c5099;
}

.background-32 {
  background: #250333;
}
.background-33 {
  background: #015c50;
}
.background-34 {
  background: #000000;
}
.background-35 {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #f3f9f7 100%);
}
.background-36 {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #f9f3f3 100%);
}
.background-37 {
  background: #f995730d;
}

.background-38 {
  background: linear-gradient(0deg, #faece999 0%, #ffffff 100%);
}
.background-39 {
  background: #191919;
}
.background-40 {
  background: #eef0f3;
}
.background-41 {
  background: linear-gradient(0deg, #f3fdfe 0%, #f5ffff 100%);
}
.background-42 {
  background: #f5ffff;
}
.background-43 {
  background: #f3fdfe;
}
.background-44 {
  background: #fdfdfd;
}
.background-45 {
  background: linear-gradient(0deg, #ffffff 0%, #fdf9f8 100%);
}
.background-46 {
  background: #fbfcff;
}
.background-47 {
  background: #eceaed;
}

.background-48 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.background-49 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.background-50 {
  background: linear-gradient(180deg, #FFFFFF 0%, rgb(253,246,240) 100%);
}
.background-51 {
  background: linear-gradient(180deg, rgb(253,246,240) 0%, #FFFFFF 100%);
}
.background-52 {
  background: #565960;
}
.background-53 {
  background: #F7B41A;
}
