$color-brown: #55311b;
$color-white: white;
$color-orange: #f05024;
$color-orange-light: #f5701d;
$color-green: #85920d;
$color-gray: #eef0f3;
$color-gray-light: #f5f5f5;
$color-brown-light: #a7958a;
$color-gray-dark: #565960;
$color-pink-light: #faece9;
$color-dirty-white: #fff9f6;

.color-white {
  color: $color-white;
}
.color-brown-light {
  color: $color-brown-light;
}
.color-gray {
  color: $color-gray;
}
.color-gray-light {
  color: $color-gray-light;
}
.color-gray-dark {
  color: $color-gray-dark;
}
.color-orange {
  color: $color-orange;
}
.color-orange-light {
  color: $color-orange-light;
}
.color-brown {
  color: $color-brown;
}
.color-green {
  color: $color-green;
}
.color-pink-light {
  color: $color-pink-light;
}
.color-dirty-white {
  color: $color-dirty-white;
}

.background-1 {
  background: linear-gradient(0deg, #ffffff 0%, #faece9 100%);
}

.background-2 {
  background: #fff9f6;
}

.background-3 {
  background: linear-gradient(0deg, #ffffff 0%, #fff9f6 100%);
}

.background-4 {
  background: radial-gradient(circle, #b81a47 0%, #790d3a 100%);
}

.background-5 {
  background: #000000;
}

.background-6 {
  background: linear-gradient(180deg, #fdf7f6 0%, rgba(250, 236, 233, 0) 100%);
}

.background-7 {
  background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #008258 100%);
}

.background-8 {
  background: $color-gray;
}
