.roboto-bold {
  font-family: "robotoBold";
}
.roboto-regular {
  font-family: "robotoRegular";
}
.roboto-medium {
  font-family: "robotoMedium";
}
.roboto-thin {
  font-family: "robotoThin";
}
.libre-regular {
  font-family: "libreRegular";
}
.libre-italic {
  font-family: "libreItalic";
}
.libre-bold {
  font-family: "libreBold";
}
