<div
  class="padding-chef color-brown background-6 padding-top-bottom-1 margin-top-6"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Same day <br />
        Crowns
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Beauty made strong</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        A dental crown is a “cap” made of porcelain or zirconia that mimics the
        same shape and colour of a natural tooth. Crowns are recommended when
        damage or extensive dental work makes a traditional resin filling
        unusable or too weak and the tooth then needs to be covered with a
        cap.<br /><br />
        Crowns are custom-made from high-grade dental ceramic or zirconia which
        makes them a strong, long-lasting restoration that offer great aesthetic
        and long-term protection. Because these types of restorations are made
        outside the mouth they’re subject to stricter quality control since
        they’re not exposed to variables such as saliva, blood, neighbouring
        teeth, compared to a normal composite filling.<br /><br />
        That also means you won’t need to be with your mouth opened for too long
        as the majority of the work is being handled in our lab while you wait.
      </p>
    </div>
  </div>
</div>
