<div
  class="
    color-brown
    background-6
  "
>
  <div class="center-text padding-chef padding-top-3 margin-top-6" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Same day <br />
        Crowns
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
  </div>
  <div style="width: 100vw">
    <div class="padding-chef">
      <div
        class="center-text margin-bottom-2"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="font-dog libre-regular margin-bottom-4">
          <p>Beauty made strong</p>
        </div>
        <div class="font-medium padding-chef roboto-regular">
          <p>
            A dental crown is a “cap” made of porcelain or zirconia that mimics
            the same shape and colour of a natural tooth. Crowns are recommended
            when damage or extensive dental work makes a traditional resin
            filling unusable or too weak and the tooth then needs to be covered
            with a cap.<br /><br />
            Crowns are custom-made from high-grade dental ceramic or zirconia
            which makes them a strong, long-lasting restoration that offer great
            aesthetic and long-term protection. Because these types of
            restorations are made outside the mouth they’re subject to stricter
            quality control since they’re not exposed to variables such as
            saliva, blood, neighbouring teeth, compared to a normal composite
            filling.<br /><br />
            That also means you won’t need to be with your mouth opened for too
            long as the majority of the work is being handled in our lab while
            you wait.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <picture>
      <source media="(max-width:600px)" srcset="../../../../assets/healthPage/SameDayCrowns/dinte-small.png">
      <source media="(min-width:601px)" srcset="../../../../assets/healthPage/SameDayCrowns/dinte.png">
      <img src="../../../../assets/healthPage/SameDayCrowns/dinte.png"/>
    </picture>
  </div>
</div>

<div
  class="color-white background-34 padding-top-3 padding-chef"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="center-text margin-bottom-2"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Designed by us, made by us</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        Our Crowns are now made fully in-house using digital scans and robotic
        milling. We only use
        <span class="roboto-bold">High Quality</span> products from from leading
        international companies such as
        <span class="roboto-bold">Ivoclar, Dentsply and Kuraray</span>.
      </p>
    </div>
  </div>
  <div class="flexy-row-w color-white roboto-regular font-medium cccc">
    <div class="flexy-columns margin-bottom-1" style="max-width: 560px">
      <div class="roboto-bold font-tiger margin-bottom-1">
        <p>3D Scans</p>
      </div>
      <div>
        <p>
          At Proud Smile we use the latest technology in digital scanning which
          means we don’t take rubber moulds anymore. This makes things a lot
          cleaner and more comfortable for our patients and delivers
          unprecedented levels of accuracy and versatility. Digital scans often
          take only a few minutes to do and a 3D image is then reflected on our
          screen which is a perfect replica of your teeth and gums.
        </p>
      </div>
    </div>
    <div class="no-margin-left-on-sm margin-left-2" style="min-width: 400px">
      <picture>
        <source media="(max-width:600px)" srcset="../../../../assets/healthPage/SameDayCrowns/Diagram-small.png">
        <source media="(min-width:601px)" srcset="../../../../assets/healthPage/SameDayCrowns/Diagram.png">
        <img src="../../../../assets/healthPage/SameDayCrowns/Diagram.png" />
      </picture>
    </div>
  </div>
</div>

<div
  class="color-brown flexy-column sscc relative-container"
  style="
    align-items: flex-end;
    justify-content: center;
    background-color: #d8d8d8;
  "
>
  <div
    class="padding-chef digital-design-text"
    style="z-index: 1;"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 560px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-lion roboto-bold margin-bottom-1">
          <p class="center-text-on-sm">Digital Design</p>
        </div>
        <div
          class="
            roboto-regular
            font-medium
            center-text-on-sm
            margin-bottom-1 margin-bottom-on-sm
          "
        >
          <p>
            Once image has been acquired we then begin the process of designing
            your crown, all digitally on the computer screen using algorithms
            and off course our human eye for aesthetics.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-2 relative-container digital-design-image-parent">

    <picture>
      <source media="(max-width: 1200px)" srcset="../../../../assets/healthPage/SameDayCrowns/Tech2-mobile-small.png">
      <source media="(min-width: 1201px)" srcset="../../../../assets/healthPage/SameDayCrowns/Tech2.png">
      <img class="max-width-unset-on-big digital-design-image" src="../../../../assets/healthPage/SameDayCrowns/Tech2.png">
    </picture>
  </div>

</div>

<div class="color-brown flexy-column sscc relative-container">
  <div
    class="padding-chef padding-top-bottom-1 tech3-text"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 560px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-lion roboto-bold margin-bottom-1">
          <p class="center-text-on-sm">Robotic Milling</p>
        </div>
        <div
          class="
            roboto-regular
            font-medium
            center-text-on-sm
            margin-bottom-1 margin-bottom-on-sm
          "
        >
          <p>
            It’s showtime! Using precision robotic technology a crown is milled
            out of a block of porcelain or Zirconia and it’s made to the exact
            specifications to fit your tooth perfectly.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tech3-image-parent" style="align-self: stretch">
    <picture>
      <source media="(max-width: 1200px)" srcset="../../../../assets/healthPage/SameDayCrowns/Tech3-mobile-small.png">
      <source media="(min-width: 1201px)" srcset="../../../../assets/healthPage/SameDayCrowns/Tech3.png">
      <img class="max-width-unset-on-big tech3-image" src="../../../../assets/healthPage/SameDayCrowns/Tech3.png">
    </picture>
  </div>
</div>

<div class="color-brown padding-chef flexy-row-w sscc padding-top-bottom-2">
  <div class="margin-right-1 flex-1 no-margin-on-sm align-self-center">
    <img
      loading="lazy"
      src="../../../../assets/healthPage/SameDayCrowns/800.png"
    />
  </div>
  <div
    class="flex-1 sscc margin-bottom-on-sm"
    fxLayout="column"
    style="align-self: flex-end"
  >
    <div class="font-lion roboto-bold margin-bottom-1">
      <p class="center-text-on-sm">Firing</p>
    </div>
    <div
      class="
        roboto-regular
        font-medium
        center-text-on-sm
        margin-bottom-1 margin-bottom-on-sm
      "
    >
      <p>
        The crown now goes through a firing process with temperatures up to 800
        degrees. This is the process that develops the material strength and
        gives it a high gloss shine. The crown is ready to be cemented.
      </p>
    </div>
  </div>
</div>

<div class="relative-container">
  <div class="hide-on-sm" >
    <video preload="auto" #cerec style="width: 100%; background: white;" playsinline>
      <source
        src="../../../../assets/healthPage/SameDayCrowns/Cerec.mp4"
        type="video/mp4"
      />
    </video>
  </div>

<div class="hide-on-big" >
  <video preload="auto" #cerecMobile style="width: 100%; background: white;" playsinline>
    <source
      src="../../../../assets/healthPage/SameDayCrowns/CerecMobile.mp4"
      type="video/mp4"
    />
  </video>
</div>


  <div #CerecPreview id="CerPrew" class="relative-container" style="cursor: pointer;" (click)="playVideo()">
    <div>
      <picture>
        <source media="(max-width:600px)" srcset="../../../../assets/healthPage/SameDayCrowns/CerecPreview-small.png">
        <source media="(min-width:601px)" srcset="../../../../assets/healthPage/SameDayCrowns/CerecPreview.png">
        <img
        class="full-width"
        src="../../../../assets/healthPage/SameDayCrowns/CerecPreview.png"
      />
      </picture>

    </div>
    <div
      class="
        cursor-pointer
        absolute-container
        flexy-row
        center-text
        color-white
        font-large
        roboto-regular
        cccc
      "
      style="top: 0; bottom: 0; left: 0; right: 0; margin: auto"
    >
      <div class="relative-container">
        <p>
          Curious?<br />
          <span class="roboto-bold">See it for yourself.</span>
        </p>
        <div
          style="
            position: absolute;
            bottom: -35%;
            left: 40%;
            z-index: 4;
            cursor: pointer;
          "
          class="flexy-row cccc"
          (click)="playVideo()"
        >
          <div>
            <img
              #PlayButton
              style="width: 48px"
              src="../../../../assets/homePage/videoPlay.png"
            />
          </div>
          <p style="padding-left:16px; text-align: start;" class="roboto-bold font-extra-small">
            Watch<br />
            the video
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="
    padding-chef
    color-brown
    background-15
    padding-bottom-1 padding-top-bottom-1
  "
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="font-dog libre-regular margin-bottom-4">
      <p>An option for every budget</p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-2">
      <p>
        In our promise for affordability we have created 2 qualities of crowns
        to suit most budgets. There’s no compromise in aesthetics in most cases
        and the main difference is in the material strength.
      </p>
    </div>
  </div>
  <div class="box margin-bottom-2 flexy-column cccc relative-container">
    <div class="roboto-medium font-medium margin-bottom-1 margin-top-5">
      <p><span class="roboto-bold">Dental Crowns</span> - starting from:</p>
    </div>
    <div class="flexy-row margin-bottom-1 cccc">
      <div class="flexy-column margin-right-2 margin-bottom-on-sm cccc">
        <div class="flexy-row">
          <div
            class="
              roboto-medium
              font-medium
              color-brown
              opacity-4
              margin-bottom-7
            "
          >
            <p>PRICES START AT ONLY</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$995</p>
        </div>
      </div>
      <div class="flexy-column margin-right-2 cccc hide-on-sm">
        <div class="vertical-line-1" style="margin-bottom: 8px"></div>
        <div
          class="
            roboto-bold
            font-extra-small
            color-gray-dark
            opacity-5
            margin-bottom-7
          "
        >
          <p>OR</p>
        </div>
        <div class="vertical-line-2"></div>
      </div>
      <div class="flexy-column cccc margin-bottom-on-sm">
        <div class="flexy-row">
          <div
            class="
              roboto-medium
              font-medium
              color-brown
              opacity-4
              margin-bottom-7
            "
          >
            <p>FOR AS LITTLE AS</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$45/wk</p>
        </div>
      </div>
    </div>
    <div
      class="
        cursor-pointer
        roboto-bold
        font-small-3
        margin-bottom-1
        relative-container
      "
      style="z-index: 1"
      fxLayout
      fxLayoutAlign="center center"
      (click)="seeAllFinancial()"
    >
      <div class="opacity-8">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/Invisalign/Smileasy.svg"
        />
      </div>
      <div class="opacity-5" style="margin-left: 16px">
        <img
          loading="lazy"
          width="24px"
          src="../../../../assets/healthPage/ClearBraces/BrownArrow.svg"
        />
      </div>
    </div>
    <div class="absolute-container" style="bottom: -10px">
      <img src="../../../../assets/healthPage/Invisalign/wave_1.svg" />
    </div>
  </div>
  <div class="flexy-row-w cccc" style="width: 50vw">
    <div
      class="
        flexy-column
        flex-1
        sscc
        roboto-regular
        color-gray-dark
        margin-bottom-1
      "
    >
      <div
        class="font-tiger padding-left-4 padding-top-bottom-2 padding-right-4"
      >
        <p>Budget</p>
      </div>
      <div
        class="flexy-column background-35 sscc font-small-3"
        style="width: 100%"
      >
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Available in standard porcelain, hybrid porcelain or Composite resin</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Medium strengths of up to 250 Mpa</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Large range of colours</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Average Durability from 3 to 6 years (*)</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>3 year warranty</p>
        </div>
        <div
          class="relative-container"
          style="
            width: 80%;
            max-width: 600px;
            min-width: 300px;
            align-self: center;
          "
        >
          <img src="../../../../assets/healthPage/SameDayCrowns/green.svg" />
          <div
            class="
              ticket
              absolute-container
              color-white
              roboto-regular
              flexy-row
              cccc
            "
            style="top: 0; bottom: 0; left: 0; right: 0; margin: auto"
          >
            <p>Up to 100% rebate from Private Health</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="
        flexy-column
        flex-1
        sscc
        roboto-regular
        color-gray-dark
        margin-bottom-1
      "
    >
      <div
        class="font-tiger padding-left-4 padding-top-bottom-2 padding-right-4"
      >
        <p>Premium</p>
      </div>
      <div
        class="flexy-column color-orange background-36 sscc font-small-3"
        style="width: 100%"
      >
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Available in Emax Porcelain or Zirconia<span style="visibility: hidden;">some invisible text</span></p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>High strengths from 520 to 1200 Mpa</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Full range of colours</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>Average durability from 5 to 14 years (*)</p>
        </div>
        <div class="line-3 full-width"></div>
        <div class="padding-top-bottom-2 padding-left-4 padding-right-4">
          <p>5 year warranty</p>
        </div>

        <div
          class="relative-container"
          style="
            width: 80%;
            max-width: 600px;
            min-width: 300px;
            align-self: center;
          "
        >
          <img src="../../../../assets/healthPage/SameDayCrowns/orange.svg" />
          <div
            class="
              ticket
              absolute-container
              color-white
              roboto-regular
              flexy-row
              cccc
            "
            style="top: 0; bottom: 0; left: 0; right: 0; margin: auto"
          >
            <p>Large rebate from Private Health</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-5 font-extra-small" style="padding: 0 10vw">
    <p>
      (*) indicative only, could last longer on both types, dependable on a
      series of variables such as bite, diet, accidents, lifestyle and lack of
      care. Your dentist will advise you which type is best for you. Warranty is
      valid provided the patient attends to their regular check ups.
    </p>
  </div>
</div>

<div
  class="
    padding-chef
    color-brown
    background-1
    padding-bottom-1 padding-top-bottom-1
  "
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="center-text margin-bottom-1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="font-dog libre-regular margin-bottom-4">
      <p>
        Your Same<br />
        Day Experience
      </p>
    </div>
    <div class="font-medium roboto-regular margin-bottom-2 padding-captain">
      <p>
        There are many advantages of a Same Day crown experience. You only need
        to be anaesthetised once and there are no temporaries which can fall
        out. Just 1 visit and you are done. Plus take advantage of our amenities
        and location while you wait for your crown to be made.
      </p>
    </div>
  </div>

  <div class="full-width padding-left-4 relative-container">
    <img
      class="absolute-container"
      style="max-width: unset; height: 100%"
      src="../../../../assets/healthPage/SameDayCrowns/line.svg"
    />
    <div class="flexy-column">
      <div
        class="margin-top-bottom-3 relative-container"
        style="margin-left: 25%"
      >
        <img
          loading="lazy"
          src="../../../../assets/healthPage/SameDayCrowns/dialog1.svg"
        />
        <div
          class="flexy-row absolute-container cccc"
          style="top: 0; bottom: 0; margin: auto; padding-left: 10%"
        >
          <div>
            <img
              style="max-width: 7vw"
              loading="lazy"
              src="../../../../assets/healthPage/SameDayCrowns/1.svg"
            />
          </div>
          <div class="color-white roboto-regular font-small-3 margin-left-1">
            <p>Local Anaesthesia</p>
          </div>
        </div>
      </div>
      <div class="margin-bottom-10 relative-container" style="margin-left: 16%">
        <img src="../../../../assets/healthPage/SameDayCrowns/dialog2.svg" />

        <div
          class="flexy-row absolute-container cccc"
          style="top: 0; bottom: 0; margin: auto; padding-left: 10%"
        >
          <div>
            <img
              style="max-width: 7vw"
              loading="lazy"
              src="../../../../assets/healthPage/SameDayCrowns/2.svg"
            />
          </div>
          <div class="color-white roboto-regular font-small-3 margin-left-1">
            <p>Tooth preparation and 3D scans</p>
          </div>
        </div>
      </div>
      <div class="margin-bottom-10 relative-container" style="margin-left: 34%">
        <img src="../../../../assets/healthPage/SameDayCrowns/dialog3.svg" />
        <div
          class="flexy-row absolute-container cccc"
          style="top: 0; bottom: 0; margin: auto; padding-left: 10%"
        >
          <div>
            <img
              style="max-width: 7vw"
              loading="lazy"
              src="../../../../assets/healthPage/SameDayCrowns/3.svg"
            />
          </div>
          <div class="color-white roboto-regular font-small-3 margin-left-1">
            <p>Crown fabrication</p>
          </div>
        </div>
      </div>
      <div
        class="margin-bottom-10 relative-container"
        style="margin-left: -5%; z-index: 1"
      >
        <img
          src="../../../../assets/healthPage/SameDayCrowns/marker_right.svg"
        />
      </div>
      <div
        class="color-brown roboto-regular font-medium margin-top-bottom-3"
        style="padding: 0 10vw"
      >
        <p class="center-text">
          Relax while we make your crown in our lab. You can sit and enjoy a
          cold or hot drink in our lounge. Or why not get a relaxing facial from
          our
          <span class="roboto-bold">FaceSpa Dermal Aesthetics</span>. Or simply
          go out for a short walk or get your shopping done (at our
          <span class="roboto-bold">Pacific Fair branch</span>).
        </p>
      </div>
      <div
        class="margin-bottom-10 relative-container"
        style="margin-left: -5%; z-index: 1"
      >
      <picture>
        <source media="(max-width:600px)" srcset="../../../../assets/healthPage/SameDayCrowns/Office-small.png">
        <source media="(min-width:601px)" srcset="../../../../assets/healthPage/SameDayCrowns/Office.png">
        <img src="../../../../assets/healthPage/SameDayCrowns/Office.png" />
      </picture>
      </div>
      <div
        class="margin-top-bottom-3 relative-container"
        style="margin-left: 14%"
      >
        <img src="../../../../assets/healthPage/SameDayCrowns/dialog4.svg" />
        <div
          class="flexy-row absolute-container cccc"
          style="top: 0; bottom: 0; margin: auto; padding-left: 10%"
        >
          <div>
            <img
              style="max-width: 7vw"
              loading="lazy"
              src="../../../../assets/healthPage/SameDayCrowns/4.svg"
            />
          </div>
          <div class="color-white roboto-regular font-small-3 margin-left-1">
            <p>Cementation</p>
          </div>
        </div>
      </div>
      <div class="relative-container" style="margin-left: 34%">
        <img src="../../../../assets/healthPage/SameDayCrowns/dialog5.svg" />
        <div
          class="flexy-row absolute-container cccc"
          style="top: 0; bottom: 0; margin: auto; padding-left: 10%"
        >
          <div>
            <img
              style="max-width: 7vw"
              loading="lazy"
              src="../../../../assets/healthPage/SameDayCrowns/5.svg"
            />
          </div>
          <div class="color-white roboto-regular font-small-3 margin-left-1">
            <p>You are done.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="
    padding-chef
    color-white
    background-12
    padding-top-3
    relative-container
  "
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="libre-regular font-dog margin-bottom-10">
      <p>
        Other Same Day<br />
        Capabilities
      </p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-4">
      <p>
        Using the same workflow we are able to produce other types of porcelain
        restorations. These can be:
      </p>
    </div>
    <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
    <div class="font-lion roboto-bold margin-bottom-4">
      <p>Dental Bridge</p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-10">
      <p>
        Where a tooth is missing between two other teeth we can replace this
        lost tooth with a fixed dental “bridge” which is a tooth coloured
        restoration of 3 or more crowns together. That eliminates the need for
        partial dentures or dental implants and offers a strong and aesthetic
        solution for certain “gaps”.
      </p>
    </div>
    <div class="relative-container flexy-row">
      <div
        #bridgeMask
        class="absolute-container bridge-mask hide-on-sm"
        style="
          width: 100vw;
          border-top: 12px solid #111011;
          border-bottom: 24px solid #f7f7f7;
          display: none;
          top: 0px;
        "
      ></div>
      <div
      #bridgeMaskMobile
      class="absolute-container bridge-mask hide-on-big"
      style="
        width: 100vw;
        border-top: 12px solid #111011;
        border-bottom: 34px solid #f7f7f7;
        display: none;
        top: 0px;
      "
    ></div>
      <div class="hide-on-sm">
        <video
        (loadeddata)="bridgeLoaded()"
        
        preload="auto"
        #bridgeVideo
        style="width: 50vw; background:white"
        playsinline
      >
        <source
          src="../../../../assets/healthPage/SameDayCrowns/bridge_video.mp4"
          type="video/mp4"
        />
      </video>
      </div>

      <div class="hide-on-big">
        <video
        (loadeddata)="bridgeLoaded()"
        
        preload="auto"
        #bridgeVideoMobile
        style="width: 50vw; background:white"
        playsinline
      >
        <source
          src="../../../../assets/healthPage/SameDayCrowns/Bridge VideoMobile.mp4"
          type="video/mp4"
        />
      </video>
      </div>

      <div class="hide-on-sm">
        <video preload="auto"  #marylandVideo style="width: 50vw; background:white" playsinline>
          <source
            src="../../../../assets/healthPage/SameDayCrowns/maryland_bridge.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <div class="hide-on-big">
        <video preload="auto"  #marylandVideoMobile style="width: 50vw; background:white" playsinline>
          <source
            src="../../../../assets/healthPage/SameDayCrowns/Maryland BridgeMobile.mp4"
            type="video/mp4"
          />
        </video>
      </div>

    </div>
  </div>
</div>

<div class="padding-chef color-brown background-24 padding-top-bottom-1">

  <div
    class="center-text margin-bottom-10"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="font-dog libre-regular margin-bottom-1">
      <p>What is great about porcelain??</p>
    </div>
  </div>
  <div class="flexy-column margin-bottom-10">
    <div
      class="flexy-row full-width margin-bottom-9 cccc"
      style="justify-content: space-evenly"
    >
      <div fxFlex style="text-align: end; margin-right: 8vw">
        <p></p>
      </div>
      <div fxFlex class="roboto-medium font-tiger color-gray-dark">
        <p>Porcelain</p>
      </div>
      <div fxFlex class="roboto-medium font-tiger color-gray-dark">
        <p>Composite</p>
      </div>
    </div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Durability</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>10 years +</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>4 years +</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Colour Stability</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>no staining</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>staining after 2 years</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Time in chair/mouth open</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>30/40 min + 15 min</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>30-60 min continuous</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
    <div
      class="flexy-row full-width cccc margin-bottom-1"
      style="justify-content: space-evenly"
    >
      <div
        fxFlex
        class="color-gray-dark opacity-7 roboto-medium font-small-3"
        style="text-align: end; margin-right: 8vw"
      >
        <p>Health Insurance Rebate</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-blue-dark">
        <p>up to 100%</p>
      </div>
      <div fxFlex class="roboto-medium font-small-3 color-gray-dark">
        <p>up to 60%</p>
      </div>
    </div>
    <div class="line-3 margin-bottom-1"></div>
  </div>

  <div class="flexy-row-w margin-top-bottom-3 sscc full-width">
    <div
      class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
    ></div>
    <div class="font-wolf color-brown roboto-regular">
      <p class="center-text">
        Not sure a porcelain restoration is right for you?
        <span class="roboto-bold">Book a Free Mini Consultation</span> and we
        will assess your case and give you an obligation free quote.
      </p>
    </div>
  </div>
  <div class="flexy-row-w cccc full-width">
    <div
      class="logos margin-right-1 no-margin-right-on-sm margin-bottom-on-sm"
    ></div>
    <button
      class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
      )
      "
    >
      INSTANT ONLINE BOOKING
    </button>
  </div>
</div>
