<div
  class="padding-chef color-brown background-6 padding-top-bottom-1 margin-top-6"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Same day <br />
        Crowns
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Beauty made strong</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        A dental crown is a “cap” made of porcelain or zirconia that mimics the
        same shape and colour of a natural tooth. Crowns are recommended when
        damage or extensive dental work makes a traditional resin filling
        unusable or too weak and the tooth then needs to be covered with a
        cap.<br /><br />
        Crowns are custom-made from high-grade dental ceramic or zirconia which
        makes them a strong, long-lasting restoration that offer great aesthetic
        and long-term protection. Because these types of restorations are made
        outside the mouth they’re subject to stricter quality control since
        they’re not exposed to variables such as saliva, blood, neighbouring
        teeth, compared to a normal composite filling.<br /><br />
        That also means you won’t need to be with your mouth opened for too long
        as the majority of the work is being handled in our lab while you wait.
      </p>
    </div>
  </div>
</div>

<div>
  <img src="../../../../assets/healthPage/SameDayCrowns/Vulcan.jpg" />
</div>

<div
  class="color-white background-34 padding-top-3 padding-chef"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="center-text margin-bottom-2"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Designed by us, made by us</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        Our Crowns are now made fully in-house using digital scans and robotic
        milling. We only use
        <span class="roboto-bold">High Quality</span> products from from leading
        international companies such as
        <span class="roboto-bold">Ivoclar, Dentsply and Kuraray</span>.
      </p>
    </div>
  </div>
  <div class="flexy-row-w color-white roboto-regular font-medium cccc">
    <div class="flexy-columns margin-bottom-1" style="max-width: 560px">
      <div class="roboto-bold font-tiger margin-bottom-1">
        <p>3D Scans</p>
      </div>
      <div>
        <p>
          At Proud Smile we use the latest technology in digital scanning which
          means we don’t take rubber moulds anymore. This makes things a lot
          cleaner and more comfortable for our patients and delivers
          unprecedented levels of accuracy and versatility. Digital scans often
          take only a few minutes to do and a 3D image is then reflected on our
          screen which is a perfect replica of your teeth and gums.
        </p>
      </div>
    </div>
    <div class="no-margin-left-on-sm margin-left-2" style="min-width: 400px">
      <img src="../../../../assets/healthPage/SameDayCrowns/Diagram.png" />
    </div>
  </div>
</div>

<div
  class="color-brown flexy-column sscc relative-container"
  style="
    align-items: flex-end;
    justify-content: center;
    background-color: #d8d8d8;
  "
>
  <div class="tech-2 relative-container" style="align-self: stretch">
    <img
      class="max-width-unset-on-big max-width-unset-on-sm"
      src="../../../../assets/healthPage/SameDayCrowns/Tech2.png"
    />
  </div>
  <div
    class="absolute-container padding-chef"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 560px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-lion roboto-bold margin-bottom-1">
          <p class="center-text-on-sm">Digital Design</p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            Once image has been acquired we then begin the process of designing
            your crown, all digitally on the computer screen using algorithms
            and off course our human eye for aesthetics.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="color-brown flexy-column sscc relative-container">
  <div style="align-self: stretch">
    <img
      class="full-width"
      style="min-width: 1300px"
      loading="lazy"
      src="../../../../assets/healthPage/SameDayCrowns/Tech3.png"
    />
  </div>
  <div
    class="absolute-container padding-chef padding-top-bottom-1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 560px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-lion roboto-bold margin-bottom-1">
          <p class="center-text-on-sm">Robotic Milling</p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            It’s showtime! Using precision robotic technology a crown is milled
            out of a block of porcelain or Zirconia and it’s made to the exact
            specifications to fit your tooth perfectly.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown flexy-column sscc padding-chef relative-container"
  style="align-items: flex-end; padding-top: 2vw; padding-bottom: 2vw"
>
  <div style="align-self: stretch">
    <img
      loading="lazy"
      src="../../../../assets/healthPage/SameDayCrowns/800.png"
    />
  </div>
  <div
    class="absolute-container padding-top-bottom-1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 560px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-lion roboto-bold margin-bottom-1">
          <p class="center-text-on-sm">Firing</p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            The crown now goes through a firing process with temperatures up to
            800 degrees. This is the process that develops the material strength
            and gives it a high gloss shine. The crown is ready to be cemented.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative-container">
  <video preload="auto" #cerec style="width: 100%">
    <source
      src="../../../../assets/healthPage/SameDayCrowns/Cerec.mp4"
      type="video/mp4"
    />
  </video>
  <div class="relative-container" (click)="playVideo()">
    <div>
      <img
        class="full-width"
        src="../../../../assets/healthPage/SameDayCrowns/CerecPreview.png"
      />
    </div>
    <div
      class="cursor-pointer absolute-container flexy-row center-text color-white font-large roboto-regular cccc"
      style="top: 0; bottom: 0; left: 0; right: 0; margin: auto"
    >
      <p>
        Curious?<br />
        <span class="roboto-bold">See it for yourself.</span>
      </p>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-15 padding-bottom-1 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="font-dog libre-regular margin-bottom-4">
      <p>An option for every budget</p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-2">
      <p>
        In our promise for affordability we have created 2 qualities of crowns
        to suit most budgets. There’s no compromise in aesthetics in most cases
        and the main difference is in the material strength.
      </p>
    </div>
  </div>
  <div class="box margin-bottom-2 flexy-column cccc relative-container">
    <div class="roboto-medium font-medium margin-bottom-1 margin-top-5">
      <p><span class="roboto-bold">Invisalign</span> - starting from:</p>
    </div>
    <div class="flexy-row margin-bottom-1 cccc">
      <div class="flexy-column margin-right-2 margin-bottom-on-sm cccc">
        <div class="flexy-row">
          <div
            class="roboto-medium font-medium color-brown opacity-4 margin-bottom-7"
          >
            <p>PRICES START AT ONLY</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$995</p>
        </div>
      </div>
      <div class="flexy-column margin-right-2 cccc hide-on-sm">
        <div class="vertical-line-1" style="margin-bottom: 8px"></div>
        <div
          class="roboto-bold font-extra-small color-gray-dark opacity-5 margin-bottom-7"
        >
          <p>OR</p>
        </div>
        <div class="vertical-line-2"></div>
      </div>
      <div class="flexy-column cccc margin-bottom-on-sm">
        <div class="flexy-row">
          <div
            class="roboto-medium font-medium color-brown opacity-4 margin-bottom-7"
          >
            <p>FOR AS LITTLE AS</p>
          </div>
        </div>

        <div class="margin-bottom-8 roboto-medium color-orange font-cat">
          <p class="center-text-on-sm">$45/wk</p>
        </div>
      </div>
    </div>
    <div
      class="cursor-pointer roboto-bold font-small-3 margin-bottom-1 relative-container"
      style="z-index: 3"
      fxLayout
      fxLayoutAlign="center center"
      (click)="seeAllFinancial()"
    >
      <div class="opacity-7">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/ClearBraces/CardBrown.svg"
        />
      </div>
      <div class="margin-left-1 opacity-7">
        <p>On the Smileasy Plan</p>
      </div>
      <div class="margin-left-1 opacity-7">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/ClearBraces/BrownArrow.svg"
        />
      </div>
    </div>
    <div class="absolute-container" style="bottom: -10px">
      <img src="../../../../assets/healthPage/Invisalign/wave_1.svg" />
    </div>
  </div>
</div>
