<div class="videoSection">
    <video preload="auto" muted="" plays-inline="" (click)="playVideo($event)">
      <source src={{videoSource}} type="video/mp4">
    </video>
    <!-- <div fxLayout fxLayoutAlign=" center" [ngClass]="'playButton'" (click)="playVideo($event)">
        <div matRipple matRippleUnbounded=true matRippleColor="gray" class="example-ripple-container mat-elevation-z4">
            <img src="../../assets/homePage/videoPlay.png">
        </div>
        <div [ngClass]="'playButtonText'">
            <p>{{text}}</p>
        </div>
    </div> -->
    
</div>