<div class="videoSection">
  <video preload="auto" #proudVideo>
    <source src="{{ videoSource }}" type="video/mp4" />
  </video>
  <div>
    <div>
      <img src="../../assets/homePage/videoPreview.png" />
    </div>
    <div
      fxLayout
      fxLayoutAlign=" center"
      [ngClass]="'playButton'"
      (click)="playVideo()"
    >
      <div>
        <img class="pulse-button" src="../../assets/homePage/videoPlay.png" />
      </div>
      <div class="roboto-medium font-extra-small" [ngClass]="'playButtonText'">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>
</div>
