.videoSection {
  position: relative;
}

.videoSection video {
  width: 100%;
  display: block;
}

.playButton {
  color: white;
  position: absolute;
  bottom: 8vh;
  right: 15vw;
}

.playButtonText {
  max-width: 7vw;
  text-align: left;
  padding-left: 1vw;
}

.playButton img {
  width: 48px;
  max-height: 20vh;
  max-width: 15vw;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
