.shader-effect {
  top: 25%;
  left: 25%;
  position: fixed;
  width: 50vw;
  overflow: hidden;
  pointer-events: none;
}

.full-image {
  position: fixed;
  opacity: 0;
}

.fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  display: grid;
  padding: 2rem;
  z-index: 10;
  grid-template-columns: 100%;
  pointer-events: none;
}

.fullview__close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0;
}

.fullview__close svg {
  fill: currentColor;
}
