<div
  class="color-brown background-1 padding-bottom-2 padding-top-5"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="background-45" style="width: 100vw; z-index: 1">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="font-large libre-regular center-text padding-top-3 margin-bottom-10 relative-container"
    >
      <div class="width-1">
        <img src="../../../assets/Shape.svg" />
      </div>
      <p>
        Get a second<br />
        chance
      </p>
    </div>
  </div>

  <div class="relative-container full-width hide-on-sm flexy-row cccc">
    <div class="absolute-container" style="width: 100vw">
      <img src="../../../../assets/implants/SingleTooth/masca_video.png" />
    </div>
    <video class="full-width" preload="auto" muted #implantVideo loop>
      <source
        src="../../../../assets/implants/SingleTooth/spiningImplant.mp4"
        type="video/mp4"
      />
    </video>

    <div
      class="absolute-container text2 hide-on-sm"
      fxLayout="column"
      fxLayoutAlign="center flex-end"
    >
      <div class="margin-bottom-5" style="max-width: 8vw">
        <img src="../../../../assets/implants/SingleTooth/1.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p style="text-align: right">
          Sometimes we loose teeth, either from disease or accidents.
          Fortunately with dental implants we can revert that. Implants are more
          than just artificial roots and teeth, it’s a second chance to replace
          vital teeth structure, which are so important to eat, speak, preserve
          bone and provide aesthetics.
        </p>
      </div>
    </div>

    <div class="absolute-container hide-on-sm text1">
      <div class="margin-bottom-5" style="width: 8vw">
        <img src="../../../../assets/implants/SingleTooth/2.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p class="left-text">
          With Implants we can replace 1 or more teeth, or even an entire mouth.
          They are also very useful to substantially increase stability of
          dentures. With as little as 2 implants we can stabilise and improve
          retention on a full lower denture for example.
        </p>
      </div>
    </div>

    <div class="absolute-container hide-on-sm text3">
      <div class="flexy-row">
        <div class="margin-bottom-5 margin-right-4" style="flex: 0 1 100%">
          <img src="../../../../assets/implants/SingleTooth/Implant.png" />
        </div>
        <div>
          <div class="margin-bottom-5" style="width: 8vw">
            <img src="../../../../assets/implants/SingleTooth/3.svg" />
          </div>
          <div class="roboto-regular font-extra-small-4 center-text-on-sm">
            <p class="left-text">
              Also with the help of digital technology, in some situations we
              can delivery a temporary Implant Crown or Full Arch Prosthesis in
              as little as 24 hours from surgery. That ensures you’re not
              toothless during any stage of your treatment. If an immediate
              Implant crown is not possible we’ll discuss other temporary
              solutions with you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hide-on-big flexy-column">
    <video
      class="full-width hide-on-sm"
      preload="auto"
      muted
      #implantVideoSmall
      loop
    >
      <source
        src="../../../../assets/implants/SingleTooth/spiningImplant.mp4"
        type="video/mp4"
      />
    </video>
    <div class="flexy-column cccc margin-bottom-10" style="margin-top: 10vw">
      <div class="margin-bottom-5 margin-bottom-1">
        <img src="../../../../assets/implants/SingleTooth/1.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p>
          Sometimes we loose teeth, either from disease or accidents.
          Fortunately with dental implants we can revert that. Implants are more
          than just artificial roots and teeth, it’s a second chance to replace
          vital teeth structure, which are so important to eat, speak, preserve
          bone and provide aesthetics.
        </p>
      </div>
    </div>
    <div class="flexy-column cccc margin-bottom-10">
      <div class="margin-bottom-5 margin-bottom-1">
        <img src="../../../../assets/implants/SingleTooth/2.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p>
          With Implants we can replace 1 or more teeth, or even an entire mouth.
          They are also very useful to substantially increase stability of
          dentures. With as little as 2 implants we can stabilise and improve
          retention on a full lower denture for example.
        </p>
      </div>
    </div>
    <div class="flexy-column cccc">
      <div class="margin-bottom-5 margin-bottom-1">
        <img src="../../../../assets/implants/SingleTooth/3.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p>
          Also with the help of digital technology, in some situations we can
          delivery a temporary Implant Crown or Full Arch Prosthesis in as
          little as 24 hours from surgery. That ensures you’re not toothless
          during any stage of your treatment. If an immediate Implant crown is
          not possible we’ll discuss other temporary solutions with you.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-white relative-container height-6"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <video
    loading="lazy"
    class="height-6"
    preload="auto"
    muted
    #rightVideo
    loop
    style="display: none"
  >
    <source
      src="../../../../assets/implants/SingleTooth/rightVideo.mp4"
      type="video/mp4"
    />
  </video>

  <div
    class="absolute-container opacity-7 background-33 height-6 padding-chef padding-top-bottom-1 full-width sscc"
    fxLayout="column"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            “Right”, from the<br />
            start
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            With the advance in digital technology planing an implant surgery
            has never been more precise and straight forward. By combining a 3D
            CT x-ray of your mouth with digital scans of the teeth we use
            advanced software to place an implant completely virtually, all
            planned with the final outcome in mind. Planning from end to
            beginning allows more pleasing aesthetics, function and
            substantially reduces trauma at time of surgery.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown relative-container"
  fxLayout="column"
  fxLayoutAlign="center end"
>
  <div>
    <img
      loading="lazy"
      style="max-width: unset"
      src="../../../../assets/implants/SingleTooth/virtual.png"
    />
  </div>
  <div
    class="absolute-container padding-chef"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            From Virtual<br />
            to Real
          </p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            Now the virtual becomes real. That’s done by using a Surgical Guide
            which is designed in the software and then milled or 3D printed to
            the exact requirements.<br /><br />
            This physical guide then becomes our reference for exact placement
            of the implants in the mouth, there’s no guess work and no
            surprises.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-brown background-14 padding-top-3"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="padding-chef-left-right-on-sm"
    style="padding-bottom: 20vw"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      class="padding-chef-right no-padding-on-sm flexy-row-w sscc margin-bottom-2"
    >
      <div class="margin-right-1 flex-1 no-margin-on-sm margin-bottom-on-sm">
        <img
          loading="lazy"
          src="../../../../assets/implants/SingleTooth/Implanted.png"
        />
      </div>
      <div class="flex-1 sscc" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Implanted</p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-1">
          <p class="center-text-on-sm">
            A stunning smile is no longer only for the genetically blessed
            individuals. With porcelain veneers anyone(*) can now have a smile
            to be proud of. Veneers are thin porcelain “shells” that are
            “bonded” to the front of your teeth and can permanently change the
            shape and colour of your teeth to your exact requirements. Veneers
            can give you the smile that you always dreamed of and one that you
            deserve.
          </p>
        </div>
      </div>
    </div>
    <div class="padding-chef-left no-padding-on-sm flexy-row-w sscc">
      <div class="margin-right-1 flex-1 sscc" fxLayout="column">
        <div class="margin-bottom-1">
          <img
            loading="lazy"
            src="../../../../assets/implants/SingleTooth/teethIcon.svg"
          />
        </div>

        <div class="font-dog libre-regular margin-bottom-1">
          <p>Teeth, Regained</p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-1">
          <p class="center-text-on-sm">
            This is the final step and often happens 3 to 6 months after the
            surgical placement of the implants. A beautiful porcelain crown is
            made to fit the implant. Again with the use of digital technology,
            there are no moulds. In the vast majority of cases crowns are screw
            retained onto the implants which means they are fully retrievable at
            any point should it ever need repair.<br /><br />
            <span class="roboto-bold">
              The placement of the crown involves a short 30 minute appointment
              and it’s also pain free, in some cases no local anaesthetics are
              even required.
            </span>
          </p>
        </div>
      </div>
      <div class="flex-1 no-margin-on-sm">
        <img
          loading="lazy"
          src="../../../../assets/implants/SingleTooth/TeethRegained.png"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-40 padding-bottom-1 padding-top-bottom-1 relative-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="margin-bottom-2" fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w" style="justify-content: flex-end">
      <div
        class="gel flex-1 margin-bottom-on-sm absolute-container no-absolute-on-sm"
        style="width: 87vw; z-index: 1"
      >
        <img src="../../../../assets/implants/SingleTooth/implantPic.png" />
      </div>
      <div
        class="sscc margin-bottom-on-sm"
        style="flex: 0 0 560px"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            Can anyone get<br />
            implants?
          </p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-10">
          <p class="center-text-on-sm">
            There’s no short answer for that. Each case is different and needs
            to be assessed with care, which is why we can’t often give
            definitive costings over the phone for instance. However, with the
            advancements in types and sizes of implants and auxiliary procedures
            such as bone grafts and the all-on-four protocol there’s a good
            chance we will be able to find a solution for you. Below are some of
            the procedures we can do to still be able to place implants even in
            areas with poor bone availability.
          </p>
        </div>
        <div
          (click)="scrollToTargetAdjusted()"
          class="relative-container cursor-pointer"
          style="z-index: 2"
        >
          <div>
            <img
              loading="lazy"
              src="../../../../assets/implants/SingleTooth/sinus1.png"
            />
          </div>
          <div
            class="absolute-container flexy-row"
            style="
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              justify-content: flex-end;
              align-items: center;
            "
          >
            <div class="roboto-medium color-brown font-tiger">
              <p>Sinus Lift</p>
            </div>
            <div style="margin-left: 16%; margin-right: 5%">
              <svg
                height="24"
                viewBox="0 0 16 16"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m6.667 13.333a6.667 6.667 0 1 1 6.667-6.667 6.674 6.674 0 0 1 -6.667 6.667zm-.753-9.333a.588.588 0 0 0 -.412.164.554.554 0 0 0 0 .8l1.762 1.703-1.755 1.707a.553.553 0 0 0 0 .8.607.607 0 0 0 .412.163.614.614 0 0 0 .411-.163l2.168-2.108a.568.568 0 0 0 .168-.4.549.549 0 0 0 -.168-.4l-2.173-2.1a.588.588 0 0 0 -.413-.166z"
                  fill="#f05024"
                  transform="translate(1.333 1.333)"
                />
              </svg>
            </div>
          </div>
        </div>
        <div
          class="relative-container cursor-pointer margin-bottom-10"
          (click)="scrollToTargetAdjusted()"
          style="z-index: 2"
        >
          <div>
            <img
              loading="lazy"
              src="../../../../assets/implants/SingleTooth/bone1.png"
            />
          </div>
          <div
            class="absolute-container flexy-row"
            style="
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              justify-content: flex-end;
              align-items: center;
            "
          >
            <div class="roboto-medium color-brown font-tiger">
              <p>Bone Graft</p>
            </div>
            <div style="margin-left: 14%; margin-right: 5%">
              <svg
                height="24"
                viewBox="0 0 16 16"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m6.667 13.333a6.667 6.667 0 1 1 6.667-6.667 6.674 6.674 0 0 1 -6.667 6.667zm-.753-9.333a.588.588 0 0 0 -.412.164.554.554 0 0 0 0 .8l1.762 1.703-1.755 1.707a.553.553 0 0 0 0 .8.607.607 0 0 0 .412.163.614.614 0 0 0 .411-.163l2.168-2.108a.568.568 0 0 0 .168-.4.549.549 0 0 0 -.168-.4l-2.173-2.1a.588.588 0 0 0 -.413-.166z"
                  fill="#f05024"
                  transform="translate(1.333 1.333)"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="roboto-regular font-medium margin-bottom-1">
          <p class="center-text-on-sm">
            For more complex cases requiring larger interventional procedures we
            work in conjunction with dental specialists such as oral surgeons
            and periodontists. These specialists can perform the surgical
            component and we can continue the case by providing the prosthetics.
            One of the good advantages of specialists is that surgical
            procedures can be performed under General Anaesthetics at the
            hospital.
          </p>
        </div>
        <app-button
          text="BOOK YOUR FREE IMPLANT ASSESSMENT"
          (click)="
            goToLink(
              'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490'
            )
          "
        ></app-button>
      </div>
    </div>
  </div>

  <div #target class="flexy-row-w sscc">
    <div
      class="flex-1 sscc margin-right-1 color-brown margin-bottom-on-sm no-margin-on-sm full-width"
      fxLayout="column"
    >
      <div
        class="align-self-start-on-big libre-regular font-dog flexy-row margin-bottom-10"
      >
        <div class="flex-1 margin-left-1">
          <p>
            Bone, the holy<br />
            grail for implants
          </p>
        </div>
      </div>
      <div
        class="align-self-start-on-big roboto-medium font-small-3 flexy-row margin-bottom-10"
      >
        <img
          loading="lazy"
          src="../../../../assets/implants/SingleTooth/Bone_3.png"
        />
      </div>
      <div class="align-self-start-on-big roboto-regular font-small flexy-row">
        <div class="flex-1 margin-left-1">
          <p>
            When we talk about implants bone is the single most important factor
            for successful results. That is because implants actually “fuse” to
            the bone in the process called Osseointegration. So if for any
            reason we find that we cannot place an implant due to no bone being
            available we can perform bone grafts in an attempt to revert the
            situation. The name Bone Graft can generates anxiety as the public
            often relates that to very complex and painful procedures but the
            reality is that some grafting procedures can as simple as placing a
            granular material inside an extraction socket or into the sinus
            cavity to allow for new bone to “grow”. The decision on if or when
            we need a bone grafting will be made usually at the early stages of
            planning once we look at x-rays and this will be thoroughly
            explained and discussed with you on your consultation. <br /><br />

            So, if youthink you can’t get implants because you may not have
            enough bone you don’t have to worry. There are still options
            available to you.
          </p>
        </div>
      </div>
    </div>
    <div
      class="flex-1 sscc color-brown no-margin-on-sm margin-bottom-on-sm full-width"
      fxLayout="column"
    >
      <div
        class="align-self-start-on-big libre-regular font-dog flexy-row margin-bottom-10"
      >
        <div class="flex-1 margin-left-1">
          <p>
            Sinus Lift<br />
            <span style="visibility: hidden">test</span>
          </p>
        </div>
      </div>
      <div
        class="align-self-start-on-big roboto-medium font-small-3 flexy-row margin-bottom-10"
      >
        <img
          loading="lazy"
          src="../../../../assets/implants/SingleTooth/Bone_4.png"
        />
      </div>
      <div class="align-self-start-on-big roboto-regular font-small flexy-row">
        <div class="flex-1 margin-left-1">
          <p>
            You’ll probably know what sinuses are if you’ve had a sinusitis
            before. These are hollow spaces we have on our temple and on the
            sides of our nose. Our back teeth on the top jaw are often very
            close to the sinus cavity which then makes implants in these areas
            more difficult as we’re limited by the floor of the sinus. When you
            loose back teeth and don’t do anything to replace them the sinus
            floor moves downwards leaving you with practically no bone left,
            it’s a process called bone resorption.<br /><br />

            The sinus lift procedure allows us to very delicately place bone
            graft material inside the sinus cavity to allow for formation of new
            bone which we can then use to place implants. Depending on how much
            “lift” we need to make we can perform this procedure right in our
            office under local anaesthesia, it’s completely pain free.
            Complications such as sinus infection or rupture of the sinus lining
            can occur but these are minimised with the correct technique and use
            of digital technology and x-rays and these will be explained to you
            during your consultation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
