:host {
  .rotate-line {
    transform: rotate(180deg);
  }
  @media only screen and (min-width: 1201px) {
    .text1 {
      max-width: 426px;
      top: 40%;
      left: 73%;
    }
    .text2 {
      max-width: 382px;
      top: 22%;
      right: 73%;
    }
    .text3 {
      max-width: 426px;
      top: 68%;
      left: 64%;
    }

    .gel {
      top: -20%;
      left: 0;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .text1 {
      max-width: 426px;
      top: 0%;
      left: 5%;
      right: 5%;
    }
    .text2 {
      max-width: 382px;
      top: 36%;
      left: 5%;
      right: 5%;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      p {
        text-align: left !important;
      }
    }
    .text3 {
      max-width: 426px;
      top: 72%;
      left: 5%;
      right: 5%;
    }
    .gel {
      top: -10%;
      left: -5%;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .text1 {
      max-width: 426px;
      top: 0%;
      left: 5%;
      right: 5%;
    }
    .text2 {
      max-width: 382px;
      top: 36%;
      left: 5%;
      right: 5%;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      p {
        text-align: left !important;
      }
    }
    .text3 {
      max-width: 426px;
      top: 72%;
      left: 5%;
      right: 5%;
    }
    .gel {
      top: -10%;
      left: -5%;
    }
  }
}
