<div
  class="padding-chef color-brown background-6 padding-top-bottom-1 margin-top-2"
>
  <div
    class="center-text margin-bottom-2"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      class="roboto-medium font-extra-small margin-bottom-3"
      fxLayout
      fxLayoutAlign=" center"
    >
      <div class="width-3 line-1"></div>
      <p class="margin-left-1 color-brown-light">01</p>
    </div>
    <div class="libre-bold font-large">
      <p>Extractions</p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Get Help Right Now</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        Though we’d rather you kept your natural teeth, there are some
        situations where, after we’ve investigated every alternative, a tooth
        needs to be extracted to ensure continued good oral health. These
        situations can include for example bone infection, extensive decay, an
        irreparable fracture, or impacted wisdom teeth. We understand that this
        procedure involves some degree of anxiety and so the 2 most important
        things when you need a tooth removed are: profound anaesthesia and a
        quick procedure. You need experienced professionals who can do this
        efficiently and in the least amount of time and that’s what you’ll get
        at Proud Smile.
      </p>
    </div>
  </div>

  <div class="flexy-row-w-r sscc">
    <div class="margin-right-1 flex-1 no-margin-on-sm align-self-center">
      <img src="../../../../assets/healthPage/wisdom_teeth.png" />
    </div>
    <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
      <div
        class="roboto-medium color-brown-light font-extra-small margin-bottom-3"
        fxLayout
        fxLayoutAlign=" center"
      >
        <div class="opacity-5 width-3 line-1"></div>
        <p class="margin-left-1">THE OFFICE</p>
      </div>
      <div class="font-dog libre-regular margin-bottom-1">
        <p>Wisdom<br />Teeth</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          Wisdom teeth are often the cause of problems in the mouth. Lack of
          space causes these teeth to become impacted and with not enough room
          to erupt. They are usually associated with constant episodes of
          infection and pain due to the inability to clean them efficiently. If
          you have pain on a wisdom tooth it should get checked out by us. A lot
          of times extractions are the treatment of choice for wisdom teeth due
          to the recurrent nature of the problem and the lack of space for these
          teeth to successful stay in the mouth.<br /><br />
          Wisdom teeth have a reputation for being difficult to be extracted
          however that is not all true. The upper wisdom teeth can be extremely
          simple to be removed. Anaesthesia for these teeth is virtually
          painless and the removal itself is quite speedy, usually just a few
          minutes. A lot of the times you won’t even notice the procedure is
          done. The lower wisdom teeth tend to be a little more difficult but
          the procedure is still pain free.<br /><br />
          <span class="roboto-bold">
            When wisdom teeth are considered more difficult to be removed, such
            as when they’re still inside the gums or severely impacted we
            usually refer these to Oral Surgeons who are specialists in teeth
            extractions.
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-8 padding-bottom-1 padding-top-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div
        class="flex-1 sscc margin-right-1 margin-bottom-on-sm"
        fxLayout="column"
      >
        <div
          class="roboto-medium color-brown-light font-extra-small margin-bottom-3"
          fxLayout
          fxLayoutAlign=" center"
        >
          <div class="opacity-5 width-3 line-1"></div>
          <p class="margin-left-1">THE OFFICE</p>
        </div>
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            Get a second<br />
            chance
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            If you do need to loose a tooth for any reason there are ways we can
            replace it. An implant is one of the best solutions for missing
            teeth since it acts very similarly to a natural tooth both in
            function and in shape.
            <span
              class="cursor-pointer roboto-bold link-1"
              (click)="onImplantClick()"
              >Please click here</span
            >
            visit our Implant page for more information about this treatment.
          </p>
        </div>
      </div>
      <div class="flex-1 margin-bottom-on-sm">
        <img src="../../../../assets/healthPage/second_chance.png" />
      </div>
    </div>
  </div>
</div>
