<div
  class="
    padding-chef
    color-brown
    anxious-background
    padding-top-bottom-1
    margin-top-6
  "
>
  <div
    class="center-text margin-bottom-2"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Anxious <br />
        Patients
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Relax, you are at Proud Smile</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        We understand that for many people, a simple trip to the dentist can be
        cause for extreme nervousness or fear. At Proud Smile we take a
        different approach to help you overcome your fear. For starters we are
        not a dental practice as you know it. We don’t look like one, we don’t
        smell like one. Even our clinical rooms are not sterile and cold.<br /><br />
        We use LED ambiance lighting to create just the right mood. Watch
        Netflix while receiving your treatment and make use of our noise
        cancelling headphones. Blankets are available if you feel cold.
        Technology helps us comfort you and allows us to make your visits faster
        and smoother. Our caring team will take the time to talk with you,
        there’s no rushing.
      </p>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/healthPage/AnxiousPatients/BlockOffice.png" />
  </div>
</div>

<div
  class="color-brown background-25 padding-top-3 padding-bottom-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="padding-chef-right"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img
          loading="lazy"
          src="../../../../assets/healthPage/AnxiousPatients/hand.png"
        />
      </div>
      <div class="flex-1 sscc padding-chef-left-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>
            Advanced<br />
            Anaesthesia
          </p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-1">
          <p class="center-text-on-sm">
            At Proud Smile we are very serious about our patients feeling no
            pain from our procedures. We research the market constantly to find
            the latest advancements in anaesthesia technology and as such we
            have recently invested in an electric device called Dentapen. One of
            the main reasons for painful injections is the speed at which the
            anaesthetic is administered. With Dentapen the liquid is injected at
            a very slow speed, literally drops at a time. That single factor
            makes these injections a lot more tolerable and in some cases
            completely pain free.<br /><br />
            <span class="roboto-bold">
              Our local anaesthetics are of high potency and we apply advanced
              techniques so you won’t even feel a thing depending on the
              location in the mouth.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="
    padding-chef
    color-brown
    background-26
    padding-bottom-1 padding-top-bottom-1
  "
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div
        class="flex-1 sscc margin-right-1 margin-bottom-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">Sedation</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            For some of our patients dealing with their anxiety is just too
            difficult and beyond their control. Apart from all our amenities to
            make you feel relaxed we can also help with medication which makes
            you more relaxed and helps with analgesia. Subject to checking your
            medical history we can provide you with Penthrox, which is commonly
            known as the “Green Whistle”. This is used by paramedics to help
            calm down victims of accidents and help with their pain. In certain
            cases we can also prescribe mild sedatives to help with more
            invasive procedures such as surgeries.
          </p>
        </div>
      </div>
      <div class="flex-1 flexy-row cccc margin-bottom-on-sm">
        <div>
          <img
            loading="lazy"
            src="../../../../assets/healthPage/AnxiousPatients/Penthrox.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
