<div class="padding-chef color-brown background-20 padding-top-3 margin-top-6">
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Medicare Child<br />
        Benefit Scheme
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Free Dental For Children</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        The Medicare Child Dental Benefit program provides financial assistance
        to families to help assess the health of their teenagers’ teeth, and to
        introduce preventative strategies to encourage lifetime good oral health
        habits.<br /><br />
        Under the program, eligible children and teenagers receive
        <span class="roboto-bold">up to $1000 per every 2 years</span> to assist
        with the cost of preventative dentistry such as examinations, dental
        x-rays, a scale and clean and fluoride treatment and also for basic and
        moderate treatments such as fillings, root canal treatment and emergency
        appointments. It cannot be used for cosmetic dentistry or orthodontics.
        The program is income tested so we can check eligibility directly with
        Medicare. Proud Smile has also decided not to place any surcharge on the
        Medicare fees which means we bulk bill completely up to the amount
        available.<br /><br />
        <span class="roboto-bold"
          >For treatments exceeding the $1000 cap we’re happy to provide our
          Smileasy Payment plan.</span
        >
      </p>
    </div>
    <div class="flexy-row" style="width: 100vw">
      <div class="relative-container" style="left: -6%; align-self: flex-end">
        <div class="absolute-container" style="top: -16%; left: -25%">
          <img
            loading="lazy"
            src="../../../../assets/healthPage/MedicareChild/ShapeBig.svg"
          />
        </div>
        <img
          loading="lazy"
          class="relative-container"
          src="../../../../assets/healthPage/MedicareChild/Kid.png"
        />
      </div>

      <div
        class="flexy-column relative-container padding-top-3"
        style="left: -16%; max-width: 26vw"
      >
        <div class="absolute-container" style="top: 4%; left: 50%">
          <img
            loading="lazy"
            src="../../../../assets/healthPage/MedicareChild/Crab.svg"
          />
        </div>
        <div class="absolute-container" style="top: 22%; right: -18%">
          <img
            loading="lazy"
            src="../../../../assets/healthPage/MedicareChild/StarSmall.svg"
          />
        </div>
        <div class="absolute-container" style="top: 8%; left: -30%">
          <img
            loading="lazy"
            src="../../../../assets/healthPage/MedicareChild/StarBig.svg"
          />
        </div>
        <div class="margin-bottom-1">
          <img
            loading="lazy"
            src="../../../../assets/healthPage/MedicareChild/FreeDental.png"
          />
        </div>
        <div class="font-medium color-yellow libre-regular margin-bottom-4">
          <p class="left-text">
            <span
              class="cursor-pointer"
              style="text-decoration: underline"
              (click)="goToLinkWithotNewTab('tel:0755703311')"
              >Call us today</span
            >
            and book your consultation or book online using our Instant Online
            Booking below
          </p>
        </div>
        <button
          class="button-2 roboto-medium font-small-3 margin-bottom-2"
          style="width: 350px"
          fxLayout
          fxLayoutAlign="center center"
          fxLayoutGap="0.5vw"
          (click)="
            goToLink(
              'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490'
            )
          "
        >
          <img loading="lazy" src="../../assets/header/calendar.png" />
          <p>Instant Online Booking</p>
        </button>
        <div>
          <img
            loading="lazy"
            src="../../../../assets/healthPage/MedicareChild/medicare.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
