:host {
  .animation-container {
    height: 4000px;
    position: relative;
    background: black;
  }

  .canvas-container {
    height: 100vh;
    top: 217px;
    position: relative;
    background: #000;
  }

  .canvas-container-end {
    top: 100%;
    transform: translate(0, -100%);
  }
  .canvas-in-viewport {
    position: fixed !important;
  }

  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
  }
  .book3 {
    border-radius: 37px;
    background: #e6437b;
    padding: 24px 36px;
    border: 0;
    outline: none;
    margin-top: auto;
  }
}
