<div class="padding-chef color-brown "
    style="margin-top:217px;position: relative;padding-top:9vw;">
    <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
        <div class="width-1">
            <img src="../../../assets/Shape.svg" />
        </div>
        <div class="libre-bold font-large" style="margin-bottom:4vw;">
            <p>Your DreamSmile<br>
                in just one day</p>
        </div>

        <div class="background-50" style="width: 100vw;">
            <img style="margin:auto" src="../../../../assets/aesthetics/SameDay/sameday.png" />
        </div>
    </div>

</div>

<div class="padding-chef color-brown background-51"
    style="position: relative; padding-bottom:9vw;">
    <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
        <div class="line-7 width-5 margin-top-bottom-3"></div>
        <div class="font-lion roboto-medium margin-bottom-4" style="max-width: 50vw;">
            <p>Transform your smile with the latest technology in porcelain veneers. No goopy moulds, no needles*, no
                waiting.</p>
        </div>
        <div class="font-lion roboto-regular margin-bottom-4" style="padding:0px 14vw">
            <p>
                The future of cosmetic dentistry has arrived at <span class="roboto-medium">Proud Smile</span>. With 3D
                technology now a reality we can
                assess, design and produce porcelain crowns and veneers in a single day procedure** with a totally
                digital workflow and with near 100% precision.<br><br>

                And with the cost of veneers now drastically reduced (starting from <span
                    class="roboto-medium">$795</span>) it’s never been a better time
                to tick this one off your bucket list.
            </p>
        </div>
        <div class="font-small-3 roboto-medium margin-bottom-4" style="padding:0px 21vw">
            <p>
                Starting at $695, Smileasy Payment plan, 24 months to pay, no credit check, instant approval.
            </p>
        </div>

        <button class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4" (click)="
        goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
          )
          ">
            BOOK YOUR FREE IMPLANT ASSESSMENT
        </button>

        <div class="font-small-3 roboto-medium opacity-5">
            <p>
                * For Ultra Thin Veneers, ** Case dependant
            </p>
        </div>
    </div>

</div>

<div class="padding-chef color-brown background-1 padding-bottom-1 padding-top-bottom-1" fxLayout="column"
    fxLayoutAlign="center center">
    <div class="center-text" fxLayout="column" fxLayoutAlign="center center">

        <div class="font-dog libre-regular margin-bottom-4" style="max-width: 50vw;">
            <p>A better and happier<br> you, Today.</p>
        </div>
        <div class="font-medium roboto-regular margin-bottom-4" style="padding:0px 13vw">
            <p>
                With the use of <span class="roboto-medium">Robotic</span> milling we’re now able to produce state of the art porcelain restorations right
                in our office. Production time is cut from weeks to a single day. And don’t think for a moment that the
                machines took over, the design is still completely human made, only it’s done in the digital world.
            </p>
        </div>

        <div class="background-43" fxLayout fxLayoutAlign="center center" style="margin-bottom:4vw;">
            <app-scroll-framer
              class="hide-on-phone"
              urlPattern="../../../../assets/aesthetics/SameDay/video/SameDay ##id##.jpg"
              numberOfFrames="182"
              animationFactor="4000"
              padding="3"
            >
            </app-scroll-framer>
          </div>

        <button class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4" (click)="
        goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
          )
    ">
            BOOK APPOINTMENT
        </button>

    </div>
</div>


<div class="relative-container background-1" style="z-index: 1; height:900px">
    <div class="absolute-container" style="bottom:0;left:0;">
        <img
        loading="lazy"
        src="../../../../assets/aesthetics/SameDay/No-anaesthesia.png"
      />
    </div>
    <div
      class="flexy-column absolute-container" style="top:35%;right:25%"
    >
      <div class="color-gray-dark libre-regular font-dog margin-bottom-4">
        <p>
            Your dream<br> smile, today.
        </p>
      </div>
      <button class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer " (click)="
      goToLink(
  'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true'
)
    ">
            BOOK APPOINTMENT
        </button>
    </div>
  </div>