:host {
    z-index: 1;
    position: sticky;
    top: 13vh;
  }
.subHeader {
    background: #fff9f6;
    max-height: 10.7vmin;
  
    app-image-text {
        padding-right: 3.33vw;
        cursor: pointer;
        background:  rgba(167, 149, 138, 0.2);
  
        &.active {
          background: #fff9f6;
      
          p {
            opacity: 0.5;
          }
          img {
            opacity: 0.5;
          }
        }
    }
  }
  