<div class="" style="">
  <div class="background-43" fxLayout fxLayoutAlign="center center">
    <!-- <app-scroll-framer
      class="hide-on-phone"
      urlPattern="../../../assets/aesthetics/PorcelainVenners/Porcelain Veneers_3 ##id##.jpg"
      numberOfFrames="998"
      animationFactor="20000"
      padding="3"
    >
    </app-scroll-framer> -->
    <!-- <app-scroll-framer
      class="hide-on-phone"
      urlPattern="../../../assets/aesthetics/Porcelain/Porcelain ##id##.jpg"
      numberOfFrames="998"
      animationFactor="20000"
      padding="3"
    > -->
    <app-scroll-framer
      class="hide-on-phone"
      urlPattern="../../../assets/aesthetics/2/Porcelain ##id##.jpg"
      numberOfFrames="500"
      animationFactor="20000"
      padding="3"
    >
    </app-scroll-framer>
  </div>
</div>
