<div class="subHeader" fxFlexLayout fxLayoutAlign="center center" >
    <app-image-text (click)="onClick($event)" fxFlex="4 1 auto" layoutAlign="end center" imageUrl="../../assets/homePage/group.png" text="Ultra Thin Veneers" textMaxWdith="5vw"></app-image-text>
    <app-image-text (click)="onClick($event)" fxFlex="1 1 auto" layoutAlign="center center" imageUrl="../../assets/homePage/group.png" text="Same Day Veneers" textMaxWdith="4vw"></app-image-text>
    <app-image-text (click)="onClick($event)" fxFlex="1 1 auto" layoutAlign="start center" imageUrl="../../assets/homePage/group.png" text="Invisalign + Veneers Package" textMaxWdith="7vw"></app-image-text>
    <app-image-text (click)="onClick($event)" fxFlex="4 1 auto" layoutAlign="start center" imageUrl="../../assets/homePage/group.png" text="Zoom Whitening" textMaxWdith="6vw"></app-image-text>
</div>
