<div style="overflow: hidden;">
    <div class="flexy-column sscc  color-brown padding-top-1" style="background-color: #FEF9F5; padding-bottom:3vw;">
        <div class="flexy-row padding-chef cccc" style="cursor: pointer; margin-bottom: 4.5vw;" (click)="goBack()">
            <img src="../../assets/blog/back.svg"/>
            <p class="roboto-medium font-extra-small" style="opacity:0.5; margin-left:16px">Go Back</p>
        </div>

        <div class="flexy-column sscc">
            <markdown ngPreserveWhitespaces class="description">
                {{post.attributes.description}}
            </markdown>
        </div>
            

        <div style="margin-bottom: 7vw;">
            <img src="{{api_url}}{{post.attributes.cover.data.attributes.url}}" />
        </div>

        <div class="flexy-row padding-chef sscc">
            <div class="flexy-column cccc" style="max-width:4.3vw;">
                <p class="color-brown roboto-medium copyright-text" style="opacity:0.8; margin-bottom: 16px; text-align: center;">
                    SHARE THIS STORY
                </p>
                <div class="line-19" style="width:100%; margin-bottom: 24px;"></div>
                <img src="../../assets/blog/twitter.svg" style="margin-bottom: 16px;"/>
                <img src="../../assets/blog/facebook.svg" style="margin-bottom: 16px;"/>
                <img src="../../assets/blog/mail.svg" style="margin-bottom: 16px;"/>
                <img src="../../assets/blog/Link.svg"/>
            </div>
            <div class="flexy-column" style="margin-left:4.5vw">

                <markdown ngPreserveWhitespaces class="article">
            {{post.attributes.article}}
                </markdown>

                <!-- <div *ngFor="let content of post.attributes.postContent">
                    <div *ngIf="content.postText !== undefined" class="roboto-regular font-medium" style="opacity: 0.7; color: #55311B; margin-bottom: 5vw;">{{content.postText}}</div>
                    <div *ngIf="content.postSubheader !== undefined" class="roboto-regular font-medium" style="opacity: 0.7; color: #55311B; margin-bottom: 5vw;">{{content.postSubheader}}</div>
                    <div *ngIf="content.postImage !== undefined" class="roboto-regular font-medium" style="opacity: 0.7; color: #55311B; margin-bottom: 5vw;">
                        <img src="{{api_url}}{{content.postImage.data.attributes.url}}" />
                    </div>
                    
                </div> -->

            </div>
        </div>
    </div>
</div>