:host {
  canvas {
    max-width: 100vw;
    max-height: 100vh;
  }

  @media only screen and (min-width: 1201px) {
    .lady {
      position: relative;
      margin-left: calc(60.07vw - 1201px);
    }
    .gel {
      bottom: -20%;
      right: 0;
    }
    .white-fillings-text {
      position: absolute;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .gel {
      bottom: -10%;
      right: -5%;
    }
    .white-fillings-parent {
      background-color: #00A1F3;
    }
    .white-fillings-text {
      margin-bottom: 20vw;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .gel {
      bottom: -10%;
      right: -5%;
    }
    .scale-on-sm {
      max-width: 80%;
      margin: auto;
    }
    .card {
      width: 10vw;
    }
    .white-fillings-parent {
      background-color: #00A1F3;
    }
    .white-fillings-text {
      margin-bottom: 20vw;
    }
  }
}
