<div id="ChairFirstSection" class="color-brown background-43 padding-top-3 margin-top-6">
  <div class="center-text margin-bottom-6 padding-chef" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        General And <br />
        Preventive Care
      </p>
    </div>
    <div class="line-7 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>We’re great at the basics too</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        Even though at Proud Smile we are strong on aesthetic procedures doesn’t
        mean we don’t do basic procedures such as scale and cleans, white
        fillings, fissure sealants etc. In fact, we’re a general dental practice
        and we do everything under one roof on all our Gold Coast locations.
      </p>
    </div>
  </div>
  <div id="ChairParent" class="background-43" fxLayout fxLayoutAlign="center center">
    <div id="ChairAnimationContainer">
      <div id="ChairCanvasContainer">
        <canvas id="hero-lightpass-chair"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="
    secondSection
    roboto-regular
    padding-chef
    color-brown
    background-3
    padding-top-3
  " fxLayout="column" fxLayoutAlign="center center">
  <div class="center-text margin-bottom-1" fxLayout="column" fxLayoutAlign="center center">
    <div class="libre-regular font-dog margin-bottom-1">
      <p>
        Comprehensive examination<br />
        & Check-ups
      </p>
    </div>
    <div class="font-medium padding-captain margin-bottom-6">
      <p>
        We are really Proud of our examinations and even though this is where we
        don’t perform any treatments we will use all our expertise and
        experience to talk to you and understand your requirements, fears and
        dreams and propose a treatment that takes into consideration your needs,
        wishes and one that fits your budget. We encourage our patients to be
        proactive and also to think of the future so during your initial
        examination we will discuss not only your present situation but we will
        also give you an insight of what to expect for the future and what we
        can do to minimise possible complications so you can really trust all
        your dental needs in our hands and we will take care of you and your
        family.
      </p>
    </div>
    <div class="roboto-medium font-tiger padding-captain margin-bottom-1">
      <p>
        Our comprehensive new patient examination is, well, comprehensive. You
        will get:
      </p>
    </div>
  </div>

  <div class="flexy-row-w sscc">
    <div class="flex-1 sscc margin-right-1 color-brown no-margin-on-sm full-width" fxLayout="column">
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">
            Bite checks for any dysfunction and possible causes of wear
            (Orthodontic recommendation provided).
          </p>
        </div>
      </div>
      <div class="line-3 full-width margin-top-bottom-2"></div>
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">
            TMJ joint checks and lymph nodes to check for signs of infection.
          </p>
        </div>
      </div>
      <div class="line-3 full-width margin-top-bottom-2"></div>
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">Periodontal (gums) check.</p>
        </div>
      </div>
      <div class="line-3 full-width margin-top-bottom-2"></div>
    </div>
    <div class="
        flex-1
        sscc
        color-brown
        no-margin-on-sm
        margin-bottom-on-sm
        full-width
      " fxLayout="column">
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">
            3D scan of your mouth so we can monitor changes overtime.
          </p>
        </div>
      </div>
      <div class="line-3 full-width margin-top-bottom-2"></div>
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">Cancer screen.</p>
        </div>
      </div>
      <div class="line-3 full-width margin-top-bottom-2"></div>
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">
            Full mouth examination, teeth, gums, cheeks, tong and lips.
          </p>
        </div>
      </div>
      <div class="line-3 full-width margin-top-bottom-2"></div>
      <div class="align-self-start roboto-medium font-small-3 flexy-row">
        <div class="width-4">
          <img loading="lazy" src="../../../assets/whyProudSmilePage/GreenCheck.png" />
        </div>
        <div class="flex-1 margin-left-1">
          <p class="left-text">
            No maximum number of x-rays and no charge for more than 2.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative-container hide-on-sm" style="z-index: 1">
  <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/Ticket.png" />
  <div class="flexy-column absolute-container" style="top: 70%; left: 58%; max-width: 390px">
    <div class="hide-on-sm color-white roboto-regular font-small-2">
      <p>
        For all this (<span class="roboto-bold">incl X-rays</span>) or
        <span class="roboto-bold">Gap Free</span><br />
        with <span class="roboto-bold">Any Health Insurance*</span>
      </p>
    </div>
    <div class="line-3 full-width hide-on-sm opacity-3" style="margin-top: 8px; margin-bottom: 8px"></div>
    <div class="cursor-pointer roboto-regular color-white font-small-3" fxLayout fxLayoutAlign="start center"
      (click)="seeAllFinancial()">
      <div>
        <img class="card" loading="lazy" src="../../../../assets/healthPage/RootCanal/credit_card.svg" />
      </div>
      <div class="margin-left-1 font-small-5 hide-on-phone">
        <p>See all our Financial Plans</p>
      </div>
      <div class="margin-left-1 opacity-5 hide-on-phone">
        <img loading="lazy" src="../../../../assets/homePage/WhiteArrow.svg" />
      </div>
    </div>
  </div>
</div>
<div class="relative-container hide-on-big" style="z-index: 1">
  <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/Ticket-mobile-1-down.png" />
  <div class="flexy-column absolute-container" style="top: 70%; left: 10%; max-width: 390px">
    <div class="color-white roboto-regular font-small-2">
      <p>
        For all this (<span class="roboto-bold">incl X-rays</span>) or
        <span class="roboto-bold">Gap Free</span><br />
        with <span class="roboto-bold">Any Health Insurance*</span>
      </p>
    </div>
    <div class="line-3 full-widthopacity-3" style="margin-top: 8px; margin-bottom: 8px"></div>
    <div class="cursor-pointer roboto-regular color-white font-small-3" fxLayout fxLayoutAlign="start center"
      (click)="seeAllFinancial()">
      <div>
        <img class="card" loading="lazy" src="../../../../assets/healthPage/RootCanal/credit_card.svg" />
      </div>
      <div class="margin-left-1 font-small-5">
        <p>See all our Financial Plans</p>
      </div>
      <div class="margin-left-1 opacity-5">
        <img loading="lazy" src="../../../../assets/homePage/WhiteArrow.svg" />
      </div>
    </div>
  </div>
</div>

<div class="color-brown background-23" fxLayout="column" fxLayoutAlign="center center">
  <div class="padding-chef-right relative-container" fxLayout="column" fxLayoutAlign="center center"
    style="margin-top: -20px">
    <div class="flexy-row-w sscc">
      <div class="lady flex-1 no-margin-on-sm">
        <img class="max-width-unset-on-big" src="../../../../assets/healthPage/GeneralAndPreventive/head_cut.png" />
      </div>
      <div class="
          flex-1
          sscc
          padding-chef-left-on-sm padding-top-3
          margin-bottom-1
        " fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>
            White Teeth for<br />
            Life Program
          </p>
        </div>
        <div class="roboto-regular font-medium margin-bottom-1">
          <p class="center-text-on-sm">
            Our new program is designed to
            <span class="roboto-bold">REWARD</span> you with
            <span class="roboto-bold">FREE</span> Whitening gel every time you
            come for your regular dental check up and clean, every six months.
            So, not only will you have healthy teeth, reduce potential problems
            and dental expenses, but as a bonus you will enjoy white teeth on
            us.
          </p>
        </div>
        <app-button (click)="
          goToLink(
            'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
          )
          " text="BOOK NOW"></app-button>
      </div>
    </div>
  </div>
</div>

<div class="
    padding-chef
    color-white
    background-30
    padding-bottom-1 padding-top-bottom-1
    relative-container
  " fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc">
      <div class="sscc margin-right-1 margin-bottom-on-sm" style="flex: 0 0 560px" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            What if I don't<br />
            have whitening<br />
            trays?
          </p>
        </div>
        <div class="roboto-regular font-medium">
          <p class="center-text-on-sm">
            At your regular dental check up and clean, you will have the
            opportunity to purchase our custom made home whitening kit for an
            introductory price of only
            <span class="roboto-bold">$199, (normally $299)</span>. This kit
            includes the whitening trays which are custom made for your teeth
            and a set of whitening syringes with instructions, then, on your
            next check ups you’ll get free gel from us.
          </p>
        </div>
      </div>
      <div class="gel flex-1 margin-bottom-on-sm absolute-container" style="width: 50vw; z-index: 1">
        <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/WhiteningGel.png" />
      </div>
    </div>
  </div>
</div>

<div class="color-white flexy-column sscc relative-container white-fillings-parent">
  <div class="hide-on-sm" style="align-self: stretch">
    <img class="full-width" style="min-width: 1500px" loading="lazy"
      src="../../../assets/healthPage/GeneralAndPreventive/WhiteFillings.png" />
  </div>
  <div class="padding-chef padding-top-bottom-1 white-fillings-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            White <br />
            Fillings
          </p>
        </div>
        <div class="
            roboto-regular
            font-medium
            center-text-on-sm
            margin-bottom-1 margin-bottom-on-sm
          ">
          <p>
            We use tooth coloured fillings when general treatment is required.
            They are called composites and they have greatly improved over the
            last <span class="roboto-bold">15 years</span>. Other than being low
            cost they are practically invisible so your teeth will be restored
            back to how they were before. Our Dentists are highly qualified with
            many years of experience and we like to use our artistic skills even
            when doing simple fillings.
          </p>
        </div>


        <div #Maximize style="position: relative;" class="flexy-row cursor-pointer">
          <div>
            <img (click)="maximize($event)" loading="lazy"
              src="../../../../assets/healthPage/GeneralAndPreventive/maximize.svg" />
          </div>
          <div class="roboto-regular color-white font-extra-small margin-left-1">
            <p class="left-text">
              <span class="roboto-bold">Click</span> to see<br />
              the bigger version.
            </p>
          </div>
          <div class="margin-bottom-1" style="position: absolute; top:60px;">

            <img class="perfectTeeth" #PerfectTeeths
              style="width:20vw; transition: width 1s, transform 2s; max-width: unset;"
              src="../../../../assets/healthPage/GeneralAndPreventive/teeth.png" />
            <button style="position: absolute; top:0; right:0; transform:translate(7vw, -35vh); display:none;"
              #backToGrid (click)="onBackToGridClick()">
              <svg aria-hidden="true" width="24" height="22px" viewBox="0 0 24 22">
                <path fill="white"
                  d="M11 9.586L20.192.393l1.415 1.415L12.414 11l9.193 9.192-1.415 1.415L11 12.414l-9.192 9.193-1.415-1.415L9.586 11 .393 1.808 1.808.393 11 9.586z" />
              </svg>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="hide-on-big">
    <img loading="lazy" src="../../../assets/healthPage/GeneralAndPreventive/WhiteFillings.png" />
  </div>
</div>

<div class="padding-chef color-white relative-container height-5" fxLayout="column" fxLayoutAlign="center center">
  <video loading="lazy" class="height-5" preload="auto" muted #firstVideo loop style="display: none" playsinline
    style="background: white;">
    <source src="../../../../assets/healthPage/GeneralAndPreventive/General_Preventative_Care.mp4" type="video/mp4" />
  </video>

  <div class="
      absolute-container
      background-31
      height-5
      padding-chef padding-top-bottom-1
      full-width
    " fxLayout="column" fxLayoutAlign="center start">
    <div class="center-text margin-bottom-1" fxLayout="column" fxLayoutAlign="center center">
      <div class="libre-regular font-dog margin-bottom-1">
        <p>Scale and Clean</p>
      </div>
      <div class="font-medium padding-captain margin-bottom-6">
        <p>
          We have a dedicated Dental Hygienist in our practice (Bundall location
          only). She will clean and polish your teeth so they’ll look brand new.
          She can also perform small fillings on children as well as
          preventative procedures such as fissure sealants and fluoride
          applications. Her skills also allow for deeper cleanings under local
          anaesthetics for patients with moderate gum disease called
          Periodontitis. For patients with a lot of fillings, implants or if you
          wear braces having regular scale and cleans is of extreme importance
          as bacterial will usually trap on those areas more than anywhere else
          in the mouth.<br /><br />
          Our instruments will provide a gentle water spray and vibration which
          will penetrate even the smallest and hardest areas to reach breaking
          down all the plaque and calculus.
        </p>
      </div>

      <div class="hide-on-sm flexy-row full-width" style="justify-content: space-evenly">
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/Scale1.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>AROUND<br />IMPLANTS</p>
          </div>
        </div>
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/Scale2.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>
              ON PRIMARY<br />
              TEETH
            </p>
          </div>
        </div>
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/Scale3.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>
              ON<br />
              RESTORATIONS
            </p>
          </div>
        </div>
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" src="../../../../assets/healthPage/GeneralAndPreventive/Scale4.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>
              AROUND<br />
              BRACKETS
            </p>
          </div>
        </div>
      </div>

      <div class="hide-on-big flexy-row full-width margin-bottom-1" style="justify-content: space-evenly">
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" class="scale-on-sm"
              src="../../../../assets/healthPage/GeneralAndPreventive/Scale1.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>AROUND<br />IMPLANTS</p>
          </div>
        </div>
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" class="scale-on-sm"
              src="../../../../assets/healthPage/GeneralAndPreventive/Scale2.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>
              ON PRIMARY<br />
              TEETH
            </p>
          </div>
        </div>
      </div>
      <div class="hide-on-big flexy-row full-width" style="justify-content: space-evenly">
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" class="scale-on-sm"
              src="../../../../assets/healthPage/GeneralAndPreventive/Scale3.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>
              ON<br />
              RESTORATIONS
            </p>
          </div>
        </div>
        <div class="flexy-column cccc">
          <div class="margin-bottom-3">
            <img loading="lazy" class="scale-on-sm"
              src="../../../../assets/healthPage/GeneralAndPreventive/Scale4.png" />
          </div>
          <div class="roboto-bold opacity-7 font-small-4">
            <p>
              AROUND<br />
              BRACKETS
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>