<div class="color-white margin-top-6 relative-container">
  <img
    class="absolute-container full-height"
    style="max-width: unset"
    src="../../../../assets/healthPage/DVA/DVA.png"
  />
  <div
    class="center-text background-19 relative-container padding-chef padding-top-bottom-1"
    style="top: 0"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="width-1">
      <img src="../../../assets/WhiteShape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        DVA (Department of<br />
        Veteran Affairs)
      </p>
    </div>
    <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Supporting our Veterans</p>
    </div>
    <div class="font-medium padding-chef roboto-regular margin-bottom-1">
      <p>
        We’re proud to provide our services for holders of Gold and White cards
        from the Department of Veterans Affairs (DVA). You can receive the same
        high quality and utmost care and pay nothing for it as we bulk bill
        directly with the Department of Human Services.
      </p>
    </div>
    <div class="margin-bottom-on-sm">
      <img src="../../../assets/healthPage/DVA/DVAlogo.svg" />
    </div>
  </div>
</div>

<div
  class="padding-chef color-white relative-container height-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <img
    class="absolute-container full-height"
    style="max-width: unset"
    src="../../../../assets/healthPage/DVA/Soldiers.png"
  />
  <div
    class="absolute-container background-28 height-1 padding-chef padding-top-bottom-1 full-width"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog color-white libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            What is covered<br />
            under DVA?
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            DVA covers most dental procedures and the great majority of them
            require no approval. There is an annual monetary limit which is not
            cumulative so the ideal is for patients to come regularly for dental
            examinations to assess for any required dental work.<br /><br />
            The annual limit usually allows for 2 crowns per year so it’s a good
            idea to upgrade the large fillings into porcelain restorations and
            protect your teeth from fractures. Dental Implants require prior
            approval due to the complex nature of them and we’re happy to submit
            any required documentation to support your application.<br /><br />
            For treatment plans amounting to more than the annual monetary
            limits we can offer a tailored payment plan to help with the excess
            costs, however these are not common as DVA does cover a wide range
            of dental procedures.
            <span class="roboto-medium"
              >Claims are done electronically so there are no forms to fill out.
              You receive treatment and the rest is all with us.</span
            >
          </p>
        </div>
        <div class="line-6 opacity-5 full-width margin-top-bottom-2"></div>
        <div
          class="cursor-pointer roboto-regular color-white font-small-3"
          fxLayout
          fxLayoutAlign="center center"
          (click)="seeAllFinancial()"
        >
          <div>
            <img
              loading="lazy"
              src="../../../../assets/healthPage/RootCanal/credit_card.svg"
            />
          </div>
          <div class="margin-left-1">
            <p>See all our Financial Plans</p>
          </div>
          <div class="margin-left-1 opacity-5">
            <img
              loading="lazy"
              src="../../../../assets/homePage/WhiteArrow.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
