<div
  class="padding-chef color-white background-5 padding-top-bottom-1 margin-top-2"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div
      class="roboto-medium font-extra-small margin-bottom-3"
      fxLayout
      fxLayoutAlign=" center"
    >
      <div class="width-3 line-6"></div>
      <p class="margin-left-1">08</p>
    </div>
    <div class="libre-regular font-large">
      <p>
        DVA (Department of<br />
        Veteran Affairs)
      </p>
    </div>
    <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Supporting our Veterans</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        We’re proud to provide our services for holders of Gold and White cards
        from the Department of Veterans Affairs (DVA). You can receive the same
        high quality and utmost care and pay nothing for it as we bulk bill
        directly with the Department of Human Services.
      </p>
    </div>
  </div>
</div>
