<div
  class="color-brown background-1 padding-bottom-1 padding-top-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="font-large libre-regular center-text padding-top-bottom-1"
  >
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <p>
      The team you<br />
      <span class="libre-italic">Want to Talk To</span>
    </p>
  </div>

  <div class="margin-bottom-2">
    <img src="../../../assets/homePage/Team.png" />
  </div>

  <div class="padding-chef" fxLayout="column" fxLayoutAlign="center center">
    <div
      class="center-text margin-bottom-2"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="libre-regular font-dog margin-bottom-1">
        <p>A Top Team</p>
      </div>
      <div class="font-medium padding-chef">
        <p>
          At the heart of every successful business is the team is and here it’s
          no different. We like to think we’re a Top team and the synergy
          between us is something you’ll be able to notice when you become part
          of our family.
        </p>
      </div>
    </div>

    <div class="flexy-row-w-r sscc">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img loading="lazy" src="../../../assets/whoWeArePage/1.png" />
      </div>
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Listening that speaks Kindness</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            One once said that listening is wisdom and we strongly believe that.
            In order to provide the best possible care we need to understand you
            and your needs and that’s why our team is made of great listeners,
            including our clinicians. And by listening we don’t just mean
            hearing what you have to say, but understanding your situation and
            how it’s affecting your life.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            We all want healthy and beautiful smiles, it’s universal and it’s a
            right, and we want to understand why it may be that you’re not being
            able to enjoy the benefits of that, whereas it’s embarrassment and
            sense of overwhelm, fear or for the all known financial reasons.
          </p>
        </div>
        <div class="roboto-bold font-tiger margin-top-bottom-2">
          <p class="center-text-on-sm">
            We’re here to listen how we can help,<br />
            judgment free, truly.
          </p>
        </div>
        <app-button
          (click)="seeAllFinancial()"
          text="MORE ABOUT SMILEASY PAYMENT"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-brown background-1 padding-bottom-1 padding-top-bottom-1"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc margin-bottom-2">
      <div
        class="flex-1 sscc margin-right-1 margin-bottom-on-sm no-margin-right-on-sm"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            Highly Skilled, <br />
            Immensely <br />
            Personalised
          </p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Apart from how friendly and simple to talk to we can come across,
            make no mistake, we know what we’re doing, we just don’t brag it on
            your face. Our team of clinicians are highly skilled and experienced
            and we are constantly learning more to be always one step ahead and
            to deliver quality services. We’re so confident of our skills that
            we had to think ofwhat would be the next level from that and we
            think it’s to do on how we deliver these skills and how to mould it
            to your specific needs, relentlessly.
          </p>
        </div>
      </div>
      <div class="flex-1 margin-bottom-on-sm">
        <img loading="lazy" src="../../../assets/whoWeArePage/3.png" />
      </div>
    </div>

    <div class="flexy-row-w-r sscc">
      <div class="margin-right-1 flex-1 no-margin-on-sm">
        <img loading="lazy" src="../../../assets/whoWeArePage/2.png" />
      </div>
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">We got the money <br />skills too</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Our front office team is equiped and empowered to work with you and
            for you when it comes to affording your treatment, no matter what
            your financial situation is. We don’t discriminate, whether you’re
            in position of always paying in full or in need of a payment plan we
            have a solution for you.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Just tell Jo or Sandra your circumstances and your budget and we’ll
            match a financial plan for you. Whether it means staging your
            treatment or simply financing the whole thing with one of our
            different payment plan options, you’re guaranteed to find one that
            will fit your situation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
