<div class="firstSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="title firstTitle" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center" fxFlexAlign=" start">
        <div class="line"></div>
        <p>WHO WE ARE</p>
      </div>
      <div class="titleText firstTitleText">
        <p>
          The team you <br />
          <span class="it">Want to Talk To</span>
        </p>
      </div>
    </div>

    <div class="imageContainer">
      <img src="../../../assets/homePage/Team.png" />
    </div>
    <div class="secondTitle" fxLayout="column" fxLayoutAlign="center center">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>NEW TEXT HERE</p>
      </div>
      <div class="titleText">
        <p>A Top Team</p>
      </div>
      <div class="mainText">
        <p>
          At the heart of every successful business is the team is and here it’s
          no different. We like to think we’re a Top team and the synergy
          between us is something you’ll be able to notice when you become part
          of our family.
        </p>
      </div>
    </div>
    <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="imageContainer">
        <img src="../../../assets/whoWeArePage/1.png" />
      </div>
      <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
        <div class="lineAndText" fxLayout fxLayoutAlign=" center">
          <div class="line"></div>
          <p>WE ARE HERE FOR YOU</p>
        </div>
        <div class="titleText">
          <p>Listening that speaks Kindness</p>
        </div>
        <div class="mainText">
          <p>
            One once said that listening is wisdom and we strongly believe that.
            In order to provide the best possible care we need to understand you
            and your needs and that’s why our team is made of great listeners,
            including our clinicians. And by listening we don’t just mean
            hearing what you have to say, but understanding your situation and
            how it’s affecting your life.
          </p>
        </div>
        <div class="horizontalLine"></div>
        <div class="mainText noMargin">
          <p>
            We all want healthy and beautiful smiles, it’s universal and it’s a
            right, and we want to understand why it may be that you’re not being
            able to enjoy the benefits of that, whereas it’s embarrassment and
            sense of overwhelm, fear or for the all known financial reasons.
          </p>
        </div>
        <div class="mainText customText robBold">
          <p>We’re here to listen how we can help, judgment free, truly.</p>
        </div>

        <app-button text="MORE ABOUT SMILEAST PAYMENT"></app-button>
      </div>
    </div>
  </div>
</div>

<div class="secondSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="imageText" fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>THE OFFICE</p>
      </div>
      <div class="titleText">
        <p>Highly Skilled, Immensely Personalised</p>
      </div>
      <div class="mainText">
        <p>
          Apart from how friendly and simple to talk to we can come across, make
          no mistake, we know what we’re doing, we just don’t brag it on your
          face. Our team of clinicians are highly skilled and experienced and we
          are constantly learning more to be always one step ahead and to
          deliver quality services. We’re so confident of our skills that we had
          to think ofwhat would be the next level from that and we think it’s to
          do on how we deliver these skills and how to mould it to your specific
          needs, relentlessly.
        </p>
      </div>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/whoWeArePage/3.png" />
    </div>
  </div>

  <div
    class="imageText second"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div class="imageContainer">
      <img src="../../../assets/whoWeArePage/2.png" />
    </div>
    <div class="textContainer" fxLayout="column" fxLayoutAlign="start start">
      <div class="lineAndText" fxLayout fxLayoutAlign=" center">
        <div class="line"></div>
        <p>MODERN TECHNIQUES</p>
      </div>
      <div class="titleText">
        <p>
          We got the money <br />
          skills too
        </p>
      </div>
      <div class="mainText">
        <p>
          Our front office team is equiped and empowered to work with you and
          for you when it comes to affording your treatment, no matter what your
          financial situation is. We don’t discriminate, whether you’re in
          position of always paying in full or in need of a payment plan we have
          a solution for you.
        </p>
      </div>
      <div class="horizontalLine"></div>
      <div class="mainText noMargin">
        <p>
          Just tell Jo or Sandra your circumstances and your budget and we’ll
          match a financial plan for you. Whether it means staging your
          treatment or simply financing the whole thing with one of our
          different payment plan options, you’re guaranteed to find one that
          will fit your situation.
        </p>
      </div>
    </div>
  </div>
</div>
