<div
  class="color-brown background-1 padding-top-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="font-large libre-regular center-text padding-top-bottom-1"
  >
    <div class="width-1">
      <img src="../../../assets/Shape.svg" />
    </div>
    <p>
      The team you<br />
      <span class="libre-italic">Want to Talk To</span>
    </p>
  </div>

  <div class="margin-bottom-2">
    <img src="../../../assets/homePage/Team.png" />
  </div>

  <div fxLayout="column" fxLayoutAlign="center">
    <div
      class="center-text padding-chef"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="libre-regular font-dog margin-bottom-1">
        <p>A Top Team</p>
      </div>
      <div class="font-medium padding-chef">
        <p>
          At the heart of every successful business is the team and here is
          no different. We like to think we’re a Top team and the synergy
          between us is something you’ll be able to notice when you become part
          of our family.
        </p>
      </div>
    </div>

    <div class="listening-section listening-section-responsive padding-chef">
      <div
        class="flex-1 sscc margin-bottom-on-sm listening-text"
        fxLayout="column"
      >
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Listening that speaks Kindness</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            One once said that listening is wisdom and we strongly believe that.
            In order to provide the best possible care we need to understand you
            and your needs and that’s why our team is made of great listeners,
            including our clinicians. And by listening we don’t just mean
            hearing what you have to say, but understanding your situation and
            how it’s affecting your life.
          </p>
        </div>
        <div class="line-2 opacity-2 full-width margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            We all want healthy, beautiful smiles. At Proud Smile Dental we
            believe this is your right and we want to understand why, if you are
            not able to enjoy the benefits of having your perfect smile. It
            maybe through embarrassment, fear, or you may feel overwhelmed or
            find the cost of treatment financially difficult.
          </p>
        </div>
        <div class="roboto-bold font-tiger margin-top-bottom-2">
          <p class="center-text-on-sm">
            We are here to listen, truly judgement free, so we can help with
            your dream smile.
          </p>
        </div>
        <app-button
          (click)="seeAllFinancial()"
          text="MORE ABOUT SMILEASY PAYMENT"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<div
  class="
    skilled-section skilled-section-responsive
    padding-chef
    relative-container
  "
>
  <div
    class="
      flex-1
      sscc
      margin-right-1 margin-bottom-on-sm
      no-margin-right-on-sm
      skilled-section-text
      color-brown
    "
    fxLayout="column"
  >
    <div class="font-dog libre-regular margin-bottom-1">
      <p class="center-text-on-sm">
        Highly Skilled, <br />
        Immensely <br />
        Personalised
      </p>
    </div>
    <div class="roboto-regular font-medium center-text-on-sm">
      <p>
        Apart from how friendly we are, make no mistake, we know what we’re
        doing, but we don’t show off. Our team of clinicians are highly skilled
        and we’re constantly learning more so we’re always one step ahead. Our
        philosophy is to utilise our set of skills and mould it to your specific
        needs, we want to work with you and try deliver the best possible care
        we can, relentlessly.
      </p>
    </div>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center" class="color-brown">

  <div class="money-section money-section-responsive padding-chef color-dirty-white">

    <div class="flex-1 flexy-column relative-container money-text">
      <div class="font-dog libre-regular margin-bottom-1">
        <p class="center-text-on-sm">We got the money <br />skills too</p>
      </div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          Our front office team is equiped and empowered to work with you and
          for you when it comes to affording your treatment, no matter what
          your financial situation is. We don’t discriminate, whether you
          prefer to pay in full or if you need a payment plan we’ll have a
          solution for you.
        </p>
      </div>
      <div class="line-12 opacity-2 full-width margin-top-bottom-2"></div>
      <div class="roboto-regular font-medium center-text-on-sm">
        <p>
          Just let our reception staff know your circumstances and budget and
          they’ll find a financial plan for you. Whether you need to finance
          your whole plan or maybe do it in stages you’re guaranteed to find a
          plan that will suit you.
        </p>
      </div>
    </div>
  
  </div>

  </div>


