<div
  class="color-white background-12 padding-top-bottom-1 margin-top-2 relative-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/WhiteShape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Root Canal<br />
        Therapy
      </p>
    </div>
    <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>The “heart” of the tooth</p>
    </div>
  </div>

  <div
    class="relative-container full-width"
    fxLayout
    fxLayoutAlign="center center"
  >
    <video
      style="max-width: 1000px"
      class="full-width"
      preload="auto"
      muted
      #teethVideo
      loop
    >
      <source
        src="../../../../assets/healthPage/RootCanal/teeth.mp4"
        type="video/mp4"
      />
    </video>

    <div
      class="absolute-container hide-on-sm"
      style="top: 36%; left: 52%; width: 12vw"
    >
      <img src="../../../../assets/healthPage/RootCanal/linie_video.svg" />
    </div>
    <div class="absolute-container nerve">
      <div class="margin-bottom-5" style="width: 8vw">
        <img src="../../../../assets/healthPage/RootCanal/1.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p class="left-text">
          <span class="roboto-medium">THE NERVE</span><br />
          Each tooth has inside it an individual little nerve and blood supply
          vessels. This is what provides nourishment and sensations to a tooth
          so not only it will fight trauma but also warn you when things are
          going wrong. This is called the Pulp, or more commonly called the
          Nerve of the tooth.
        </p>
      </div>
    </div>

    <div
      class="absolute-container hide-on-sm rotate-line"
      style="top: 56%; left: 38%; width: 12vw"
    >
      <img src="../../../../assets/healthPage/RootCanal/linie_video.svg" />
    </div>
    <div
      class="absolute-container puple"
      fxLayout="column"
      fxLayoutAlign="center flex-end"
    >
      <div class="margin-bottom-5" style="max-width: 8vw">
        <img src="../../../../assets/healthPage/RootCanal/2.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p style="text-align: right">
          <span class="roboto-medium">THE PULPE</span><br />
          This pulp can get damaged when you have decay or a hole on the tooth
          and it keeps growing bigger. When decay or bacteria reaches the pulp
          it gets inflamed and in some cases it just dies as it cannot cope with
          the amount of trauma. Then this happens your tooth needs a root canal
          therapy.
        </p>
      </div>
    </div>

    <div
      class="absolute-container hide-on-sm"
      style="top: 72%; left: 51%; width: 12vw"
    >
      <img src="../../../../assets/healthPage/RootCanal/linie_video.svg" />
    </div>
    <div class="absolute-container therapy">
      <div class="margin-bottom-5" style="width: 8vw">
        <img src="../../../../assets/healthPage/RootCanal/3.svg" />
      </div>
      <div class="roboto-regular font-extra-small-4 center-text-on-sm">
        <p class="left-text">
          <span class="roboto-medium">THERAPY</span><br />
          Root canal therapy is a dental procedure that replaces the dead or
          inflamed pulp with a filling material, thus saving your tooth from
          having to be removed. The success rate of a root canal treatment is
          fairly high, usually 90% if the tooth is properly protected with a
          crown.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef color-white relative-container height-1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <video
    class="height-1"
    preload="auto"
    muted
    #rootCanalVideo
    loop
    style="display: none"
  >
    <source
      src="../../../../assets/healthPage/RootCanal/what_to_expect.mp4"
      type="video/mp4"
    />
  </video>

  <div
    class="absolute-container opacity-7 background-9 height-1 padding-chef padding-top-bottom-1 full-width"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">What to expect?</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Root canal therapy is performed under Local Anaesthesia and it
            involves removing all decay and the damaged pulp from the tooth.
            After the pulp is removed and the canals are clean and disinfected a
            filling material is placed inside the tooth to close everything and
            seal all canals so the bacteria can no longer survive and cause more
            problems.<br /><br />
            Depending on the case a root canal can be done in a single visit,
            when not associated to an emergency situation. If you do have an
            emergency and you’re in pain we’ll usually deal with the pain first
            and then continue the procedure on the next visit.<br /><br />
            We use rotary instruments instead of manual, that means your
            treatment will be faster and more efficient. We also use digital
            x-rays to monitor the progress of the treatment, all is done right
            there in our super comfy chair while you watch your favourite
            Netflix show on our ceiling mounted TV.<br /><br />
            Root Canal Therapy from
          </p>
        </div>
        <div class="line-6 opacity-5 width-6 margin-top-bottom-2"></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            <span class="roboto-bold font-dog">$550</span>
            <span class="roboto-regular font-dog"> or </span>
            <span class="roboto-bold font-dog">$45</span
            ><span class="roboto-regular font-dog">/week</span><br />with
            Smileasy Payment Plan
          </p>
        </div>
        <div class="line-6 opacity-5 full-width margin-top-bottom-2"></div>
        <div
          class="cursor-pointer roboto-regular color-white font-small-3"
          fxLayout
          fxLayoutAlign="center center"
          (click)="seeAllFinancial()"
        >
          <div>
            <img
              src="../../../../assets/healthPage/RootCanal/credit_card.svg"
            />
          </div>
          <div class="margin-left-1">
            <p>See all our Financial Plans</p>
          </div>
          <div class="margin-left-1 opacity-5">
            <img src="../../../../assets/homePage/WhiteArrow.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="color-white relative-container"
  fxLayout="column"
  fxLayoutAlign="center end"
>
  <div class="height-2">
    <img
      class="height-2"
      style="max-width: unset"
      src="../../../assets/healthPage/RootCanal/what_happens_after.png"
    />
  </div>
  <div
    class="absolute-container height-2 padding-chef"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="flexy-row-w sscc" style="max-width: 600px">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div class="font-dog libre-regular margin-bottom-1">
          <p class="center-text-on-sm">
            What happens<br />
            after?
          </p>
        </div>
        <div
          class="roboto-regular font-medium center-text-on-sm margin-bottom-1 margin-bottom-on-sm"
        >
          <p>
            Most of the times when you need a root canal there’s significant
            destruction on the tooth or severe fracture. Once the root canal is
            treated and the tooth is saved our next step is to restore the tooth
            and protect it so it will last a long time in your mouth. This is
            done with a dental crown.<br /><br />
            At <span class="roboto-bold">Proud Smile</span> we can produce
            crowns in a single day procedure with the use of digital impressions
            and a milling machine. And the best part is that you won’t need
            local anaesthetic anymore because the tooth will no longer have a
            nerve on it.
          </p>
        </div>
        <app-button
          text="MORE ABOUT CROWNS"
          (click)="onCrownsClick()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
