:host {
  .rotate-line {
    transform: rotate(180deg);
  }
  @media only screen and (min-width: 1201px) {
    .nerve {
      max-width: 426px;
      top: 32%;
      left: 65%;
    }
    .puple {
      max-width: 382px;
      top: 52%;
      right: 63%;
    }
    .therapy {
      max-width: 426px;
      top: 68%;
      left: 64%;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .nerve {
      max-width: 426px;
      top: 0%;
      left: 5%;
      right: 5%;
    }
    .puple {
      max-width: 382px;
      top: 36%;
      left: 5%;
      right: 5%;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      p {
        text-align: left !important;
      }
    }
    .therapy {
      max-width: 426px;
      top: 72%;
      left: 5%;
      right: 5%;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .nerve {
      max-width: 426px;
      top: 0%;
      left: 5%;
      right: 5%;
    }
    .puple {
      max-width: 382px;
      top: 36%;
      left: 5%;
      right: 5%;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      p {
        text-align: left !important;
      }
    }
    .therapy {
      max-width: 426px;
      top: 72%;
      left: 5%;
      right: 5%;
    }
  }
}
