:host {
  .title p {
    font-family: "libre";
    font-size: 6vh;
    color: #55311b;
    line-height: 7.5vh;
    margin: 0;
  }
  .lineAndText p {
    margin-top: 0;
    margin-left: 1vw;
    margin-bottom: 0;
    color: #a7958a;
    font-size: 2vmin;
    font-family: "robotoMedium";
  }

  .line {
    border-top: 1px solid #a7958a;
    opacity: 0.5;
    width: 2vw;
  }

  span {
    font-family: "libreItalic";
  }
}

