<div
  style="padding-top: 217px; position: relative; background-color: black"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div style="margin-top: 8vw; width: 100%" class="flexy-row cccc art-anim">
    <div style="position: absolute">
      <img
        #art1
        style="transition: opacity 0.3s linear; opacity: 1"
        src="../../../../assets/aesthetics/BeforeAndAfter/Art_1.svg"
      />
    </div>
    <div style="position: absolute">
      <img
        #art2
        style="transition: opacity 0.3s linear; opacity: 1"
        src="../../../../assets/aesthetics/BeforeAndAfter/Art_2.svg"
      />
    </div>
  </div>

  <div class="padding-chef color-white">
    <div class="art-text center-text margin-bottom-2 flexy-column cccc">
      <div class="font-lion roboto-regular">
        <p>
          Take a look at these Proud Smiles, then hover or click to see the
          before photo and you'll also get the full case information such as
          procedures done, timeframe, patient concerns and more.
        </p>
      </div>
      <div
        class="line-10 margin-top-bottom-3 opacity-5"
        style="width: 26vw"
      ></div>
      <div
        class="font-small-3 roboto-regular opacity-5 art-text-small"
        style="color: #acacac"
      >
        <p>
          *these patients have consented to have their images used on this
          website. Some patients asked for their eyes not to be shown, hence the
          sunglasses on some of them. Copying or using these images is strictly
          prohibited.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef"
  style="
    display: grid;
    background-color: black;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 2vw;
    row-gap: 2vw;
    padding-bottom: 8vw;
  "
>
  <div
    style="position: relative; grid-row: 1 / span 2"
    class="big-left"
    (click)="toNext(0)"
    (mouseover)="toBefore(0)"
    (mouseout)="toAfter(0)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        style="
          position: absolute;
          top: 0;
          left: -51%;
          transition: opacity 0.3s linear;
          opacity: 1;
          max-width: 212%;
          clip-path: polygon(24% 0%, 71% 0%, 71% 98%, 24% 98%);
        "
        #case0After
        src="{{galleryPath}}2_after.jpg"
      />
      <img
        #case0Before
        style="
          position: absolute;
          top: 0;
          left: -51%;
          transition: opacity 0.3s linear;
          opacity: 0;
          max-width: 212%;
          clip-path: polygon(24% 0%, 71% 0%, 71% 98%, 24% 98%);
        "
        src="{{galleryPath}}2_before.jpg"
      />
    </div>
    <div
      #btn0
      (click)="onCaseClick(0)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(1)"
    (mouseover)="toBefore(1)"
    (mouseout)="toAfter(1)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        #case1After
        src="{{galleryPath}}1_after.jpg"
      />
      <img
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        #case1Before
        src="{{galleryPath}}1_before.jpg"
      />
    </div>
    <div
      #btn1
      (click)="onCaseClick(1)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(2)"
    (mouseover)="toBefore(2)"
    (mouseout)="toAfter(2)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case2After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}3_after.jpg"
      />
      <img
        #case2Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}3_after.jpg"
      />
    </div>
    <div
      #btn2
      (click)="onCaseClick(2)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(3)"
    (mouseover)="toBefore(3)"
    (mouseout)="toAfter(3)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case3After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}4_after.jpg"
      />
      <img
        #case3Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}4_before.jpg"
      />
    </div>
    <div
      #btn3
      (click)="onCaseClick(3)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(4)"
    (mouseover)="toBefore(4)"
    (mouseout)="toAfter(4)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case4After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}7_after.jpg"
      />
      <img
        #case4Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}7_before.jpg"
      />
    </div>
    <div
      #btn4
      (click)="onCaseClick(4)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative; grid-column: 1 / span 2"
    class="big-center"
    (click)="toNext(5)"
    (mouseover)="toBefore(5)"
    (mouseout)="toAfter(5)"
  >
    <div>
      <img
        style="max-width: 50%"
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case5After
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top: -50%;
        "
        src="{{galleryPath}}12_after.jpg"
      />
      <img
        #case5Before
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top: -50%;
        "
        src="{{galleryPath}}12_before.jpg"
      />
    </div>
    <div
      #btn5
      (click)="onCaseClick(5)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>

  <div
    style="position: relative"
    class="normal"
    (click)="toNext(6)"
    (mouseover)="toBefore(6)"
    (mouseout)="toAfter(6)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case6After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}8_after.jpg"
      />
      <img
        #case6Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}8_before.jpg"
      />
    </div>
    <div
      #btn6
      (click)="onCaseClick(6)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(7)"
    (mouseover)="toBefore(7)"
    (mouseout)="toAfter(7)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case7After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}9_after.jpg"
      />
      <img
        #case7Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}9_before.jpg"
      />
    </div>
    <div
      #btn7
      (click)="onCaseClick(7)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(8)"
    (mouseover)="toBefore(8)"
    (mouseout)="toAfter(8)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case8After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}10_after.jpg"
      />
      <img
        #case8Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}10_before.jpg"
      />
    </div>
    <div
      #btn8
      (click)="onCaseClick(8)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative; grid-row: 6 / span 2; grid-column: 2"
    (click)="toNext(9)"
    (mouseover)="toBefore(9)"
    (mouseout)="toAfter(9)"
    class="big-right"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case9After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(25% 0%, 74% 0%, 74% 100%, 25% 100%);
          max-width: 207%;
          left: -51%;
        "
        src="{{galleryPath}}32_after.jpg"
      />
      <img
        #case9Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(25% 0%, 74% 0%, 74% 100%, 25% 100%);
          max-width: 207%;
          left: -51%;
        "
        src="{{galleryPath}}32_before.jpg"
      />
    </div>
    <div
      #btn9
      (click)="onCaseClick(9)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(10)"
    (mouseover)="toBefore(10)"
    (mouseout)="toAfter(10)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case10After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}11_after.jpg"
      />
      <img
        #case10Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}11_before.jpg"
      />
    </div>
    <div
      #btn10
      (click)="onCaseClick(10)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(11)"
    (mouseover)="toBefore(11)"
    (mouseout)="toAfter(11)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case11After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}13_after.jpg"
      />
      <img
        #case11Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}13_before.jpg"
      />
    </div>
    <div
      #btn11
      (click)="onCaseClick(11)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(12)"
    (mouseover)="toBefore(12)"
    (mouseout)="toAfter(12)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case12After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}16_after.jpg"
      />
      <img
        #case12Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}16_before.jpg"
      />
    </div>
    <div
      #btn12
      (click)="onCaseClick(12)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative; grid-column: 1 / span 2"
    (click)="toNext(13)"
    (mouseover)="toBefore(13)"
    (mouseout)="toAfter(13)"
    class="big-center"
  >
    <div>
      <img
        style="max-width: 50%"
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case13After
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top: -50%;
        "
        src="{{galleryPath}}33_after.jpg"
      />
      <img
        #case13Before
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top: -50%;
        "
        src="{{galleryPath}}33_before.jpg"
      />
    </div>
    <div
      #btn13
      (click)="onCaseClick(13)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>

  <div
    style="position: relative"
    class="normal"
    (click)="toNext(14)"
    (mouseover)="toBefore(14)"
    (mouseout)="toAfter(14)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case14After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}17_after.jpg"
      />
      <img
        #case14Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}17_before.jpg"
      />
    </div>
    <div
      #btn14
      (click)="onCaseClick(14)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative; grid-row: 11 / span 2"
    class="big-left"
    (click)="toNext(15)"
    (mouseover)="toBefore(15)"
    (mouseout)="toAfter(15)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case15After
        style="
          position: absolute;
          top: 0;
          left: -56%;
          transition: opacity 0.3s linear;
          opacity: 1;
          max-width: 211%;
          clip-path: polygon(27% 0%, 74% 0%, 74% 98%, 27% 98%);
        "
        src="{{galleryPath}}35_after.jpg"
      />
      <img
        #case15Before
        style="
          position: absolute;
          top: 0;
          left: -56%;
          transition: opacity 0.3s linear;
          opacity: 0;
          max-width: 211%;
          clip-path: polygon(27% 0%, 74% 0%, 74% 98%, 27% 98%);
        "
        src="{{galleryPath}}35_before.jpg"
      />
    </div>
    <div
      #btn15
      (click)="onCaseClick(15)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(16)"
    (mouseover)="toBefore(16)"
    (mouseout)="toAfter(16)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case16After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}18_after.jpg"
      />
      <img
        #case16Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}18_before.jpg"
      />
    </div>
    <div
      #btn16
      (click)="onCaseClick(16)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(17)"
    (mouseover)="toBefore(17)"
    (mouseout)="toAfter(17)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case17After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}20_after.jpg"
      />
      <img
        #case17Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}20_before.jpg"
      />
    </div>
    <div
      #btn17
      (click)="onCaseClick(17)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(18)"
    (mouseover)="toBefore(18)"
    (mouseout)="toAfter(18)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case18After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}23_after.jpg"
      />
      <img
        #case18Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}23_before.jpg"
      />
    </div>
    <div
      #btn18
      (click)="onCaseClick(18)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(19)"
    (mouseover)="toBefore(19)"
    (mouseout)="toAfter(19)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case19After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}24_after.jpg"
      />
      <img
        #case19Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}24_before.jpg"
      />
    </div>
    <div
      #btn19
      (click)="onCaseClick(19)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(20)"
    (mouseover)="toBefore(20)"
    (mouseout)="toAfter(20)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case20After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}25_after.jpg"
      />
      <img
        #case20Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}25_before.jpg"
      />
    </div>
    <div
      #btn20
      (click)="onCaseClick(20)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative; grid-column: 1 / span 2"
    class="big-center"
    (click)="toNext(21)"
    (mouseover)="toBefore(21)"
    (mouseout)="toAfter(21)"
  >
    <div>
      <img
        style="max-width: 50%"
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case21After
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top: -50%;
        "
        src="{{galleryPath}}36_after.jpg"
      />
      <img
        #case21Before
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top: -50%;
        "
        src="{{galleryPath}}36_before.jpg"
      />
    </div>
    <div
      #btn21
      (click)="onCaseClick(21)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>

  <div
    style="position: relative"
    class="normal"
    (click)="toNext(22)"
    (mouseover)="toBefore(22)"
    (mouseout)="toAfter(22)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case22After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}26_after.jpg"
      />
      <img
        #case22Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}26_before.jpg"
      />
    </div>
    <div
      #btn22
      (click)="onCaseClick(22)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(23)"
    (mouseover)="toBefore(23)"
    (mouseout)="toAfter(23)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case23After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}31_after.jpg"
      />
      <img
        #case23Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}31_before.jpg"
      />
    </div>
    <div
      #btn23
      (click)="onCaseClick(23)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (click)="toNext(24)"
    (mouseover)="toBefore(24)"
    (mouseout)="toAfter(24)"
  >
    <div>
      <img
        src="{{galleryPath}}cover.jpg"
      />
      <img
        #case24After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="{{galleryPath}}34_after.jpg"
      />
      <img
        #case24Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="{{galleryPath}}34_before.jpg"
      />
    </div>
    <div
      #btn24
      (click)="onCaseClick(24)"
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
</div>

<div class="padding-chef flexy-column cccc" style="background-color: black">
  <div style="color: #f05024" class="libre-regular font-dog margin-bottom-4">
    <p>Is your story next?</p>
  </div>
  <div
    class="roboto-thin color-white font-medium margin-bottom-4"
    style="max-width: 818px"
  >
    <p style="text-align: center">
      If you are suffering with any dental problem and you are lost,
      embarrassed, or think you can’t afford it come talk to us. First we
      listen, then we will make you Proud of yourself.<br><br> We offer a free,
      obligation free consultation if you want us to assess your smile and give
      you options of treatments, including payment options. Not ready to make an
      appointment? Contact us on the link below with your concerns, attach your
      photos if you want, and we’ll get back to you with some answers.
    </p>
  </div>
  <div class="margin-bottom-4">
    <button
      class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="onContactPage()"
    >
      Contact us, attach your pictures
    </button>
  </div>
  <div class="margin-bottom-2">
    <button
      class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="
      goToLink(
        'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
      )
      "
    >
      BOOK YOUR FREE SMILE ASSESSMENT
    </button>
  </div>
</div>

<div
  #CaseView
  style="
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    background-color: black;
    z-index: 10;
    width: 100%;
    height: 100vh;
  "
>
  <button class="fullview__close" (click)="onCaseClose()">
    <img src="../../../../assets/aesthetics/BeforeAndAfter/Close.svg" />
  </button>

  <div class="flexy-column sscc" style="position: absolute; top: 0">
    <div
      #beforeC
      style="display: grid; grid-template-columns: 50% 50%"
      class="margin-bottom-10"
    >
      <div #beforeImgC>
        <img [src]="beforeImg" />
      </div>
      <div>
        <img #afImg [src]="afterImg" />
      </div>
    </div>

    <div
      class="specifics-line padding-chef"
      style="display: grid; align-items: center; align-self: stretch"
    >
      <div
        style="justify-self: start"
        class="margin-bottom-4 color-gray-light font-lion roboto-regular"
      >
        <p>The Specifics:</p>
      </div>
      <div class="line-11 margin-bottom-4"></div>
    </div>

    <div
      style="align-self: stretch"
      class="
        padding-chef
        specifics
        margin-bottom-10
        color-gallery
        font-lion
        roboto-regular
        font-small-4
      "
    >
      <div class="flexy-column">
        <div
          class="color-gray-light roboto-regular"
          style="padding-bottom: 20px"
        >
          <p style="text-align: left">TEAM</p>
        </div>
        <div #Team>
          <div
            class="
              team-memeber-container
              flexy-row
              color-gallery-2
              roboto-regular
              font-small-4
            "
            style="align-items: center; justify-content: start"
          >
            <div
              class="team-member-image"
              style="width: 60px; clip-path: circle(46%); margin-right: 20px"
            >
              <img [src]="firstTeamImg" />
            </div>
            <div class="team-member-text">
              <p style="text-align: left">
                {{ firstTeamMember }}<br /><span class="font-extra-small-4">{{
                  firstTeamRole
                }}</span>
              </p>
            </div>
          </div>
          <div
            #secondMember
            class="flexy-row color-gallery-2 roboto-regular font-small-4"
            style="
              align-items: center;
              justify-content: start;
              padding-top: 20px;
            "
          >
            <div
              style="width: 60px; clip-path: circle(46%); margin-right: 20px"
            >
              <img [src]="secondTeamImg" />
            </div>
            <div style="display: grid; grid-template-rows: 25% 50%">
              <p style="grid-row-start: 2; text-align: left">
                {{ secondTeamMember }}<br /><span class="font-extra-small-4">{{
                  secondTeamRole
                }}</span>
              </p>
            </div>
          </div>
          <div
            #thirdMember
            class="flexy-row color-gallery-2 roboto-regular font-small-4"
            style="
              display: none;
              align-items: center;
              justify-content: start;
              padding-top: 20px;
            "
          >
            <div
              style="width: 60px; clip-path: circle(46%); margin-right: 20px"
            >
              <img [src]="thirdTeamImg" />
            </div>
            <div style="display: grid; grid-template-rows: 25% 50%">
              <p style="grid-row-start: 2; text-align: left">
                {{ thirdTeamMember }}<br /><span class="font-extra-small-4">{{
                  thirdTeamRole
                }}</span>
              </p>
            </div>
          </div>
          <div
            #fourthMember
            class="flexy-row color-gallery-2 roboto-regular font-small-4"
            style="
              display: none;
              align-items: center;
              justify-content: start;
              padding-top: 20px;
            "
          >
            <div
              style="width: 60px; clip-path: circle(46%); margin-right: 20px"
            >
              <img [src]="fourthTeamImg" />
            </div>
            <div style="display: grid; grid-template-rows: 25% 50%">
              <p style="grid-row-start: 2; text-align: left">
                {{ fourthTeamMember }}<br /><span class="font-extra-small-4">{{
                  fourthTeamRole
                }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flexy-column">
        <div
          class="color-gray-light roboto-regular"
          style="padding-bottom: 20px"
        >
          <p style="text-align: left">PATIENT CONCERNS</p>
        </div>
        <div
          #Concern
          class="flexy-column color-gallery-2 roboto-regular font-small-4"
        ></div>
      </div>
      <div>
        <div
          class="color-gray-light roboto-regular"
          style="padding-bottom: 20px"
        >
          <p style="text-align: left">PROCEDURES</p>
        </div>
        <div
          #Procedures
          class="flexy-column color-gallery-2 roboto-regular font-small-4"
        ></div>
      </div>
      <div>
        <div class="color-gallery roboto-regular" style="padding-bottom: 20px">
          <p style="text-align: left"></p>
        </div>
        <div
          #logo1
          class="flexy-row color-gallery-2 roboto-regular font-small-4"
          style="align-items: center; justify-content: start"
        >
          <div style="width: 60px; margin-right: 20px">
            <img
              style="width: 50px"
              src="../../../../assets/aesthetics/BeforeAndAfter/sameday.svg"
            />
          </div>
          <div class="same-day-text" style="color: #f5701d">
            <p style="text-align: left">Same Day<br />Veneers/Crowns</p>
          </div>
        </div>
        <div
          #logo2
          class="flexy-row color-gallery-2 roboto-regular font-small-4"
          style="align-items: center; justify-content: start; padding-top: 20px"
        >
          <div>
            <img
              style="width: 200px"
              src="../../../../assets/aesthetics/BeforeAndAfter/smileasy.svg"
            />
          </div>
        </div>
        <div
          #logo3
          class="flexy-row color-gallery-2 roboto-regular font-small-4"
          style="align-items: center; justify-content: start; padding-top: 20px"
        >
          <div style="width: 60px; margin-right: 20px">
            <img
              src="../../../../assets/aesthetics/BeforeAndAfter/digital_dentistry.png"
            />
          </div>
          <div style="color: #b3c50e">
            <p style="grid-row-start: 2; text-align: left">
              Digital<br />Dentistry
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      #inBetweensText
      class="in-betweens-line padding-chef"
      style="display: grid; align-self: stretch; align-items: center"
    >
      <div
        style="justify-self: start"
        class="margin-bottom-4 color-gray-light font-lion roboto-regular"
      >
        <p>The Journey:</p>
      </div>
      <div class="line-11 margin-bottom-4"></div>
    </div>

    <div
      #inBetweensContainer
      style="
        display: grid;
        margin-top: 2vw;
        justify-content: center;
        align-items: center;
      "
      class="margin-bottom-10"
    >
      <div #JBefore style="grid-row: 1">
        <img [src]="beforeImgJ" />
        <p
          class="color-gray-light font-extra-small roboto-regular"
          style="padding: 20px; text-align: center"
        >
          Before
        </p>
      </div>
      <div style="grid-row: 1">
        <img #inBet1Img [src]="inBet1" />
        <p
          class="color-gray-light font-extra-small roboto-regular"
          style="padding: 20px; text-align: center"
        >
          {{ inBet1Text }}
        </p>
      </div>
      <div #JBet2 style="grid-row: 1">
        <img #inBet2Img [src]="inBet2" />
        <p
          class="color-gray-light font-extra-small roboto-regular"
          style="padding: 20px; text-align: center"
        >
          {{ inBet2Text }}
        </p>
      </div>
      <div style="grid-row: 1">
        <img [src]="afterImgJ" />
        <p
          class="color-gray-light font-extra-small roboto-regular"
          style="padding: 20px; text-align: center"
        >
          Final
        </p>
      </div>
    </div>

    <div
      class="legends-line padding-chef"
      style="display: grid; align-self: stretch; align-items: center"
    >
      <div
        style="justify-self: start"
        class="margin-bottom-4 color-gray-light font-lion roboto-regular"
      >
        <p>Legends used on our cases:</p>
      </div>
      <div class="line-11 margin-bottom-4"></div>
    </div>

    <div
      class="legend-items margin-bottom-10 padding-chef"
      style="display: grid; align-self: stretch"
    >
      <div class="flexy-column">
        <div
          class="legend-icon"
          style="
            display: grid;
            align-items: end;
            height: 65px;
            margin-bottom: 1vw;
          "
        >
          <img
            style="width: 50px"
            src="../../../../assets/aesthetics/BeforeAndAfter/sameday.svg"
          />
        </div>
        <div class="roboto-thin color-white font-small-4 legend-text">
          <p>
            <span class="roboto-regular" style="color: #f5701d"
              >Same Day Veneers/Crowns</span
            >
            – Some or all the components of the treatments have been delivered
            either on the same day or over a couple of days from start to
            finish.
          </p>
        </div>
      </div>
      <div class="flexy-column">
        <div
          class="legend-icon"
          style="
            display: grid;
            align-items: end;
            height: 65px;
            margin-bottom: 1vw;
          "
        >
          <img
            style="width: 200px"
            src="../../../../assets/aesthetics/BeforeAndAfter/smileasy.svg"
          />
        </div>
        <div class="roboto-thin color-white font-small-4 legend-text">
          <p>
            <span class="roboto-regular" style="color: #00b2a9"
              >The Smileasy Payment Plan</span
            >
            is available to use for these treatments. 24 months to pay, No
            interest, No credit check, instant approval.
          </p>
        </div>
      </div>
      <div class="flexy-column">
        <div
          class="legend-icon"
          style="
            display: grid;
            align-items: end;
            height: 65px;
            margin-bottom: 1vw;
          "
        >
          <img
            src="../../../../assets/aesthetics/BeforeAndAfter/digital_dentistry.png"
          />
        </div>
        <div class="roboto-thin color-white font-small-4 legend-text">
          <p>
            <span class="roboto-regular" style="color: #b3c50e"
              >Digital Dentistry</span
            >
            – All or some of the treatment was performed using digital scanners
            instead of rubber moulds, digital design and robotic milling of
            restorations, this means less things happening inside your mouth and
            near 100% accuracy.
          </p>
        </div>
      </div>
    </div>

    <div
      style="color: #f05024; align-self: stretch; text-align: center"
      class="libre-regular font-dog story-next padding-chef"
    >
      <p>Is your story next?</p>
    </div>

    <div
      class="margin-bottom-2 bottom-buttons padding-chef"
      style="display: grid; align-self: stretch"
    >
      <button
        style="justify-self: center"
        class="
          book3
          color-white
          roboto-medium
          font-extra-small-2
          cursor-pointer
        "
        (click)="
        goToLink(
          'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
        )
        "
      >
        BOOK YOUR FREE SMILE ASSESSMENT
      </button>
      <button
        style="justify-self: center"
        class="
          book3
          color-white
          roboto-medium
          font-extra-small-2
          cursor-pointer
        "
        (click)="onContactPage()"
      >
        CONTACT US
      </button>
    </div>
  </div>
</div>
