<div
  style="padding-top: 217px; position: relative; background-color: black"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div style="margin-top: 8vw; width: 100%" class="flexy-row cccc art-anim">
    <div style="position: absolute">
      <img
        #art1
        style="transition: opacity 0.3s linear; opacity: 1"
        src="../../../../assets/aesthetics/BeforeAndAfter/Art_1.svg"
      />
    </div>
    <div style="position: absolute">
      <img
        #art2
        style="transition: opacity 0.3s linear; opacity: 1"
        src="../../../../assets/aesthetics/BeforeAndAfter/Art_2.svg"
      />
    </div>
  </div>

  <div class="padding-chef color-white">
    <div class="art-text center-text margin-bottom-2 flexy-column cccc">
      <div class="font-lion roboto-regular">
        <p>
          Take a look at these Proud Smiles, then hover or click to see the
          before photo and you'll also get the full case information such as
          procedures done, timeframe, patient concerns and more.
        </p>
      </div>
      <div
        class="line-10 margin-top-bottom-3 opacity-5"
        style="width: 26vw"
      ></div>
      <div
        class="font-small-3 roboto-regular opacity-5 art-text-small"
        style="color: #acacac"
      >
        <p>
          *these patients have consented to have their images used on this
          website. Some patients asked for their eyes not to be shown, hence the
          sunglasses on some of them. Copying or using these images is strictly
          prohibited.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="padding-chef"
  style="
    display: grid;
    background-color: black;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 2vw;
    row-gap: 2vw;
    padding-bottom: 8vw;
  "
>
  <div
    style="position: relative; grid-row: 1 / span 2"
    class="big-left"
    (mouseover)="toBefore(0)"
    (mouseout)="toAfter(0)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        style="
          position: absolute;
          top: 0;
          left: -51%;
          transition: opacity 0.3s linear;
          opacity: 1;
          max-width: 212%;
          clip-path: polygon(24% 0%, 71% 0%, 71% 98%, 24% 98%);
        "
        #case0After
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/2_after.jpg"
      />
      <img
        #case0Before
        style="
          position: absolute;
          top: 0;
          left: -51%;
          transition: opacity 0.3s linear;
          opacity: 0;
          max-width: 212%;
          clip-path: polygon(24% 0%, 71% 0%, 71% 98%, 24% 98%);
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/2_before.jpg"
      />
    </div>
    <div
      #btn0
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(1)"
    (mouseout)="toAfter(1)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        #case1After
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/1_after.jpg"
      />
      <img
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        #case1Before
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/1_before.jpg"
      />
    </div>
    <div
      #btn1
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(2)"
    (mouseout)="toAfter(2)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case2After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/3_after.jpg"
      />
      <img
        #case2Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/3_after.jpg"
      />
    </div>
    <div
      #btn2
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(3)"
    (mouseout)="toAfter(3)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case3After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/4_after.jpg"
      />
      <img
        #case3Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/4_before.jpg"
      />
    </div>
    <div
      #btn3
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(4)"
    (mouseout)="toAfter(4)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case4After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/7_after.jpg"
      />
      <img
        #case4Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/7_before.jpg"
      />
    </div>
    <div
      #btn4
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div style="position: relative; grid-column: 1 / span 2" class="big-center" 
  (mouseover)="toBefore(5)"
  (mouseout)="toAfter(5)">
    <div>
      <img style="max-width: 50%;"
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case5After
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top:-50%;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/12_after.jpg"
      />
      <img
        #case5Before
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top:-50%;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/12_before.jpg"
      />
    </div>
    <div
      #btn5
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>

  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(6)"
    (mouseout)="toAfter(6)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case6After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/8_after.jpg"
      />
      <img
        #case6Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/8_before.jpg"
      />
    </div>
    <div
      #btn6
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(7)"
    (mouseout)="toAfter(7)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case7After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/9_after.jpg"
      />
      <img
        #case7Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/9_before.jpg"
      />
    </div>
    <div
      #btn7
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(8)"
    (mouseout)="toAfter(8)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case8After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/10_after.jpg"
      />
      <img
        #case8Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/10_before.jpg"
      />
    </div>
    <div
      #btn8
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative; grid-row: 6 / span 2; grid-column: 2"
    
    (mouseover)="toBefore(9)"
    (mouseout)="toAfter(9)"
    class="big-right"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case9After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(25% 0%, 74% 0%, 74% 100%, 25% 100%);
          max-width: 207%;
          left:-51%
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/32_after.jpg"
      />
      <img
        #case9Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(25% 0%, 74% 0%, 74% 100%, 25% 100%);
          max-width: 207%;
          left:-51%
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/32_before.jpg"
      />
    </div>
    <div
      #btn9
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(10)"
    (mouseout)="toAfter(10)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case10After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/11_after.jpg"
      />
      <img
        #case10Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/11_before.jpg"
      />
    </div>
    <div
      #btn10
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(11)"
    (mouseout)="toAfter(11)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case11After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/13_after.jpg"
      />
      <img
        #case11Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/13_before.jpg"
      />
    </div>
    <div
      #btn11
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(12)"
    (mouseout)="toAfter(12)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case12After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/16_after.jpg"
      />
      <img
        #case12Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/16_before.jpg"
      />
    </div>
    <div
      #btn12
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div 
    style="position: relative; grid-column: 1 / span 2"
    
    (mouseover)="toBefore(13)"
    (mouseout)="toAfter(13)"
    class="big-center">
    <div>
      <img style="max-width: 50%;"
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case13After
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top:-50%;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/33_after.jpg"
      />
      <img
        #case13Before
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top:-50%;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/33_before.jpg"
      />
    </div>
    <div
      #btn13
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>

  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(14)"
    (mouseout)="toAfter(14)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case14After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/17_after.jpg"
      />
      <img
        #case14Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/17_before.jpg"
      />
    </div>
    <div
      #btn14
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div style="position: relative; grid-row: 11 / span 2" class="big-left" 
  (mouseover)="toBefore(15)"
  (mouseout)="toAfter(15)">
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case15After
        style="
        position: absolute;
        top: 0;
        left: -56%;
        transition: opacity 0.3s linear;
        opacity: 1;
        max-width: 211%;
        clip-path: polygon(27% 0%, 74% 0%, 74% 98%, 27% 98%);
      "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/35_after.jpg"
      />
      <img
        #case15Before
        style="
          position: absolute;
          top: 0;
          left: -56%;
          transition: opacity 0.3s linear;
          opacity: 0;
          max-width: 211%;
        clip-path: polygon(27% 0%, 74% 0%, 74% 98%, 27% 98%);
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/35_before.jpg"
      />
    </div>
    <div
      #btn15
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(16)"
    (mouseout)="toAfter(16)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case16After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/18_after.jpg"
      />
      <img
        #case16Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/18_before.jpg"
      />
    </div>
    <div
      #btn16
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(17)"
    (mouseout)="toAfter(17)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case17After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/20_after.jpg"
      />
      <img
        #case17Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/20_before.jpg"
      />
    </div>
    <div
      #btn17
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(18)"
    (mouseout)="toAfter(18)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case18After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/23_after.jpg"
      />
      <img
        #case18Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/23_before.jpg"
      />
    </div>
    <div
      #btn18
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(19)"
    (mouseout)="toAfter(19)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case19After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/24_after.jpg"
      />
      <img
        #case19Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/24_before.jpg"
      />
    </div>
    <div
      #btn19
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(20)"
    (mouseout)="toAfter(20)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case20After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/25_before.jpg"
      />
      <img
        #case20Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/25_after.jpg"
      />
    </div>
    <div
      #btn20
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div style="position: relative; grid-column: 1 / span 2" class="big-center" 
  (mouseover)="toBefore(21)"
  (mouseout)="toAfter(21)">
    <div>
      <img style="max-width: 50%;"
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case21After
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 1;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top:-50%;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/36_after.jpg"
      />
      <img
        #case21Before
        style="
          position: absolute;
          transition: opacity 0.3s linear;
          opacity: 0;
          clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
          top:-50%;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/36_before.jpg"
      />
    </div>
    <div
      #btn21
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>

  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(22)"
    (mouseout)="toAfter(22)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case22After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/26_after.jpg"
      />
      <img
        #case22Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/26_before.jpg"
      />
    </div>
    <div
      #btn22
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(23)"
    (mouseout)="toAfter(23)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case23After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/31_after.jpg"
      />
      <img
        #case23Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/31_before.jpg"
      />
    </div>
    <div
      #btn23
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
  <div
    style="position: relative"
    class="normal"
    (mouseover)="toBefore(24)"
    (mouseout)="toAfter(24)"
  >
    <div>
      <img
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/cover.jpg"
      />
      <img
        #case24After
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 1;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/34_after.jpg"
      />
      <img
        #case24Before
        style="
          position: absolute;
          top: 0;
          transition: opacity 0.3s linear;
          opacity: 0;
        "
        src="../../../../assets/aesthetics/BeforeAndAfter/Gallery/34_before.jpg"
      />
    </div>
    <div
      #btn24
      class="gallery-btn-small"
      style="
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        transition: all 0.3s;
      "
    >
      <img
        style="width: 100%; height: 100%"
        src="../../../../assets/aesthetics/BeforeAndAfter/info_2.svg"
      />
    </div>
  </div>
</div>
