  .textCardContainer {
    width: 32vw;
  }
  
  .textCardContainer .text p {
    font-family: "robotoRegular";
    font-size: 2.6vmin;
    max-width: 25vw;
    color: #55311B;
    line-height: 4vh;
    margin: 0;
  }

  .textCardContainer .title .it {
    font-family: "libreItalic";
  }
  
  .textCardContainer .title p {
    font-family: "libre";
    font-size: 6vh;
    max-width: 25vw;
    color: #55311b;
    line-height: 7.5vh;
    margin: 0;
  }
  
  .textCardContainer .lineAndText{
    padding-top: 21vh;
    margin-right: 31vh;
  }
   
  .textCardContainer .lineAndText p{
    margin-left: 1vw;
    margin-bottom: 0;
    color: #A7958A;
    font-size: 2vmin;
    font-family: "robotoMedium";
  }
  
  .textCardContainer .line{
    border-top: 1px solid #A7958A;
    opacity:0.5;
    width: 2vw;
  }
  
  .textCardContainer .link {
    color: #f5701d;
    font-family: "robotoMedium";
    font-size:16px;
    cursor: pointer;
  }
  
  .textCardContainer .link p {
    color: #f5701d;
    margin: 0;
  }
  
  .textCardContainer .link img {
    padding-left: 6px;
    max-width: 2vw;
    display:block;
  }
  