<div
  class="padding-chef color-white background-4 padding-top-bottom-1 margin-top-2"
>
  <div class="center-text" fxLayout="column" fxLayoutAlign="center center">
    <div class="width-1">
      <img src="../../../assets/WhiteShape.svg" />
    </div>
    <div class="libre-regular font-large">
      <p>
        Dental <br />
        Emergency
      </p>
    </div>
    <div class="line-5 opacity-4 width-5 margin-top-bottom-3"></div>
    <div class="font-dog libre-regular margin-bottom-4">
      <p>Get Help Right Now</p>
    </div>
    <div class="font-medium padding-chef roboto-regular">
      <p>
        If you find yourself with a dental emergency suffering from a serious
        dental condition such as a broken front tooth, an abscess, sporting
        injury or severe pain there’s only one thing you need and that is to be
        seen Right Now. So follow these easy 3 steps to get help now:
      </p>
    </div>
  </div>
</div>
