:host {
  button.onlineBooking {
    background: #015c50;
    border-radius: 38px;
    padding: 12px 30px;
    color: white;
    width: 370px;
  }
  @media only screen and (min-width: 1201px) {
    .med {
      top: 80px;
      position: relative;
      z-index: 1;
    }
    .logos {
      flex: 0 0 250px;
    }
    .instant-credit {
      align-items: flex-end;
      justify-content: center;
    }
    .applies {
      flex: 0 0 350px;
    }

    .vertical-line-1 {
      opacity: 0.5;
      background: #d8d8d8;
      margin-left: 4vw;
      margin-right: 4vw;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .instant-credit {
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .instant-credit {
      align-items: center;
      justify-content: center;
    }
    button.onlineBooking {
      background: #015c50;
      border-radius: 38px;
      padding: 12px 30px;
      color: white;
      width: 230px;
    }
  }
}
