<div class="color-white margin-top-porcelain" style="position: relative;" fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc" style="position: relative;z-index: 2;width:100%; height: 2114px;">
        <div class="padding-chef  flex-1 sscc margin-right-1 margin-bottom-on-sm" style="margin-bottom:12vw"
            fxLayout="column">
            <div class="flex-1 margin-bottom-on-sm" style="margin-top:17vw;margin-bottom:7vw;">
                <img src="../../../../assets/aesthetics/FaceSpa/logo.svg" />
            </div>
            <div class="font-dog libre-regular margin-bottom-1">
                <p>Not just smiles</p>
            </div>
            <div class="roboto-regular font-medium center-text-on-sm" style="max-width: 28vw;">
                <p>
                    Proud Smile launches FaceSpa Dermal Aesthetics, a special section of our clinic dedicated to the
                    care and rejuvenation of the face.
                    <br><br>
                    Dentistry is rapidly evolving to include aesthetic treatments for the face such as muscle relaxants
                    and dermal fillers but at Proud Smile we went a step further and we transformed one of our rooms
                    into a full scope Dermal Spa Clinic offering treatments such as <span
                        style="text-decoration: underline">facials, peels, skin needling, PRP
                        (Platelet Rich Plasma), Light Therapy, Microdermabrasion and more</span> so we really are now a
                    one stop
                    shop for all things relating to your face and mouth.
                </p>
            </div>
            <div class="line-9 opacity-4 margin-top-bottom-2" style="width:20vw;"></div>
            <div class="roboto-italic font-medium center-text-on-sm" style="max-width: 36vw;">
                <p class="opacity-5">
                    In our constant strive for innovation and bespoke quality aesthetic treatments we developed a
                    concept of personalised skin propositions where you will experience different levels of treatment
                    depending on your desired results, preferred smells and textures and also your budget.
                </p>
            </div>
            <div class="line-9 opacity-4 margin-top-bottom-2" style="width:10vw;"></div>
            <div class="roboto-regular font-medium center-text-on-sm" style="max-width: 36vw;">
                <p>
                    Lais and our other beautiful dermal therapists have built a reputable experience in the industry
                    after having worked in other skin clinics on the Gold Coast and they have now embraced our
                    philosophy of delivering individualised, high quality treatments in a friendly and personal
                    environment.
                </p>
            </div>
        </div>
    </div>

    <div class="" style="position: absolute; left:-40vw">
        <img style="max-width: unset;" src="../../../../assets/aesthetics/FaceSpa/lady.png" />
    </div>
</div>

<div class="color-white" style="position: relative;" fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w sscc" style="position: relative;z-index: 2;width:100%; height: 1454px;">
        <div class=" flex-1 sscc margin-bottom-on-sm" style="margin-bottom:12vw; padding-left:50vw;" fxLayout="column">
            <div class="font-dog libre-regular margin-bottom-1" style="margin-top:12vw;">
                <p>Now you will love<br> coming to the<br> dentist</p>
            </div>
            <div class="roboto-regular font-medium center-text-on-sm" style="max-width: 28vw;">
                <p>
                    Plus as a Proud Smile patient you can now combine facial and mouth aesthetics under the same roof,
                    or simply add relaxation to your dental visits by getting a facial before or after your appointment.
                    <br><br>
                    You can also get anti-wrinkle injections together with your dental check ups. Dentists have a
                    superior understanding of the facial musculature and <span style="text-decoration: underline">we
                        have extensive experience with injections as
                        we perform these almost on an hourly base, that gives us an advantaged position when it comes to
                        muscle
                        relaxant injections or Dermal Fillers.</span>
                </p>
            </div>
            <div class="flex-1 margin-bottom-on-sm" style="margin-top:4vw; display: flex;align-items: flex-start;">
                <div>
                    <img loading="lazy" src="../../../../assets/aesthetics/FaceSpa/pc.png" />
                </div>
                <div style="margin-top:20px"
                    class="link color-orange roboto-medium font-small-3 cursor-pointer"
                    >
                    <p fxLayout fxLayoutAlign="center center">
                        For more information about<br />
                        FaceSpa please visit our dedicated<br />
                    </p>
                    <p>
                        website on this link.
                        <img style="display: inline; vertical-align: middle;width:20px" src="../../assets/orangeArrow.svg" />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="position: absolute; left:-40vw; top:0">
        <img style="max-width: unset;" src="../../../../assets/aesthetics/FaceSpa/man.png" />
    </div>
</div>