<div
  class="
    margin-top-porcelain
    flexy-column
    cccc
    face-spa-section
    color-white
    relative-container
    hide-on-sm
  "
  style="background: #383534"
>
  <div class="lady-image" style="position: relative">
    <img
      loading="lazy"
      style="max-width: 110%; min-width: 1800px"
      src="../../../../assets/aesthetics/FaceSpa/"
    />
  </div>
  <div class="absolute-container flexy-column cccc lady-text" style="top: 0; margin:0 4vw;">
    <div class="flexy-row-w sscc" style="">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div
          class="flex-1 margin-bottom-on-sm"
          style="margin-bottom: 2vw; margin-top: 4vw"
        >
          <img
            style="max-width: 20vw; margin:auto;"
            src="../../../../assets/aesthetics/FaceSpa/FaceSpaLogo2.png"
          />
        </div>
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Not just smiles</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Proud Smile launches FaceSpa Dermal Aesthetics, a special section of
            our clinic dedicated to the care and rejuvenation of the face.
            <br /><br />
            Dentistry is rapidly evolving to include aesthetic treatments for
            the face such as muscle relaxants and dermal fillers but at Proud
            Smile we went a step further and we transformed one of our rooms
            into a full scope Dermal Spa Clinic offering treatments such as
            facials, peels, skin needling, PRP (Platelet Rich Plasma), Light
            Therapy, Microdermabrasion and more so we really are now a one stop
            shop for all things relating to your face and mouth.
          </p>
        </div>
        <div
          class="line-9 opacity-4 margin-top-bottom-2"
          style="width: 20vw"
        ></div>
        <div class="roboto-italic font-medium center-text-on-sm">
          <p class="opacity-5">
            In our constant strive for innovation and bespoke quality aesthetic
            treatments we developed a concept of personalised skin propositions
            where you will experience different levels of treatment depending on
            your desired results, preferred smells and textures and also your
            budget.
          </p>
        </div>
        <div
          class="line-9 opacity-4 margin-top-bottom-2"
          style="width: 10vw"
        ></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Our beautiful dermal therapists have built a
            reputable experience in the industry after having worked in other
            skin clinics on the Gold Coast and they have now embraced our
            philosophy of delivering individualised, high quality treatments in
            a friendly and personal environment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="
    margin-top-porcelain
    flexy-column
    cccc
    face-spa-section
    color-white
    relative-container
    hide-on-big
  "
  style="background: #383534"
>

  <div class="flexy-column cccc lady-text" style="top: 0; margin:0 4vw;">
    <div class="flexy-row-w sscc" style="">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div
          class="flex-1 margin-bottom-on-sm"
          style="margin-bottom: 2vw; margin-top: 4vw"
        >
          <img
            style="max-width: 50vw; margin:auto;"
            src="../../../../assets/aesthetics/FaceSpa/FaceSpaLogo2.png"
          />
        </div>
        <div class="font-dog libre-regular margin-bottom-1">
          <p>Not just smiles</p>
        </div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Proud Smile launches FaceSpa Dermal Aesthetics, a special section of
            our clinic dedicated to the care and rejuvenation of the face.
            <br /><br />
            Dentistry is rapidly evolving to include aesthetic treatments for
            the face such as muscle relaxants and dermal fillers but at Proud
            Smile we went a step further and we transformed one of our rooms
            into a full scope Dermal Spa Clinic offering treatments such as
            facials, peels, skin needling, PRP (Platelet Rich Plasma), Light
            Therapy, Microdermabrasion and more so we really are now a one stop
            shop for all things relating to your face and mouth.
          </p>
        </div>
        <div
          class="line-9 opacity-4 margin-top-bottom-2"
          style="width: 20vw"
        ></div>
        <div class="roboto-italic font-medium center-text-on-sm">
          <p class="opacity-5">
            In our constant strive for innovation and bespoke quality aesthetic
            treatments we developed a concept of personalised skin propositions
            where you will experience different levels of treatment depending on
            your desired results, preferred smells and textures and also your
            budget.
          </p>
        </div>
        <div
          class="line-9 opacity-4 margin-top-bottom-2"
          style="width: 10vw"
        ></div>
        <div class="roboto-regular font-medium center-text-on-sm">
          <p>
            Our beautiful dermal therapists have built a
            reputable experience in the industry after having worked in other
            skin clinics on the Gold Coast and they have now embraced our
            philosophy of delivering individualised, high quality treatments in
            a friendly and personal environment.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <img
      loading="lazy"
      src="../../../../assets/aesthetics/FaceSpa/lady-small.png"
    />
      <div style="
      position: absolute;
      top: 0px;
      left: 0;
      height: 10vw;
      background: linear-gradient(#383534, transparent);
      z-index: 6;
      width: 100vw;
    "></div>
  </div>
</div>

<div
  class="
    flexy-column
    cccc
    face-spa-section
    color-white
    relative-container
    hide-on-sm
  "
  style="background: #030304"
>
  <div class="man-image" style="position: relative">
    <img
      loading="lazy"
      style=""
      src="../../../../assets/aesthetics/FaceSpa/man-small.png"
    />
  </div>
  <div class="absolute-container flexy-column cccc man-text" style="top: 0; margin:0 4vw;">
    <div class="flexy-row-w sscc" style="">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div
        class="font-dog libre-regular margin-bottom-1"
        style="margin-top: 4vw"
      >
        <p>
          Now you will love<br />
          coming to the<br />
          dentist
        </p>
      </div>
      <div
        class="roboto-regular font-medium center-text-on-sm"
      >
        <p>
          Plus as a Proud Smile patient you can now combine facial and mouth
          aesthetics under the same roof, or simply add relaxation to your
          dental visits by getting a facial before or after your appointment.
          <br /><br />
          You can also get anti-wrinkle injections together with your dental
          check ups. Dentists have a superior understanding of the facial
          musculature and we have extensive experience with injections as we
          perform these almost on an hourly base, that gives us an advantaged
          position when it comes to muscle relaxant injections or Dermal
          Fillers.
        </p>
      </div>
      <div
        class="flex-1 margin-bottom-on-sm"
        style="margin-top: 4vw; display: flex; align-items: flex-start"
      >
        <div>
          <img
          class="pc"
            loading="lazy"
            src="../../../../assets/aesthetics/FaceSpa/pc.png"
          />
        </div>
        <div
          style="margin-top: 20px"
          class="link color-orange roboto-medium font-small-3 cursor-pointer"
        >
          <button
            class="
              book3
              color-white
              roboto-medium
              font-extra-small-2
              cursor-pointer
            "
            style="margin-top: 2vw; margin-left: 2vw"
            (click)="goToLink('https://facespa.com.au/')"
          >
            Visit Dedicated FaceSpa Website
          </button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div
  class="
    flexy-column
    cccc
    face-spa-section
    color-white
    relative-container
    hide-on-big
  "
  style="background: #030304"
>

  <div class="flexy-column cccc man-text" style="top: 0; margin:0 4vw;">
    <div class="flexy-row-w sscc" style="">
      <div class="flex-1 sscc margin-bottom-on-sm" fxLayout="column">
        <div
        class="font-dog libre-regular margin-bottom-1"
        style="margin-top: 4vw"
      >
        <p>
          Now you will love<br />
          coming to the<br />
          dentist
        </p>
      </div>
      <div
        class="roboto-regular font-medium center-text-on-sm"
      >
        <p>
          Plus as a Proud Smile patient you can now combine facial and mouth
          aesthetics under the same roof, or simply add relaxation to your
          dental visits by getting a facial before or after your appointment.
          <br /><br />
          You can also get anti-wrinkle injections together with your dental
          check ups. Dentists have a superior understanding of the facial
          musculature and we have extensive experience with injections as we
          perform these almost on an hourly base, that gives us an advantaged
          position when it comes to muscle relaxant injections or Dermal
          Fillers.
        </p>
      </div>
      <div
        class="flex-1 margin-bottom-on-sm flexy-column"
        style="margin-top: 4vw; display: flex; align-items: flex-start"
      >
        <div>
          <img
          class="pc"
            loading="lazy"
            src="../../../../assets/aesthetics/FaceSpa/pc.png"
          />
        </div>
        <div
          style="margin-top: 20px"
          class="link color-orange roboto-medium font-small-3 cursor-pointer"
        >
          <button
            class="
              book3
              color-white
              roboto-medium
              font-extra-small-2
              cursor-pointer
            "
            style="margin-top: 2vw; margin-left: 2vw"
            (click)="goToLink('https://facespa.com.au/')"
          >
            Visit Dedicated FaceSpa Website
          </button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
