<div class="padding-chef color-brown background-1 padding-bottom-1 padding-top-1" fxLayout="column"
  fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="font-large libre-regular center-text"
    style="padding-top:2vw;padding-bottom:10vw;">
    <p>
      <span class="libre-italic">Specials</span>
    </p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flexy-row-w">
      <div class="flexy-column">
        <div
          style="width:598px; height:780px; border-radius: 16px; background-color: #FEECF2; box-shadow: 0 1px 11px 0 rgba(0,0,0,0.17); margin:23px; position: relative;">
          <div class="flexy-column cccc" style="position: absolute; top:-130px;">
            <div>
              <img src="../../../assets/specials/Lady1.png" />
            </div>
            <div class="roboto-regular color-brown font-fish">
              <p class="center-text">
                Zoom Whitening –<br><span class="roboto-bold"> Only $495</span>
              </p>
            </div>
            <div class="roboto-medium color-brown font-lion opacity-6" style="padding:41px;">
              <p class="center-text">
                Get Whiter Teeth in just 1 hour with the most trusted Whitening System Worldwide. Plus add …
              </p>
            </div>

            <div class="color-orange cursor-pointer font-extra-small roboto-bold" (click)="onInternalLink('ZoomWhitening')">
              <p>
                Click to view the offer
                <img style="display: inline; vertical-align: middle;padding-left:10px;" src="../../assets/orangeArrow.svg" />
              </p>
            </div>

          </div>
        </div>
        <div
          style="width:598px; height:874px; border-radius: 16px; background-color: #F7FFFD; box-shadow: 0 1px 11px 0 rgba(0,0,0,0.17); margin:23px; position: relative;">
        
          <div class="flexy-column cccc" style="position: absolute; top:-30px;">
            <div>
              <img src="../../../assets/specials/Dent1.png" />
            </div>
            <div class="roboto-regular color-brown font-fish">
              <p class="center-text">
                <span class="roboto-bold">Invisalign –</span> now with<br> more options starting<br> from <span class="roboto-bold">$2900</span>
              </p>
            </div>
            <div class="roboto-medium color-brown font-lion opacity-6" style="padding:41px; padding-left:60px;">
              <p class="center-text">
                Change your smile, not your lifestyle and in as little as 2 months. Invisalign is the …
              </p>
            </div>

            <div class="color-orange cursor-pointer font-extra-small roboto-bold" (click)="onInternalLink('Invisalign')">
              <p>
                Click to view the offer
                <img style="display: inline; vertical-align: middle;padding-left:10px;" src="../../assets/orangeArrow.svg" />
              </p>
            </div>

          </div>
        
        </div>
      </div>
      <div class="flexy-column">
        <div
          style="width:590px; height:827px; border-radius: 16px; background-color: #F5F9FC; box-shadow: 0 1px 11px 0 rgba(0,0,0,0.17); margin:23px; position: relative;">
        
          <div class="flexy-column cccc" style="position: absolute; bottom:0px;">
            <div>
              <img src="../../../assets/specials/PayG.png" />
            </div>
            <div class="roboto-medium color-brown font-lion opacity-6" style="padding:41px;">
              <p class="center-text">
                No Deposit, pay as you go on each maintenance visit. Exclusively to Proud Smile Braces …
              </p>
            </div>

            <div class="color-orange cursor-pointer font-extra-small roboto-bold" (click)="onInternalLink('payment-page-component')">
              <p>
                Click to view the offer
                <img style="display: inline; vertical-align: middle;padding-left:10px;" src="../../assets/orangeArrow.svg" />
              </p>
            </div>

            <div>
              <img src="../../../assets/specials/Dent2.png" />
            </div>

          </div>
        
        </div>
        <div
          style="width:598px; height:860px; border-radius: 16px; background-color: #FEE2DB; box-shadow: 0 1px 11px 0 rgba(0,0,0,0.17); margin:23px; position: relative;">
          <div class="flexy-column cccc" style="position: absolute; top:-30px;">
            <div>
              <img src="../../../assets/specials/Lady2.png" />
            </div>
            <div class="roboto-regular color-brown font-fish">
              <p class="center-text">
                Our<span class="roboto-bold"> New<br>Patient Special</span>
              </p>
            </div>
            <div class="roboto-medium color-brown font-lion opacity-6" style="padding:41px;">
              <p class="center-text">
                Heck up and x-rays for only <span class="roboto-bold" style="text-decoration: underline">$99 or Gap Free</span> with all health insurances. We’d love you to join …
              </p>
            </div>

            <div class="color-orange cursor-pointer font-extra-small roboto-bold">
              <p>
                Click to view the offer
                <img style="display: inline; vertical-align: middle;padding-left:10px;" src="../../assets/orangeArrow.svg" />
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>