:host {

  ::ng-deep .description {
    .article-title {
        color:#55311B;
        font-size: calc(0.61vw + 20.14px);
        line-height: 1.4em;
        font-family: "robotoRegular";
        font-weight: 100;
    }
    .article-bold-title {
      color:#55311B;
      font-size: calc(0.61vw + 20.14px);
        line-height: 1.4em;
        font-family: "robotoBold";
        font-weight: 100;
    }
    p {
        color:#55311B;
        margin-bottom:1vw;
        font-family: "robotoRegular";
        font-size: calc(0.37vw + 16.88px);
        line-height: 1.4em;
    }
}
   
    #container .item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 24vw;
        flex-direction: column;
        padding:4vw;
        text-align: center;
      }

      .activeCategory {
        color: #55311B;
      }
      
      .inactiveCategory {
        color: #565960;
        opacity: 0.7;
      }

      
      .invisibleContainer {
        visibility: hidden;
      }

      .hideContainer {
        display: none;
      }
      .activePage {
        fill: #AA9588 !important;
      }
      .activePageText {
        fill: white !important;
      }

    @media only screen and (min-width: 1201px) {
      .main-title {
        font-size: 136px;
      }
      .blog-text {
        max-width: 22vw;
      }
      .blog-title-container {
        padding-top:9vw;
      }
      #container {
        max-width:75vw;
      }

      #container .item {
        max-width: 24vw;
      }
    }
  
    @media only screen and (min-width: 601px) and (max-width: 1200px) {
      .main-title {
        font-size: 70px;
        margin-bottom:4vw;
      }
      
      .blog-title-container {
        padding-top:unset;
      }
      .blog-text {
        max-width: 100%;
      }
      #container {
        max-width:100%;
      }
      
      #container .item {
        max-width: 100%;
      }
      .article-link {
        margin:5vw;
      }
    }
  
    @media only screen and (min-width: 300px) and (max-width: 600px) {

      .main-title {
        font-size: 40px;
        margin-bottom:4vw;
      }
      .blog-title-container {
        padding-top:unset;
      }
      .blog-text {
        max-width: 100%;
      }
      #container {
        max-width:100%;
      }
      
      #container .item {
        max-width: 100%;
      }

      .article-link {
        margin:5vw;
      }
    }
  }
  