.imageContainer img {
  max-width: 100%;
  display: block;
}

.textContainer {
  width: 32vw;
}

.bigCardsContainer .title .it {
  font-family: "libreItalic";
}

.textContainer .text p {
  font-family: "robotoRegular";
  font-size: 32px;
  max-width: 29vw;
  color: #a7958a;
  line-height: 5vh;
  margin: 0;
}

.textContainer .title p {
  font-family: "libre";
  font-size: 7vh;
  max-width: 25vw;
  color: #55311b;
  line-height: 8vh;
  margin: 0;
}

.textContainer .link {
  color: #f5701d;
  font-family: "robotoMedium";
  font-size: 16px;
  cursor: pointer;
}

.textContainer .link p {
  color: #f5701d;
  margin: 0;
}

.textContainer .link img {
  padding-left: 8px;
  max-width: 2vw;
  display: block;
}
