@import "../../../../proud-smile-style.scss";

:host {
  .smallCard {
    height: 100%;
    .smallCardText {
      padding-top: 1vh;
      text-align: center;
    }
  }

  @media only screen and (min-width: 1201px) {
    .smallCard {
      .smallCardText {
        max-width:140px;
      }
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .smallCard {
      .smallCardText {
        max-width:120px;
      }
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .smallCard {
      .imageContainer {
        max-width:50%;
      }
      .smallCardText {
        max-width: 100px;
      }
    }
  }
}
