@import "../../../../proud-smile-style.scss";

:host {
  height: 100%;
  .imageTextCard {
    height: 100%;
    .text-container {
      height: 100%;
      width: 5vw;
    }
    .image-container {
      height: 100%;
      img {
        max-height: 100%;
        display: block;
      }
    }
  }
}
