$color-brown: #55311b;
$color-white: white;
$color-orange: #F05024;
$color-green: #85920D;
$color-gray: #EEF0F3;
$color-brown-light: #a7958a;

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.color-white {
    color: $color-white;
}
.color-brown-light {
    color: $color-brown-light;
}
.color-gray {
    color: $color-gray;
}
.color-orange {
    color: $color-orange;
}
.color-brown {
    color: $color-brown;
}
.color-green {
    color: $color-green;
}

.opacity-5 {
    opacity: 0.5;
}

.center-text {
    text-align: center;
    margin: auto;
}

.roboto-bold {
    font-family: "robotoBold";
}
.robot-regular {
    font-family: "robotoRegular";
}
.roboto-medium {
    font-family: "robotoMedium";
}
.libre-regular {
    font-family: "libreRegular";
}
.libre-italic {
    font-family: "libreItalic";
}

.relative-container {
    position: relative;
}

.absolute-container {
    position: absolute;
}


button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

.button-1 {
    border-radius: 24px;
    padding: 12px 32px;
    background-color: $color-orange;
    display: flex;
    align-items: center;
    img {
        padding-right: 12px;
    }
    p {
        color: $color-white;
    }
}

.link-1 {
    p {
        margin-right: 6px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (min-width: 1201px) {   
    .section {
        padding: 24vh 15vw;
    }

    .primary-text-1 {
        font-size: 3.7rem;
        line-height: 5rem;
        width: 900px;
    }
    
    .primary-text-2 {
        font-size: 1rem;
        line-height: 1.33rem;
    }

    .primary-text-3 {
        font-size: 0.66rem;
        line-height: 1rem;
    }

    .primary-text-4 {
        font-size: 0.58rem;
        line-height: 0.66rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .section {
      padding: 18vh 9vw;
    }
    .primary-text-1 {
        font-size: 2.7rem;
        line-height: 4rem;
        width: 560px;
    }
    
    .primary-text-2 {
        font-size: 0.9rem;
        line-height: 1.15rem;
    }

    .primary-text-3 {
        font-size: 0.63rem;
        line-height: 0.9rem;
    }

    .primary-text-4 {
        font-size: 0.54rem;
        line-height: 0.63rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .section {
      padding: 12vh 3vw;
    }
    .primary-text-1 {
        font-size: 1.7rem;
        line-height: 3rem;
        width: 290px;
    }

    .primary-text-2 {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .primary-text-3 {
        font-size: 0.6rem;
        line-height: 0.8rem;
    }

    .primary-text-4 {
        font-size: 0.5rem;
        line-height: 0.6rem;
    }
}
