
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$ProudSmile-primary: mat-palette($mat-indigo);
//$ProudSmile-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$ProudSmile-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $ProudSmile-theme: mat-light-theme((
//   color: (
//     primary: $ProudSmile-primary,
//     accent: $ProudSmile-accent,
//     warn: $ProudSmile-warn,
//   )
// ));


@font-face {
  font-family: robotoBold;
  src: url(assets/fonts/Roboto-Bold.ttf) format("opentype");
}

@font-face {
  font-family: robotoMedium;
  src: url(assets/fonts/Roboto-Medium.ttf) format("opentype");
}

@font-face {
  font-family: robotoRegular;
  src: url(assets/fonts/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: libreItalic;
  src: url(assets/fonts/LibreBaskerville-Italic.ttf) format("opentype");
}
@font-face {
  font-family: libre;
  src: url(assets/fonts/LibreBaskerville-Regular.ttf) format("opentype");
}
@font-face {
  font-family: libreBold;
  src: url(assets/fonts/LibreBaskerville-Bold.ttf) format("opentype");
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($ProudSmile-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; }
