.homePage {
  background: #f99573;
}

.firstSection {
  position: relative;
}

.homePageImageContainer {
  margin: 0 4vw;
}

* img {
  max-width: 100%;
  display: block;
}

.homePageText {
  position: absolute;
  top: 36vh;
  left: 15vw;
}

.homePageText svg {
  max-width: 50vw;
  max-height: 50vh;
}

@media screen and (max-width: 720px) {
  .homePageText {
    top: 10vw;
    left: 10vh;
  }
}

.firstSectionBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.firstSectionBottom h2 {
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.firstSectionBottom h2 span {
  padding: 0 10px;
}

.firstSectionBottom .lineText {
  width: 100%;
  color: white;
  font-size: 24px;
}

.firstSectionBottom .line {
  text-align: center;
  border-bottom: 1px solid #fff;
  margin: 10px 0 20px;
}

.smallCardsContainer {
  width: 100%;
  padding: 0 10vw;
}

.setHeight {
  display: block;
  height: 2000px;
}

.viewport {
  position: relative;
}

.scroll-container {
}

.playingVideo {
  position: fixed;
}

#bgVideoFwd,
#bgVideoBwd {
  position: absolute;
  height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  -moz-transform: translate(-50%, -50%) scale(0.8);
  -ms-transform: translate(-50%, -50%) scale(0.8);
  -o-transform: translate(-50%, -50%) scale(0.8);
  transform: translate(-50%, -50%) scale(0.8);
}

#bgVideoFwd {
  opacity: 1;
  visibility: visible;
}

#bgVideoBwd {
  opacity: 0;
  visibility: hidden;
}

.scrollToPlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollComponent {
}

.bigCardsContainer {
  background: #f5f5f5;
  padding-bottom: 22vh;
}

.bigCardsContainer .title {
  padding-top: 22vh;
}

.bigCardsContainer .title p{
  font-family: "libre";
  font-size: 9vh;
  max-width: 50vw;
  color: #55311b;
  line-height: 13vh;
  text-align: center;
  margin: 0;
}

.bigCardsContainer .title span {
  font-family: "libreItalic";
}


.teamContainer {
  background: #FFF9F6;
}

.teamContainer .mainTitle .it{
  font-family: "libreItalic";
}

.teamContainer .mainTitle p{
  font-family: "libre";
  font-size: 9vmin;
  max-width: 50vw;
  color: #55311b;
  line-height: 13vh;
  text-align: center;
  margin: 0;
}

.teamContainer .subTitle p{
  font-family: "libre";
  font-size: 3vmin;
  max-width: 50vw;
  color: #55311b;
  line-height: 5vh;
  text-align: center;
  margin: 2vh 0 0 0;
}

.lineAndText{
  padding-top: 21vh;
  margin-right: 31vh;
}
 
.lineAndText p{
  margin-left: 1vw;
  margin-bottom: 0;
  color: #A7958A;
  font-size: 2vmin;
}

.line{
  border-top: 1px solid #A7958A;
  opacity:0.5;
  width: 2vw;
}

.officeContainer {
  background: #FAECE9;
}
