:host {
  .scroll-framer-canvas-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .vertical-size {
    height: 100vh;
  }

  .horizontal-size {
    width: 100vw;
  }
}
