<div id="ScrollFramer" class="relative-container" #scrollFramer>
  <div id="AnimationContainer" #animation>
    <section
      id="ScrollFramerContainer"
      class="scroll-framer-canvas-container mobile-rules relative-container"
      style="height: 100vh"
      #scrollFramerContainer
    >
      <canvas #ScrollCanvas class="vertical-size"> </canvas>
      <div
        #CanvasClone
        class="relative-container"
        style="background-color: transparent; position: absolute"
      >
        <div #FrameAround>
          <div
            style="
              position: absolute;
              top: 0px;
              left: 0;
              height: 4vw;
              background: linear-gradient(black, transparent);
              z-index: 6;
              width: 100vw;
            "
          ></div>
          <div
            style="
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              background: linear-gradient(90deg, black, transparent);
              z-index: 6;
              width: 4vw;
            "
          ></div>

          <div
            style="
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              background: linear-gradient(270deg, black, transparent);
              z-index: 6;
              width: 4vw;
            "
          ></div>

          <div
            style="
              position: absolute;
              left: 0;
              bottom: 0px;
              height: 4vw;
              background: linear-gradient(0deg, black, transparent);
              z-index: 6;
              width: 100vw;
            "
          ></div>


        </div>
      </div>

    </section>
  </div>
</div>
