<!-- <div
  id="LoadingTextZoom"
  #LoadingText
  class="margin-top-porcelain hide-on-sm"
  style="background: black"
>
  <div
    class=""
    style="
      height: 100vh;
      width: 100vw;
      z-index: 1;
      margin-bottom: 10vw;
      display: block;
    "
  >
    <div
      class="flexy-column color-white cccc font-dog libre-regular center-text padding-top-3 margin-bottom-10 relative-container"
    >
      <div class="width-1 margin-bottom-10">
        <img src="../../../../assets/WhiteShape.svg" />
      </div>
      <p class="margin-bottom-10">Loading Zoom Whitening presentation...</p>
    </div>
  </div>
</div>

<div id="ZoomAnimationContainer" class="animation-container  hide-on-sm">

  <div
    #SuggestionButton
    style="
      position: fixed;
      bottom: 10px;
      right: 3%;
      z-index: 10;
      cursor: pointer;
    "
  >
    <div
      (click)="onNextClick()"
      style="display: flex; align-items: center"
      class="roboto-medium font-extra-small-2"
    >
      <p #HelperText style="color: #adaeb1; margin-right: 8px">
        Skip to next chapter<br />
        or keep scrolling.
      </p>
      <div>
        <img
          #DownArrow
          style="transform: rotate(0deg); transition: transform 0.5s"
          src="../../../../assets/down.svg"
        />
      </div>
    </div>
  </div>
  <div
    #SuggestionButtonUp
    style="
      position: fixed;
      bottom: 50px;
      right: 3%;
      z-index: 10;
      cursor: pointer;
    "
  >
    <div
      (click)="onRevertClick()"
      style="display: flex; align-items: center"
      class="roboto-medium font-extra-small-2"
    >
      <p style="color: #adaeb1; margin-right: 8px">Revert to first chapter.</p>
      <div>
        <img
          style="transform: rotate(180deg)"
          src="../../../../assets/down.svg"
        />
      </div>
    </div>
  </div>

  <div class="canvas-container">
    <canvas id="hero-lightpass-zoom"></canvas>
    <div class="canvas-framer">
      <div
        style="
          position: absolute;
          top: 0px;
          left: 0;
          height: 2vw;
          background: linear-gradient(black, transparent);
          z-index: 6;
          width: 100vw;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: linear-gradient(90deg, black, transparent);
          z-index: 6;
          width: 2vw;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          background: linear-gradient(270deg, black, transparent);
          z-index: 6;
          width: 2vw;
        "
      ></div>
      <div
        style="
          position: absolute;
          left: 0;
          bottom: 0px;
          height: 2vw;
          background: linear-gradient(0deg, black, transparent);
          z-index: 6;
          width: 100vw;
        "
      ></div>
    </div>
  </div>
</div>

<div
  id="ZoomBottomButtons"
  class="padding-chef flexy-row cccc  hide-on-sm"
  style="
    background: black;
    justify-content: space-around;
    position: relative;
    top: -5px;
    z-index: 4;
    padding-bottom: 4vw;
    flex-wrap: wrap;
  "
>
  <button
    style="margin-top: 2vw"
    class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer margin-bottom-4"
    (click)="seeUltraThin()"
  >
    ULTRA THIN VENEERS
  </button>
</div> -->



<div id="ZoomFirstSection" class="margin-top-porcelain flexy-column cccc hide-on-big"
  style="background: black; color:white; text-align: center;">
  <div id="ZoomParent" class="background-43" fxLayout fxLayoutAlign="center center">
    <div id="ZoomAnimationContainerMobile">
      <div id="ZoomCanvasContainer" style="position: relative;">
        <canvas id="hero-lightpass-Zoom"></canvas>
        <div class="canvas-framer">
          <div style="
                position: absolute;
                top: 0px;
                left: 0;
                height: 4vw;
                background: linear-gradient(black, transparent);
                z-index: 6;
                width: 100vw;
              "></div>
          <div style="
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: linear-gradient(90deg, black, transparent);
                z-index: 6;
                width: 4vw;
              "></div>

          <div style="
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background: linear-gradient(270deg, black, transparent);
                z-index: 6;
                width: 4vw;
              "></div>

          <div style="
                position: absolute;
                left: 0;
                bottom: 0px;
                height: 4vw;
                background: linear-gradient(0deg, black, transparent);
                z-index: 6;
                width: 100vw;
              "></div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-small roboto-regular padding-chef" style="margin-bottom:10vw; color:#FFFFFFCC">
      <p>
        <span class="roboto-bold">Zoom Teeth Whitening</span> is an effective way to brighten your smile, boost your
        self-confidence and improve your
        appearance, and best of all, in just 1 hour. No other whitening system can deliver results this quick. Plus,
        relax in our high tech chair tuck yourself in with a blanket and watch a movie or <span
          class="roboto-bold">Netflix</span> on our ceiling mounted
        TV while we dim the lights and activate our special coloured <span class="roboto-bold">Led lighting</span> in
        the room.
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;color:#FFFFFFCC">
      <p>
        When it’s done refresh yourself with a warm towel on your face and grab the mirror to check your new brighter
        smile. Whitening is not a permanent solution and so maintenance is advisable. For all our Zoom patients we offer
        the chance to purchase a home kit for half the cost of a standard home whitening kit. Plus, if you participate
        in our “White Teeth for life” program you’ll receive free top up whitening gel twice a year when you come for
        your check ups.
      </p>
    </div>
    <div>
      <img src="../../../../assets/aesthetics/Zoom images mobile/compare.png" />
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw; color:#EFEFEF">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p style="font-size: 32px;">
        Prefer <span class="roboto-bold">Permanent</span> <br /> <span class="roboto-bold">White Teeth,</span><br />
        guaranteed?
      </p>
    </div>
    <div>
      <img src="../../../../assets/aesthetics/Zoom images mobile/lady zoom.png" />
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p>
        For permanent, no maintenance required
        and customised teeth whitening results you can check our <span style="color:#FF4F1B">Ultra Thin Veneers
          page.</span>
      </p>
    </div>
  </div>

  <div class="padding-chef flexy-column cccc">
    <button style="margin-bottom: 10vw;" class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="seeUltraThin()">
      ULTRA THIN VENEERS
    </button>
  </div>

</div>



<div class="flexy-column cccc hide-on-sm" style="background: black; color:white; text-align: center; margin-top:217px;">
  <div style="position: relative; margin-top:5vw;">
    <div>
      <div style="
          position: absolute;
          top: 0px;
          left: 0;
          height: 4vw;
          background: linear-gradient(black, transparent);
          z-index: 6;
          width: 100%;
        "></div>
      <div style="
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: linear-gradient(90deg, black, transparent);
          z-index: 6;
          width: 4vw;
        "></div>

      <div style="
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          background: linear-gradient(270deg, black, transparent);
          z-index: 6;
          width: 4vw;
        "></div>

      <div style="
          position: absolute;
          left: 0;
          bottom: 0px;
          height: 4vw;
          background: linear-gradient(0deg, black, transparent);
          z-index: 6;
          width: 100%;
        "></div>
    </div>

    <div class="flexy-row" style="color: white;">
      <div>
        <img src="../../../../assets/aesthetics/Zoom images mobile/ZoomLight.jpg" />
      </div>
    </div>

  </div>

  <div class="flexy-column cccc" style="margin-top:5vw; margin-bottom:5vw;">
    <div class="font-small roboto-regular padding-chef" style="margin-bottom:5vw; color:#FFFFFFCC">
      <p>
        <span class="roboto-bold">Zoom Teeth Whitening</span> is an effective way to brighten your smile, boost your
        self-confidence and improve your
        appearance, and best of all, in just 1 hour. No other whitening system can deliver results this quick. Plus,
        relax in our high tech chair tuck yourself in with a blanket and watch a movie or <span
          class="roboto-bold">Netflix</span> on our ceiling mounted
        TV while we dim the lights and activate our special coloured <span class="roboto-bold">Led lighting</span> in
        the room.
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="color:#FFFFFFCC">
      <p>
        When it’s done refresh yourself with a warm towel on your face and grab the mirror to check your new brighter
        smile. Whitening is not a permanent solution and so maintenance is advisable. For all our Zoom patients we offer
        the chance to purchase a home kit for half the cost of a standard home whitening kit. Plus, if you participate
        in our “White Teeth for life” program you’ll receive free top up whitening gel twice a year when you come for
        your check ups.
      </p>
    </div>

    <div style="position: relative; margin-top:5vw;">
      <div>
        <div style="
            position: absolute;
            top: 0px;
            left: 0;
            height: 4vw;
            background: linear-gradient(black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
        <div style="
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: linear-gradient(90deg, black, transparent);
            z-index: 6;
            width: 4vw;
          "></div>

        <div style="
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background: linear-gradient(270deg, black, transparent);
            z-index: 6;
            width: 4vw;
          "></div>

        <div style="
            position: absolute;
            left: 0;
            bottom: 0px;
            height: 4vw;
            background: linear-gradient(0deg, black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
      </div>

      <div>
        <img src="../../../../assets/aesthetics/Zoom images mobile/compare.png" />
      </div>

    </div>

  </div>

  <div class="flexy-column cccc" style="margin-bottom:5vw; color:#EFEFEF">
    <div class="font-lion roboto-regular padding-chef">
      <p style="font-size: 32px;">
        Prefer <span class="roboto-bold">Permanent</span> <span class="roboto-bold">White Teeth,</span>
        guaranteed?
      </p>
    </div>

    <div style="position: relative; margin-top:5vw;">
      <div>
        <div style="
            position: absolute;
            top: 0px;
            left: 0;
            height: 4vw;
            background: linear-gradient(black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
        <div style="
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: linear-gradient(90deg, black, transparent);
            z-index: 6;
            width: 4vw;
          "></div>

        <div style="
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background: linear-gradient(270deg, black, transparent);
            z-index: 6;
            width: 4vw;
          "></div>

        <div style="
            position: absolute;
            left: 0;
            bottom: 0px;
            height: 4vw;
            background: linear-gradient(0deg, black, transparent);
            z-index: 6;
            width: 100%;
          "></div>
      </div>

      <div>
        <img src="../../../../assets/aesthetics/Zoom images mobile/lady zoom.png" />
      </div>

    </div>



    <div class="font-small-3 roboto-regular padding-chef">
      <p>
        For permanent, no maintenance required
        and customised teeth whitening results you can check our <span style="color:#FF4F1B">Ultra Thin Veneers
          page.</span>
      </p>
    </div>
  </div>

  <div class="padding-chef flexy-column cccc">
    <button style="margin-bottom: 5vw;" class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="seeUltraThin()">
      ULTRA THIN VENEERS
    </button>
  </div>

</div>