:host {

  .book3 {
    border-radius: 37px;
    background: #E6437B;
    padding: 24px 36px;
    border: 0;
    outline: none;
    margin-top: auto;
  }

    .vertical-size {
      height: 100vh;
    }
  
    .horizontal-size {
      width: 100vw;
    }
    @media only screen and (min-width: 1201px) {
      .margin-top-porcelain {
        margin-top:217px;
        height: calc(100vh - 217px);
      }
    }
  
    @media only screen and (min-width: 601px) and (max-width: 1200px) {
  
      .margin-top-porcelain {
        margin-top:144px;
        height: calc(100vh - 144px);
      }
    }
  
    @media only screen and (min-width: 300px) and (max-width: 600px) {
  
      .margin-top-porcelain {
        margin-top:144px;
        height: calc(100vh - 144px);
      }
    }
  }
  