@import "../../../proud-smile-style.scss";

:host {
    button {
        border-radius: 37px;
        background: $color-orange;
        border: 0;
        outline: none;
    }
    
  @media only screen and (min-width: 1201px) {

    button {
      padding: 24px 48px;
    }

  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {

    button {
      padding: 18px 36px;
    }

  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {

    button {
      padding: 12px 24px;
    }

  }
}