:host {
  .book3 {
    border-radius: 37px;
    background: #E6437B;
    padding: 24px 36px;
    border: 0;
    outline: none;
    margin-top: auto;
  }
  
  .vertical-size {
    height: 100vh;
  }

  .horizontal-size {
    width: 100vw;
  }
}
