<div class="top-container flexy-column cccc hide-on-big" style="background: black; color:white; text-align: center;">
  <div class="font-lion roboto-medium margin-bottom-2 padding-chef" style="margin-top:15vw; margin-bottom:15vw;">
    <p style="font-size: 40px;">
      Get everything,<br /> sacrifice nothing
    </p>
  </div>
  <div>
    <img src="../../../../assets/aesthetics/Ultra image/mobile/cleste.png" />
  </div>
  <div style="max-width: 80vw; margin-bottom:10vw;">
    <img src="../../../../assets/aesthetics/Ultra image/mobile/compare2.svg" />
  </div>

  <div class="" style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        <span class="roboto-bold">Painless</span>, no <br /> anasthesia required
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p>
        Since these are so thin, much less preparation need to be done on the teeth to receive them, as a matter of fact
        in some cases teeth require no preparation or trimming whatsoever, meaning no local anaesthetics, no pain and
        procedure is reversible. Preparation procedure usually takes less than an hour and involves digital scans only.
        Cementation then happens either in the afternoon (<span style="color:#FF4F1B">Same Day Veneers</span>) or on
        another day as there's no need for
        temporary veneers.
      </p>
    </div>
    <div class="font-small-2 roboto-regular padding-chef" style="margin-bottom: 10vw;">
      <p style="color: #acacac">
        * this treatment is not suitable to all patients and we as health professionals have an ethic to let you know whether you are
        a candidate. A comprehensive examination must be performed to check eligibility and to assess the health of your
        teeth prior to receiving this treatment.
      </p>
    </div>
    <div style="position: relative;">
      <div>
        <img src="../../../../assets/aesthetics/Ultra image/mobile/lady ultra 2.png" />
      </div>
      <div style="position: absolute; z-index: 1; top: 5%; left: 5%;">
        <img src="../../../../assets/aesthetics/Ultra image/mobile/compare.svg" />
      </div>
    </div>

  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        What can <span class="roboto-bold" style="color:#FF4F1B">Ultra</span> <br /> <span class="roboto-bold"
          style="color:#FF4F1B">Thin Veneers</span> do?
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw; color:#FFFFFFCC">
      <p>
        Ultra thin veneers are best used in cases requiring augmentation or additive cases. These are:
      </p>
    </div>

    <div style="max-width: 90vw; margin:auto;">
      <img src="../../../../assets/aesthetics/Ultra image/mobile/dinti.svg" />
    </div>
  </div>

  <div style="margin-top:10vw; margin-bottom:10vw;">
    <div class="font-lion roboto-regular margin-bottom-2 padding-chef">
      <p>
        <span class="roboto-bold">Permanent White</span> <br /> <span class="roboto-bold">Teeth</span>, on your terms.
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:10vw;">
      <p>
        Who doesn't love a fresh white smile? Even though whitening
        treatments such as our <span style="color:#FF4F1B">Zoom</span> can be effective to lighten the colour of your
        teeth they require maintenance with
        home care. Plus, results are variable from person to person. For a permanent and predictable whitening solution
        ultra thin veneers is your best option, and there's no regular maintenance required, no gel, no trays. Because
        these veneers are so thin they are particularly good if you already like your teeth or perhaps you have just
        finished your <span style="color:#FF4F1B">braces</span> or <span style="color:#FF4F1B">Invisalign</span> and you
        just would love your teeth to be permanently whiter for that final
        touch, without necessarily having to change the shape or anything else about your teeth.
      </p>
    </div>

    <div>
      <img src="../../../../assets/aesthetics/Ultra image/mobile/lady ultra 1.png" />
    </div>
  </div>

  <div class="padding-chef flexy-column cccc">
    <button style="margin-bottom: 10vw" class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="
      goToLink(
  'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
)
    ">
      BOOK YOUR FREE SMILE ASSESSMENT
    </button>
    <button style="margin-bottom: 10vw;" class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="seeGallery()">
      SEE BEFORE AND AFTER GALLERY
    </button>
  </div>

</div>

<div class="top-container flexy-column cccc hide-on-sm" style="background: black; color:white; text-align: center;">
  <div class="font-cat roboto-medium margin-bottom-2 padding-chef" style="margin-top:5vw; margin-bottom:5vw;">
    <p>
      Get everything,<br /> sacrifice nothing
    </p>
  </div>
  <div>
    <img style="width:1000px" src="../../../../assets/aesthetics/Ultra image/desktop/cleste.png" />
  </div>
  <div style="max-width: 80vw; margin-bottom:5vw;">
    <img style="width:1000px" src="../../../../assets/aesthetics/Ultra image/desktop/compare2.svg" />
  </div>

  <div class="flexy-column cccc" style="margin-top:5vw; margin-bottom:5vw;">
    <div class="font-lion roboto-regular padding-chef" style="margin-bottom:5vw;">
      <p>
        <span class="roboto-bold">Painless</span>, no <br /> anasthesia required
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:5vw;">
      <p>
        Since these are so thin, much less preparation need to be done on the teeth to receive them, as a matter of fact
        in some cases teeth require no preparation or trimming whatsoever, meaning no local anaesthetics, no pain and
        procedure is reversible. Preparation procedure usually takes less than an hour and involves digital scans only.
        Cementation then happens either in the afternoon (<span style="color:#FF4F1B">Same Day Veneers</span>) or on
        another day as there's no need for
        temporary veneers.
      </p>
    </div>
    <div class="font-small-2 roboto-regular padding-chef" style="margin-bottom: 5vw;">
      <p style="color: #acacac">
        * this treatment is not suitable to all patients and we as health professionals have an ethic to let you know whether you are
        a candidate. A comprehensive examination must be performed to check eligibility and to assess the health of your
        teeth prior to receiving this treatment.
      </p>
    </div>
    <div style="position: relative;">
      <div>
        <img  style="width:1000px" src="../../../../assets/aesthetics/Ultra image/desktop/lady ultra 2.png" />
      </div>
      <div style="position: absolute; z-index: 1; top: 5%; left: 5%;">
        <img src="../../../../assets/aesthetics/Ultra image/desktop/compare.svg" />
      </div>
    </div>

  </div>

  <div style=" margin-bottom:5vw;">
    <div class="font-lion roboto-regular padding-chef" style="margin-bottom:5vw;">
      <p>
        What can <span class="roboto-bold" style="color:#FF4F1B">Ultra</span> <br /> <span class="roboto-bold"
          style="color:#FF4F1B">Thin Veneers</span> do?
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:5vw; color:#FFFFFFCC">
      <p>
        Ultra thin veneers are best used in cases requiring augmentation or additive cases. These are:
      </p>
    </div>

    <div style="max-width: 90vw; margin:auto;">
      <img src="../../../../assets/aesthetics/Ultra image/desktop/dinti.svg" />
    </div>
  </div>

  <div style=" margin-bottom:5vw;" class="flexy-column cccc">
    <div class="font-lion roboto-regular padding-chef" style="margin-bottom:5vw;">
      <p>
        <span class="roboto-bold">Permanent White</span> <br /> <span class="roboto-bold">Teeth</span>, on your terms.
      </p>
    </div>
    <div class="font-small-3 roboto-regular padding-chef" style="margin-bottom:5vw;">
      <p>
        Who doesn't love a fresh white smile? Even though whitening
        treatments such as our <span style="color:#FF4F1B">Zoom</span> can be effective to lighten the colour of your
        teeth they require maintenance with
        home care. Plus, results are variable from person to person. For a permanent and predictable whitening solution
        ultra thin veneers is your best option, and there's no regular maintenance required, no gel, no trays. Because
        these veneers are so thin they are particularly good if you already like your teeth or perhaps you have just
        finished your <span style="color:#FF4F1B">braces</span> or <span style="color:#FF4F1B">Invisalign</span> and you
        just would love your teeth to be permanently whiter for that final
        touch, without necessarily having to change the shape or anything else about your teeth.
      </p>
    </div>

    <div>
      <img  style="width:1000px" src="../../../../assets/aesthetics/Ultra image/desktop/lady ultra 1.png" />
    </div>
  </div>

  <div class="padding-chef flexy-row cccc">
    <button style="margin-bottom: 5vw; margin-right:2vw" class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="
      goToLink(
  'https://appointments.praktika.net.au/online-booking/step1?Apikey=b385b049-fe49-48be-a25c-83f7af2f3490&iLocationId=189270&bLocationSelectionDisabled=true%3E'
)
    ">
      BOOK YOUR FREE SMILE ASSESSMENT
    </button>
    <button style="margin-bottom: 5vw;" class="book3 color-white roboto-medium font-extra-small-2 cursor-pointer"
      (click)="seeGallery()">
      SEE BEFORE AND AFTER GALLERY
    </button>
  </div>

</div>